<template>
    <canvas id="grossTimeChart"></canvas>
</template>
<script>
import { Interval, DateTime, Duration } from 'luxon'
import humanizeDuration from 'humanize-duration'
export default {
    name: 'GrossTimeChart',
    props: {
        data: 
        {
           default: [
                {
                    started_at: new Date().toISOString(),
                    finished_at: DateTime.local().plus(600000).toISO()
                }
            ]
        }
    },
    mounted() {
        const ctx = $('#grossTimeChart')
        this.processData()
        this.chart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: Object.keys(this.processedData),
                datasets: [
                    {
                        data: Object.values(this.processedData),
                        backgroundColor: 'rgb(23, 111, 183, 0.8)',
                        borderColor: 'rgb(23, 111, 183, 1)',
                    }
                ]
            },
            options: {
                legend: {
                    display: false,
                    labels: {
                        fontColor: 'rgb(255, 99, 132)'
                    }
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    },
    data() {
        return {
            processedData: {}
        }
    },
    methods: {
        processData() {
            console.log(this.data)
            this.data.forEach(d => {
                const interval = Interval.fromDateTimes(DateTime.fromISO(d.started_at), DateTime.fromISO(d.finished_at)).count()
                const duration = humanizeDuration(interval, {largest:  1, language: this.$store.state.locale})
                this.processedData[duration] = (this.processedData[duration] ?? 0) + 1
            })
        }
    }
}
</script>