<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, viewport-fit=cover">
    <title>Develawp</title>
    <meta name="author" content="Weborigo | 2020">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta content='yes' name='apple-mobile-web-app-capable'/>
    <meta content='yes' name='mobile-web-app-capable'/>
    
    <!-- OG meta tags that improve the look of your post on social media -->
    <meta property="og:site_name" content="" />
    <!--website name-->
    <meta property="og:site" content="" />
    <!--website link-->
    <meta property="og:title" content="" />
    <!--Post title-->
    <meta property="og:description" content="" />
    <!--Post description-->
    <meta property="og:image" content="" /><!-- Image link (jpg only)-->
    <meta property="og:url" content="" />
    <!--where do you want your post to link to-->
    <meta property="og:type" content="article" />
    <base href="<%= BASE_URL %>" />

    <link rel="shortcut icon" type="image/x-icon" href="/assets/favicon.png"/>

    <!-- Favicon and Apple Icons -->
    <link rel="apple-touch-icon" sizes="57x57" href="">
    <link rel="apple-touch-icon" sizes="60x60" href="">
    <link rel="apple-touch-icon" sizes="72x72" href="">
    <link rel="apple-touch-icon" sizes="76x76" href="">
    <link rel="apple-touch-icon" sizes="114x114" href="">
    <link rel="apple-touch-icon" sizes="120x120" href="">
    <link rel="apple-touch-icon" sizes="144x144" href="">
    <link rel="apple-touch-icon" sizes="152x152" href="">
    <link rel="apple-touch-icon" sizes="180x180" href="">
    <link rel="icon" type="image/png" sizes="192x192" href="">
    <link rel="icon" type="image/png" sizes="32x32" href="">
    <link rel="icon" type="image/png" sizes="96x96" href="">
    <link rel="icon" type="image/png" sizes="16x16" href="">

  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <div class="overlay"></div>
    <!-- built files will be auto injected -->
    <!-- JS -->
    <script src="/assets/js/svgembedder.min.js"></script>
    <!-- JS, Popper.js, and jQuery -->
    <script></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-Z6V5VC5VNL"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-Z6V5VC5VNL');
    </script>

<!-- Barion Pixel -->
    <script>
        (function(i,s,o,g,r,a,m){i['BarionAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window, document, 'script', 'https://pixel.barion.com/bp.js', 'bp');
        bp('init', 'addBarionPixelId', 'BP-SGeVy13Tt0-2A');
    </script>
    <noscript>
        <img height="1" width="1" style="display:none" src="https://pixel.barion.com/a.gif?__ba_pixel_id='BP-SGeVy13Tt0-2A'&ev=contentView&noscript=1"/>
    </noscript>
    <!-- jQuery Custom Scroller CDN -->
  </body>
</html>
