:root {
    --lblue: #176fb7;
    --progress: #5d6c97;
    --progressbg: #e5e5e5;
    --wlblue: #405fb7;
    --dgray: #43403c;
    --gray: #747474;
    --bggray: #9a9a9a;
    --lgray: #F1F1F1;
    --wlgray: #e6e8e8;
    --itembg: #f2f2f2;
    --thumb: #434343;
    /* NEW COLORS */
    --dblue: rgb(5, 33, 62);
    --o-dark: rgba(5, 33, 62, 0.9);
    --yellow: rgb(255, 203, 35) !important;
    --o-yellow: rgba(255, 204, 35, 0.9) !important;
    --blue: #1874BC;
    --oblue: rgba(24, 117, 188, 0.7);
    --oblue-90: rgba(24, 117, 188, 0.9);
    --oblue-30: rgba(24, 117, 188, 0.3);
    --red: #FF6A23;
    --darkorange: #e15515;
    --dred: #FF6A23;
    --black: #000000;
    --black30: rgba(0, 0, 0, 0.3);
    --cstmgray: #DDDDDD;
    /* SIDEBAR BUTTON COLORS */
    --btn1: #28A745;
    --btn2: #FFCB23;
    --btn3: #176FB7;
    --btn4: #FF6A23;
    --btn5: #17A2B8;
    --btn6: #DC3545;
}

#content {
    margin: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left) !important;
}

/* HOVER EFFECTS */

.btn {
    filter: drop-shadow(3px 3px 4px rgba(0, 0, 0, 0.25));
}

.btn-snd2:hover:enabled,
.btn-share:hover:enabled,
.btn-login:hover:enabled,
.btn-inp-snd:hover:enabled,
.btn-inp-snd-2:hover:enabled,
.btn-save:hover:enabled {
    background-color: var(--lblue) !important;
    border-color: var(--lblue) !important;
}


.btn-primary:hover:enabled {
    background-color: var(--dblue) !important;
    border-color: var(--dblue) !important;
}

input, .btn {
    outline: none !important; 
    box-shadow: none !important;
}

.btn-primary {
    background-color: var(--blue) !important;
    border-color: var(--blue) !important;
}

.btn:hover:enabled {
    cursor: pointer;
}

.btn-outline-primary {
    border-color: var(--blue);
    color: var(--blue);
    margin-bottom: 15px;
}

.btn-outline-primary:hover:enabled {
    border-color: var(--dblue);
    color: var(--white) !important;
    background-color: var(--dblue);
}

.btn-primary:hover:enabled {
    background-color: var(--dblue);
    border-color: var(--dblue);
}

.btn-info {
    background-color: var(--red) !important;
    border-color: var(--red) !important;
}

.btn-info:hover:enabled {
    background-color: var(--darkorange) !important;
    border-color: var(--darkorange) !important;
}

::-moz-selection {
    color: var(--white);
    background: var(--blue);
}

::selection {
  color: var(--white);
  background: var(--dblue);
}

body::-webkit-scrollbar
{
    width: 3px;
    height: 3px;
    background-color: white;
}

body::-webkit-scrollbar-thumb
{
    border-radius: 0px;
    background-color: var(--dblue);
}

::-webkit-scrollbar
{
    width: 3px;
    height: 3px;
    background-color: white;
}

::-webkit-scrollbar-thumb
{
    border-radius: 3px;
    background-color: var(--dblue);
}

.badge {
    display: inline-flex;
    align-items:center;
    justify-content: center;
    position: absolute;
    bottom: 18px;
    right: 24px;
    border-radius: 50%;
    background-color: red;
    border: 2px solid white;
    color: white;
    font-variant-numeric: tabular-nums; 
    height:26px; 
    width: 26px; 
    padding: 0px !important; 
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
        url('../fonts/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto-Black';
    src: url('../fonts/Roboto-Black.woff2') format('woff2'),
        url('../fonts/Roboto-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto-Medium';
    src: url('../fonts/Roboto-Medium.woff2') format('woff2'),
        url('../fonts/Roboto-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik-Light.woff2') format('woff2'),
        url('../fonts/Rubik-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik-Regular';
    src: url('../fonts/Rubik-Regular.woff2') format('woff2'),
        url('../fonts/Rubik-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* @font-face {
    font-family: 'Gordita_Bold';
    src: url(../fonts/gordita_bold-webfont.woff) format('woff'),  url(../fonts/gordita_bold-webfont.woff2) format('woff2');
}

@font-face {
    font-family: 'Roboto-Medium';
    src: url(../fonts/gordita_medium-webfont.woff) format('woff'),  url(../fonts/gordita_medium-webfont.woff2) format('woff2');
}

@font-face {
    font-family: Gordita_Regular;
    font-style: normal;
    font-weight: normal;
    src: url(../fonts/gordita_regular-webfont.woff) format('woff'),  url(../fonts/gordita_regular-webfont.woff2) format('woff2');
}

@font-face {
    font-family: 'Gordita_Ultra';
    src: url(../fonts/gordita_ultra-webfont.woff) format('woff'),  url(../fonts/gordita_ultra-webfont.woff2) format('woff2');
} */

b {
   font-family: 'Roboto-Bold';
}

body * {
    font-family: 'Roboto-Regular';
}

body {
    scroll-behavior: smooth !important;
}

@media (min-width: 1921px) {
    #content {
        padding: 3.5% !important;
    }
}

@media (min-width: 2222px) {
    #content {
        padding: 8% !important;
    }
}

@media (min-width: 2400px) {
    #content {
        padding: 12% !important;
    }
}

@media (min-width: 2500px) {
    #content {
        padding: 14% !important;
    }
}

/* ---------------------------------------------------
    SIDEBAR SECTION [TOP]
----------------------------------------------------- */

a,
a:hover:enabled,
a:focus {
    color: inherit;
    text-decoration: none !important;
    transition: all 0.3s;
}

.navbar {
    background: #fff;
    padding-left: 0px !important;
    padding-right: 0px !important;
    border: none;
    border-radius: 0;
    margin-bottom: 0px;
    white-space: nowrap;
}

.nav-link.red:hover:enabled {
    background-color: var(--red);
}
.container-fluid, .nav-link {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.first .nav-item {
    padding-right: 260px !important;
    padding-bottom: 10px !important;
}

.nav-item.active a {
    color: var(--red) !important;
    font-size: 18px !important;
    font-weight: bold;
    transition: 150ms;
}

.nav-item a {
    color: var(--wlblue);
    font-size: 18px !important;
    font-weight: 500;
    padding-right: 5px !important;
    padding-left: 5px !important;
    border-radius: 5px;
    font-family: 'Roboto-Bold';
}

.nav-item a::before {
    display: block;
    content: attr(title);
    font-weight: bold;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

.nav-item a:hover {
    color: var(--red) !important;
    font-weight: bold;
    transition: 150ms;
}

.red {
    background-color: var(--red);
    height: 36px;
    width: 36px;
    border-radius: 5px;
}

.blue {
    background-color: var(--blue);
    height: 36px;
    width: 36px;
    margin-left: 20px;
    border-radius: 5px;
}

.sec .nav-link {
    padding-top: 2px !important;
    padding-right: 0px !important;
}


.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.breadcrumb {
    background-color: var(--progressbg);
    border-radius: 5px;
}

.breadcrumb * {
    color: var(--red) !important;
}

.breadcrumb-element {
    font-size: 18px !important;
    color: var(--red) !important;
    width: 100% !important;
    background-color: var(--progressbg);
    padding: 10px 15px 10px 15px;
    margin-bottom: 20px !important
 }

 .breadcrumb > li + li:before {
    color: var(--dblue) !important;
    content: "> " !important;
    padding: 0 5px !important;
}

/* ---------------------------------------------------
    SIDEBAR SECTION [LEFT]
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    overflow-y: auto;
    z-index: 20;
    background: #05213E;
    color: #fff;
    transition: all 0.3s;
}

@media (max-height: 715px) {
    #sidebar {
        height: 104vh !important;
    }
    #logout {
        padding-bottom: 20px !important;
    }
}

@media (max-height: 415px) {
    #sidebar {
        height: 105vh !important;
    }
}

@media (max-height: 333px) {
    #sidebar {
        height: 107vh !important;
    }
}

@media (max-height: 236px) {
    #sidebar {
        height: 110vh !important;
    }
}

#sidebar.active {
    left: 0;
}

#dismiss {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: var(--lblue);
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#dismiss:hover:enabled {
    background: #fff;
    color: #7386D5;
}

.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 6;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.overlay.active {
    display: block;
    opacity: 1;
}

#sidebar .sidebar-header {
    margin-top: 7px;
    padding: 20px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#sidebar ul li a {
    padding: 5.5px;
    font-size: 20px;
    display: block;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.button {
    background: var(--dblue);
    color: white !important;
    border-radius: 5px !important;
    margin-bottom: 35px !important;
    transition: 100ms;
}

a.button:hover:enabled, a.button_last:hover:enabled {
    background: var(--red) !important;
    transition: 100ms;
    cursor: pointer;
}

.x-bottom a.button_last:hover:enabled {
    background: var(--blue) !important;
    transition: 100ms;
    cursor: pointer;
}

a.button_last {
    background: var(--dblue);
    color: white !important;
    border-radius: 5px !important;
    margin-bottom: 26px !important;
    transition: 100ms;
}

a.article {
    background: var(--blue) !important;
    color: #fff !important;
    font-weight: bold;
    transition: 100ms;
}

a.article:hover:enabled {
    background: var(--dblue) !important;
    transition: 100ms;
    cursor: pointer;
}

.avatar {
    margin-top: 35px !important;
    border-radius: 50% !important;
}

.logo_nav {
    margin-top: 5px;
}

.first {
    margin-top: 20px;
}

.list-unstyled h2 {
    font-size: 15px;
    color: white;
    margin-bottom: 40px !important;
}

.hu-lang {
    padding-right: 10px !important;
    border-right: 1.5px solid var(--yellow);
}

.en-lang {
    padding-left: 10px !important;
    border-left: 1.5px solid var(--yellow);
}

.hu-lang a,
.en-lang a {
    padding: 3px 5px !important;
    color: var(--yellow);
}

.he-select {
    margin-bottom: 30% !important;
}

.he-select .active a {
    background-color: var(--yellow) !important;
    border-radius: 50%;
    color: var(--dblue);
}

.sidebar-header h2 {
    font-size: 15px;
    color: white;
    font-weight: bold;
}

.sidebar-header h2 img {
    height: 22px;
    vertical-align: -6px;
}

.sidebar-header h3 {
    margin-top: 0px !important;
    font-size: 17px !important;
    color: white !important;
    font-weight: 400;
}

.credit-line {
    margin-top: 0px;
    height: 30px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.dla {
    height: 15px !important;
    vertical-align: -1px !important;
}

.left {
    float: left !important;
}

.right {
    float: right !important;
}

.x-bottom {
    position: fixed;
  left: -250;
  bottom: 0;
  width: 250px;
  margin-left: 0px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  padding-bottom: 0px !important;
  margin-bottom: 0px !important;
}

.x-bottom a {
    margin-bottom: 0px !important;
    font-weight: bold;
}

.x-bottom img {
    height: 30px;
    margin-bottom: 10px;
}

.x-bottom .button_last {
    background-color: transparent !important;
    border-radius: 0 !important;
    padding-bottom: 12px;
}

/* ---------------------------------------------------
    CONTENT SECTION
----------------------------------------------------- */

#content {
    width: calc(100% - 250px);
    padding-top: 0px !important;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

#content .content-padding {
    padding: 40px;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    min-height: calc(100vh - 227px);
}

@media (max-width: 706px) {
    #content .content-padding {
        padding: 15px !important;
    }
}

.pdf-page-canvas {
    padding: 10px;
    background-color: rgb(50,50,50);
    margin-bottom: -6px;
}

#loggedout .content-padding {
    height: 100%;
    width: 100%;
}

#carousel-top {
    padding-top: 40px !important;
}

#content.active {
    width: 100%;
}

.container2 {
    padding-left: 15px;
    padding-right: 15px;
}

.shadow {
    filter: drop-shadow(3px 3px 4px rgba(0, 0, 0, 0.25));
}

.no-left {
    padding-left: 0px !important;
}

.no-left2 {
    padding-left: 0px !important;
}

.no-left3 {
    padding-left: 2px !important;
}

.no-right3 {
    padding-right: 2px !important;
}

.no-right {
    padding-right: 0px !important;
}

/* ---------------------------------------------------
    CONTENT-2  SECTION
----------------------------------------------------- */

#content-2 {
    margin-top: 20px !important;
}


/* ---------------------------------------------------
    BIG MENU SECTION
----------------------------------------------------- */

#big-menu a:hover:enabled, #big-menu a:link, #big-menu a:active, #big-menu a:visited {
    color: white !important;
    font-size: 18px !important;
    font-weight: bold;
    /* text-transform: uppercase; */
}

#big-menu .butt {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    background-color: var(--lblue);
    margin-bottom: 25px !important;
    transition: 100ms;
    border-radius: 5px;
}

#big-menu .butt:hover:enabled {
    background-color: var(--dblue);
    transition: 100ms;
    cursor: pointer;
}

/* ---------------------------------------------------
    LIST TABLE SECTION
----------------------------------------------------- */

.table-responsive {
    display: block;
    width: 100%;
    height: 250px;
    overflow-x: auto;
}

.overview-table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
}

.thead-blue {
    background-color: var(--dblue);
    color: white !important;
    margin-bottom: 20px !important;
}

/* ---------------------------------------------------
    TIMELINE SECTION
----------------------------------------------------- */

#timeline h1 {
    padding-left: 15px !important;
    font-size: 18px;
    color: var(--gray);
}

.line {
    padding: 10px 31px 10px 31px;
}

.btn-share {
    background-color: var(--dblue);
    color: white !important;
    border-radius: 5px !important;
    width: 15%;
}

#timeline .form-control {
    width: 84%;
    margin-right: 1%;
    border: 0px;
    background-color: var(--lgray);
}

#timeline ::-webkit-input-placeholder {
    color: var(--gray);
}

#timeline :-ms-input-placeholder, #timeline ::placeholder {

  color: var(--gray);
}

#timeline .m-top {
    margin-top: 20px !important;
}

#timeline .def-p {
    padding: 10px;
}

#timeline .post-profile {
    border-radius: 50%;
    height: 55px;
}

#timeline .name {
    margin-top: -48px;
    padding-left: 60px !important;
    font-size: 15px !important;
    color: var(--dgray);
    font-weight: bold;
}

#timeline .date {
    font-size: 12px !important;
    color: var(--dgray);
}

#timeline h6 {
    margin-top: 25px !important;
    color: var(--dgray);
    font-size: 16px !important;
    font-family: 'Rubik' !important;
}

.line-clamp p {
    font-family: 'Rubik' !important;
}

#timeline h2 {
    color: var(--gray);
    margin-top: 8px;
    font-size: 14px !important;
}

#timeline h3 {
    color: var(--gray);
    font-size: 11px;
    background-color: var(--wlgray);
    padding: 5px 10px 5px 10px;
    width: calc(100% - 60px);
    margin-top: 0px;
    padding-right: 25%;
    border-radius: 5px;
}

#timeline .comment {
    border-radius: 50%;
    height: 50px;
}

#timeline .comment-line {
    margin-top: 15px !important;
    display: inline-block;
}

#timeline .cstm-inp {
    width: calc(100% - 60px) !important;
    border: 0px !important;
    margin-right: 0px !important;
    background-color: white;
    font-size: 13px !important;
    margin-top: 5px !important;
    float: right !important;
    padding: 10px;
    border-radius: 5px;
    resize: none;
}

/* ---------------------------------------------------
    TRAINING SECTION
----------------------------------------------------- */
#trainings .new-label {
    background-color: var(--o-yellow) !important;
}

#trainings .e-learning-label {
    background-color: var(--o-dark) !important;
}

.e-learning-label {
    border-top-right-radius: 5px;
}
.new-label {
    border-bottom-left-radius: 5px;
}


#trainings h1 {
    font-size: 20px;
    margin-bottom: 20px;
    color: var(--gray);
}

#trainings .card-img-top {
    height: 220px !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
}

#trainings .card {
    margin-bottom: 20px !important;
    height: 100%;
}

#trainings .card-body {
    background-color: var(--bggray);
    color: white !important;
}

#trainings .card-title {
    font-size: 25px;
    font-weight: bold;
}

#trainings .card-text {
    font-size: 15px !important;
    font-weight: 400;
}

#trainings .train-frame {
    position: relative;
}

#trainings .top-right {
    position: absolute;
  top: 0;
  right: 0;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 25px;
  padding: 5px;
}

#trainings .top-left {
    position: absolute;
  top: 0;
  left: 0;
  color: white;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}

#trainings .bottom-left {
    font-size: 18px;
    color: white !important;
    padding: 5px;
  }

/* ---------------------------------------------------
    STATEMENTS SECTION
----------------------------------------------------- */

#statements h2 {
    font-size: 18px !important;
    color: white !important;
    width: 100% !important;
    background-color: var(--dblue);
    padding: 10px 15px 10px 15px;
    margin-bottom: 20px !important;
}

#statements .item {
    background-color: var(--itembg);
    border-radius: 5px;
    text-align: center;
    padding: 20px 100px 20px 100px;
    margin-bottom: 25px !important;
    height: 230px;
}

#statements h3 {
    color: var(--dgray);
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 15px;
    font-weight: bold;
}

#statements h4 {
    color: var(--dgray);
    font-size: 14px;
    margin-bottom: 12px;
}

#statements .btn-login {
    background-color: var(--dblue);
    color: white !important;
    width: 40%;
    border-radius: 5px;
    bottom: 45px;
    left: 30%;
    position: absolute;
}

/* ---------------------------------------------------
    BUTTONS SECTION
----------------------------------------------------- */

/* #buttons .item {
    background-color: var(--itembg);
    border-radius: 5px;
    text-align: center;
    padding: 20px 10px 20px 10px;
    margin-bottom: 25px !important;
    height: 230px;
} */

/* #buttons .btn-btn {
    background-color: var(--dblue);
    color: white !important;
    width: 50%;
    border-radius: 5px;
    bottom: 45px;
    left: 25%;
    font-weight: bold;
    position: absolute;
}

#buttons .btn-snd {
    margin-top: 2rem;
    color: var(--lblue) !important;
    font-weight: bold;
    border-radius: 5px;
    bottom: 45px;
} */

/* --------------------------------------------------
    Checkout stepper
-----------------------------------------------------*/

.progressbar {
    counter-reset: step;
    padding-left: 0px;
    width: 100% !important;
}
.progressbar li {
    list-style-type: none;
    width: 25%;
    float: left;
    font-size: 0.7rem;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    color: #7d7d7d;
}
.progressbar li:before {
    width: 30px;
    height: 30px;
    content: counter(step);
    counter-increment: step;
    border: 2px solid #7d7d7d;
    text-align: center;
    display: block;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    background-color: white;
}
.progressbar li:after {
    width: 100%;
    height: 2px;
    content: '';
    position: absolute;
    background-color: #7d7d7d;
    top: 15px;
    left: -50%;
    z-index: -1;
}
.progressbar li:first-child:after {
    content: none;
}
.progressbar .first:before {
    width: 100%;
    height: 2px;
    content: '';
    position: absolute;
    background-color: #7d7d7d;
    top: 15px;
    left: 0%;
    z-index: -1;
}

.progressbar li.active {
    color:#FFCB23;
    cursor: pointer;
}
.progressbar li.active:before {
    border-color: #FFCB23;
}
.progressbar li.active + li:after {
    background-color:#FFCB23;
}
.progressbar li.current {
    color: #05213E;
}
.progressbar .active .first:before {
    background-color:#FFCB23;
}

.progressbar .current .first:before {
    background-color: #05213E;
}
.progressbar li.current:before {
    border-color: #05213E;
}

/* ---------------------------------------------------
    UPLOADS SECTION
----------------------------------------------------- */

#uploads h1 {
    font-size: 18px !important;
    color: var(--gray);
    margin-bottom: 20px !important;
    font-weight: 600;
}

#uploads h2 {
    color: var(--gray);
    padding-left: 30px;
    font-size: 14px !important;
    padding-bottom: 15px;
}

#uploads .progress-bar {
    background-color: var(--progress);
}

#uploads .progress {
    background-color: var(--progressbg) !important;
    height: 0.8rem;
    margin-bottom: 15px;
}

#uploads .btn-snd2 {
    text-align: center;
    width: 100%;
    background-color: var(--dblue);
    color: white;
    margin-top: 10px !important;
    border-radius: 5px;
    padding: 10px 0px;
}

#uploads textarea {
  color: var(--gray);
}

/* ---------------------------------------------------
    HOME HEADER SECTION
----------------------------------------------------- */

#home-header .home-frame {
    position: relative;
  text-align: center;
}

#home-header .home-frame .home-img {
    height: 500px !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.centered a:hover:enabled,.centered a:link,.centered a:visited,.centered a:active {
    color: white !important;
    background-color: var(--lblue);
    padding: 15px 70px 15px 70px;
    font-size: 24px;
    font-weight: bold;
}

#home-header .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#home-header h2 {
    font-size: 18px;
    width: 100%;
    color: white !important;
    background-color: var(--dblue);
    padding: 10px;
    margin-bottom: 15px !important;
}

#home-header .box {
    padding-top: 15px;
    padding-bottom: 10px;
    padding-right: 15px;
    min-height: 444px;
    background-color: var(--itembg);
    color: var(--dgray);
    font-size: 14px !important;
}

/* ---------------------------------------------------
    CONTENT 3 SECTION
----------------------------------------------------- */

#content-3 {
    margin-top: 20px;
    margin-bottom: 20px;
}

#content-3 h1 {
    width: 100% !important;
    /* color: white !important; */
    font-size: 18px;
    padding: 10px;
    /* background-color: var(--dblue); */
    margin-bottom: 20px;
}

/* ---------------------------------------------------
    LEFT SECTION
----------------------------------------------------- */

#left .box {
    background-color: var(--itembg);
    padding: 15px;
}

#left h2 {
    font-size: 14px;
    color:var(--dgray);
}

.btn-inp-snd {
    background-color: var(--dblue);
    color: white !important;
    border-radius: 5px !important;
    width: 9%;
    height: 30px;
    height: 100%;
}

#left .snd-inp {
    width: 89%;
    padding-top: 16px;
    margin-right: 1%;
    border: 0px;
    height: 30px;
    padding-left: 10px;
    padding-bottom: 21px;
    background-color: var(--lgray);
}

#left .marg-top {
    margin-top: 20px;
}

/* ---------------------------------------------------
    RIGHT SECTION
----------------------------------------------------- */

#right .box {
    background-color: var(--itembg);
    padding: 15px;
}

#right h2 {
    font-size: 14px;
    color:var(--dgray);
    padding-top: 5px;
}

#right .btn-inp-snd-2 {
    background-color: var(--dblue);
    color: white !important;
    border-radius: 5px !important;
    width: 23%;
    height: 30px;
    height: 100%;
}

#right .snd-inp-2 {
    width: 75%;
    padding-top: 17px;
    margin-right: 1%;
    border: 0px;
    height: 30px;
    padding-left: 10px;
    padding-bottom: 21px;
    background-color: var(--lgray);
}

/* ---------------------------------------------------
    MANAGE TEAM SECTION
----------------------------------------------------- */

#manage-team h1 {
    color: var(--gray) !important;
    font-size: 18px;
    margin-bottom: 20px !important;
}

#manage-team .box {
    padding: 10px;
    padding-right: 20px;
    margin-bottom: 30px;
}

#manage-team .team-image {
    border-radius: 50%;
    height: 60px;
}

#manage-team .name {
    margin-top: -48px;
    padding-left: 85px;
    font-size: 15px !important;
    color: var(--dgray);
    font-weight: bold;
}

#manage-team .email {
    font-size: 13px !important;
    color: var(--dgray);
}

#manage-team hr {
    margin-top: 22px;
    border-bottom: 1px solid #9a9a9a;
}

#manage-team h3 {
    color: var(--dgray);
    font-size: 14px !important;
}

#manage-team .btn-take {
    background-color: var(--lblue);
    color: white !important;
    border-radius: 5px;
    width: 100%;
    font-weight: 600;
}

/* ---------------------------------------------------
    TEAM LIST SECTION
----------------------------------------------------- */

#team-list h1 {
    font-size: 18px;
    margin-bottom: 10px;
    color: var(--gray);

}

#team-list h2 {
    color: var(--dgray);
    font-size: 14.5px;
    margin-bottom: 15px;
    font-weight: bold;
    margin-top: 15px !important;
}

#team-list .box {
    border-bottom: 2px solid var(--wlgray) ;
}

/* ---------------------------------------------------
    HOME2 --> LIST TABLE SECTION
----------------------------------------------------- */

#list-table h6 {
    margin-bottom: 15px !important;
    font-size: 20px;
    color: var(--gray);
}

#list-table .left-play {
    padding-right: 13px;
    vertical-align: 0.08em;
}

/* ---------------------------------------------------
    DROPDOWN SECTION
----------------------------------------------------- */

#dropdown .box {
    padding-top: 52px;
    background-color: #f1f1f1 !important;
}

#dropdown img {
    height: 65px;
}

#dropdown h6 {
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 35px !important;
    font-size: 10px;
    font-weight: bold;
    padding-bottom: 10px;
    color: var(--gray);
}

/* ---------------------------------------------------
    PROGRESS SECTION
----------------------------------------------------- */

#progress .box {
    background-color: #c7c7c7;
    padding: 5px;
}

#progress h2 {
    background-color: white !important;
    font-size: 18px !important;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: var(--gray) !important;
}

#progress h3.active {
    background-color: white !important;
    font-size: 14px;
    font-weight: bold;
}

#progress h3 {
    background-color: #e9e9e9 !important;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 0px !important;
}

#progress .p-bottom {
    padding-bottom: 30px;
}

#progress .list {
    background-color: white !important;
    padding-top: 0px !important; 
    margin-top: 0px !important
}

#progress .card-img-top {
    height: 175px !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
}

#progress .card {
    margin-top: 20px !important;
    padding-left: 15px;
    border-color: transparent;
    padding-right: 15px;
    border-radius: 5px !important;
}

#progress .card-body {
    background-color: #f1f1f1;
    color: var(--gray) !important;
}

#progress .card-title {
    font-size: 18px;
    padding-bottom: 0px;
    margin-bottom: 0px !important;
}

#progress hr {
    border: 1px solid var(--wlgray);
    width: calc(100% - 34px);
    margin-bottom: 0px;
}

/* ---------------------------------------------------
    GLOSSARY SECTION
----------------------------------------------------- */

#glossary h2 {
    font-size: 20px !important;
}

#glossary .category-name {
    font-size: 23px !important;
    padding-top: 35px;
    padding-bottom: 15px;
}

#glossary .btn-search {
    background-color: var(--blue);
    border-color: var(--blue);
    color: white !important;
    width: 100% !important;
    transition: 300ms;
    font-size: 1rem;
}

#glossary .btn-search:hover:enabled {
    background-color: var(--dblue);
    border-color: var(--dblue);
    transition: 300ms;
}

.glossary-title {
    font-size: 28px !important;
}

.glossary-item h3 {
    font-size: 28px !important;
    color: var(--black) !important;
    font-weight: bold;
    margin-top: 15px !important;
}

.glossary-item h4 {
    font-size: 14px !important;
}

#glossary .gloss-top {
    margin-bottom: 20px;
}

#glossary .glossary-item h5 {
    font-size: 14px !important;
    margin-top: 12px;
}

#glossary .glossary-item h5 span.label {
    background-color: var(--o-yellow);
    padding: 4px;
    color: white;
    border-radius: 5px;
}
.page-item.active .page-link {
    background-color: var(--red) !important;
    border-color: var(--red) !important;
}

/* ---------------------------------------------------
    SETTINGS SECTION
----------------------------------------------------- */

#settings h2 {
    font-size: 32px !important;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 25px;
}

#settings h2.sec {
    margin-top: 30px !important;
}

#settings .btn-save {
    background-color: var(--dblue);
    border-color: var(--dblue);
    color: white !important;
    width: 100%;
    margin-top: 38px !important;
}

.btn-save {
    background-color: var(--dblue);
    border-color: var(--dblue);
    color: white !important;
}

#settings label {
    margin-top: 7px;
}

#settings .form-control-file {
    margin-bottom: 8px;
}

/* ---------------------------------------------------
    CHAT SECTION
----------------------------------------------------- */

#chat {
    margin-top: 1rem;
}

#chat .messages-box {
  overflow: auto;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

#chat .bubbleWrapper {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-self: flex-end;
    color: #fff;
}

#chat .inlineContainer {
  display: inline-flex;
}

#chat .inlineContainer.own {
  flex-direction: row-reverse;
}

#chat .inlineIcon {
  width:35px;
  height: auto;
  object-fit: contain;
}

#chat .own, #chat .own-name {
    align-self: flex-end;
}
#chat .other,#chat .other-name {
    align-self: flex-start;
    padding-left: 45px;
}

.chat-search-bg,
.chat-search-bg * {
    background-color: var(--cstmgray) !important;
    border-color: var(--cstmgray) !important;
    color: var(--black30) !important;
}

#chat span.own,
#chat span.own-name {
    padding-right: 45px;
}

#chat span.own,
#chat span.other{
  font-size: 14px;
  color: var(--dblue);
}

#chat span.own-name,
#chat span.other-name {
  font-size: 18px;
  color: var(--dblue);
  font-weight: 600;
}

#chat .ownBubble {
	min-width: 60px;
	max-width: 700px;
	padding: 10px 14px;
  margin: 6px 8px;
	background-color: var(--lblue);
	border-radius: 5px 5px 0 5px;
	border: 1px solid var(--lblue);
}

#chat .otherBubble {
	min-width: 60px;
	max-width: 700px;
	padding: 10px 14px;
  margin: 6px 8px;
	background-color: var(--dblue);
	border-radius: 5px 5px 5px 0;
	border: 1px solid var(--dblue);
}

#chat .btn-send, #chat .btn-file-upload {
    background-color: var(--dblue);
    border-color: var(--dblue);
    color: white !important;
    transition: 100ms;
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

#chat .btn-group-create {
    background-color: var(--dblue);
    border-color: var(--dblue);
    color: white !important;
    transition: 100ms;
    width: 100%;
    border-radius: 5px;
    text-align: center !important;
    margin-bottom: 20px;
    margin-top: 20px;
}

#chat .bot {
    margin-top: 10px;
    margin-bottom: 10px;
}

#chat .btn-send:hover:enabled, #chat .btn-file-upload:hover:enabled, #chat .btn-group-create:hover:enabled {
    background-color: var(--blue) !important;
    border-color: var(--blue) !important;
    transition: 100ms;
    cursor: pointer;
}

#chat textarea {
    border-color: 3px solid var(--dblue);
    overflow-y: scroll;
    resize: none;
    border-radius: 2px !important;
}

#chat .btn-file-upload svg {
    width: 30px !important;
    padding: 0px !important;
    fill: white;
    height: 30px !important;
    vertical-align: -0.25em;
}

#chat .chat-list svg {
    width: 20px !important;
    padding: 0px !important;
    fill: white;
    height: 20px !important;
    vertical-align: -0.25em;
}

#chat .input-group, #chat .input-group * {
    background-color: var(--dblue);
    border-color: var(--dblue);
}

#chat .input-group, #chat .input-group-prepend, #chat .input-group-text, #chat .form-control {
    border-radius: 5px;
}

#chat .chat-list input::placeholder {
    color: var(--black30);
    font-weight: 400;
}

#chat .chat-list h1 {
    font-size: 15px;
    padding-bottom: 2px;
    margin-bottom: 0px;
}

#chat .chat-list h2 {
    font-size: 12px;
    padding-top: 0px;
    margin-top: 0px;
    padding-bottom: 2px;
    margin-bottom: 0px;
}

#chat .chat-list h3 {
    font-size: 12px;
    padding-top: 0px;
    margin-top: 0px;
}

#chat .no-right {
    padding-right: 0px !important;
    margin-right: 0px !important;
}

#chat .chat-prof {
    border-radius: 50%;
    max-height: 50px;
    float: right;
}

#chat .member {
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    border-bottom: 1px solid var(--cstmgray);
}

#chat .member.active {
    background-color: var(--cstmgray);
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    border-bottom: 1px solid var(--cstmgray);
}

#chat .members {
    overflow-y: scroll;
    max-height: 70vh;
}

/* ---------------------------------------------------
    NOTIFICATION SECTION
----------------------------------------------------- */

.notifications {
    list-style: none;
    padding: 0;
}

.notification img {
    height: 70px;
    width: auto;
}

.notification {
    display: block;
    padding: 0.8em;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: #e9ecef;
    background-color: #ffffff;
    color: #212529;
    text-decoration: none;
}
.notification:last-child {
      border-bottom: 0;
      border-radius: 0 0 0.25rem 0.25rem;
}

.notification:hover:enabled, .notification.active:hover:enabled {
      background-color: #f9f9f9;
      border-color: #dee2e6;
      text-decoration: none;
}

.notification.active {
      background-color: #efefef;
}

.notification-title {
    font-size: 1em;
    margin-bottom: 0;
}

.notification-desc {
    margin-bottom: 0;
    font-size: 0.94em;
}

.notification-meta {
    color: #868e96;
}

  .notification .media-body {
    padding-top: 0; }

/* ---------------------------------------------------
    POST POPUP
----------------------------------------------------- */

.post-title {
    text-align: center;
    padding-left: 30px;
    font-weight: bold;
}

.modal-profile {
    border-radius: 50%;
    max-height: 55px !important;
    z-index: 2;
}

.modal-nop {
    padding-left: 0px !important;
}

.modal-nick {
    font-size: 1.2em;
    padding-top: 3px;
    font-weight: bold;
}

.modal-message textarea {
    margin-top: 15px;
    border-color: var(--wlgray);
        overflow-y: scroll;
        height: 150px !important;
        resize: none;
}

.modal-message textarea:focus {
    outline: none !important;
    filter: drop-shadow(3px 3px 4px rgba(0, 0, 0, 0.25));
    border-color: var(--dblue);
}

.modal-header {
    border-bottom: none !important;
}

.modal-footer {
    border-top: none !important;
}

.btn-image-upload {
    background-color: var(--lblue);
    color: white !important;
    border-radius: 5px !important;
}

.btn-image-upload:hover:enabled {
    background-color: var(--dblue);
    cursor: pointer !important;
}

/* ---------------------------------------------------
    MEDIA SECTION
----------------------------------------------------- */
@media (max-width: 2919px) {
    .first .nav-item {
        padding-right: 250px !important;
        transition: 300ms;
    }
}

@media (max-width: 1919px) {
    .first .nav-item {
        padding-right: 230px !important;
        transition: 300ms;
    }
}

@media (max-width: 1799px) {
    .first .nav-item {
        padding-right: 200px !important;
        transition: 300ms;
    }
    #dropdown h6 {
        padding-left: 30px !important;
        padding-right: 30px !important;
    }
}

@media (max-width: 1721px) and (min-width: 992px){
    #statements .item {
        height: 260px;
        padding: 20px 30px 20px 30px;
    }
    
}

@media (max-width: 1679px) {
    .first .nav-item {
        padding-right: 150px !important;
        transition: 300ms;
    }
}

@media (max-width: 1599px) {
    .first .nav-item {
        padding-right: 120px !important;
        transition: 300ms;
    }
}

@media (max-width: 1479px) {
    .first .nav-item {
        padding-right: 100px !important;
        transition: 300ms;
    }
}

@media (max-width: 1399px) {
    .first .nav-item {
        padding-right: 70px !important;
        transition: 300ms;
    }

    #progress h3.active {
        font-size: 9px !important;
    }
    
    #progress h3 {
        font-size: 9px !important;
    }
}

@media (max-width: 1279px) {
    .first .nav-item {
        padding-right: 50px !important;
        transition: 300ms;
    }
}

@media (max-width: 1199px) {
    .first .nav-item {
        padding-right: 30px !important;
        transition: 300ms;
    }
}

@media (max-width: 1119px) {
    .first .nav-item {
        padding-right: 10px !important;
        transition: 300ms;
    }
}

@media (max-width: 1039px) and (min-width: 992px) {
    .first .nav-item {
        padding-right: 0px !important;
        transition: 300ms;
    }
}

@media (min-width: 992px) {
    #dismiss {
        display: none;
    }
    #sidebarCollapse {
        display: none;
    }
}

@media (min-width: 1415px) and (max-width: 1770px) {
    #timeline .btn-share {
        background-color: var(--dblue);
        color: white !important;
        border-radius: 5px !important;
        width: 20%;
    }
    
    #timeline .form-control {
        width: 79%;
        margin-right: 1%;
        border: 0px;
        background-color: var(--lgray);
    }

    .btn-inp-snd {
        background-color: var(--dblue);
        color: white !important;
        border-radius: 5px !important;
        width: 20%;
        height: 30px;
        height: 100%;
    }
    
    #left .snd-inp {
        width: 78%;
        padding-top: 16px;
        margin-right: 1%;
        border: 0px;
        height: 30px;
        padding-left: 10px;
        padding-bottom: 21px;
        background-color: var(--lgray);
    }
}

@media (min-width: 1082px) and (max-width: 1414px) {
    #timeline .btn-share {
        background-color: var(--dblue);
        color: white !important;
        border-radius: 5px !important;
        width: 30%;
    }
    
    #timeline .form-control {
        width: 69%;
        margin-right: 1%;
        border: 0px;
        background-color: var(--lgray);
    }

    .btn-inp-snd {
        background-color: var(--dblue);
        color: white !important;
        border-radius: 5px !important;
        width: 20%;
        height: 30px;
        height: 100%;
    }
    
    #left .snd-inp {
        width: 77.9%;
        padding-top: 16px;
        margin-right: 1%;
        border: 0px;
        height: 30px;
        padding-left: 10px;
        padding-bottom: 21px;
        background-color: var(--lgray);
    }

    #right .btn-inp-snd-2 {
        background-color: var(--dblue);
        color: white !important;
        border-radius: 5px !important;
        width: 39.5%;
        height: 30px;
        height: 100%;
    }
    
    #right .snd-inp-2 {
        width: 58%;
        padding-top: 17px;
        margin-right: 1%;
        border: 0px;
        height: 30px;
        padding-left: 10px;
        padding-bottom: 21px;
        background-color: var(--lgray);
    }

}

@media (max-width: 1233px) and (min-width: 992px) {
    #manage-team .team-image {
        margin-left: calc(50% - 20px);
    }

    #manage-team .name {
        margin-top: 10px;
        padding-left: 13px;
        margin-left: 0px;
        text-align: center;
        font-size: 15px !important;
        color: var(--dgray);
        font-weight: bold;
    }
    
    #manage-team .email {
        font-size: 13px !important;
        color: var(--dgray);
        max-width: 20px;
    }
}

@media (min-width: 991px) and (max-width: 1081px) {
    #timeline .btn-share {
        background-color: var(--dblue);
        color: white !important;
        border-radius: 5px !important;
        width: 40%;
    }
    
    #timeline .form-control {
        width: 59%;
        margin-right: 1%;
        border: 0px;
        background-color: var(--lgray);
    }

    .btn-inp-snd {
        background-color: var(--dblue);
        color: white !important;
        border-radius: 5px !important;
        width: 25%;
        height: 30px;
        height: 100%;
    }
    
    #left .snd-inp {
        width: 72.5%;
        padding-top: 16px;
        margin-right: 1%;
        border: 0px;
        height: 30px;
        padding-left: 10px;
        padding-bottom: 21px;
        background-color: var(--lgray);
        
    }

    #right .btn-inp-snd-2 {
        background-color: var(--dblue);
        color: white !important;
        border-radius: 5px !important;
        width: 39%;
        height: 30px;
        height: 100%;
    }
    
    #right .snd-inp-2 {
        width: 58%;
        padding-top: 17px;
        margin-right: 1%;
        border: 0px;
        height: 30px;
        padding-left: 10px;
        padding-bottom: 21px;
        background-color: var(--lgray);
    }
}

@media (max-width: 796px) {
    .btn-share {
        background-color: var(--dblue);
        color: white !important;
        border-radius: 5px !important;
        width: 100%;
        margin-top: 10px !important;
    }
    
    #timeline .form-control {
        width: 100%;
        padding-right: 0px !important;
        margin-right: 0px !important;
        border: 0px;
        background-color: var(--lgray);
    }

    #left .btn-inp-snd {
        background-color: var(--dblue);
        color: white !important;
        border-radius: 5px !important;
        width: 100%;
        height: 50px;
        padding: 0px !important;
    }
    
    #left .snd-inp {
        width: 100%;
        margin-right: 0%;
        border: 0px;
        background-color: var(--lgray);
        padding: 20px;
        margin-bottom: 20px;
    }

    #right .btn-inp-snd-2 {
        background-color: var(--dblue);
        color: white !important;
        border-radius: 5px !important;
        width: 100%;
        height: 50px;
        padding: 0px !important;
    }
    
    #right .snd-inp-2 {
        width: 100%;
        margin-right: 0%;
        border: 0px;
        background-color: var(--lgray);
        padding: 20px;
        margin-bottom: 20px;
    }

    .marg-top {
        margin-bottom: 20px;
    }
}

@media (max-width: 767px) {
    #glossary .btn-search {
        margin-top: 20px;
    }
}

@media (max-width: 442px) {
    #big-menu a:hover:enabled, #big-menu a:link, #big-menu a:active, #big-menu a:visited {
        font-size: 16px !important;
    }
}

@media (max-width: 991px) and (min-width: 797px) {
    
    #right .btn-inp-snd-2 {
        background-color: var(--dblue);
        color: white !important;
        border-radius: 5px !important;
        width: 10%;
        height: 30px;
        height: 100%;
    }
    
    #right .snd-inp-2 {
        width: 88%;
        padding-top: 17px;
        margin-right: 1%;
        border: 0px;
        height: 30px;
        padding-left: 10px;
        padding-bottom: 21px;
        background-color: var(--lgray);
    }
}

@media (max-width: 991px) {

    #progress h3.active {
        font-size: 12px !important;
    }
    
    #progress h3 {
        font-size: 12px !important;
    }
    #statements .item {
        height: 280px;
            height: 260px;
            padding: 20px 30px 20px 30px;
    }
    .navbar-collapse {
        text-align: center;
    }
    #trainings h1 {
        margin-top: 40px !important;
    }
    .first .nav-item {
        padding-right: 0px !important;
        padding-left: 0px !important;
        transition: 300ms;
    }
    .sec li {
        text-align: center !important;
        float: center;
    }
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - 250px);
    }
    #sidebarCollapse span {
        display: none;
    }
    #sidebarCollapse {
        background-color: var(--dblue);
    }
    .btn-dblue {
        background-color: var(--dblue);
        color: white !important;
    }
    .btn-blue:active *, .btn-blue:hover:enabled *, .btn-blue:hover:enabled *, .btn-blue * {
        color: white !important;
    }

    .no-left, .no-right {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }


    .no-left2 {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }

    #home-header h2 {
        margin-top: 20px !important;
    }

    .marg-top {
        margin-bottom: 20px !important;
    }

    #team-list h1 {
        margin-top: 27px !important;
    }
}


/* ---------------------------------------------------
    RESPONSIVE BADGE SECTION
----------------------------------------------------- */



/* ---------------------------------------------------
    Modal-Popup design
----------------------------------------------------- */

.modal-w .modal-dialog {
    max-width: 700px !important;
}

.popup-header {
    border-bottom: 1px solid #DADADA !important;
}

.popup-header .modal-title {
    font-weight: bold !important;
}

.popup-body h1 {
    font-size: 1em !important;
}

.popup-body span {
    font-size: 1em !important;
    font-weight: bold;
}

/* ---------------------------------------------------
    Glossary New Page
----------------------------------------------------- */

.gloss-bottom {
    margin-bottom: 20px;
}

.gloss-bottom * {
    outline: none;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

#glossary .no-margin {
    margin-bottom: 0px !important;
}

.max-750 {
    max-width: 750px !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.tag-container {
    border: 1px solid #ced4da;
    border-radius: .25rem;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 6px;
    overflow-x: scroll;
}

.tag-container .tag {
    height: 30px;
    margin: 5px;
    padding: 5px 6px;
    border: 1px solid var(--blue);
    border-radius: .25rem;
    background: var(--blue);
    display: flex;
    align-items: center;
    color: white;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 1px 1px #fff;
    cursor: default;
}

.tag i {
    font-size: 16px;
    color: whitesmoke;
    margin-left: 5px;
}

.tag-container input {
    padding: 5px;
    font-size: 16px;
    border: 0;
    outline: none;
    font-family: 'Rubik';
    color: #333;
    flex: 1;
}

/* ---------------------------------------------------
    QUICK New Page
----------------------------------------------------- */

#quick .quick-table {
    max-height: 80vh !important;
    overflow-y: auto;
    overflow-x: auto;
}

#quick .row {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

#quick .col-12 {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

#quick thead th {
    position: sticky; top: 0;
    color: white !important;
    background-color: var(--blue) !important;
    margin-top: -2px !important;
}

#quick thead {
    background-color: var(--blue) !important;
}

#quick .form-group * {
    background: none !important;
    outline: none !important;
    -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  padding-left: 0px !important;
  border: 1px solid var(--blue) !important;
}

/* ---------------------------------------------------
    BUTTONS AND DELETE MODAL
----------------------------------------------------- */

.btn-action-agree {
    background-color: var(--blue) !important;
    margin-bottom: 10px !important;
    color: white !important;
    transition: 100ms;
    width: 100%;
    max-width: 244px;
}

.btn-action-agree:hover:enabled {
    background-color: var(--dblue);
    transition: 100ms;
}

.btn-action-delete {
    background-color: var(--red) !important;
    margin-bottom: 10px !important;
    color: white !important;
    transition: 100ms;
    width: 100%;
    max-width: 244px;
}

.btn-action-delete:hover:enabled {
    background-color: var(--dred) !important;
    transition: 100ms;
}


.btn-modal-cancel {
    background-color: var(--blue) !important;
    margin-bottom: 10px !important;
    color: white !important;
    transition: 100ms;
}

.btn-modal-cancel:hover:enabled {
    background-color: var(--dblue);
    transition: 100ms;
}

.btn-modal-agree {
    background-color: var(--red) !important;
    margin-bottom: 10px !important;
    color: white !important;
    transition: 100ms;
}

.btn-modal-agree:hover:enabled {
    background-color: var(--dred) !important;
    transition: 100ms;
}

.delete-modal-header {
    background-color: var(--red) !important;
    color: white !important;
}

/* ---------------------------------------------------
    Pay-List page
----------------------------------------------------- */

#pay-list .item-img {
    height: 80px !important;
    width: 80px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    float: left !important;
}

#pay-list .row {
    display: flex;
  justify-content: center;
  align-items: center;
}

#pay-list h1 {
    font-size: 1.35rem !important;
    margin-bottom: 0em !important;
    font-family: 'Roboto-Medium';
    color: var(--dblue) !important;
    word-break: break-word !important;
}

#pay-list h1 .same {
    font-size: 1.35rem !important;
}

#pay-list span {
    font-size: 1rem !important;
    word-break: break-word !important;
}

@media (max-width: 991px) {
    #pay-list .btn-pay {
        margin-top: 20px;
        width: 100% !important;
        max-width: 100% !important;
    }
}

#pay-list .remove {
    color: var(--red);
    font-size: 1.5em;
    margin-right: 20px !important;
}

#pay-list .item-line {
    padding-bottom: 20px !important;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--dblue);
}

#pay-list .btn-pay {
    background-color: var(--blue) !important;
    margin-bottom: 10px !important;
    color: white !important;
    transition: 100ms;
    max-width: 244px;
}

#pay-list .btn-pay:hover:enabled {
    background-color: var(--dblue);
    transition: 100ms;
}

/* ---------------------------------------------------
   Test-assembler page design
----------------------------------------------------- */

#text-assembler .container2 {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px;
    margin-top: 5px;
    cursor: pointer;
    font-size: 1em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
#text-assembler .container2 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
#text-assembler .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    margin-top: 1px;
  }
#text-assembler .container2:hover:enabled input ~ .checkmark {
    background-color: #ccc;
  }
#text-assembler .container2 input:checked ~ .checkmark {
    background-color: var(--blue);
  }
#text-assembler .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
#text-assembler .container2 input:checked ~ .checkmark:after {
    display: block;
  }
#text-assembler .container2 .checkmark:after {
    left: 7.5px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.btn-submit {
    background-color: var(--blue) !important;
    margin-bottom: 10px !important;
    color: white !important;
    transition: 100ms;
    width: 100%;
}

.btn-submit:hover:enabled {
    background-color: var(--dblue);
    transition: 100ms;
}

@media (max-width: 767px) {
    .out-btn {
        margin-top: 15px;
    }
}

/* ---------------------------------------------------
   Test-Question page
----------------------------------------------------- */

.btn-create-new {
    background-color: var(--blue) !important;
    margin-bottom: 10px !important;
    color: white !important;
    transition: 100ms;
    max-width: 300px;
}

.btn-submit:hover:enabled {
    background-color: var(--dblue);
    transition: 100ms;
}

#test-question .quick-table {
    overflow-y: auto;
    overflow-x: auto;
    margin-bottom: 20px !important;
}

#test-question .row {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

#test-question .col-12 {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

#test-question thead th {
    position: sticky; top: 0;
    color: white !important;
    background-color: var(--blue) !important;
    margin-top: -2px !important;
}

#test-question thead {
    background-color: var(--blue) !important;
}

#test-question .form-group * {
    background: none !important;
    outline: none !important;
    -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  padding-left: 0px !important;
}

.nono * {
    outline: none !important;
    -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
}

#test-question ul {
    padding-left: 20px !important;
}

.marg-bottom {
    margin-bottom: 7px !important;
}

#test-question ul li {
    margin-bottom: 5px !important;
}

#test-question .remove {
    color: var(--red);
    margin-left: 3px !important;
}

#test-question .clear-padding {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.question-modal-header {
    background-color: var(--blue) !important;
    color: white !important;
}

.nono .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    margin-top: 1px;
}
.nono .container2:hover:enabled input ~ .checkmark {
    background-color: #ccc;
}
.nono .container2 input:checked ~ .checkmark {
    background-color: var(--blue);
}
.nono .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.nono .container2 input:checked ~ .checkmark:after {
    display: block;
}
.nono .container2 .checkmark:after {
    left: 7.5px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.nono .container2 {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px;
    margin-top: 5px;
    cursor: pointer;
    font-size: 1em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .nono .container2 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.testmin {
    padding-right: 18px !important;
}
.popup-body span {
    font-size: 1em !important;
    font-weight: bold;
}

/* ---------------------------------------------------
    Glossary New Page
----------------------------------------------------- */

.gloss-bottom {
    margin-bottom: 20px;
}

.gloss-bottom * {
    outline: none;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

#glossary .no-margin {
    margin-bottom: 0px !important;
}

.max-750 {
    max-width: 750px !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.tag-container {
    border: 1px solid #ced4da;
    border-radius: .25rem;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 6px;
    overflow-x: scroll;
}

.tag-container .tag {
    height: 30px;
    margin: 5px;
    padding: 5px 6px;
    border: 1px solid var(--blue);
    border-radius: .25rem;
    background: var(--blue);
    display: flex;
    align-items: center;
    color: white;
    filter: drop-shadow(3px 3px 4px rgba(0, 0, 0, 0.25));
    cursor: default;
}

.tag i {
    font-size: 16px;
    color: whitesmoke;
    margin-left: 5px;
}

.tag-container input {
    padding: 5px;
    font-size: 16px;
    border: 0;
    outline: none;
    font-family: 'Rubik';
    color: #333;
    flex: 1;
}

/* ---------------------------------------------------
    QUICK New Page
----------------------------------------------------- */

#quick .quick-table {
    max-height: 80vh !important;
    overflow-y: auto;
    overflow-x: auto;
}

#quick .row {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

#quick .col-12 {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

#quick thead th {
    position: sticky; top: 0;
    color: white !important;
    background-color: var(--blue) !important;
    margin-top: -2px !important;
}

#quick thead {
    background-color: var(--blue) !important;
}

#quick .form-group * {
    background: none !important;
    outline: none !important;
    -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  padding-left: 0px !important;
  border: 1px solid var(--blue) !important;
}

/* ---------------------------------------------------
    BUTTONS AND DELETE MODAL
----------------------------------------------------- */

.btn-action-agree {
    background-color: var(--blue) !important;
    margin-bottom: 10px !important;
    color: white !important;
    transition: 100ms;
    width: 100%;
    max-width: 244px;
}

.btn-action-agree:hover:enabled {
    background-color: var(--dblue);
    transition: 100ms;
}

.btn-action-delete {
    background-color: var(--red) !important;
    margin-bottom: 10px !important;
    color: white !important;
    transition: 100ms;
    width: 100%;
    max-width: 244px;
}

.btn-action-delete:hover:enabled {
    background-color: var(--dred) !important;
    transition: 100ms;
}


.btn-modal-cancel {
    background-color: var(--blue) !important;
    margin-bottom: 10px !important;
    color: white !important;
    transition: 100ms;
}

.btn-modal-cancel:hover:enabled {
    background-color: var(--dblue);
    transition: 100ms;
}

.btn-modal-agree {
    background-color: var(--red) !important;
    margin-bottom: 10px !important;
    color: white !important;
    transition: 100ms;
}

.btn-modal-agree:hover:enabled {
    background-color: var(--dred) !important;
    transition: 100ms;
}

.delete-modal-header {
    background-color: var(--red) !important;
    color: white !important;
}
/* ---------------------------------------------------
   Test-assembler page design
----------------------------------------------------- */

#text-assembler .container2 {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px;
    margin-top: 5px;
    cursor: pointer;
    font-size: 1em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
#text-assembler .container2 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
#text-assembler .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    margin-top: 1px;
  }
#text-assembler .container2:hover:enabled input ~ .checkmark {
    background-color: #ccc;
  }
#text-assembler .container2 input:checked ~ .checkmark {
    background-color: var(--blue);
  }
#text-assembler .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
#text-assembler .container2 input:checked ~ .checkmark:after {
    display: block;
  }
#text-assembler .container2 .checkmark:after {
    left: 7.5px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.btn-submit {
    background-color: var(--blue) !important;
    margin-bottom: 10px !important;
    color: white !important;
    transition: 100ms;
    width: 100%;
}

.btn-submit:hover:enabled {
    background-color: var(--dblue);
    transition: 100ms;
}

/* ---------------------------------------------------
   Test-Question page
----------------------------------------------------- */

.btn-create-new {
    background-color: var(--blue) !important;
    margin-bottom: 10px !important;
    color: white !important;
    transition: 100ms;
    max-width: 300px;
}

.btn-submit:hover:enabled {
    background-color: var(--dblue) !important;
    transition: 100ms;
}

#test-question .quick-table {
    overflow-y: auto;
    overflow-x: auto;
    margin-bottom: 20px !important;
}

#test-question .row {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

#test-question .col-12 {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

#test-question thead th {
    position: sticky; top: 0;
    color: white !important;
    background-color: var(--blue) !important;
    margin-top: -2px !important;
}

#test-question thead {
    background-color: var(--blue) !important;
}

#test-question .form-group * {
    background: none !important;
    outline: none !important;
    -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  padding-left: 0px !important;
}

.nono * {
    outline: none !important;
    -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
}

#test-question ul {
    padding-left: 20px !important;
}

.marg-bottom {
    margin-bottom: 7px !important;
}

#test-question ul li {
    margin-bottom: 5px !important;
}

#test-question .remove {
    color: var(--red);
    margin-left: 3px !important;
}

#test-question .clear-padding {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.question-modal-header {
    background-color: var(--blue) !important;
    color: white !important;
}

.nono .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    margin-top: 1px;
}
.nono .container2:hover:enabled input ~ .checkmark {
    background-color: #ccc;
}
.nono .container2 input:checked ~ .checkmark {
    background-color: var(--blue);
}
.nono .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.nono .container2 input:checked ~ .checkmark:after {
    display: block;
}
.nono .container2 .checkmark:after {
    left: 7.5px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.nono .container2 {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px;
    margin-top: 5px;
    cursor: pointer;
    font-size: 1em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .nono .container2 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.testmin {
    padding-right: 18px !important;
}

/* ---------------------------------------------------
   Feedback page
----------------------------------------------------- */

#feedback h1 {
    font-weight: bold;
    font-size: 1.55em;
    margin-bottom: 20px;
}

#feedback h2 {
    font-size: 1em !important;
    max-width: 100%;
    line-height: 150%;
}

#feedback h3 {
    font-size: 0.9em !important;
    margin-top: 10px;
}

#feedback .orange {
    color: var(--dred) !important;
}

#feedback .btn-snd {
    margin-top: 1rem;
    background-color: var(--lblue) !important;
    color: white !important;
    font-weight: bold;
    border-radius: 5px;
    bottom: 45px;
    width: 100%;
    font-size: 1.5em,
}

/* ---------------------------------------------------
   Poll page
----------------------------------------------------- */

#poll .poll-header h6 {
    font-size: 20px;
    color: var(--dblue);
    margin-top: 20px;
    margin-bottom: 10px;
}

#poll .form-control {
    width: 100% !important;
}

#poll .option h6 {
    font-size: 20px;
    margin-top: -6px !important;
    background-color: var(--wlgray) !important;
    padding: 10px 5px;
    border-radius: 5px;
    margin-left: 30px !important;
    color: var(--dblue);
    word-wrap: break-word;
}

#poll .option {
    margin-top: 10px;
    margin-bottom: 10px;
}

#poll .option h5 {
    font-size: 16px;
}

#poll textarea {
    margin-top: 5px;
    border: none !important;
    border-bottom: 1px solid var(--wlgray) !important;
    overflow-y: scroll;
    height: 40px !important;
    resize: none;
    background-color: white !important;
    box-shadow: none !important;
    outline: none !important;
}

#poll input {
    margin-top: 5px;
    border: none !important;
    border-bottom: 1px solid var(--wlgray) !important;
    background-color: white !important;
    box-shadow: none !important;
    outline: none !important;
}

#poll .new {
    color: var(--blue) !important;
    font-size: 25px !important;
}

#poll .remove {
    color: var(--dred) !important;
    font-size: 25px !important;
    margin-left: 5px;
}

.fab-btn {
    background-color: var(--dblue);
    display: flex;
    justify-content: center;
    align-items: center;
    width:60px;
    height:60px;
    border-radius:100%;
    background: var(--dblue);
    border:none;
    outline:none !important;
    color:#FFF;
    font-size:36px;
    filter: drop-shadow(3px 3px 4px rgba(0, 0, 0, 0.25));
    transition:.3s;  
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    position: fixed;
    z-index: 10;
    right: 50px;
    bottom: 50px;
  }

#poll .nopoll-left {
    padding-left: 0px !important;
}

#poll .container2 {
    display: block;
    position: absolute;
    padding-left: 30px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 1em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
#poll .container2 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
#poll .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    margin-top: 1px;
  }
#poll .container2:hover:enabled input ~ .checkmark {
    background-color: #ccc;
  }
#poll .container2 input:checked ~ .checkmark {
    background-color: var(--blue);
  }
#poll .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
#poll .container2 input:checked ~ .checkmark:after {
    display: block;
  }
#poll .container2 .checkmark:after {
    left: 7.5px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* CAROUSEL TOP */

.crs-img {
    min-height: 400px;
    border-radius: 5px;
}

#carousel-top .carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 3px;
    left: 45px;
    z-index: 15;
    display: flex;
    justify-content: left !important;
    padding-left: 0;
    margin: 0px !important;
    list-style: none;
}

#carousel-top .carousel-indicators li {
    height: 10px !important;
    width: 10px !important;
    border-radius: 50%;
    background-color: white !important;
    opacity: 1;
}

#carousel-top .carousel-indicators .active {
    background-color: var(--yellow) !important;
}

#carousel-top .carousel-caption {
    width: 100%;
    background-color: var(--oblue) !important;
    padding-top: 35px !important;
    padding-bottom: 25px !important;
    left: 0;
    right: 0;
    bottom: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#carousel-top h5 {
    font-family: 'Roboto-Bold';
    font-size: 2em !important;
}

h3 {
    font-size: 1.35rem;
}

/* DISABLED BUTTONS EFFECT */

.disabled-bg {
    background-color: var(--gray) !important;
    border-color: var(--gray) !important;
    color: white !important;
}
button:disabled {
    background-color: var(--gray) !important;
    border-color: var(--gray) !important;
    color: white !important;
}
button[class*=" btn-outline"]:disabled {
    background-color :rgba(0, 0, 0, 0) !important;
    border-color: gray !important;
    color: gray !important;
}
*:hover:disabled,
*:disabled {
    cursor: not-allowed;
    opacity: 1.0 !important;
}

/* MOBILE FONT SIZE UNDER 426px */

@media (max-width: 425px) {
    .fab-btn {
        font-size: 25px !important;
    }
    #settings h2.sec {
        font-size: 21px !important;
    }
    
    .glossary-title,
    .glossary-item h3 {
        font-size: 20px !important;
    }
    #trainings .card-title,
    #trainings .top-right,
    #poll .new,
    #poll .remove {
        font-size: 17.5px !important;
    }
    .centered a:hover:enabled,
    .centered a:link,
    .centered a:visited,
    .centered a:active,
    #glossary .category-name {
        font-size: 16.5px !important;
    }
    #trainings .bottom-left {
        font-size: 13px !important;
      }
    #list-table h6,
    #glossary h2,
    #poll .poll-header h6,
    #poll .option h6 {
        font-size: 14px !important;
    }
    #timeline h1,
    #statements h2,
    #statements h3,
    #uploads h1,
    #home-header h2,
    #content-3 h1,
    #manage-team h1,
    #team-list h1,
    #progress h2,
    #progress .card-title,
    #chat span.own-name,
    #chat span.other-name,
    .modal-nick {
        font-size: 12px !important;
    }
    #timeline h6,
    #glossary .btn-search,
    .notification-title,
    .popup-body h1,
    .popup-body span,
    #poll .option h5,
    #timeline .name,
    #trainings .card-text,
    #manage-team .name,
    #chat .chat-list h1 {
        font-size: 11px !important;
    }
    #timeline h2,
    #statements h4,
    #uploads h2,
    #home-header .box,
    #left h2,
    #right h2,
    #team-list h2,
    #progress h3.active,
    #progress h3,
    .glossary-item h4,
    #glossary .glossary-item h5,
    #chat span.own,
    #chat span.other,
    .notification-desc {
        font-size: 10px !important;
    }
    #timeline .cstm-inp,
    #manage-team .email,
    #manage-team h3 {
        font-size: 9px !important;
    }
    #timeline .date,
    #chat .chat-list h2,
    #chat .chat-list h3 {
        font-size: 8px !important;
    }
    #timeline h3 {
        font-size: 7px !important;
    }

    /* REM FONT SIZE */

    #carousel-top h5 {
        font-size: 1.4em !important;
    }

    #pay-list .remove,
    #feedback h1 {
        font-size: 1.05em !important;
    }

    #pay-list h1,
    #pay-list h1 .same,
    h3 {
        font-size: 0.95rem !important;
    }

    #pay-list span,
    #text-assembler .container2,
    .nono .container2,
    .popup-body span,
    #feedback h2,
    #poll .container2  {
        font-size: 0.7rem !important;
    }

    #feedback h3 {
        font-size: 0.65em !important;
    }
    .font-10 {font-size: 7px !important}
    .font-11 {font-size: 7.5px !important}
    .font-12 {font-size: 8.5px !important}
    .font-13 {font-size: 9px !important}
    .font-14 {font-size: 10px !important}
    .font-15 {font-size: 10.5px !important}
    .font-16 {font-size: 11px !important}
    .font-17 {font-size: 12px !important}
    .font-18 {font-size: 12.5px !important}
    .font-19 {font-size: 13px !important}
    .font-20 {font-size: 14px !important}
    .font-21 {font-size: 14.5px !important}
    .font-22 {font-size: 15.5px !important}
    .font-23 {font-size: 16px !important}
    .font-24 {font-size: 17px !important}
    .font-25 {font-size: 17.5px !important}
    .font-26 {font-size: 18px !important}
    .font-27 {font-size: 19px !important}
    .font-28 {font-size: 20px !important}
    .font-29 {font-size: 20.5px !important}
    .font-30 {font-size: 21px !important}
    .font-55 {font-size: 38px !important}
    .font-085 {font-size: 0.6rem !important;}
    .font-135 {font-size: 0.945rem !important}
}

@media (min-width: 426px) {
    .font-10 {font-size: 10px !important}
    .font-11 {font-size: 11px !important}
    .font-12 {font-size: 12px !important}
    .font-13 {font-size: 13px !important}
    .font-14 {font-size: 14px !important}
    .font-15 {font-size: 15px !important}
    .font-16 {font-size: 16px !important}
    .font-17 {font-size: 17px !important}
    .font-18 {font-size: 18px !important}
    .font-19 {font-size: 19px !important}
    .font-20 {font-size: 20px !important}
    .font-21 {font-size: 21px !important}
    .font-22 {font-size: 22px !important}
    .font-23 {font-size: 23px !important}
    .font-24 {font-size: 24px !important}
    .font-25 {font-size: 25px !important}
    .font-26 {font-size: 26px !important}
    .font-27 {font-size: 27px !important}
    .font-28 {font-size: 28px !important}
    .font-29 {font-size: 29px !important}
    .font-30 {font-size: 30px !important}
    .font-55 {font-size: 55px !important}
    .font-085 {font-size: 0.85rem !important}
    .font-135 {font-size: 1.35rem !important}
}

.new-label {
    right: -1px !important;
}
