<template>
    <div class="row mt-2">
        <div class="col-12 text-center">
            <h1 class="d-flex align-items-center justify-content-center">
                <i class="fas fa-stopwatch mr-2"></i>
                <span style="font-variant-numeric: tabular-nums">{{attempt.timeLeft}}</span>
            </h1>
        </div>
        <div class="col-12 mt-5" v-for="currentQuestion in attempt.questions">
            <div class="col-12 mb-2 p-0">
                <h3><strong>{{currentQuestion.question}}</strong></h3>
            </div>
            <div class="col-12 mt-2 p-0">
                <form @submit.prevent="submit">
                    <div v-if="currentQuestion.question_type == 'Single choice'">
                        <div v-for="answer in currentQuestion.answers" :key="answer.id" class="input-group mb-1">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <input @change="submitAnswer(currentQuestion)" type="radio" :value="answer.answer" v-model="currentQuestion.answer" :name="currentQuestion.id" :checked="currentQuestion.answer === answer.answer" aria-label="Radio button for following text input">
                                </div>
                            </div>
                            <div type="text" class="form-control" style="height: fit-content !important;" aria-label="Text input with radio button">{{answer.answer}}</div>
                        </div>
                    </div>
                    <div v-else-if="currentQuestion.question_type == 'Multiple choice'">
                        <div v-for="answer in currentQuestion.answers" :key="answer.id" class="input-group mb-1">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <input @change="submitAnswer(currentQuestion)" type="checkbox" v-model="answer.chosen" aria-label="Radio button for following text input">
                                </div>
                            </div>
                            <div type="text" class="form-control" style="height: fit-content !important;" aria-label="Text input with radio button">{{answer.answer}}</div>
                        </div>
                    </div>
                    <div v-else-if="currentQuestion.question_type == 'Free text'">
                        <textarea @input="submitAnswer(currentQuestion, 400)" class="form-control" v-model="currentQuestion.answer" aria-label="With textarea"></textarea>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-12 mt-3">
            <div :style="!answerSubmitting ? 'visibility: hidden' : ''" class="mb-0">{{ $t('active-test-attempt.test-saving') }}</div>
            <button type="submit" :disabled="answerSubmitting || attempt.timeLeft == '00:00:00'" @click="finishTest" class="btn btn-primary mt-1">{{ $t('active-test-attempt.test-end-button') }}</button>
        </div>
    </div>
</template>
<script>
export default {
    name: 'ActiveTestAttempt',
    emits: ['finish'],
    created() {
        this.$store.commit('setTimer')
        this.attempt.questions.forEach(q => {
            if(q.question_type == 'Free text' && q.userAnswers.length > 0) {
                q.answer = q.answer ?? q.userAnswers[0].answer
            }
            else if(q.question_type == 'Single choice' && q.userAnswers.length > 0) {
                q.answer = q.answer ?? q.userAnswers[0].answer
            }
            else {
                q.answers.forEach(qa => {
                    qa.chosen = qa.chosen ?? q.userAnswers.some(ua => ua.answer == qa.answer)
                })
            }
        })
    },
    data() {
        return {
            attempt: this.$store.state.user.activeTestAttempt,
            answerSubmitting: false,
            timeout: null,
        }
    },
    methods: {
        submitAnswer(question, debounceTime = 10) {
            this.answerSubmitting = true
            if(this.timeout)
                clearTimeout(this.timeout)
            
            this.timeout = setTimeout(() => {
                let data = {answers: []};
                if(question.question_type == 'Free text' || question.question_type == 'Single choice') {
                    data.answers.push(question.answer)
                }
                else {
                    question.answers.forEach((answer) => {
                        if(answer.chosen)
                            data.answers.push(answer.answer)
                    })
                }
                this.axios.post(`/test-attempts/${this.attempt.id}/questions/${question.id}`, data)
                    .then(async (resp) => {
                    })
                    .finally(() => this.answerSubmitting = false)
            }, debounceTime)
        },
        finishTest() {
            this.answerSubmitting = true
            this.axios.post(`/tests/${this.attempt.test_id}/attempts/${this.attempt.id}/finish`)
                .then(resp => {
                    this.$emit('finish', this.attempt.test_id, this.attempt.id)
                    this.$store.state.user.activeTestAttempt = null
                    //this.$router.push({name: 'AfterExam', params: {test: this.attempt.test_id, attempt: this.attempt.id}})
                })
                .finally(() => this.answerSubmitting = false)
        }
    }
}
</script>
<style scoped>
h3 {
    font-size: 20px;
}
@media (max-width: 425px) {
    h3 {
        font-size: 14px !important;
    }    
}
</style>