<template>
    <div v-if="!loading && order">
        <div v-if="order.status == 'Succeeded'">
            <p>{{ $t('after-payment.thanks') }}</p>
            <p>{{ $t('after-payment.success') }}</p>
            <div class="d-flex align-items-center">
                <button type="button" :disabled="pdfLoading" class="btn btn-outline-danger mb-2" @click.prevent="downloadPDF">
                    <div class="d-flex align-items-center">
                        <i class="fas fa-file-pdf mr-1"></i>
                        <span>{{ $t('after-payment.download') }}</span>
                    </div>
                </button>
                <div v-if="pdfLoading" class="spinner-border text-danger ml-2 mb-2" role="status">
                    <span class="sr-only">{{ $t('after-payment.loading') }}</span>
                </div>
            </div>
        </div>
        <div v-else-if ="order.status == 'Cancelled'">
            {{ $t('after-payment.error1') }}
        </div>
        <div v-else-if ="order.status == 'Expired'">
            {{ $t('after-payment.error2') }}
            
        </div>
        <div v-else>
            {{ $t('after-payment.status') }} {{order.status}}
        </div>
    </div>
    <Loading v-else-if="loading" height="70vh" />
    <div v-else>
        <p>{{ $t('after-payment.thanks') }}</p>
        <p>{{ $t('after-payment.success') }}</p>
        <button class="btn btn-primary" @click.prevent="$router.push({name: 'Home'})">{{ $t('after-payment.back') }}</button>
    </div>
</template>
<script>
import { Capacitor } from '@capacitor/core';
import Loading from '@/components/Loading'
export default {
    name: 'AfterPayment',
    components: {
        Loading
    },
    mounted() {
        if(this.$route.query.paymentId) {
            this.loading = true
            this.axios.post('/payment/status', {paymentId: this.$route.query.paymentId})
            .then(resp => this.order = resp.data.order)
            .finally(() => this.loading = false)
        }
    },
    data() {
        return {
            loading: false,
            order: null,
            pdfLoading: false,
        }
    },
    methods: {
        downloadPDF() {
            this.pdfLoading = true;
            this.axios.get('/invoice/'+this.order.id, {responseType: 'blob'})
                .then(resp => {
                    const name = this.order.invoice_id+'.pdf'
                    if(Capacitor.isNative) {
                        this.$store.commit('downloadFileMobile', {name, mime: 'application/pdf', data: resp.data})
                    }
                    else {
                        const url = window.URL.createObjectURL(new Blob([resp.data]));
                        const link = document.createElement('a');
                        link.href = url;
                        link.setAttribute('download', name);
                        document.body.appendChild(link);
                        link.click();
                    }
                })
                .catch(e => console.log(e.response))
                .finally(() => this.pdfLoading = false)
        },
    }
} 
</script>
