<template>
    <div v-if="$store.state.user">
        <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#" @click.prevent="$router.push({name: 'Home'})">{{ $t('cart.homepage') }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ $t('cart.cart') }}</li>
        </ol>
    </nav>

    <div id="pay-list" v-if="!loading">
        <div class="item-line" v-if="$store.state.user && $store.state.user.cart_items.length > 0"></div>
        <div class="row" v-for="item in $store.state.user.cart_items" :key="item.id">
            <div class="col-12 d-flex flex-wrap">
                <div class="d-flex align-items-center">
                    <img :src="item.cover_image ? $store.getters.getStorageURL(item.cover_image.path) : '/assets/img/template.jpg'" style="height: 70px; width: 70px; border-radius: 50%;object-fit: cover;">
                    <div class="ml-sm-4 ml-1 d-flex" style="flex-direction: column;">
                        <h1 class="mb-1"><strong>{{item.title}}</strong></h1>
                    </div>
                </div>
                <div class="d-flex mt-sm-0 mt-1 text-right" style="flex-direction: column; margin-left: auto">
                    <h1>{{item.gross_price}} Ft</h1>
                    <span>Net. {{huFormat(item.net_price)}} + {{item.vat_rate}}% {{ $t('cart.vat') }}</span>
                </div>
                <div v-if="!orderInProgress" class="d-flex" @click.prevent="removeFromCart(item)" style="flex-direction: column; margin-left: 30px">
                    <a href="#"><i class="fas fa-trash-alt remove" style="color: red !important"></i></a>
                </div>
            </div>
            
            
            <div class="col-12">
                <div class="item-line"></div>
            </div>
        </div>
        <div v-if="orderInProgress" class="row mb-2">
                <p>{{ $t('cart.msg') }}</p>
                <p>{{ $t('cart.click') }} <a :href="orderInProgress.checkout_url" target="_blank" style="text-decoration: underline; color: var(--lblue)"> {{ $t('cart.here') }}</a> {{ $t('cart.continue') }}</p>
        </div>
        <div class="row" v-if="$store.state.user.cart_items.length > 0">
            <div class="col-12 d-flex flex-wrap">
                <h1 class="mr-5" style="font-family:Roboto-Medium;">
                    {{ $t('cart.netto-total') }} {{huFormat(netTotal)}}
                </h1>
                <h1 class="mr-5">
                    {{ $t('checkout-summary.vat') }} {{huFormat(vatSum)}}
                </h1>
                <h1 class="mr-5" style="font-family:'Roboto-Medium';" v-if="discount > 0">
                    {{ $t('cart.coupon') }} -{{huFormat(discount)}}
                </h1>
                <h1 class="mr-5" style="font-family:'Roboto-Medium';">
                    {{ $t('cart.gross-total') }} {{huFormat(grossTotal)}}
                </h1>
                <div class="d-flex" style="flex-direction: column; margin-left: auto">
                <button type="button" class="btn btn-pay" :disabled="submitting || orderInProgress" @click="$router.push({name: 'CheckoutUserData'})">{{ $t('cart.pay') }}</button> <br />
                </div>
            </div>
            
            
        </div>
        <div id="empty-cart-section" class="d-flex justify-content-center" style="margin-top: 12vh; flex-direction: column; align-items: center" v-else>
            <h3 style="width: 100%;text-align: center;margin-bottom: 20px;margin-top: 50px;">{{ $t('cart.empty') }}</h3>
            <button class="btn btn-outline-primary" @click.prevent="$router.push({name: 'MyOrders'})" style="width: fit-content;">{{ $t('cart.my-orders') }}</button>
            <div></div>
        </div>
    </div>
    <Loading v-else height="70vh" />
    </div>
</template>
<script>
import Loading from '@/components/Loading.vue'
export default {
    name: 'Cart',
    components: {
        Loading
    },
    mounted() {
        this.loading = true
        this.axios.get('/user')
            .then(resp => this.$store.commit('setUser', resp.data))
            .finally(() => this.loading = false)
    },
    computed: {
        netTotal() {
            if(this.$store.state.user.cart_items.length > 0) {
                return this.$store.state.user.cart_items.reduce((acc, course) => acc + course.net_price, 0)
            }
            return 0
        },
        vatSum() {
            if(this.$store.state.user.cart_items.length > 0) {
                return this.$store.state.user.cart_items.reduce((acc, course) => acc + (course.gross_price - course.net_price), 0)
            }
            return 0
        },
        discount() {
            if(this.$store.state.checkout && this.$store.state.checkout.coupon_code) {
                return Math.round(this.$store.state.checkout.coupon_code.percentage_based ? this.netTotal * (this.$store.state.checkout.coupon_code.discount / 100) : this.$store.state.checkout.coupon_code.discount)
            }
            return 0
        },
        grossTotal() {
            return this.netTotal + this.vatSum - this.discount
        },
        orderInProgress() {
            return this.$store.state.user.orders.find(o => o.status == 'Prepared' || o.status == 'Started' || o.status == 'InProgress');
        }
    },
    data() {
        return {
            submitting: false,
            loading: false,
        }
    },
    methods: {
        removeFromCart(item) {
            this.submitting = true
            this.axios.delete('/courses/'+item.id+'/cart')
                .then(resp => this.$store.state.user.cart_items = resp.data.cartItems)
                .finally(() => this.submitting = false)
        },
        huFormat(sum) {
           return new Intl.NumberFormat('hu-HU', { style: 'currency', currency: 'HUF', minimumFractionDigits: 0}).format(sum)
        },
        sum() {
            let sum = 0;
            this.$store.state.user.cart_items.forEach(item => {
                sum += item.gross_price
            })
            if(this.$store.state.checkout && this.$store.state.checkout.coupon_code) {
                sum -= this.$store.state.checkout.coupon_code.percentage_based ? sum * (this.$store.state.checkout.coupon_code.discount / 100) : this.$store.state.checkout.coupon_code.discount
            }
            return sum >= 0 ? sum : 0
        },
        startPayment() {
            this.submitting = true
            this.axios.post('/payment/start')
                .then(resp => {
                    window.open(resp.data.order.checkout_url, '_blank');
                    this.loading = true
                    this.axios.get('/user')
                        .then(resp => this.$store.state.user = resp.data)
                        .finally(() => this.loading = false)
                })
        }
    }
}
</script>
