<template>
    <div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a @click.prevent="$router.push({name: 'Home'})" href="#">{{ $t('chat.homepage') }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ $t('chat.chat') }}</li>
            </ol>
        </nav>

        <section id="chat" v-if="$store.state.user">
            <div class="row">
                <div class="col-xl-4">
                        <div class="chat-list">
                            <button type="button" class="btn btn-group-create mt-0 mb-2" data-toggle="modal" data-target="#newGroupChatModal">{{ $t('chat.create-group') }}</button>
                            <button type="button" class="btn btn-group-create mt-0" data-toggle="modal" data-target="#newChatModal">{{ $t('chat.new-chat') }}</button>
                            <div class="input-group mb-3 chat-search-bg">
                                <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">
                                    <i class="fas fa-search" style="color: white;"></i>
                                </span>
                                </div>
                                <input v-debounce:300ms="filterGroups" type="text" class="form-control" :placeholder="$t('chat.search-2')" :aria-label="$t('chat.search-2')" aria-describedby="basic-addon1" style="color:white">
                            </div>

                            <div class="row members" ref="conversations">
                                <div v-for="chat in filteredChats" :key="chat.id" class="col-12 ">
                                    <div class="member new-pad" :class="getSelectedChat && getSelectedChat.id == chat.id ? 'active-convo' : ''">
                                        <div class="mb-xl-0 d-flex align-items-center" @click="viewConversation(chat)">
                                            <div class="no-right " style="align-self: flex-start">
                                                <img v-if="chat.name == null && chat.users.find(u => u.name != $store.state.user.name).avatar" style="width: 38px !important" class="img-fluid chat-prof" :src="$store.state.storageURL+chat.users.find(u => u.name != $store.state.user.name).avatar.path+'?token='+$store.state.token">
                                                <Avatar v-else class="chat-prof" :username="chat.name ?? chat.users.find(u => u.name != $store.state.user.name).name" :size="38" />
                                            </div>
                                            <div class="ml-2 text-truncate" style="width: 100%; flex-direction: column;">
                                                <h1>
                                                    {{chat.name ?? chat.users.find(u => u.name != $store.state.user.name).name}}
                                                    <!-- <h3 v-if="latestMessage(chat)">
                                                        {{$store.getters.parseDateTime(latestMessage(chat).created_at)}}
                                                    </h3> -->
                                                </h1>
                                                <div class="d-flex" style="justify-content: space-between; flex-wrap: wrap">
                                                    <h2 class="text-truncate" v-if="latestMessage(chat) && latestMessage(chat).sender_id == $store.state.user.id">{{ $t('chat.you') }}: {{latestMessage(chat).message ?? $t('chat.multimedia-sent')}}</h2>
                                                    <h2 class="text-truncate" v-else-if="latestMessage(chat)" :style="{color: latestMessage(chat).chat_group_message_receivers.find(r => r.receiver_id == $store.state.user.id).read_at == null ? 'var(--lblue)' : ''}">{{latestMessage(chat).message ?? $t('chat.multimedia-arrived')}}</h2>
                                                    <h2 class="text-truncate" v-else>{{ $t('chat.no-messages') }}</h2>
                                                    <h2 v-if="latestMessage(chat)" style="font-size: 12px;">{{getRelativeTime(latestMessage(chat).created_at)}}</h2>
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12" v-if="chats.length < 1">
                                    {{ $t('chat.no-chat') }}
                                </div>
                            </div>
                        </div>
                    </div>
                <div class="col-xl-8">
                
                
                    <ChatConversation v-if="getSelectedChat && !newConversation" :chat="getSelectedChat" :key="getSelectedChat.id" />
                    
                    <div class="row" v-if="newConversation">
                        <div class="col-12 mb-5">
                            <div class="d-flex align-items-center">
                                <img v-if="newConversation.user.avatar" :src="$store.state.storageURL+newConversation.user.avatar.path+'?token='+$store.state.token" style="border-radius: 50%; height: 50px" class="ml-0" alt="">
                                <Avatar v-else class="team-image ml-0" :username="newConversation.user.name" :size="50"/>
                                <h6 class="name ml-2 mt-0 pl-0" style="font-weight: bold">
                                    {{newConversation.user.name}} <br />
                                </h6>
                            </div>
                        </div>
                        <div class="col-lg-8 bot">
                            <textarea class="form-control" rows="1" v-model="newConversation.message"></textarea>
                        </div>
                        <div class="col-lg-4 bot">
                            <button type="button" :disabled="submitting" class="btn btn-send" @click="submitNewConversation">{{ $t('chat.send-msg') }}</button>
                        </div>
                    </div>
                    <div v-else-if="!getSelectedChat" class="mt-4">
                        <h3 class="text-left">{{ $t('chat.no-active') }}</h3>
                    </div>
                </div>
            </div>
        </section>
        <div class="modal fade" id="newChatModal" tabindex="-1" role="dialog" aria-labelledby="newChatModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="newChatModalLabel">{{ $t('chat.new-chat') }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <form class="col-md-9 mt-2 col-12 d-flex alig-items-center" @submit.prevent="startSearchChattable">
                            <input type="text" class="form-control" :placeholder="$t('chat.user-name')" v-model="chattableSearchStr">
                        </form>
                        <div class="col-md-3 mt-2 col-12 mb-4">
                            <button :disabled="searching" type="button" class="btn btn-primary" @click="startSearchChattable()">{{ $t('chat.search') }}</button>
                        </div>
                        <div v-if="!searching" class="col-12 mt-2 mb-3">
                            <div class="mb-4">
                                <h5 v-if="chattablePaginator">{{ $t('chat.all') }} {{chattablePaginator.total}}</h5>
                                <h5 v-if="chattablePaginator && chattableResults.length > 0">{{ $t('chat.show') }} {{chattableResults.length}}</h5>
                            </div>
                            <div v-for="user in chattableResults" :key="user.id" class="mt-3">
                                <div class="d-flex align-items-center" style="cursor: pointer;" @click="startNewConversation(user)" data-dismiss="modal">
                                    <img v-if="user.avatar" :src="$store.state.storageURL+user.avatar.path+'?token='+$store.state.token" style="border-radius: 50%; height: 50px" class="ml-0" alt="">
                                    <Avatar v-else class="team-image ml-0" :username="user.name" :size="50"/>
                                    <h6 class="name ml-2 mt-0 pl-0" style="font-weight: bold">
                                        {{user.name}} <br />
                                        <span class="email mb-1">{{user.email}}</span>
                                    </h6>
                                </div>
                            </div>
                            <button v-if="chattablePaginator && chattablePaginator.current_page < chattablePaginator.last_page" 
                                :disabled="chattablePaginator.loading" 
                                class="mt-3 btn btn-primary"
                                @click.prevent="loadChattable()"
                            >
                                {{ $t('chat.more') }}
                            </button>
                        </div>
                        <div v-else class="col-12">
                            <Loading height="30vh" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                </div>
            </div>
            </div>
        </div>
        <div class="modal fade" id="newGroupChatModal" tabindex="-1" role="dialog" aria-labelledby="newGroupChatModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="newGroupChatModalLabel">{{ $t('chat.create-group') }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <form @submit.prevent="createGroupChat" class="w-100">
                            <div class="col-12">
                                <label>{{ $t('chat.group-name') }}</label>
                                <input :placeholder="$t('chat.group-name')" class="form-control w-100" type="text" v-model="groupChatName" required>
                            </div>
                            <div class="col-12 mt-3">
                                <span>{{ $t('chat.added-users') }} </span>
                                <div class="mt-2 d-flex align-items-center" v-for="user in groupChatSelected" :key="user.id">
                                    <div class="d-inline-flex align-items-center">
                                        <img v-if="user.avatar" :src="$store.state.storageURL+user.avatar.path+'?token='+$store.state.token" style="border-radius: 50%; height: 50px" class="ml-0" alt="">
                                        <Avatar v-else class="team-image ml-0" :username="user.name" :size="50"/>
                                        <h6 class="name ml-2 mt-0 pl-0" style="font-weight: bold">
                                            {{user.name}} <br />
                                            <span class="email mb-1">{{user.email}}</span>
                                        </h6>
                                    </div>
                                    <span class="ml-4 mb-1" style="cursor: pointer" @click="removeFromGroupChatSelected(user)">
                                        <i class="fas fa-times" style="color: red; font-size: 24px"></i>
                                    </span>
                                </div>
                                <div class="mt-3 ml-2" v-if="groupChatSelected.length < 1">
                                    <strong>{{ $t('chat.no-users') }}</strong>
                                </div>
                            </div>
                            <div class="col-12 mt-4">
                                <button class="btn btn-primary w-100" :disabled="submitting">{{ $t('chat.create-group') }}</button>
                            </div>
                        </form>
                        <label class="col-12 mt-5">{{ $t('chat.add-users') }}</label>
                        <form class="col-md-9 mt-0 col-12 d-flex alig-items-center" @submit.prevent="startSearchGroupChattable">
                            <input type="text" class="form-control" :placeholder="$t('chat.user-name')" v-model="groupChattableSearchStr">
                        </form>
                        <div class="col-md-3 mt-0 col-12 mb-4">
                            <button :disabled="searching" type="button" class="btn btn-primary" @click="startSearchGroupChattable()">{{ $t('chat.search') }}</button>
                        </div>
                        <div v-if="!searching" class="col-12 mt-2 mb-3">
                            <div class="mb-4">
                                <h5 v-if="groupChattablePaginator">{{ $t('chat.all') }} {{groupChattablePaginator.total}}</h5>
                                <h5 v-if="groupChattablePaginator && groupChattableResults.length > 0">{{ $t('chat.show') }} {{groupChattableResults.length}}</h5>
                            </div>
                            <div v-for="user in groupChattableResults" :key="user.id" class="mt-3">
                                <div class="d-flex align-items-center" style="cursor: pointer;" @click="addToGroupChatSelected(user)" data-dismiss="modal">
                                    <img v-if="user.avatar" :src="$store.state.storageURL+user.avatar.path+'?token='+$store.state.token" style="border-radius: 50%; height: 50px" class="ml-0" alt="">
                                    <Avatar v-else class="team-image ml-0" :username="user.name" :size="50"/>
                                    <h6 class="name ml-2 mt-0 pl-0" style="font-weight: bold">
                                        {{user.name}} <br />
                                        <span class="email mb-1">{{user.email}}</span>
                                    </h6>
                                </div>
                            </div>
                            <button v-if="groupChattablePaginator && groupChattablePaginator.current_page < groupChattablePaginator.last_page" 
                                :disabled="groupChattablePaginator.loading" 
                                class="mt-3 btn btn-primary"
                                @click.prevent="loadGroupChattable()"
                            >
                                {{ $t('chat.more') }}
                            </button>
                        </div>
                        <div v-else class="col-12">
                            <Loading height="30vh" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                </div>
            </div>
            </div>
        </div>
    </div>
</template>
<script>
import { DateTime } from 'luxon';
import Avatar from '@/components/Avatar.vue'
import Loading from '@/components/Loading.vue'
import ChatConversation from '@/components/ChatConversation.vue'
import InfiniteScroll from '../components/InfiniteScroll.vue';
export default {
    name: 'Chat',
    components: {
        ChatConversation,
        Avatar,
        Loading
    },
    props: {
        conversation: {
            type: String,
            optional: true,
            default: null
        }
    },
    mounted() {
        if(this.chats) {
            const chat = this.chats[this.chats.findIndex(c => c.id === Number(this.conversation))] ?? this.chats[0]
            if(chat)
                this.viewConversation(chat)
        }
    },
    data() {
        return {
            chatsUnordered: this.$store.state.user ? this.$store.state.user.chat_groups_with_latest_message : null,
            formatter: DateTime.DATETIME_MED,
            selectedChat: null,
            chattableSearchStr: null,
            groupChattableSearchStr: null,
            groupChattablePaginator: null,
            chattablePaginator: null,
            filterStr: '',
            searching: false,
            chattableResults: [],
            groupChattableResults: [],
            groupChatSelected: [],
            groupChatName: null,
            newConversation: null,
            submitting: false
        }
    },
    updated() {
        if(this.$refs.conversations) {
            this.$refs.conversations.style.maxHeight = window.innerHeight - 460+"px";
        }
    },
    computed: {
        getSelectedChat() {
            return this.selectedChat ?? (this.chats.length > 0 ? this.chats[0] : null);
        },
        chats() {
            return this.$store.state.user ? this.$store.state.user.chat_groups.sort((a,b) => new Date(this.latestMessage(b) ? this.latestMessage(b).created_at : b.created_at) - new Date(this.latestMessage(a) ? this.latestMessage(a).created_at : a.created_at)) : null
        },
        filteredChats() {
            const e = this.filterStr
            if(e.trim() == '') {
                return this.chats
            }
            else {
                return this.chats.filter(c => String(c.name).toLowerCase().includes(e) || c.users.some(u => String(u.name).toLowerCase().includes(e)))
            }
        }
    },
    methods: {
        getRelativeTime(isoDateStr) {
            const dt = DateTime.fromISO(isoDateStr)
            if(Math.abs(dt.diffNow().milliseconds) < 5000) {
                return this.$t('common.now')
            }
            return dt.toRelative()
        },
        latestMessage(group) {
            return group ? group.chat_group_messages[group.chat_group_messages.length -1] : null
        },
        startSearchChattable() {
            this.searching = true
            let params = {
                search: this.chattableSearchStr
            }
            this.axios.get('/chattable', {params})
                .then(resp => {
                    this.chattableResults = resp.data.users
                    this.chattablePaginator = resp.data.paginator
                    this.chattablePaginator.search = params.search
                })
                .finally(() => this.searching = false)
        },
        loadChattable() {
            this.chattablePaginator.loading = true
            this.axios.get('/chattable', {params: {page: this.chattablePaginator.current_page + 1, search: this.chattablePaginator.search}})
                .then(resp => {
                    const search = this.chattablePaginator.search
                    this.chattableResults.push(...resp.data.users)
                    this.chattablePaginator = resp.data.paginator
                    this.chattablePaginator.loading = true
                    this.chattablePaginator.search = search
                })
                .finally(() => this.chattablePaginator.loading = false)
        },
        startSearchGroupChattable() {
            this.searching = true
            let params = {
                search: this.groupChattableSearchStr
            }
            this.axios.get('/group-chattable', {params})
                .then(resp => {
                    this.groupChattableResults = resp.data.users.filter(u => !this.groupChatSelected.some(user => user.id == u.id))
                    this.groupChattablePaginator = resp.data.paginator
                    this.groupChattablePaginator.search = params.search
                })
                .finally(() => this.searching = false)
        },
        loadGroupChattable() {
            this.groupChattablePaginator.loading = true
            this.axios.get('/group-chattable', {params: {page: this.groupChattablePaginator.current_page + 1, search: this.groupChattablePaginator.search}})
                .then(resp => {
                    const search = this.groupChattablePaginator.search
                    this.groupChattableResults.push(...resp.data.users)
                    this.groupChattablePaginator = resp.data.paginator
                    this.groupChattablePaginator.loading = true
                    this.groupChattablePaginator.search = search
                })
                .finally(() => this.groupChattablePaginator.loading = false)
        },
        addToGroupChatSelected(user) {
            if(!this.groupChatSelected.some(u => u.id == user.id)) {
                this.groupChatSelected.push(user)
                const idx = this.groupChattableResults.findIndex(u => u.id == user.id)
                if(idx != -1) {
                    this.groupChattableResults.splice(idx, 1)
                }
            }
        },
        removeFromGroupChatSelected(user) {
            const idx = this.groupChatSelected.findIndex(u => u.id == user.id)
            if(idx != -1) {
                this.groupChatSelected.splice(idx, 1)
                this.groupChattableResults.push(user)
            }
        },
        createGroupChat() {
            this.submitting = true
            let formData = {name: this.groupChatName}
            if(this.groupChatSelected.length > 0) {
                formData.users = this.groupChatSelected.map(u => u.id)
            }
            this.axios.post('/conversation/group', formData)
                .then(resp => {
                    this.chats.push(resp.data.group)
                    this.selectedChat = resp.data.group
                    $('#newGroupChatModal').modal('hide')
                    this.newConversation = null
                    this.groupChatName = null
                    this.groupChatSelected = []
                    this.groupChattableSearchStr = null
                    this.groupChattableResults = []
                    this.$store.commit('subscribeToGroup', resp.data.group)
                })
                .finally(() => this.submitting = false)
        },
        submitNewConversation() {
            this.submitting = true
            this.axios.post('/conversation/user/'+this.newConversation.user.id, {message: this.newConversation.message})
                .then(resp => {
                    this.chats.push(resp.data.group)
                    this.selectedChat = resp.data.group
                    this.newConversation = null
                    this.$store.commit('subscribeToGroup', resp.data.group)
                })
                .finally(() => this.submitting = false)
        },
        startNewConversation(user) {
            this.newConversation = {
                user: user,
                message: null
            }
        },
        viewConversation(chat) {
            this.newConversation = null
            this.selectedChat = chat
            this.axios.post('/conversation/'+chat.id+'/read-messages')
                .then(() => {
                    this.selectedChat.chat_group_messages.forEach(msg => {
                        const idx = msg.chat_group_message_receivers.findIndex(r => r.receiver_id == this.$store.state.user.id && r.read_at == null)
                        if(idx !== -1)
                            msg.chat_group_message_receivers[idx].read_at = new Date()
                    })
                })
        },
        filterGroups(e) {
            this.filterStr = e.toLowerCase()
        }
    }
}
</script>
<style scoped>
.active-convo {
    background-color: #176fb729;
    border-radius: 5px;
}
.new-pad {
    padding: 15px 12px !important;
}
</style>
