<template>
<div v-if="created">
    <nav aria-label="breadcrumb"> 
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#" @click.prevent="$router.push({name: 'Cart'})"><span class="first"></span>{{ $t('checkout-payment.cart') }}</a></li>
            <li class="breadcrumb-item"><a href="#" @click.prevent="$router.push({name: 'CheckoutUserData'})">{{ $t('checkout-payment.billing-data') }}</a></li>
            <li class="breadcrumb-item active"><a>{{ $t('checkout-payment.payment-method') }}</a></li>
        </ol>
    </nav>
    <div class="row mt-4">   
        <div class="col-12">
            <ul class="progressbar">
                <li class="active" @click.prevent="$router.push({name: 'Cart'})"><span class="first"></span>{{ $t('checkout-payment.cart') }}</li>
                <li class="active" @click.prevent="$router.push({name: 'CheckoutUserData'})">{{ $t('checkout-payment.billing-data') }}</li>
                <li class="current">{{ $t('checkout-payment.payment-method') }}</li>
                <li class="right"><span class="first"></span>{{ $t('checkout-payment.sum') }}</li>
            </ul>
        </div>
    </div>

    <div class="row mt-5">
    <div class="col-12">
        <h4><strong>{{ $t('checkout-payment.choose-payment') }}</strong></h4>
        <div class="row">
            <div class="col-12 mt-4 ">
                <div class="d-inline-flex align-items-center flex-wrap">
                    <input type="radio" style="height: 18px; width: 18px;" v-model="this.$store.state.checkout.card" value="true">
                    <p class="ml-2 mb-0">{{ $t('checkout-payment.credit-card') }}</p><img src="/assets/img/credit_cards.jpg" />
                </div>
            </div>
            <div class="col-12 mt-3">
                <button class="btn btn-primary" :disabled="!this.$store.state.checkout.card" @click.prevent="$router.push({name: 'CheckoutSummary'})">{{ $t('checkout-payment.next') }}</button>
            </div>
        </div>
        </div>
    </div>
</div>
</template>
<script>
export default {
    name: 'CheckoutPaymentMethod',
    created() {
        if(!this.$store.state.checkout) {
            this.$router.push({name: 'CheckoutUserData'})
        }
        else {
            this.created = true
        }
    },
    data() {
        return {
            created: false
        }
    }
}
</script>