<template>
<div v-if="created">
    <nav aria-label="breadcrumb"> 
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#" @click.prevent="$router.push({name: 'Cart'})"><span class="first"></span>{{ $t('checkout-payment.cart') }}</a></li>
            <li class="breadcrumb-item"><a href="#" @click.prevent="$router.push({name: 'CheckoutUserData'})">{{ $t('checkout-payment.billing-data') }}</a></li>
            <li class="breadcrumb-item"><a href="#" @click.prevent="$router.push({name: 'CheckoutPaymentMethod'})">{{ $t('checkout-payment.payment-method') }}</a></li>
            <li class="breadcrumb-item active"><a>{{ $t('checkout-payment.sum') }}</a></li>
        </ol>
    </nav>

    <div class="row mt-4">   
        <div class="col-12">
            <ul class="progressbar">
                <li class="active" @click.prevent="$router.push({name: 'Cart'})"><span class="first"></span>{{ $t('checkout-payment.cart') }}</li>
                <li class="active" @click.prevent="$router.push({name: 'CheckoutUserData'})">{{ $t('checkout-payment.billing-data') }}</li>
                <li class="active" @click.prevent="$router.push({name: 'CheckoutPaymentData'})">{{ $t('checkout-payment.payment-method') }}</li>
                <li class="current"><span class="first"></span>{{ $t('checkout-payment.sum') }}</li>
            </ul>
        </div>
    </div>

    <div class="row mt-5">
    <div class="col-12">
        <h4 style="font-family:'Roboto-Medium';">{{ $t('checkout-summary.sum') }}</h4>
        <div class="row">
            <hr>
            <div class="col-12 mt-4 d-flex flex-wrap" v-for="item in $store.state.user.cart_items" :key="item.id">
                <div class="d-flex align-items-center">
                    <img :src="item.cover_image ? $store.getters.getStorageURL(item.cover_image.path) : '/assets/img/template.jpg'" style="height: 70px; width: 70px; border-radius: 50%;object-fit: cover;">
                    <div class="ml-sm-4 ml-1 d-flex" style="flex-direction: column;">
                        <h3 class="mb-1"><strong>{{item.title}}</strong></h3>
                    </div>
                </div>
                <div class="d-flex mt-sm-0 mt-1 text-right" style="flex-direction: column; margin-left: auto">
                    <h3 class="mb-1"><strong>{{huFormat(item.gross_price)}}</strong></h3>
                    <span style="font-size: 12px">Net. {{huFormat(item.net_price)}} + {{item.vat_rate}}% {{ $t('checkout-summary.vat') }}</span>
                </div>
            </div>
            
            <div class="col-12">
                <div class="row cp-bg">
                <div class="col-md-6 mt-2 col-12 mb-2">
                    <h4 style="font-family:'Roboto-Medium';">{{ $t('checkout-summary.coupon-inp') }}</h4>
                </div>
                <div class="col-12 col-md-6 mt-2 mb-2">
                    <div class="row">
                        <div class="col-lg-8 col-md-6">
                            <input type="text" :style="coupon_error ? 'border: 1px solid red;' : '' " class="form-control" @input="coupon_error = false" v-model="coupon_code" :placeholder="$t('checkout-summary.coupon-code')">
                            <p class="mt-1 ml-1" style="color: red;" v-if="coupon_error">{{ $t('checkout-summary.coupon-error') }}</p>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <button class="w-100 btn btn-primary out-btn" @click="setCoupon" :disabled="submitting">{{ $t('checkout-summary.coupon-set') }}</button>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            <hr>
            <div class="col-12 mt-2 mb-3 d-flex flex-wrap" style="font-weight: 900; font-size: 34px;">
                <h3 class="mr-5">
                    {{ $t('checkout-summary.netto-total') }} {{huFormat(netTotal)}}
                </h3>
                <h3 class="mr-5">
                    {{ $t('checkout-summary.vat') }} {{huFormat(vatSum)}}
                </h3>
                <h3 class="mr-5" v-if="discount > 0">
                    {{ $t('checkout-summary.coupon') }} -{{huFormat(discount)}}
                </h3>
                <h3 class="mr-5">
                    {{ $t('checkout-summary.gross-total') }} {{huFormat(grossTotal)}}
                </h3>
                
            </div>
            <hr>
            <div v-if="orderInProgress" class="col-12 mt-3" style="font-size: 22px">
                <p>{{ $t('checkout-summary.payment-process-1') }} <strong>{{ $t('checkout-summary.payment-process-2') }}</strong> {{ $t('checkout-summary.payment-process-3') }}</p>
                <p>{{ $t('checkout-summary.payment-process-4') }} <a :href="orderInProgress.checkout_url" target="_blank" style="text-decoration: underline; color: var(--lblue)">{{ $t('checkout-summary.payment-process-5') }}</a> {{ $t('checkout-summary.payment-process-6') }}</p>
            </div>
            <div class="col-12 mt-3">
                <div class="d-flex align-items-center flex-wrap">
                    <input type="checkbox" style="height: 18px; width: 18px;cursor:pointer" v-model="acceptTerms">
                    <p class="ml-2 mb-0">{{$t('checkout-summary.accept_aszf')}} <a target="_blank" href="https://site.dev.develawp.com/felhasznalasi-feltetelek" style="color: var(--lblue)">{{ $t('checkout-summary.aszf') }}</a> {{$t('checkout-summary.and')}} <a target="_blank" href="https://site.dev.develawp.com/adatvedelmi-tajekoztato" style="color: var(--lblue)">{{ $t('checkout-summary.gdpr') }}</a>.</p>
                </div>
                <div class="d-flex align-items-center flex-wrap">
                    <input type="checkbox" style="height: 18px; width: 18px;cursor: pointer" v-model="acceptPrivPol">
                    <p class="ml-2 mb-0">{{$t('checkout-summary.agree-to-receive-update')}}</p>
                </div>
                <button class="btn btn-lg btn-share mt-3" :disabled="orderInProgress || submitting || !acceptPrivPol || !acceptTerms" @click.prevent="startPayment">{{ $t('checkout-summary.finish') }}</button>
            </div>
        </div>
        </div>
    </div>
</div>
</template>
<script>
export default {
    name: 'CheckoutSummary',
    created() {
        if(!this.$store.state.checkout) {
            this.$router.push({name: 'CheckoutUserData'})
        }
        else if(this.$store.state.checkout.card == 0) {
            this.$router.push({name: 'CheckoutPaymentMethod'})
        }
        else {
            this.coupon_code = this.$store.state.checkout.coupon_code ? this.$store.state.checkout.coupon_code.code : null
            this.created = true
        }
    },
    data() {
        return {
            coupon_code: null,
            coupon_error: false,
            submitting: false,
            acceptPrivPol: false,
            acceptTerms: false,
            created: false
        }
    },
    methods: {
        huFormat(price) {
           return new Intl.NumberFormat('hu-HU', { style: 'currency', currency: 'HUF', minimumFractionDigits: 0}).format(price)
        },
        startPayment() {
            this.submitting = true
            this.axios.post('/payment/start', this.$store.state.checkout)
                .then(resp => {
                    if(resp.data.paymentRequired) {
                        window.open(resp.data.order.checkout_url, '_self');
                        this.loading = true
                    }
                    else {
                        this.$router.push({name: 'AfterPayment'})
                    }
                    this.$store.state.checkout = null
                    this.axios.get('/user')
                        .then(resp => this.$store.state.user = resp.data)
                        .finally(() => this.loading = false)
                })
                .catch(e => console.log(e))
                .finally(() => this.submitting = false)
        },
        setCoupon() {
            this.submitting = true
            this.axios.get('/coupons/check', {params: {coupon: this.coupon_code}})
                .then(resp => {
                    this.$store.state.checkout.coupon_code = resp.data.coupon
                })
                .catch(e => {
                    this.coupon_error = true
                })
                .finally(() => this.submitting = false)
        }
    },
    computed: {
        orderInProgress() {
            return this.$store.state.user.orders.find(o => o.status == 'Prepared' || o.status == 'Started' || o.status == 'InProgress');
        },
        netTotal() {
            if(this.$store.state.user.cart_items.length > 0) {
                return this.$store.state.user.cart_items.reduce((acc, course) => acc + course.net_price, 0)
            }
            return 0
        },
        discount() {
            if(this.$store.state.checkout && this.$store.state.checkout.coupon_code) {
                const discount = Math.round(this.$store.state.checkout.coupon_code.percentage_based ? this.netTotal * (this.$store.state.checkout.coupon_code.discount / 100) : this.$store.state.checkout.coupon_code.discount)
                return discount > this.netTotal ? this.netTotal : discount
            }
            return 0
        },
        vatSum() {
            if(this.$store.state.user.cart_items.length > 0) {
                return this.$store.state.user.cart_items.reduce((acc, course) => acc + (course.gross_price - course.net_price), 0)
            }
            return 0
        },
        grossTotal() {
            return this.netTotal + this.vatSum - this.discount
        },
    },
}
</script>
<style scoped>
hr {
  border: 0;
  clear:both;
  display:block;
  width: 100%;
  margin-left: 15px;
  margin-right: 15px;               
  background-color:#c6c6c6;
  height: 1px;
}
.cp-bg {
    background-color: var(--progressbg);
    margin-left: 0px !important;
    margin-right: 0px !important;
    border-top: 1px solid #c6c6c6;
    border-bottom: 1px solid #c6c6c6;
    padding-top: 15px;
    margin-top: 40px;
    margin-bottom: 30px;
    padding-bottom: 15px;
}

.cp-bg h4 {
    margin-top: 5px;
}
.btn-share {
    font-size: 1rem;
    width: auto;
}

@media (max-width: 991px) {
    .btn-share {
    width: 100% !important;
}
}
</style>