<template>
<div>
    <nav aria-label="breadcrumb"> 
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#" @click.prevent="$router.push({name: 'Cart'})"><span class="first"></span>{{ $t('checkout-payment.cart') }}</a></li>
            <li class="breadcrumb-item active"><a>{{ $t('checkout-payment.billing-data') }}</a></li>
        </ol>
    </nav>
    
    <div class="row mt-4">   
        <div class="col-12">
            <ul class="progressbar">
                <li class="active" @click.prevent="$router.push({name: 'Cart'})"><span class="first"></span>{{ $t('checkout-payment.cart') }}</li>
                <li class="current">{{ $t('checkout-payment.billing-data') }}</li>
                <li>{{ $t('checkout-payment.payment-method') }}</li>
                <li class="right"><span class="first"></span>{{ $t('checkout-payment.sum') }}</li>
            </ul>
        </div>
    </div>

    <div class="row mt-5">
    <div class="col-12">
        <h4><strong>{{ $t('checkout-user.data-title') }}</strong></h4>
        <div class="col-12 col-md-6 mt-4 p-0 d-flex align-items-center">
            <input type="checkbox" style="height: 20px; width: 20px;" v-model="billingData.is_company"> 
            <strong class="ml-2"> {{ $t('checkout-user.company') }} </strong>
        </div>
        <div class="row">
        <div class="col-12 col-md-6 mt-2">
            <label>{{ $t('settings.name') }}</label>
            <div v-if="billingErrors['name']">
                <span v-for="(error, idx) in billingErrors['name']" style="color: red;" :key="idx">{{error}}</span>
            </div> 
            <input :placeholder="$t('settings.bill-address')" type="text" v-model="billingData.name" class="form-control" :style="{border: billingErrors['name'] ? '1px solid red' : '1px solid #ced4da'}" required>
        </div>
        <div class="col-12 col-md-6 mt-2">
            <label>{{ $t('settings.phone') }}</label>
            <div v-if="billingErrors['phone_number']">
                <span v-for="(error, idx) in billingErrors['phone_number']" style="color: red;" :key="idx">{{error}}</span>
            </div> 
            <input :placeholder="$t('settings.phone')" type="phone" v-model="billingData.phone_number" class="form-control" :style="{border: billingErrors['phone_number'] ? '1px solid red' : '1px solid #ced4da'}" required>
        </div>
        <div class="col-12 col-md-6 mt-2">
            <label>{{ $t('settings.country') }}</label>
            <div v-if="billingErrors['country']">
                <span v-for="(error, idx) in billingErrors['country']" style="color: red;" :key="idx">{{error}}</span>
            </div> 
            <select v-model="billingData.country_id" class="form-control">
                <option v-for="country in countries" :value="country.id" :key="country.id" >{{$t('countries.'+country.name)}}</option>
            </select>
        </div>
        <div class="col-12 col-md-6 mt-2">
            <label>{{ $t('settings.zip-code') }}</label>
            <div v-if="billingErrors['zip_code']">
                <span v-for="(error, idx) in billingErrors['zip_code']" style="color: red;" :key="idx">{{error}}</span>
            </div> 
            <input :placeholder="$t('common.zip-code')" type="text" v-model="billingData.zip_code" class="form-control" :style="{border: billingErrors['zip_code'] ? '1px solid red' : '1px solid #ced4da'}" required>
        </div>
                <div class="col-12 col-md-6 mt-2">
            <label>{{ $t('settings.city') }}</label>
            <div v-if="billingErrors['locality']">
                <span v-for="(error, idx) in billingErrors['locality']" style="color: red;" :key="idx">{{error}}</span>
            </div> 
            <input :placeholder="$t('common.city')" type="text" v-model="billingData.locality" class="form-control" :style="{border: billingErrors['locality'] ? '1px solid red' : '1px solid #ced4da'}" required>
        </div>
        <div class="col-12 col-md-6 mt-2">
            <label>{{ $t('settings.street-name') }}</label>
            <div v-if="billingErrors['public_space']">
                <span v-for="(error, idx) in billingErrors['public_space']" style="color: red;" :key="idx">{{error}}</span>
            </div> 
            <input :placeholder="$t('common.street-name')" type="text" v-model="billingData.public_space" class="form-control" :style="{border: billingErrors['public_space'] ? '1px solid red' : '1px solid #ced4da'}" required>
        </div>
        <div class="col-12 col-md-6 mt-2">
            <label>{{ $t('settings.street-type') }}</label>
            <div v-if="billingErrors['public_space_type']">
                <span v-for="(error, idx) in billingErrors['public_space_type']" style="color: red;" :key="idx">{{error}}</span>
            </div> 
            <input :placeholder="$t('settings.street')" type="text" v-model="billingData.public_space_type" class="form-control" :style="{border: billingErrors['public_space_type'] ? '1px solid red' : '1px solid #ced4da'}" required>
        </div>
        <div class="col-12 col-md-6 mt-2">
            <label>{{ $t('settings.other') }}</label>
            <div v-if="billingErrors['other']">
                <span v-for="(error, idx) in billingErrors['other']" style="color: red;" :key="idx">{{error}}</span>
            </div> 
            <input type="text" :placeholder="$t('course-materials.placeholder')" v-model="billingData.other" class="form-control" :style="{border: billingErrors['other'] ? '1px solid red' : '1px solid #ced4da'}">
        </div>
        <div v-if="billingData.is_company" class="col-12 col-md-6 mt-2">
            <label>{{ $t('settings.company-name') }}</label>
            <div v-if="billingErrors['company_name']">
                <span v-for="(error, idx) in billingErrors['company_name']" style="color: red;" :key="idx">{{error}}</span>
            </div>
            <input :placeholder="$t('settings.company-name')" type="text" v-model="billingData.company_name" class="form-control" :style="{border: billingErrors['company_name'] ? '1px solid red' : '1px solid #ced4da'}" required>
        </div>
        <div v-if="billingData.is_company" class="col-12 col-md-6 mt-2">
            <label>{{ $t('settings.company-tax') }}</label>
            <div v-if="billingErrors['company_tax_id']">
                <span v-for="(error, idx) in billingErrors['company_tax_id']" style="color: red;" :key="idx">{{error}}</span>
            </div>
            <input :placeholder="$t('settings.company-tax')" type="text" v-model="billingData.company_tax_id" class="form-control" :style="{border: billingErrors['company_tax_id'] ? '1px solid red' : '1px solid #ced4da'}" required>
        </div>
        <div v-if="billingData.is_company" class="col-12 col-md-6 mt-2">
            <label>{{ $t('settings.company-eu-tax') }}</label>
            <div v-if="billingErrors['company_eu_tax_id']">
                <span v-for="(error, idx) in billingErrors['company_eu_tax_id']" style="color: red;" :key="idx">{{error}}</span>
            </div>
            <input :placeholder="$t('settings.company-eu-tax')" v-model="billingData.company_eu_tax_id" type="text" class="form-control" :style="{border: billingErrors['company_eu_tax_id'] ? '1px solid red' : '1px solid #ced4da'}" required>
        </div>
        <div class="col-12 mt-3">
            <button class="btn btn-primary" :disabled="loading" @click.prevent="setBillingData">{{ $t('checkout-user.next') }}</button>
        </div>
        </div>
    </div>
    </div>
</div>
</template>
<script>
export default {
    name: 'CheckoutUserData',
    created() {
        if(this.$store.state.user.cart_items.length == 0) {
            this.$router.push({name: 'Cart'})
        }
        this.axios.get('/countries')
            .then(resp => this.countries = this.countries.concat(resp.data))
        this.$store.commit('setCheckout')
        this.billingData = this.$store.state.checkout.billingData
    },
    data() {
        return {
            billingData: null,
            billingErrors: Object(),
            countries: [],
            loading: false
        }
    },
    methods: {
        setBillingData() {
            this.loading = true
            if(!this.billingData.is_company) {
                this.billingData.company_name = null
                this.billingData.company_tax_id = null
                this.billingData.company_eu_tax_id = null
            }
            this.axios.post('/billing-information', this.$store.getters.removeEmptyOrNull(this.billingData))
                .then(resp => {
                    this.$store.state.user = resp.data.user
                    this.$router.push({name: 'CheckoutPaymentMethod'})
                })
                .catch(e => this.billingErrors = e.response.data.errors)
                .finally(() => this.loading = false)
        }
    }
}
</script>