<template>
    <div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#" @click.prevent="$router.push({name: 'Home'})">{{ $t('correct-test-attempt.homepage') }}</a></li>
                <li class="breadcrumb-item"><a href="#" @click.prevent="$router.push({name: 'ManageTests'})">{{ $t('manage-tests.managing-tests') }}</a></li>
                <li class="breadcrumb-item"><a href="#" >{{ $t('correct-test-attempt.try-test') }}</a></li>
            </ol>
        </nav>

        <div class="row" v-if="!loading && attempt">
            <div class="col-12 mt-5" v-for="currentQuestion in attempt.questions">
                <div class="col-12 mb-4 p-0">
                    <h3><strong>{{currentQuestion.question}}</strong></h3>
                </div>
                <div class="col-12 mt-2 p-0">
                    <form @submit.prevent="submit">
                        <div v-if="currentQuestion.question_type == 'Single choice'">
                            <div v-for="answer in currentQuestion.answers" :key="answer.id" class="input-group mb-1">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <input disabled type="radio" :checked="currentQuestion.userAnswers.some(ua => ua.answer == answer.answer)" :name="currentQuestion.id" :aria-label="$t('correct-test-attempt.radio')">
                                    </div>
                                </div>
                                <div type="text" class="form-control" style="height: fit-content !important;" :aria-label="$t('correct-test-attempt.text-input')">
                                    <span>{{answer.answer}}</span>
                                    <span v-if="currentQuestion.userAnswers.some(ua => ua.answer == answer.answer) && answer.correct">
                                        <i class="fas fa-check ml-2" style="color: green; font-size: 20px;"></i>
                                    </span>
                                    <span v-else-if="currentQuestion.userAnswers.some(ua => ua.answer == answer.answer) && !answer.correct">
                                        <i class="fas fa-times ml-2" style="color: red; font-size: 20px;"></i>
                                    </span>
                                    <span v-else-if="!currentQuestion.userAnswers.some(ua => ua.answer == answer.answer) && answer.correct">
                                        <i class="fas fa-check ml-2" style="color: green; font-size: 20px;"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div v-else-if="currentQuestion.question_type == 'Multiple choice'">
                            <div v-for="answer in currentQuestion.answers" :key="answer.id" class="input-group mb-1">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <label></label>
                                        <input type="checkbox" class="checkbox" disabled :checked="currentQuestion.userAnswers.some(ua => ua.answer == answer.answer)" :aria-label="$t('correct-test-attempt.radio')">
                                    </div>
                                </div>
                                <div type="text" class="form-control" style="height: fit-content !important;" :aria-label="$t('correct-test-attempt.text-input')">
                                    <span>{{answer.answer}}</span>
                                    <span v-if="currentQuestion.userAnswers.some(ua => ua.answer == answer.answer) && answer.correct">
                                        <i class="fas fa-check ml-2" style="color: green; font-size: 20px;"></i>
                                    </span>
                                    <span v-else-if="currentQuestion.userAnswers.some(ua => ua.answer == answer.answer) && !answer.correct">
                                        <i class="fas fa-times ml-2" style="color: red; font-size: 20px;"></i>
                                    </span>
                                    <span v-else-if="!currentQuestion.userAnswers.some(ua => ua.answer == answer.answer) && answer.correct">
                                        <i class="fas fa-check ml-2" style="color: green; font-size: 20px;"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div v-else-if="currentQuestion.question_type == 'Free text'">
                            <h5 class="mt-4">{{ $t('correct-test-attempt.correct-answ') }}</h5>
                            <textarea disabled class="form-control mb-3" :value="currentQuestion.answers.length > 0 ? currentQuestion.answers[0].answer : $t('correct-test-attempt.no-correct')" :aria-label="$t('correct-test-attempt.txt-area')"></textarea>
                            <h5>{{ $t('correct-test-attempt.given-answ') }}</h5>
                            <textarea disabled class="form-control" :value="currentQuestion.userAnswers.length > 0 ? currentQuestion.userAnswers[0].answer : null" :aria-label="$t('correct-test-attempt.txt-area')"></textarea>
                        </div>
                        <h5 class="mt-3" v-if="currentQuestion.question_type !== 'Free text'">{{ $t('correct-test-attempt.score') }} {{calculatePoints(currentQuestion)}}/{{currentQuestion.max_points}}</h5>
                        <div v-else>
                            <h5 v-if="currentQuestion.userAnswers[0]" class="mt-3">{{ $t('correct-test-attempt.score') }}<input type="number" :style="{width: currentQuestion.max_points.toString().length*25+15+'px'}" v-model="currentQuestion.givenPoints">/{{currentQuestion.max_points}}</h5>
                            <h5 v-else class="mt-3">{{ $t('correct-test-attempt.score') }} 0/{{currentQuestion.max_points}}</h5>
                            <button v-if="currentQuestion.userAnswers[0]" class="btn btn-primary mt-1 mb-4" type="button" :disabled="submitLoading" @click="assignPoints(currentQuestion)">{{ $t('correct-test-attempt.edit-score') }}</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-12 col-md-6 mt-5 mb-5">
                <h4><strong>{{ $t('correct-test-attempt.test-name') }}</strong></h4>
                <span class="ml-2">{{attempt.test.name}}</span>
                <h4 class="mt-3"><strong>{{ $t('correct-test-attempt.user') }}</strong></h4>
                <span class="ml-2">{{attempt.user.name}}</span>
                <h4 class="mt-3"><strong>{{ $t('correct-test-attempt.max-time') }}</strong></h4>
                <span class="ml-2">{{attempt.test.length}} {{ $t('correct-test-attempt.minute') }}</span>
                <h4 class="mt-3"><strong>{{ $t('correct-test-attempt.begin') }}</strong></h4>
                <span class="ml-2">{{$store.getters.parseDateTime(attempt.started_at)}}</span>
                <h4 class="mt-3"><strong>{{ $t('correct-test-attempt.end') }}</strong></h4>
                <span class="ml-2">{{$store.getters.parseDateTime(attempt.finished_at)}}</span>
                <h4 class="mt-3"><strong>{{ $t('correct-test-attempt.score') }}</strong></h4>
                <span class="ml-2">{{calculateAllPoints()}} / {{allPoints}}</span>
                <h4 class="mt-3"><strong>{{ $t('correct-test-attempt.min-percent') }}</strong></h4>
                <span class="ml-2">{{attempt.test.min_pass_percentage}}%</span>
                <h4 class="mt-3"><strong>{{ $t('correct-test-attempt.percent') }}</strong></h4>
                <span class="ml-2" :style="{color: (calculateAllPoints() / allPoints * 100) >= attempt.test.min_pass_percentage ? 'green' : 'red'}">{{(Math.floor(calculateAllPoints() / allPoints * 100))}}%</span>
                <br>
                <button v-if="!attempt.corrected" type="submit" class="btn btn-primary mt-3" :disabled="submitLoading" @click="submit">{{ $t('correct-test-attempt.end-fixing') }}</button>
            </div>
        </div>
    </div>
</template>
<script>
import Loading from '@/components/Loading'
export default {
    name: 'CorrectTestAttempt',
    components: {
        Loading
    },
    mounted() {
        this.loading = true
        this.axios.get('/test-attempts/'+this.$route.params.testAttempt+'/correct')
            .then(resp => {
                this.attempt = resp.data.testAttempt
                this.attempt.questions.forEach(question => {
                    if(question.question_type == 'Free text') {
                        question.givenPoints = question.userAnswers.length > 0 ? (Number(question.userAnswers[0].points) ?? 0) : 0
                    }
                })
            })
            .catch(e => {
                this.$router.push({name: 'Home'})
            })
            .finally(() => this.loading = false)
    },
    data() {
        return {
            attempt: null,
            loading: false,
            submitLoading: false
        }
    },
    computed: {
        allPoints() {
            let sum = 0;
            this.attempt.questions.forEach((q) => {
                sum += q.max_points
            })

            return sum
        }
    },
    methods: {
        calculatePoints(question) {
            if(question.question_type == 'Free text') {
                return question.userAnswers.length > 0 ? (Number(question.userAnswers[0].points) ?? 0) : 0
            }
            return question.userAnswers.length == question.answers.filter(qa => qa.correct != false).length && question.userAnswers.every((ua) => {
                return question.answers.find(a => a.answer == ua.answer).correct
            }) ? Number(question.max_points) : 0
        },
        calculateAllPoints() {
            let sum = 0;
            this.attempt.questions.forEach(q => {
                sum += this.calculatePoints(q)
            })
            return sum;
        },
        assignPoints(currentQuestion) {
            this.submitLoading = true
            this.axios.post('test-attempts/'+this.attempt.id+'/answer/'+currentQuestion.userAnswers[0].id+'/points', {points: currentQuestion.givenPoints})
                .then(resp => currentQuestion.userAnswers[0] = resp.data.answer)
                .finally(() => this.submitLoading = false)
        },
        submit() {
            this.submitLoading = true
            this.axios.post('test-attempts/'+this.attempt.id+'/correct')
                .then(resp => this.$router.push({name: 'AssignmentsToReturn'}))
                .finally(() => this.submitLoading = false)
        }
    }
}
</script>
<style scoped>
</style>