<template>
    <div>  
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#" @click.prevent="$router.push({name: 'Home'})">{{ $t('reporting.homepage') }}</a></li>
                <li class="breadcrumb-item" aria-current="page"> <a href="#" @click.prevent="$router.push({name: 'Reporting'})">{{ $t('reporting.statistic') }}</a></li>
                <li class="breadcrumb-item active" aria-current="page"><a href="#" @click.prevent="$router.push({name: 'CourseFeedbackReports'})">{{ $t('reporting.rates') }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ $t('reporting.rate') }}</li>
            </ol>
        </nav>
        <div v-if="!loading">
            <div v-if="course.course_feedback" class="row">
                <div class="col-12 mb-5 mt-2 text-left" v-if="course">
                    <h3><strong>{{course.title}}</strong></h3>
                </div>
                <div class="col-xl-6 mb-3 col-12">
                    <h3>{{ $t('course-feedback-list.rating1') }}</h3>
                    <course-feedback-chart :filledCount="course.course_feedback.user_course_feedback_count" :notFilledCount="course.users_count - course.course_feedback.user_course_feedback_count"/>
                </div>
                <div class="col-xl-6 mb-3" v-for="question in course.course_feedback.course_feedback_questions.filter(q => q.course_feedback_question_type.type != 'Free text' && q.matrix_group == null)" :key="question.id">
                    <h3>{{question.question}}</h3>
                    <course-feedback-question-chart :id="question.id" :data="question.course_feedback_question_answers.map(a => Object({key: a.answer, value: a.user_course_feedback_question_answers_count}))" />
                </div>
                <div class="col-xl-6 mb-3 col-12" v-if="matrixData.labels.length > 0">
                    <h3>{{ $t('course-feedback-list.matrix') }}</h3>
                    <matrix-chart :labels="matrixData.labels" :datasets="matrixData.data" />
                </div>
                <div class="col-12 mt-4">
                    <h3 class="mb-3 mt-3 course-table-title">{{ $t('course-feedback-list.rating2') }} </h3>
                    <section section id="list-table" class="table-responsive" style="height: 100% !important;">
                        <div class="table-responsive" style="height: 100% !important;">
                            <table class="table table-striped">
                                <tbody>
                                    <tr>
                                        <th>{{ $t('course-feedback-list.user-name') }}</th>
                                        <th>{{ $t('course-feedback-list.user-email') }}</th>
                                        <th>{{ $t('course-feedback-list.date') }}</th>
                                    </tr>
                                    <tr v-for="userFeedback in course.course_feedback.user_course_feedback" 
                                        :key="userFeedback.id" 
                                        @click.prevent="$router.push({name: 'UserCourseFeedback', params: {course: course.id, feedback: userFeedback.id}})"
                                    >
                                        <td>{{userFeedback.user.name}}</td>
                                        <td>{{userFeedback.user.email}} </td>
                                        <td><span class="left">{{$store.getters.parseDateTime(userFeedback.created_at)}}</span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </section>
                </div>
            </div>
            <div v-else class="col-12 mt-2">
                <h3>{{ $t('course-feedback-list.not-exists') }}</h3>
            </div>
        </div>
        <loading v-else />
    </div>
</template>
<script>
import CourseFeedbackChart from '../components/Charts/CourseFeedbackChart.vue'
import CourseFeedbackQuestionChart from '../components/Charts/CourseFeedbackQuestionChart.vue'
import MatrixChart from '../components/Charts/MatrixChart.vue'
import Loading from '../components/Loading.vue'
export default {
    components: { CourseFeedbackChart, Loading, CourseFeedbackQuestionChart, MatrixChart },
    name: 'CourseFeedbackList',
    mounted() {
        this.axios.get('/courses/'+this.$route.params.course+'/feedback/list')
            .then(resp => {
                this.course = resp.data
                this.constructMatrixData()
            })
            .finally(() => this.loading = false)
    },
    data() {
        return {
            loading: true,
            course: null,
            submitting: false,
            matrixData: {
                labels: [],
                data: [
                    [],
                    [],
                    [],
                    [],
                ]
            }
        }
    },
    methods: {
        createFeedback() {
            this.submitting = true
            this.axios.post('/courses/'+this.course.id+'/feedback')
                .then(resp => {
                    this.$router.push({name: 'EditCourseFeedback', params: {course: this.course.id}})
                })
                .finally(() => this.submitting = false)
        },
        constructMatrixData() {
            this.course.course_feedback?.course_feedback_questions.filter(q => q.matrix_group != null).forEach(q => {
                this.matrixData.labels.push(q.question)
                q.course_feedback_question_answers.forEach(a => {
                    this.matrixData.data[Number(a.answer) - 1].push(a.user_course_feedback_question_answers_count)
                })
            })
        }
    }
}
</script>
