<template>
    <div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#" @click.prevent="$router.push({name: 'Home'})">{{ $t('reporting.homepage') }}</a></li>
                <li class="breadcrumb-item" aria-current="page"> <a href="#" @click.prevent="$router.push({name: 'Reporting'})">{{ $t('reporting.statistic') }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ $t('reporting.course-statistics') }}</li>
            </ol>
        </nav>
        <section section id="list-table" class="table-responsive" style="height: 100% !important;">
            <h3 class="mb-3 mt-3 course-table-title">{{ $t('common.courses') }} </h3>
            <div v-if="!loading && courses" class="table-responsive" style="height: 100% !important;">
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <th>{{ $t('manage-courses.cname') }}</th>
                            <th>{{ $t('manage-courses.cbegin') }}</th>
                            <th>{{ $t('manage-courses.cend') }}</th>
                            <th>{{ $t('manage-courses.visibility') }}</th>
                        </tr>
                        <tr v-for="course in courses" :key="course.id" @click.prevent="$router.push({name: 'CourseReport', params: {course: course.id}})">
                            <td>
                                <a href="#">{{course.title}}</a>
                            </td>
                            <td>{{course.start_date ? $store.getters.parseDateTime(course.start_date) : $t('manage-courses.no')}} </td>
                            <td><span class="left">{{course.end_date ? $store.getters.parseDateTime(course.end_date) : $t('manage-courses.no')}}</span></td>
                            <td :style="{color: course.active ? 'green' : 'red'}">{{course.active ? $t('manage-courses.public') : $t('manage-courses.hidden')}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <loading height="40vh" v-else />
        </section>
    </div>
</template>
<script>
import Loading from '../components/Loading.vue'
export default {
    components: { 
        Loading 
    },
    name: 'CourseReports',
    mounted() {
        this.axios.get('courses/admin')
            .then(resp => {
                this.courses = resp.data.courses
            })
            .finally(() => this.loading = false)
    },
    data() {
        return {
            loading: true,
            courses: []
        }
    }

}
</script>