<template>
    <div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#" @click.prevent="$router.push({name: 'Home'})">{{ $t('reporting.homepage') }}</a></li>
                <li class="breadcrumb-item" aria-current="page"> <a href="#" @click.prevent="$router.push({name: 'Reporting'})">{{ $t('reporting.statistic') }}</a></li>
                <li class="breadcrumb-item" aria-current="page"><a href="#" @click.prevent="$router.push({name: 'BarAssociationReports'})"> {{ $t('reporting.report') }}</a></li>
                <li class="breadcrumb-item"><a href="#"> {{course ? course.title : $t('course-bar-association-report.course')}}</a></li>
            </ol>
        </nav>
        <div v-if="!loading">
            <div clas="d-flex flex-wrap">
                <div class="d-flex float-right">
                    <button type="button" :disabled="creditExportLoading" class="btn btn-outline-success" @click.prevent="downloadCreditExport">
                            <i class="fas fa-file-excel mr-1"></i>
                            <span>{{ $t('course-bar-association-report.download-table') }}</span>
                    </button>
                    <div v-if="creditExportLoading" class="spinner-border text-success ml-2 mb-2 mr-4" role="status">
                        <span class="sr-only">{{ $t('activity-history.loading') }}</span>
                    </div>
                    <button style="margin-left: 10px" type="button" :disabled="farExportLoading" class="btn btn-outline-success" @click.prevent="downloadFarExport">
                            <i class="fas fa-file-excel mr-1"></i>
                            <span>{{ $t('course-bar-association-report.far') }}</span>
                    </button>
                    <div v-if="farExportLoading" class="spinner-border text-success ml-2 mb-2 mr-4" role="status">
                        <span class="sr-only">{{ $t('activity-history.loading') }}</span>
                    </div>
                </div>
            </div>
            <section section id="list-table" class="table-responsive" style="height: 100% !important;">
                <h3 class="mb-3 mt-3 course-table-title">{{ $t('course-bar-association-report.credit-report') }}</h3>
                <div class="table-responsive" style="height: 100% !important;">
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <th>{{ $t('course-bar-association-report.kasz') }}</th>
                                <th>{{ $t('course-bar-association-report.name') }}</th>
                                <th>{{ $t('course-bar-association-report.course-id') }}</th>
                                <th>{{ $t('course-bar-association-report.date') }}</th>
                                <th>{{ $t('course-bar-association-report.credit') }}</th>
                                <th>{{ $t('course-bar-association-report.download') }}</th>
                            </tr>
                            <tr v-for="user in creditReports" :key="user.bar_association_number">
                                <td>
                                    {{user.bar_association_number}}
                                </td>
                                <td>{{user.bar_association_name}} </td>
                                <td>{{user.far_type}} </td>
                                <td>{{$store.getters.parseDate(user.finished_at)}} </td>
                                <td>{{user.credit_points}} </td>
                                <td> <course-certificate-download :user="user.id" :course="$route.params.course" :spinner="false" /> </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
            <section section id="list-table" class="table-responsive" style="height: 100% !important;">
                <h3 class="mb-3 mt-3 course-table-title">{{ $t('course-bar-association-report.far-members') }}</h3>
                <div class="table-responsive" style="height: 100% !important;">
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <th>{{ $t('course-bar-association-report.educated') }}</th>
                                <th>{{ $t('course-bar-association-report.current-name') }}</th>
                                <th>{{ $t('course-bar-association-report.birth-name') }}</th>
                                <th>{{ $t('course-bar-association-report.mother-name') }}</th>
                                <th>{{ $t('course-bar-association-report.birth-country') }}</th>
                                <th>{{ $t('course-bar-association-report.birth-place') }}</th>
                                <th>{{ $t('course-bar-association-report.birth-date') }}</th>
                                <th>{{ $t('course-bar-association-report.email') }}</th>
                                <th>{{ $t('course-bar-association-report.foreign') }}</th>
                            </tr>
                            <tr v-for="user in farReports" :key="user.name">
                                <td>
                                    {{user.qualification}}
                                </td>
                                <td>{{user.name}} </td>
                                <td>{{user.birth_name}} </td>
                                <td>{{user.mothers_name}} </td>
                                <td>{{user.country}}</td>
                                <td>{{user.birth_place}} </td>
                                <td>{{user.birth_date}} </td>
                                <td>{{user.email}} </td>
                                <td>{{user.foreigner}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
            <section section id="list-table" class="table-responsive" style="height: 100% !important;">
                <h3 class="mb-3 mt-3 course-table-title">{{ $t('course-bar-association-report.adult') }}</h3>
                <div class="table-responsive" style="height: 100% !important;">
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <th>#</th>
                                <th>{{ $t('course-bar-association-report.user-name') }}</th>
                                <th>{{ $t('course-bar-association-report.user-mail') }}</th>
                                <th>{{ $t('course-bar-association-report.signature-date') }}</th>
                                <th>{{ $t('course-bar-association-report.user-download') }}</th>
                            </tr>
                            <tr v-for="user in contracts" :key="user.id">
                                <td>
                                    {{user.id}}
                                </td>
                                <td>{{user.name}} </td>
                                <td>{{user.email}} </td>
                                <td>{{$store.getters.parseDateTime(user.signed_at)}} </td>
                                <td><far-contract-download :user="user.id" :course="$route.params.course" /></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
        <loading height="70vh" v-else />
    </div>
</template>
<script>
import { Capacitor } from '@capacitor/core';
import FarContractDownload from '../components/FarContractDownload.vue'
import CourseCertificateDownload from '../components/CourseCertificateDownload.vue'
import Loading from '../components/Loading.vue'
export default {
  components: { Loading, FarContractDownload, CourseCertificateDownload },
    name: 'CourseBarAssociationreprt',
    mounted() {
        this.axios.get('/reports/bar-assoc/'+this.$route.params.course)
            .then(resp => {
                this.creditReports = resp.data.credit
                this.farReports = resp.data.far
                this.contracts = resp.data.contracts
            })
            .finally(() => this.loading = false)
    },
    data() {
        return {
            loading: true,
            creditReports: [],
            farReports: [],
            contracts: [],
            creditExportLoading: false,
            farExportLoading: false
        }
    },
    methods: {
        downloadCreditExport() {
            this.creditExportLoading = true;
            this.axios.get('/reports/export/credit/'+this.$route.params.course, {responseType: 'blob'})
                .then(resp => {
                    const name = 'kredit.xlsx'
                    if(Capacitor.isNative) {
                        this.$store.commit('downloadFileMobile', {name, mime: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet', data: resp.data})
                    }
                    else {
                        const url = window.URL.createObjectURL(new Blob([resp.data]));
                        const link = document.createElement('a');
                        link.href = url;
                        link.setAttribute('download', name);
                        document.body.appendChild(link);
                        link.click();
                    }
                })
                .catch(e => console.log(e.response))
                .finally(() => this.creditExportLoading = false)
        },
        downloadFarExport() {
            this.farExportLoading = true;
            this.axios.get('/reports/export/far/'+this.$route.params.course, {responseType: 'blob'})
                .then(resp => {
                    const name = 'far_resztvevok.xlsx'
                    if(Capacitor.isNative) {
                        this.$store.commit('downloadFileMobile', {name, mime: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet', data: resp.data})
                    }
                    else {
                        const url = window.URL.createObjectURL(new Blob([resp.data]));
                        const link = document.createElement('a');
                        link.href = url;
                        link.setAttribute('download', name);
                        document.body.appendChild(link);
                        link.click();
                    }
                })
                .catch(e => console.log(e.response))
                .finally(() => this.farExportLoading = false)
        }
    }
}
</script>
