<template>
    <div>
    <!-- <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a @click.prevent="$router.push({name: 'Home'})" href="#">{{ $t('course-catalog.homepage') }}</a></li>
            <li class="breadcrumb-item active"><a href="#">{{ $t('course-catalog.course-list') }}</a></li>
        </ol>
    </nav> -->

    <section id="content-2">
        <div class="row">
            <div class="col-lg-12">
                <section id="trainings">
                    <div class="row">
                        <div class="col-12">
                            <h1>{{ $t('course-catalog.all-course') }}</h1>
                        </div>
                        <div v-if="!loading && courses.length > 0" v-for="(course,index) in courses" :key="course.id" class="col-lg-3 col-md-4 col-sm-6 col-12" style="cursor: pointer;" @click="$router.push({name: 'Course', params: {id: course.id}})">
                            <div class="card shadow card-img-top img-fluid" style="width: 100%">
                                <div class="train-frame" style="user-select: none;">
                                    <div v-bind:style="{backgroundImage: `url(${course.cover_image ? storageURL+course.cover_image.path+'?token='+token : 'assets/img/template.jpg'})`}"
                                        class="card-img-top img-fluid" alt="...">
                                            <h2 v-if="Math.floor((new Date() - new Date(course.created_at)) / 86400000) < 10" class="top-right new-label">{{ $t('course.new') }}</h2>
                                            <div style="position: absolute; bottom: 0px; left: 0px; width: 100%">
                                                <h2 class="bottom-left e-learning-label" style="border-bottom: 1px solid #06223e; left: 0; margin: 0px !important; width: fit-content;">{{$t(`course-types.${course.course_type.name}`)}}</h2>
                                                <h2 class="bottom-left dark-bg-line text-center" style="bottom: -1px !important; left: 0; margin: 0px !important;width: 100%;border-bottom-right-radius: 3.7px;border-bottom-left-radius: 3.7px;padding-top: 10px;padding-bottom: 13px;">{{course.title}}</h2>
                                            </div>
                                            <h2 @click.stop="setFav(index)" v-if="!isFav(course.id)" class="top-left">
                                                <i class="far fa-heart" style="font-size 18px"></i>
                                            </h2>
                                            <h2 @click.stop="setFav(index)" v-if="isFav(course.id)" class="top-left">
                                                <i class="fas fa-heart" style="font-size 18px"></i>
                                            </h2>

                                    </div>
                                </div>
                                <!-- <div class="card-body" style="cursor: pointer">
                                    <h5 class="card-title">{{course.title}}</h5>
                                    <h4 class="card-text" >{{ $t('course-catalog.begin') }} {{course.start_date ? $store.getters.parseDateTime(course.start_date) : 'Nincs'}}</h4>
                                    <h4 class="card-text" >{{ $t('course-catalog.end') }} {{course.end_date ? $store.getters.parseDateTime(course.end_date) : 'Nincs'}}</h4>
                                </div> -->
                            </div>
                        </div>
                        <div v-else-if="loading" class="col-12">
                            <Loading  height="70vh" />
                        </div>
                        <div v-else class="col-12 mt-2 text-left">
                            <h3> {{ $t('course-catalog.empty-course') }} </h3>
                        </div>

                    </div>
                </section>
            </div>
        </div>
    </section>
    </div>
</template>

<script>
import Loading from '@/components/Loading'
export default {
  name: 'CourseCatalog',
  components: {
      Loading
  },
  mounted() {
      this.axios.get('/courses').then(resp => {this.courses = resp.data.courses}).finally(() => this.loading = false)
  },
  data() {
      return {
            loading: true,
            courses: Array(),
            token: this.axios.defaults.headers.common.Authorization.split(' ')[1],
            storageURL: process.env.VUE_APP_STORAGE_URL,
      }
  },
  methods: {
      setFav(index) {
          this.axios.post(`/courses/${this.courses[index].id}/toggle-favorite`)
          if(this.isFav(this.courses[index].id)) {
            const idx = this.$store.state.user.favorite_courses.indexOf(course => course.id === id);
            this.$store.state.user.favorite_courses.splice(idx, 1)
          }
          else
            this.$store.state.user.favorite_courses.push(this.courses[index])
      },
      isFav(id) {
          return this.$store.state.user.favorite_courses.find(course => course.id === id)
      }
  }
}
</script>
<style scoped>
    .card-title {
        margin-bottom: 0px !important;
        padding-top: 20px !important;
        text-align: center !important;
    }
    .card-body {
        background: none !important;
    }
    .dark-bg-line {
        background-color: var(--o-dark);
    }
</style>
