<template>
    <div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#" @click.prevent="$router.push({name: 'CourseCatalog'})">{{ $t('course.courses') }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{loading || !course ? 'Képzés' : course.title}}</li>
            </ol>
        </nav>
        <div v-if="!loading">
            <section id="home-header">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-12">
                            <div class="box" style="display: flex; flex-direction: column; padding-right: 0px; padding-bottom: 0px;background-color: transparent !important;min-height: 0px !important;">
                                <h3 class="mb-5" style="font-weight: 600;"> {{course.title}} </h3>
                                <h4 class="font-18" style="color: var(--blue);font-weight: 800;font-size: 18px;">{{ $t('course.course-data') }}</h4>
                                <h6 class="mb-1" style="font-family: 'Rubik-Regular' !important;"><strong>{{ $t('course.name') }}</strong> {{course.title}}</h6>
                                <h6 class="mb-1" style="font-family: 'Rubik-Regular' !important;"><strong>{{ $t('course.type') }}</strong> {{$t(`course-types.${course.course_type.name}`)}}</h6>
                                <h6 class="mb-1" style="font-family: 'Rubik-Regular' !important;"><strong>{{ $t('course.begin') }}</strong> {{course.start_date ? $store.getters.parseDateTime(course.start_date) : $t('course.no')}}</h6>
                                <h6 class="mb-1" style="font-family: 'Rubik-Regular' !important;"><strong>{{ $t('course.end') }}</strong> {{course.end_date ? $store.getters.parseDateTime(course.end_date) : $t('course.no')}}</h6>
                                <h6 class="mb-1"><strong>{{ $t('course.duration') }}</strong> {{courseDuration}}</h6>
                                <h6 class="mb-1" v-if="course.course_materials.filter(cm => cm.course_event != null).length > 0" style="font-family: 'Rubik-Regular' !important;" ><strong>{{$t('course.events')}}</strong></h6>
                                <h6 style="flex-direction: column; font-family: 'Rubik-Regular' !important;" class="d-flex mb-2" v-for="cm in course.course_materials.filter(cm => cm.course_event != null)">
                                    <div class="mb-1">{{cm.course_event.name}}</div>
                                    <div class="mb-1">{{$t('common.location')}}: {{cm.course_event.location ? getLocation(cm.course_event.location) : 'Zoom'}}</div>
                                    <div style="font-weight: bold">{{$store.getters.parseDateTime(cm.course_event.start_date)}} - {{$store.getters.parseDateTime(DateTime.fromISO(cm.course_event.start_date).plus({minutes: cm.course_event.length}))}}</div>
                                </h6>
                                <div class="mt-3 d-flex align-items-center" v-if="course.certificate && course.certificate.path != null">
                                    <button type="button" :disabled="certificateLoading" class="btn btn-outline-primary mb-2" @click.prevent="downloadCertificate">
                                        <div class="d-flex align-items-center">
                                            <i class="fas fa-award mr-1"></i>
                                            <span>{{ $t('course.download') }}</span>
                                        </div>
                                    </button>
                                    <div v-if="certificateLoading" class="spinner-border text-primary ml-2 mb-2" role="status">
                                        <span class="sr-only">{{ $t('course.loading') }}.</span>
                                    </div>
                                </div>
                                <div v-else-if="course.certificate" class="mt-3">
                                    {{ $t('course.credit-progress') }}
                                </div>
                                <far-contract-download v-if="course.user_contract" :course="course.id" class="mt-3"/>
                             
                                <div style="margin-top: 5px">
                                    <div v-if="getPrice(course) > 0" style="background-color:var(--dblue); color: white; width: 100%; display:flex; padding: 0.6rem;">
                                        <div>
                                            <h6 style="margin-top: 5px;">{{ $t('course.price') }}</h6>
                                        </div>
                                        <div style="margin-left: auto;">
                                            <h6 style="margin-top: 5px;">{{new Intl.NumberFormat('hu-HU', { style: 'currency', currency: 'HUF', minimumFractionDigits: 0}).format(getPrice(course))}}</h6>
                                        </div>
                                    </div>
                                    <div style="background-color: var(--blue); color: white; width: 100%; display:flex; padding: 0.6rem;border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;">
                                        <div>
                                            <h6 style="margin-top: 5px;">{{ $t('course.max-credit') }}</h6>
                                        </div>
                                        <div style="margin-left: auto;">
                                            <h6 style="margin-top: 5px;">{{course.credit_points}}</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-12 home-frame" >
                            <div 
                                :style="{background: `linear-gradient(0deg, var(--oblue-30), var(--oblue-30)), url('${course.cover_image ? storageURL+course.cover_image.path+'?token='+token : 'assets/img/template.jpg'}')`}" class="circle-start img-fluid"
                                style="cursor: pointer;"
                                v-if="$store.state.user.courses.find(c => c.id === course.id) && !course.is_inactive"
                                @click.prevent="$router.push({name: 'ViewCourse', params: {id: course.id}})"
                            >
                                <div class="ctr-button">
                                    <a class="def">{{ $t('course.start') }}</a>
                                </div>
                            </div>
                            <div 
                                :style="{background: `linear-gradient(0deg, var(--oblue-30), var(--oblue-30)), url('${course.cover_image ? storageURL+course.cover_image.path+'?token='+token : 'assets/img/template.jpg'}')`}" class="circle-start img-fluid"
                                style="cursor: pointer;"
                                v-else-if="!$store.state.user.courses.find(c => c.id === course.id) && getPrice(course) > 0 && !$store.state.user.cart_items.find(c => c.id === course.id) && !course.is_inactive" 
                                @click.prevent="addToCart"
                            >
                                <div class="ctr-button">
                                    <a class="def">{{ $t('course.cart') }}</a>
                                </div>
                            </div>
                            <div 
                                :style="{background: `linear-gradient(0deg, var(--oblue-30), var(--oblue-30)), url('${course.cover_image ? storageURL+course.cover_image.path+'?token='+token : 'assets/img/template.jpg'}')`}" class="circle-start img-fluid"
                                v-else-if="$store.state.user.cart_items.find(c => c.id === course.id) && !course.is_inactive"
                            >
                                <div class="ctr-button">
                                    <a class="def">{{ $t('course.in-cart') }}</a>
                                </div>
                            </div>
                            <div 
                                :style="{background: `linear-gradient(0deg, var(--oblue-30), var(--oblue-30)), url('${course.cover_image ? storageURL+course.cover_image.path+'?token='+token : 'assets/img/template.jpg'}')`}" class="circle-start img-fluid"
                                style="cursor: pointer;"
                                v-else-if="getPrice(course) == 0 && !course.is_inactive" 
                                @click.prevent="buyCourse"
                            >
                                <div class="ctr-button">
                                    <a class="def">{{ $t('course.start') }}</a>
                                </div>
                            </div>
                            <div 
                                :style="{background: `linear-gradient(0deg, var(--oblue-30), var(--oblue-30)), url('${course.cover_image ? storageURL+course.cover_image.path+'?token='+token : 'assets/img/template.jpg'}')`}" class="circle-start img-fluid"
                                v-else
                            >
                                <div class="ctr-button">
                                    <a class="def">{{$t('course.inactive')}}</a>
                                </div>
                            </div>         
                        </div>
                    </div>
                </section>

                <section id="content-3">
                    <div class="row">
                        <div class="col-lg-6 col-12">
                            <section id="left">
                                <div class="row">
                                    <div class="col-12">
                                        <h4 class="font-18" style="color: var(--blue);font-weight: 800;font-size: 18px;">{{ $t('course.description') }}</h4>
                                        <h6 class="mb-1" style="word-break: break-word !important;font-family: 'Rubik-Regular' !important;" v-html="$store.getters.getHTMLSafeText(course.description)"></h6>
                                    </div>
                                    <section v-if="$store.state.user.courses.find(c => c.id === course.id) && $store.state.user.role !== 'User'" class="col-lg-12 col-12 mt-1 mb-4" id="timeline">
                                        <CourseFeed :course="course"/>
                                    </section>
                                </div>
                            </section>
                        </div>
                        <div class="col-lg-6 col-12">
                            <section id="right">
                                <div class="row">
                                <div class="col-12">
                                    <h4 class="font-18" style="color: var(--blue);font-weight: 800;font-size: 18px;">{{ $t('course.content') }}</h4>
                                    <h6 class="mb-1" style="word-break: break-word !important;font-family: 'Rubik-Regular' !important;" v-html="$store.getters.getHTMLSafeText(course.contents)"></h6>
                                </div>
                                <section v-if="$store.state.user.role !== 'User' && $store.state.user.courses.find(c => c.id === course.id)" id="trainings" class="col-12 pr-0 row">
                                    <div class="col-12 mt-2">
                                        <h3 class="mb-3 font-18" style="color: var(--blue);font-weight: 800;font-size: 18px;"> {{ $t('course.suggested-courses') }} </h3>
                                    </div>
                                    <div v-for="course in recommendedCourses" :key="course.id"
                                        class="col-md-6 mb-4 col-12"
                                        style="cursor: pointer;" 
                                        @click="$router.push({name: 'Course', params: {id: course.id}})"
                                    >
                                        <div class="card shadow card-img-top img-fluid" :style="{backgroundImage: `url(${course.cover_image ? $store.state.storageURL+course.cover_image.path+'?token='+$store.state.token : 'assets/img/template.jpg'})`}" style="width: 100%; border-radius: 7px;border-top-right-radius: 5px; border-top-left-radius: 5px; position:relative;">
                                                    <h2 v-if="Math.floor((new Date() - new Date(course.created_at)) / 86400000) < 10" class="top-right new-label" style="border-top-right-radius: 3.7px;top: -2px !important;">{{ $t('course.new') }}</h2>
                                                    <div style="position: absolute; bottom: 0px; left: 0px; width: 100%">
                                                        <h2 class="bottom-left e-learning-label" style="border-bottom: 1px solid #06223e; left: 0; margin: 0px !important; width: fit-content;">{{$t(`course-types.${course.course_type.name}`)}}</h2>
                                                        <h2 class="bottom-left dark-bg-line text-center" style="bottom: -1px !important; left: 0; margin: 0px !important;width: 100%;border-bottom-right-radius: 3.7px;border-bottom-left-radius: 3.7px;padding-top: 10px;padding-bottom: 13px;">{{course.title}}</h2>
                                                    </div>
                                            <!-- <div class="card-body" style="border-bottom-right-radius: 5px; border-bottom-left-radius: 5px;">
                                                <h5 class="card-title">{{course.title}}</h5>
                                                <h4 class="card-text" >{{ $t('admin-home.begin') }} {{course.start_date ? $store.getters.parseDateTime(course.start_date) : 'Nincs'}}</h4>
                                                <h4 class="card-text" >{{ $t('admin-home.end') }} {{course.end_date ? $store.getters.parseDateTime(course.end_date) : 'Nincs'}}</h4>
                                            </div> -->
                                        </div>
                                    </div>
                                    
                                    <div v-if="recommendedCourses.length == 0" class="col-md-6 mb-4 col-12">
                                        <h6 class="mb-1" style="word-break: break-word !important;font-family: 'Rubik-Regular' !important;">
                                            {{ $t('course.no-suggested') }}
                                        </h6>
                                    </div>
                                </section>
                                </div>
                            </section>
                        </div>
                    </div>
                </section>


            <section id="trainings" v-if="$store.state.user.role === 'User' || !$store.state.user.courses.find(c => c.id === course.id)">
                <div class="row">
                    <div class="col-12">
                        <h3 class="mb-3 font-18" style="color: var(--blue);font-weight: 800;font-size: 18px;"> {{ $t('course.suggested-courses') }} </h3>
                    </div>

                    <div v-for="course in recommendedCourses" :key="course.id"
                        class="col-md-6 mb-4 col-12"
                        style="cursor: pointer;" 
                        @click="$router.push({name: 'Course', params: {id: course.id}})"
                    >
                        <div class="card shadow card-img-top img-fluid" :style="{backgroundImage: `url(${course.cover_image ? $store.state.storageURL+course.cover_image.path+'?token='+$store.state.token : 'assets/img/template.jpg'})`}" style="width: 100%; border-radius: 7px;border-top-right-radius: 5px; border-top-left-radius: 5px; position:relative;">
                                    <h2 v-if="Math.floor((new Date() - new Date(course.created_at)) / 86400000) < 10" class="top-right new-label" style="border-top-right-radius: 3.7px;top: -2px !important;">{{ $t('course.new') }}</h2>
                                    <div style="position: absolute; bottom: 0px; left: 0px; width: 100%">
                                        <h2 class="bottom-left e-learning-label" style="border-bottom: 1px solid #06223e; left: 0; margin: 0px !important; width: fit-content;">{{$t(`course-types.${course.course_type.name}`)}}</h2>
                                        <h2 class="bottom-left dark-bg-line text-center" style="bottom: -1px !important; left: 0; margin: 0px !important;width: 100%;border-bottom-right-radius: 3.7px;border-bottom-left-radius: 3.7px;padding-top: 10px;padding-bottom: 13px;">{{course.title}}</h2>
                                    </div>
                            <!-- <div class="card-body" style="border-bottom-right-radius: 5px; border-bottom-left-radius: 5px;">
                                <h5 class="card-title">{{course.title}}</h5>
                                <h4 class="card-text" >{{ $t('admin-home.begin') }} {{course.start_date ? $store.getters.parseDateTime(course.start_date) : 'Nincs'}}</h4>
                                <h4 class="card-text" >{{ $t('admin-home.end') }} {{course.end_date ? $store.getters.parseDateTime(course.end_date) : 'Nincs'}}</h4>
                            </div> -->
                        </div>
                    </div>
                    
                    <div v-if="recommendedCourses.length == 0" class="col-md-6 mb-4 col-12">
                        <h6 class="mb-1" style="word-break: break-word !important;font-family: 'Rubik-Regular' !important;">
                            {{ $t('course.no-suggested') }}
                        </h6>
                    </div>
                </div>
            </section>
        </div>
        <div v-else class="col-12">
            <Loading height="80vh" />
        </div>
  </div>
</template>

<script>
import { Capacitor } from '@capacitor/core';
import Loading from '@/components/Loading.vue'
import CourseFeed from '@/components/CourseFeed.vue'
import { DateTime } from 'luxon';
import FarContractDownload from '../components/FarContractDownload.vue';
export default {
    name: 'Course',
    components: {
        Loading,
        CourseFeed,
        FarContractDownload
    },
    mounted() {
        this.axios.get('/courses/'+this.$route.params.id).then(resp => {
            this.course = resp.data.course
            this.axios.get('/courses/recommended/'+this.course.id)
                .then(resp => this.recommendedCourses = resp.data.courses)
            if(this.course.course_events)
                this.course.course_events.forEach((event, index) => {
                    event.loading = true
                    this.axios.get(`/courses/${this.course.id}/events/${event.id}`)
                        .then(res => this.course.course_events[index] = res.data.courseEvent)
                        .catch(e => console.log(e.response))
                        .finally(() => event.loading = false)
                })
        }).finally(() => {
            this.loading = false
        })
    },
    data() {
        return {
            course: null,
            loading: true,
            isTimeout: false,
            DateTime: DateTime,
            token: this.axios.defaults.headers.common.Authorization.split(' ')[1],
            storageURL: process.env.VUE_APP_STORAGE_URL,
            frontendURL: process.env.VUE_APP_FRONTEND_URL,
            certificateLoading: false,
            recommendedCourses: [],
            submitting: false
        }
    },
    computed: {
        overallProgress() {
                let completed = 0
                let all = this.course.duration
                this.course.course_multimedia_progress.forEach((el) => {
                    completed += el.progress
                })
                this.course.course_event_progress.forEach((el) => {
                    completed += el.progress
                })
                return all !== 0 ? (completed / (all / 100)).toFixed(2) : 0
        },
        courseDuration() {
            let all = this.course.duration
            const hours = Math.floor(all / 3600)
            const minutes = Math.floor((all % 3600) / 60)
            return `${hours !== 0 ?  hours+' óra ' : ''}${minutes !== 0 ?  minutes+' perc' : ''}`
        }
    },
    methods: {
        getLocation(location) {
            return `${location.zip_code}, ${location.locality}, ${location.public_space} ${location.public_space_type}, ${location.other}`
        },
        addToCart() {
            if(this.submitting) return;
            this.submitting = true
            this.axios.post('/courses/'+this.$route.params.id+'/cart')
                .then((resp) => this.$store.state.user.cart_items = resp.data.cartItems)
                .finally(() => this.submitting = false)
        },
        buyCourse() {
            if(this.submitting) return;
            this.submitting = true
            this.axios.post('/courses/'+this.$route.params.id+'/buy').then(resp => {
                this.loading = true
                this.axios.get('/courses/'+this.$route.params.id).then(resp => {
                    this.course = resp.data.course
                    this.$store.state.user.courses.push(resp.data.course)
                    this.$router.push({name: 'ViewCourse', params: {id: this.course.id}})
                })
                .finally(() => {
                    this.loading = false
                    this.submitting = false
                })
            })
        },
        setupRefs(cm) {
            //console.log('setupRefs')
            if(cm.multimedia.type == 'image' || cm.multimedia.type == 'document') {
                this.makeProgress(cm.id)
            }
            this.course.course_multimedia.forEach(cm => {
                let userProgress = this.course.course_multimedia_progress.filter(el => el.course_multimedia_id == cm.id)[0];
                if(!cm.timeTracking && !(cm.multimedia.type == 'image' || cm.multimedia.type == 'document')) {
                    cm.timeTracking =  {
                        watchedTime: userProgress ? userProgress.progress : 0,
                        prevTime: (userProgress && userProgress.progress < cm.length) ? userProgress.progress : 0,
                        currentTime: (userProgress && userProgress.progress < cm.length) ? userProgress.progress : 0,
                        progressMade: 0
                    };
                    var lastUpdated = 'currentTime'
                    this.$refs['cm'+cm.id].currentTime = cm.timeTracking.currentTime
                    
                    this.$refs['cm'+cm.id].addEventListener('timeupdate',  () => {
                        //console.log(this.$refs['cm'+cm.id].currentTime)
                        if (!this.$refs['cm'+cm.id].seeking) {
                            if (this.$refs['cm'+cm.id].currentTime > cm.timeTracking.watchedTime) {
                                cm.timeTracking.progressMade += this.$refs['cm'+cm.id].currentTime - cm.timeTracking.prevTime
                                cm.timeTracking.prevTime = this.$refs['cm'+cm.id].currentTime;
                               // console.log(cm.timeTracking.progressMade)
                                if(Math.round(cm.timeTracking.progressMade >= 10)) {
                                    cm.timeTracking.progressMade = 0;
                                    this.makeProgress(cm.id)
                                    console.log('10 second progress made!')
                                }
                                cm.timeTracking.watchedTime = this.$refs['cm'+cm.id].currentTime;
                                lastUpdated = 'watchedTime';
                            }
                            //tracking time updated  after user rewinds
                            else {
                                cm.timeTracking.currentTime = this.$refs['cm'+cm.id].currentTime;
                                lastUpdated = 'currentTime';
                            }
                        }


                    });
                    // prevent user from seeking
                    this.$refs['cm'+cm.id].addEventListener('seeking', (e) => {
                        // guard against infinite recursion:
                        //this.$refs['cm'+cm.id].pause()
                        // user seeks, seeking is fired, currentTime is modified, seeking is fired, current time is modified, ....
                        var delta = this.$refs['cm'+cm.id].currentTime - cm.timeTracking.watchedTime;
                        if (delta > 0) {
                            if(!this.isTimeout) {
                                this.isTimeout = true;
                                this.$store.state.toastNotifications.push({status: 'Error', message: 'A videó még meg nem nézett részéhez tekerés nem engedélyezett'})
                                setTimeout(() => {this.isTimeout = false}, 1000)
                            }
                            //this.$refs['cm'+cm.id].pause()
                            //play back from where the user started seeking after rewind or without rewind
                            this.$refs['cm'+cm.id].currentTime = cm.timeTracking[lastUpdated];
                        }
                    });
                }
            })
            
        },
        makeProgress(cmId) {
            this.axios.post(`/courses/${this.course.id}/course-multimedia/${cmId}/make-progress`).then(resp => {
                let idx = this.course.course_multimedia_progress.findIndex(el => el.course_multimedia_id == cmId);
                if(idx > -1) {
                    this.course.course_multimedia_progress[idx] = resp.data.courseMultimediaProgress
                }
                else {
                    this.course.course_multimedia_progress.push(resp.data.courseMultimediaProgress)
                }
            })
        },
        parseDate(date) {
            return DateTime.fromISO(date).toLocaleString(DateTime.DATETIME_MED)
        },
        getPrice(course) {
            return course.gross_price;
        },
        downloadCertificate() {
            this.certificateLoading = true;
            this.axios.get('/courses/'+this.course.id+'/certificate', {responseType: 'blob'})
                .then(resp => {
                    const name = new Date().getFullYear()+'/KR/'+this.course.certificate.id+'.pdf'
                    if(Capacitor.isNative) {
                        this.$store.commit('downloadFileMobile', {name, mime: 'application/pdf', data: resp.data})
                    }
                    else {
                        const url = window.URL.createObjectURL(new Blob([resp.data]));
                        const link = document.createElement('a');
                        link.href = url;
                        link.setAttribute('download', name);
                        document.body.appendChild(link);
                        link.click();
                    }
                })
                .catch(e => console.log(e.response))
                .finally(() => this.certificateLoading = false)
        },
        start() {

        }
    },
    watch: {
        $route(to, from) {
            if(to.name == 'Course' && from.name == 'Course') {
                this.loading = true
                this.axios.get('/courses/'+this.$route.params.id).then(resp => {
                    this.course = resp.data.course
                    this.recommendedCourses = []
                    this.axios.get('/courses/recommended/'+this.course.id)
                        .then(resp => this.recommendedCourses = resp.data.courses)
                    if(this.course.course_events)
                        this.course.course_events.forEach((event, index) => {
                            event.loading = true
                            this.axios.get(`/courses/${this.course.id}/events/${event.id}`)
                                .then(res => this.course.course_events[index] = res.data.courseEvent)
                                .catch(e => console.log(e.response))
                                .finally(() => event.loading = false)
                        })
                }).finally(() => {
                    this.loading = false
                })
            }
        }
    }
}
</script>
<style scoped>
.def {
    position: relative;
  z-index: 1;
}
.circle {
	background-color: rgba(255, 82, 82, 1);
	border-radius: 50%;
    flex-shrink: 0;
    animation: pulse-red 2s infinite;
	height: 20px;
	width: 20px;
}
h2::v-deep(a[href]) {
    color: var(--lblue) !important;
    text-decoration: underline;
}

.ctr-button {
    color: white !important;
    font-size: 2.5em;
}

.ctr-button a {
  line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
}

.ctr-button a:hover {
    color: var(--white) !important;
}

.circle-start {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px !important;
    height: 300px !important;
    position: relative;
    overflow: hidden;
    transition: all 0.2s;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center center !important;
}

.circle-start::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
  background-size: cover;
  transform-origin: center;
  transition: transform 0.2s ease-in-out;
}

.circle-start:hover::after {
  transform: scale(1.2);
}


@media (max-width: 400px) {
    .ctr-button {
        font-size: 2.1em;
    }

    .ctr-button .def {
        font-size: 1.4em;
    }
}

@media (max-width: 425px) {
    h6 {
        font-size: 0.7rem !important;
    }
}

.card-title {
    margin-bottom: 0px !important;
    padding-top: 20px !important;
    text-align: center !important;
}
.card-body {
    background: none !important;
}
.dark-bg-line {
    background-color: var(--o-dark);
}

@keyframes pulse-red {
	0% {
		transform: scale(0.9);
		box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7);
	}
	
	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
	}
	
	100% {
		transform: scale(0.9);
		box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
	}
}
</style>