<template>
    <div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#" @click.prevent="$router.push({name: 'Home'})">{{ $t('reporting.homepage') }}</a></li>
                <li class="breadcrumb-item" aria-current="page"> <a href="#" @click.prevent="$router.push({name: 'Reporting'})">{{ $t('reporting.statistic') }}</a></li>
                <li class="breadcrumb-item" aria-current="page"><a href="#" @click.prevent="$router.push({name: 'CourseQuizReports', params: {course: $route.params.course}})"> {{ $t('reporting.quiz') }}</a></li>
                <li class="breadcrumb-item active">{{course ? course.title : $t('common.course')}}</li>
            </ol>
        </nav>
        <section v-if="!loading && tests && course" section id="list-table" class="table-responsive" style="height: 100% !important;">
            <h3 class="mb-3 text-left">{{course.title}}</h3>  
            <h3 class="mb-3 mt-3 test-table-title">{{ $t('manage-tests.tests') }} </h3>
            <div class="table-responsive" style="height: 100% !important;">
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <th>{{ $t('manage-tests.tname') }}</th>
                            <th>{{ $t('manage-tests.tbegin') }}</th>
                            <th>{{ $t('manage-tests.tend') }}</th>
                            <th>{{ $t('manage-tests.type') }}</th>
                            <th>{{ $t('manage-tests.visibility') }}</th>
                        </tr>
                        <tr v-for="test in tests" 
                            :key="test.id" 
                            @click.prevent="$router.push({name: 'QuizReport', params: {course: course.id, test: test.id}})"
                            style="cursor: pointer;"
                        > 
                            <td>
                                <a href="#">{{test.name}}</a>
                            </td>
                            <td>{{ test.start_date ? $store.getters.parseDateTime(test.start_date) :'-'}} </td>
                            <td><span class="left">{{test.end_date ? $store.getters.parseDateTime(test.end_date) :'-'}}</span></td>
                            <td :style="{color: test.exam ? 'var(--red)' : ''}">{{test.exam ? $t('manage-tests.exam') : $t('manage-tests.regular')}}</td>
                            <td :style="{color: test.hidden ? 'red' : 'green'}">{{test.hidden ? $t('manage-tests.hidden') : $t('manage-tests.public')}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
        <loading v-else />
    </div>
</template>
<script>
import Loading from '../components/Loading.vue'
export default {
  components: { Loading },
    name: 'CourseQuizReport',
    mounted() {
        this.axios.get('courses/'+this.$route.params.course+'/tests')
            .then(resp => {
                this.course = resp.data.course
                this.tests = resp.data.tests
            })
            .finally(() => this.loading = false)
    },
    data() {
        return {
            loading: true,
            courses: null,
            tests: []
        }
    }

}
</script>