<template>
<div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#" @click.prevent="$router.push({name: 'Home'})">{{ $t('manage-news.homepage') }}</a></li>
            <li class="breadcrumb-item"><a href="#" @click.prevent="$router.push({name: 'ManageNews'})">{{ $t('manage-news.manage-news') }}</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a>{{ $t('manage-news.new') }}</a></li>
        </ol>
    </nav>
    <div class="row">
        <div class="col-12 mt-2">
            <p>{{ $t('create-course.cover-img') }} </p>
            <div v-if="!multimedia && !multimediaUploading" @click="$refs.multimediaUpload.click()" class="col-12 d-flex justify-content-center align-items-center" style="border: 2px solid #e0e0e0; height: 300px; flex-direction: column; border-radius: 5px; cursor: pointer;">
                <i class="far fa-image" style="font-size: 100px; color: #e0e0e0"></i>
                <span style="color: grey">{{ $t('manage-news.add-picture') }}</span>
            </div>
            <div v-else-if="multimedia && !multimediaUploading" @click="$refs.multimediaUpload.click()" 
                class="col-12 d-flex justify-content-center align-items-center" 
                style="border: 2px solid #e0e0e0; height: 300px; flex-direction: column; border-radius: 5px; cursor: pointer; background-position: center; background-repeat: no-repeat; background-size: cover;"
                :style="{backgroundImage: `url(${$store.state.storageURL+multimedia.path}?token=${$store.state.token})`}"
            >
            </div>
            <div v-else class="col-12 d-flex justify-content-center align-items-center" style="border: 2px solid #e0e0e0; height: 300px;">
                <Loading height="100%" />
            </div>
            <ImageCropper v-if="uploadedAvatarURL" @urlChanged="createUpload" :src="uploadedAvatarURL" :type="uploadedType" :aspectRatio="null" />
            <input ref="multimediaUpload" type="file" accept="image/jpeg, image/jpg, image/png" @change="readURL" style="display: none;">
            <button v-if="multimedia" class="btn btn-outline-danger mt-2" style="width: 128px" @click.stop="removemultimedia" :disabled="multimediaUploading">{{ $t('create-course.delete') }}</button>
        </div>
        <div class="col-12 mt-3">
            <label>{{ $t('manage-news.add-text') }}</label>
            <input type="text" class="form-control" v-model="news.content">
        </div>
        <div class="col-12 mt-3">
            <label>{{ $t('manage-news.add-url') }}</label>
            <p v-if="httpError" style="color: red">{{ $t('manage-news.url-lore') }}</p>
            <input :style="httpError ? 'border: 1px solid red;' : ''" type="text" v-debounce:400ms="validLink" class="form-control" v-model="news.link" :placeholder="$t('manage-news.url-lore-2')">
        </div>
        <div class="col-12 mt-4">
            <button class="btn btn-success" @click.prevent="submit" :disabled="submitting || !multimedia || !String(news.content).trim()" >{{ $t('manage-news.save') }}</button>
        </div>
    </div>
</div>
</template>
<script>
import ImageCropper from '@/components/ImageCropper'
import Loading from '@/components/Loading'

export default {
    name: 'CreateNewsModal',
    components: {
        Loading,
        ImageCropper
    },
    data() {
        return {
            news: {
                contents: null,
                link: null,
                multimedia_id: null
            },
            httpError: false,
            multimediaUploading: false,
            multimedia: null,
            uploadedAvatarURL: null,
            submitting: false
        }
    },
    methods: {
        validLink() {
            if(this.news.link == '' || this.news.link.match(/^http(s?):\/\//)) {
                this.httpError = false
            }
            else {
                this.httpError = true
            }
        },
        createUpload(url) {
            if(url) {
                let file = this.dataURLtoFile(url)
                let formData = new FormData;
                formData.set('image', file, file.name);
                this.multimediaUploading = true
                console.log(formData)
                let config = {
                    method: 'POST',
                    data: formData,
                    url: `/upload/image`,
                    baseURL: process.env.VUE_APP_STORAGE_URL,
                    headers: {
                        'Content-Type': 'application/octet-stream'
                    },
                };
                this.axios(config)
                    .then(resp => {  
                        config.url += '/' + resp.data.name
                        config.url += '/finish';
                        config.data = null;
                        this.axios(config)
                        .then(resp => {
                            this.multimedia = resp.data.multimedia;
                        })
                        .finally(() => this.multimediaUploading = false)
                    })
                    .catch((e) => this.multimediaUploading = false)
            }

        },
        readURL(input) {
            input = input.target
            console.log(input.files[0])
            if (input.files && input.files[0]) {
                this.uploadedType = input.files[0].type
                var reader = new FileReader()
                reader.onload = (e) => {
                    this.uploadedAvatarURL = e.target.result
                }
                
                reader.readAsDataURL(input.files[0]) // convert to base64 string
            }
        },
        dataURLtoFile(dataurl, filename) {
 
            var arr = dataurl.split(','),
                mime = arr[0].match(/:(.*?);/)[1],
                bstr = atob(arr[1]), 
                n = bstr.length, 
                u8arr = new Uint8Array(n);
                
            while(n--){
                u8arr[n] = bstr.charCodeAt(n);
            }
            console.log(mime)
            return new File([u8arr], 'coverimg', {type: 'image/jpeg'});
        },
        removemultimedia() {
            this.axios.post(process.env.VUE_APP_STORAGE_URL+'/upload/image/'+this.multimedia.id+'/abort')
            this.multimedia = null
            this.$refs.multimediaUpload.value=null;
        },
        submit() {
            if(this.multimedia) {
                this.news.multimedia_id = this.multimedia.id
                this.submitting = true
                if(this.news.link && this.news.link.trim() == '') delete this.news.link
                this.axios.post('/news', this.news)
                    .then(resp => {
                        this.$router.push({name: 'ManageNews'})
                    })
                    .catch(e => console.log(e))
                    .finally(() => this.submitting = false)
            }
        }
    }
}
</script>