<template>
    <div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <!-- <li class="breadcrumb-item"><a @click.prevent="$router.push({name: 'Home'})" href="#">Kezdőlap</a></li> -->
                <li class="breadcrumb-item" aria-current="page"><a @click.prevent="$router.push({name: 'Glossary'})" href="#">{{ $t('create-glossary-article.knowledge-base') }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ $t('create-glossary-article.new-entry') }}</li>
            </ol>
        </nav>
        <!-- <div class="row gloss-top">
            <div class="col-12 mb-3 text-center">
                <h2>{{ $t('create-glossary-article.new-entry') }}</h2>
            </div>
        </div> -->
        <section id="glossary" class="row">
            <div class="p-0 col-xl-6 col-lg-6 col-md-12 col-12 mr-3">
                <div class="row" style="margin-left: 0px !important;margin-right: 0px !important;">
                    <div class="col-md-6 col-12" style="cursor: pointer;margin-bottom: 20px;word-break: break-word;" @click="$refs.videoUpload.click()">
                        <div class="shadow item text-center" style="min-height: 150px !important;border-radius: 5px !important;padding-top: 34.5px;">
                            <i class="far fa-file-video" style="font-size: 55px !important;" ></i>
                            <br />
                            <button type="button" class="btn btn-snd" style="font-size:0.85rem">{{$t('course-materials.add-video')}}</button>
                            <input type="file" accept="video/mp4, video/webm" id="uploadVideo" ref="videoUpload" @change="createUpload('video')" style="display: none;">
                        </div>
                    </div>

                    <div class="col-md-6 col-12" style="cursor: pointer;margin-bottom: 20px;word-break: break-word;" @click="$refs.imageUpload.click()">
                        <div class="shadow item text-center" style="min-height: 150px !important;border-radius: 5px !important;padding-top: 34.5px;">
                            <i class="far fa-image" style="font-size: 55px !important;" alt="#"></i>
                            <br />
                            <a type="button" class="btn btn-snd" style="font-size:0.85rem">{{$t('course-materials.add-picture')}}</a>
                            <input type="file" accept="image/png, image/jpeg, image/jpg, image/gif" id="uploadImage" ref="imageUpload" @change="createUpload('image')" style="display: none;">
                        </div>
                    </div>
                    <div class="col-md-6 col-12" style="cursor: pointer;margin-bottom: 20px;word-break: break-word;" @click="$refs.audioUpload.click()">
                        <div class="shadow item text-center" style="min-height: 150px !important;border-radius: 5px !important;padding-top: 34.5px;">
                            <i class="fas fa-microphone" style="font-size: 55px !important;" alt="#"></i>
                            <br />
                            <a type="button" class="btn btn-snd" style="font-size:0.85rem">{{$t('course-materials.add-voice')}}</a>
                            <input type="file" accept="audio/mp3, audio/mpeg, audio/wav" id="uploadAudio" ref="audioUpload" @change="createUpload('audio')" style="display: none;">
                        </div>
                    </div>

                    <div class="col-md-6 col-12" style="cursor: pointer;margin-bottom: 20px;word-break: break-word;" @click="$refs.documentUpload.click()">
                        <div class="shadow item text-center" style="min-height: 150px !important;border-radius: 5px !important;padding-top: 34.5px;">
                            <i class="far fa-file-alt" style="font-size: 55px !important;" alt="#"></i>
                            <br />
                            <a type="button" class="btn btn-snd" style="font-size:0.85rem">{{$t('course-materials.add-document')}}</a>
                            <input type="file" accept=".doc, .docx, .pdf, .xls, .xlsx, .ods, .ppt, .pptx, .txt" id="uploadDocument" ref="documentUpload" @change="createUpload('document')" style="display: none;">
                        </div>
                    </div>
                </div>
            <form @submit.prevent="submit" >
                <div class="col-12 gloss-bottom">
                    <label for="">{{ $t('create-glossary-article.title') }}</label>
                    <input type="text" class="form-control" placeholder="" v-model="data.title">
                </div>
                <div class="col-12 gloss-bottom no-margin">
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">{{ $t('create-glossary-article.content') }}</label>
                        <textarea ref="summernote" class="form-control" id="exampleFormControlTextarea1" rows="3" v-model="data.content"></textarea>
                    </div>
                </div>
                <div class="col-12 gloss-bottom">
                    <label for="">{{ $t('create-glossary-article.labels') }}</label>
                    <div class="tag-container">
                        <input class="form-control"   v-model="data.labels" />  
                    </div>
                </div>
                <div class="col-12">
                    <span class="font-18" style="font-size: 18px" v-if="$store.state.user.role !== 'Admin'">
                        <i class="fas fa-info-circle mr-2" style="color: var(--lblue)"></i>
                        <span class="mb-3" style="font-size: 0.9em !important;">{{ $t('create-glossary-article.admin-msg') }}</span>
                    </span>
                    <button type="submit" class="btn btn-search mt-3" :disabled="loading">{{ $t('create-glossary-article.create') }}</button>
                </div>
            </form>
            </div>
               <section id="buttons" class="col-xl-6 col-lg-6 col-md-12 col-12 row p-0">
                    
                <div class="row col-12">
                    <section id="uploads" style="width: 100%">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                        <h1 class="mb-4">{{ $t('create-glossary-article.uploads') }}</h1>
                        <div class="row">
                            <div v-for="(file, index) in files" :key="file.id" class="col-12 mb-3">
                                <Upload v-if="file.shown" :file="file.file" :type="file.type" :id="file.id" @uploadFinished="finishUpload" @uploadCancelled="cancelUpload"/>
                            </div>
                            <div v-if="files.length == 0" class="mb-2">
                                <h2>{{ $t('fast-share.no-uploads') }}</h2>
                            </div>
                        </div>
                    </div>
                    </section>
                </div>
        </section>
        </section>
    </div>
</template>
<script>
import Upload from '@/components/Upload'
export default {
    name: 'CreateGlossaryArticle',
    components: {
        Upload
    },
    mounted() {
        $(this.$refs.summernote).summernote({
            height: 300,
            toolbar: [
                ['style', ['style.h1', 'style.h2', 'style.h3','style.h4', 'style.h5', 'style.h6']],
                ['style', ['bold', 'italic', 'underline',]],
                ['insert', ['link']],
                ['para', ['ul', 'ol', 'paragraph']],
                ['view', ['fullscreen', 'help']],
            ],
            callbacks: {
                onChange: (contents, $editable) => {
                    this.data.content = contents
                }
            }
        })
    },
    data() {
        return {
            data: {
                title: null,
                content: null,
                labels: null
            },
            loading: false,
            files: []
        }
    },
    methods: {
        createUpload(type) {
            if(event.target.files.item(0))
                this.files.push({file: event.target.files.item(0), type: type, shown: true, uuid: null, id: this.files.length})
        },
        finishUpload(id, multimedia) {
            this.files.find(file => file.id === id).uuid = multimedia.id
        },
        cancelUpload(id, uuid) {
            this.files.splice(this.files.indexOf(this.files.find(file => file.id === id)), 1)
        },
        submit() {
            this.loading = true
            let formData = this.data;
            const multimedia = this.files.filter(file => file.uuid !== null).map(file => file.uuid)
            if(multimedia.length > 0)
                formData.multimedia = multimedia

            this.axios.post('/glossary-articles', formData)
                .then(resp => {
                    this.$router.push({name: 'Glossary'})
                })
                .catch(e => console.log(e.response))
                .finally(() => this.loading = false)
        }
    }
}
</script>
<style>
.note-editor {
    background: white;
}
</style>
