<template>
    <div>
        <nav aria-label="breadcrumb" v-if="!loading && article">
            <ol class="breadcrumb" v-if="article.approved">
                <!-- <li class="breadcrumb-item"><a @click.prevent="$router.push({name: 'Home'})" href="#">Kezdőlap</a></li> -->
                <li class="breadcrumb-item" aria-current="page"><a @click.prevent="$router.push({name: 'Glossary'})" href="#">{{ $t('glossary-article.knowledge-base') }}</a></li>
                <li class="breadcrumb-item" aria-current="page"><a @click.prevent="$router.push({name: 'GlossaryArticle', params: {id: $route.params.id}})" href="#">{{article ? article.title : $route.params.id}}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ $t('edit-glossary-article.edit') }}</li>
            </ol>
            <ol class="breadcrumb" v-else>
                <!-- <li class="breadcrumb-item"><a @click.prevent="$router.push({name: 'Home'})" href="#">Kezdőlap</a></li> -->
                <li class="breadcrumb-item" aria-current="page"><a @click.prevent="$router.push({name: 'UnapprovedGlossary'})" href="#">{{ $t('edit-glossary-article.waiting') }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ $t('edit-glossary-article.controll') }}</li>
            </ol>
        </nav>
        <!-- <div class="row gloss-top">
            <div class="col-12 mb-3 text-center" v-if="!loading && article">
                <h2 v-if="article.approved">{{ $t('edit-glossary-article.edit') }}</h2>
                <h2 v-else>{{ $t('edit-glossary-article.allow-edit') }}</h2>
            </div>
        </div> -->
        <section id="glossary" class="row" v-show="!loading && article">
            <div class="p-0 col-xl-6 col-lg-6 col-md-12 col-12 mr-3">
                <div class="row" style="margin-left: 0px !important;margin-right: 0px !important;">
                    <div class="col-md-6 col-12" style="cursor: pointer;margin-bottom: 20px;word-break: break-word;" @click="$refs.videoUpload.click()">
                        <div class="shadow item text-center" style="min-height: 150px !important;border-radius: 5px !important;padding-top: 34.5px;">
                            <i class="far fa-file-video" style="font-size: 55px !important;" ></i>
                            <br />
                            <button type="button" class="btn btn-snd" style="font-size:0.85rem">{{ $t('course-materials.add-video') }}</button>
                            <input type="file" accept="video/mp4, video/webm" id="uploadVideo" ref="videoUpload" @change="createUpload('video')" style="display: none;">
                        </div>
                    </div>

                    <div class="col-md-6 col-12" style="cursor: pointer;margin-bottom: 20px;word-break: break-word;" @click="$refs.imageUpload.click()">
                        <div class="shadow item text-center" style="min-height: 150px !important;border-radius: 5px !important;padding-top: 34.5px;">
                            <i class="far fa-image" style="font-size: 55px !important;" alt="#"></i>
                            <br />
                            <a type="button" class="btn btn-snd" style="font-size:0.85rem">{{ $t('course-materials.add-picture') }}</a>
                            <input type="file" accept="image/png, image/jpeg, image/jpg, image/gif" id="uploadImage" ref="imageUpload" @change="createUpload('image')" style="display: none;">
                        </div>
                    </div>
                    <div class="col-md-6 col-12" style="cursor: pointer;margin-bottom: 20px;word-break: break-word;" @click="$refs.audioUpload.click()">
                        <div class="shadow item text-center" style="min-height: 150px !important;border-radius: 5px !important;padding-top: 34.5px;">
                            <i class="fas fa-microphone" style="font-size: 55px !important;" alt="#"></i>
                            <br />
                            <a type="button" class="btn btn-snd" style="font-size:0.85rem">{{ $t('course-materials.add-voice') }}</a>
                            <input type="file" accept="audio/mp3, audio/mpeg, audio/wav" id="uploadAudio" ref="audioUpload" @change="createUpload('audio')" style="display: none;">
                        </div>
                    </div>

                    <div class="col-md-6 col-12" style="cursor: pointer;margin-bottom: 20px;word-break: break-word;" @click="$refs.documentUpload.click()">
                        <div class="shadow item text-center" style="min-height: 150px !important;border-radius: 5px !important;padding-top: 34.5px;">
                            <i class="far fa-file-alt" style="font-size: 55px !important;" alt="#"></i>
                            <br />
                            <a type="button" class="btn btn-snd" style="font-size:0.85rem">{{ $t('course-materials.add-document') }}</a>
                            <input type="file" accept=".doc, .docx, .pdf, .xls, .xlsx, .ods, .ppt, .pptx, .txt" id="uploadDocument" ref="documentUpload" @change="createUpload('document')" style="display: none;">
                        </div>
                    </div>
                </div>
            <form @submit.prevent="submit">
                <div class="row" style="margin-left: 0px !important;margin-right: 0px !important;">
                <div class="col-12 gloss-bottom">
                    <label for="">{{ $t('edit-glossary-article.title') }}</label>
                    <input v-if="!loading && article" type="text" class="form-control" placeholder="" v-model="article.title">
                </div>
                <div class="col-12 gloss-bottom no-margin">
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">{{ $t('edit-glossary-article.content') }}</label>
                        <textarea ref="summernote" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                </div>
                <div class="col-12 gloss-bottom">
                    <label for="">{{ $t('edit-glossary-article.labels') }}</label>
                    <div class="tag-container">
                        <input class="form-control" v-model="commaLabels" />  
                    </div>
                </div>
                <div class="col-12 gloss-bottom">
                    <label for="">{{ $t('edit-glossary-article.attachments') }}</label>
                </div>
                <div class="col-12 ml-2 d-flex align-items-center" v-if="!loading && article" v-for="multimedia in article.multimedia.filter((mm) => mm.type == 'document')" :key="multimedia.id">
                    <span>
                        <a :href="$store.state.storageURL+multimedia.path+'?token='+$store.state.token" target="_blank">
                            <i class="far fa-file-alt mr-1" alt="#" style="font-size: 20px !important;"></i>
                            <span style="color: var(--lblue);">{{multimedia.name}}</span>
                        </a>
                    </span>
                    <span v-if="!multimedia.loading" @click.prevent="removeMultimedia(multimedia)" class="d-inline-flex align-items-center ml-2" style="cursor: pointer;">
                        <i class="fas fa-times remove-inline"></i>
                    </span>
                    <span v-else class="d-inline-flex align-items-center ml-2">
                        <i class="fas fa-times remove-inline-disabled"></i>
                    </span>
                </div>
                <div class="col-12 mt-4" v-if="!loading && article" v-for="multimedia in article.multimedia.filter((mm) => mm.type == 'audio')" :key="multimedia.id">
                    <p class="ml-3 mb-0">{{multimedia.name}}</p>
                    <div class="d-flex align-items-center">
                        <audio controls>
                            <source :src="$store.state.storageURL+multimedia.path+'?token='+$store.state.token">
                        </audio>
                        <span v-if="!multimedia.loading" @click.prevent="removeMultimedia(multimedia)" class="d-inline-flex align-items-center ml-2" style="cursor: pointer;">
                            <i class="fas fa-times remove-inline"></i>
                        </span>
                        <span v-else class="d-inline-flex align-items-center ml-2">
                            <i class="fas fa-times remove-inline-disabled"></i>
                        </span>
                    </div>
                </div>
                <div class="col-12 row mb-3">
                    <div v-if="!loading && article" v-for="multimedia in article.multimedia.filter((mm) => mm.type == 'video' || mm.type == 'image')" :key="multimedia.id" class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 mt-4" style="height: 260px;">
                        <div v-if="multimedia.type == 'video' || multimedia.type == 'image' " style="color: var(--lblue); cursor:pointer; background-color: grey; width: 100%; height: 100%" 
                            data-fancybox="fancy" 
                            :href="multimedia.type != 'video' ? $store.state.storageURL+multimedia.path+'?token='+$store.state.token : '#'+multimedia.id" target="_blank"
                            :data-caption="multimedia.name"
                        >
                            <div v-if="multimedia.type == 'video'" style="width: 100%; height: 100%">
                                <video style="width: 100%; height: 100%; object-fit: cover; pointer-events: none;" nocontrols >
                                    <source :src="$store.state.storageURL+multimedia.path+'?token='+$store.state.token">
                                </video>
                                <video :id="multimedia.id" style="display: none;" controls controlsList="nodownload">
                                    <source :src="$store.state.storageURL+multimedia.path+'?token='+$store.state.token">
                                </video>
                                <i class="far fa-play-circle playbtn"></i>
                                <span v-if="!multimedia.loading" @click.prevent="removeMultimedia(multimedia)">
                                    <i class="fas fa-times remove"></i>
                                </span>
                                <span v-else >
                                    <i class="fas fa-times remove-disabled"></i>
                                </span>
                            </div>
                            <div v-if="multimedia.type == 'image'" style="width: 100%; height: 100%; position: relative;" >
                                <img :src="$store.state.storageURL+multimedia.path+'?token='+$store.state.token" style="width: 100%; height: 100%; object-fit: cover;">
                                <span v-if="!multimedia.loading" @click.prevent="removeMultimedia(multimedia)">
                                    <i class="fas fa-times remove"></i>
                                </span>
                                <span v-else >
                                    <i class="fas fa-times remove-disabled"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 mb-4" v-if="!loading && article">
                    <button type="button" class="btn btn-outline-danger w-100 mb-3" data-toggle="modal" data-target="#articleDeleteModal"><i class="fas fa-trash-alt"></i> {{ $t('edit-glossary-article.delete') }}</button>
                    <button v-if="article.approved" type="submit" class="btn btn-search" :disabled="submitting">{{ $t('edit-glossary-article.save-changes') }}</button>
                    <button v-else type="submit" class="btn btn-success w-100" :disabled="submitting">{{ $t('edit-glossary-article.save-allow') }}</button>
                </div>
                 <div class="modal fade" id="articleDeleteModal" tabindex="-1" aria-labelledby="articleDeleteModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="articleDeleteModalLabel">{{ $t('edit-glossary-article.delete-sure') }}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            {{ $t('edit-glossary-article.delete-question') }}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ $t('edit-glossary-article.cancel') }}</button>
                            <button type="button" class="btn btn-danger" :disabled="submitting" @click="deleteArticle">{{ $t('edit-glossary-article.delete2') }}</button>
                        </div>
                        </div>
                    </div>
                </div>
                </div>
            </form>
            
            </div>
                <section id="buttons" class="col-xl-6 col-lg-6 col-md-12 col-12 row p-0">
                <div class="row col-12">
                    <section id="uploads" style="width: 100%">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                        <h1 class="mb-4">{{ $t('edit-glossary-article.ongoing') }}</h1>
                        <div class="row">
                            <div v-for="(file, index) in files" :key="file.id" class="col-12 mb-3">
                                <Upload v-if="file.shown" :file="file.file" :type="file.type" :id="file.id" @uploadFinished="finishUpload" @uploadCancelled="cancelUpload"/>
                            </div>
                        </div>
                    </div>
                    </section>
                </div>
        </section>
        </section>
        <Loading v-if="loading" height="70vh" />
    </div>
</template>
<script>
import Loading from '@/components/Loading.vue'
import Upload from '@/components/Upload.vue'
export default {
    name: 'CreateGlossaryArticle',
    components: {
        Loading,
        Upload
    },
    mounted() {
        this.loading = true
        $(this.$refs.summernote).summernote({
            height: 300,
            toolbar: [
                ['style', ['style.h1', 'style.h2', 'style.h3','style.h4', 'style.h5', 'style.h6']],
                ['style', ['bold', 'italic', 'underline',]],
                ['insert', ['link']],
                ['para', ['ul', 'ol', 'paragraph']],
                ['view', ['fullscreen', 'help']],
            ],
            callbacks: {
                onChange: (contents, $editable) => {
                    this.article.content = contents
                }
            }
        })
        this.axios.get('/glossary-articles/'+this.$route.params.id)
            .then(resp => {
                this.article = resp.data.glossaryArticle
                $(this.$refs.summernote).summernote('code', this.article.content)
                this.commaLabels = this.article.labels.length > 0 ? this.article.labels.map(l => l.name).join(',') : null
            })
            .finally(() => this.loading = false)
    },
    data() {
        return {
            article: null,
            loading: false,
            submitting: false,
            commaLabels: null,
            files: []
        }
    },
    methods: {
        createUpload(type) {
            if(event.target.files.item(0))
                this.files.push({file: event.target.files.item(0), type: type, shown: true, uuid: null, id: this.files.length})
        },
        finishUpload(id, multimedia) {
            this.files.find(file => file.id === id).uuid = multimedia.id
            this.article.multimedia.push(multimedia)
            const multimediaIdx = this.article.multimedia.findIndex(m => m.id == multimedia.id)
            this.article.multimedia[multimediaIdx].loading = true
            this.axios.post('/glossary-articles/'+this.$route.params.id+'/multimedia/'+multimedia.id)
                .then(() => {
                    this.article.multimedia[multimediaIdx].loading = false
                    this.files.splice(this.files.indexOf(this.files.find(file => file.id === id)), 1)
                })
                .catch(() => this.article.multimedia.splice(this.article.multimedia.findIndex(m => m.id == multimedia.id), 1))
        },
        cancelUpload(id, uuid) {
            this.files.splice(this.files.indexOf(this.files.find(file => file.id === id)), 1)
        },
        removeMultimedia(multimedia) {
            const multimediaIdx = this.article.multimedia.findIndex(m => m.id == multimedia.id);
            this.article.multimedia[multimediaIdx].loading = true
            this.axios.delete('/glossary-articles/'+this.$route.params.id+'/multimedia/'+multimedia.id)
                .then(() => {
                    this.article.multimedia.splice(this.article.multimedia.findIndex(m => m.id == multimedia.id), 1)
                    this.article.multimedia[multimediaIdx].loading = false
                })
                .catch(() =>  this.article.multimedia[multimediaIdx].loading = false)
        },
        deleteArticle() {
            this.submitting = true
            this.axios.delete('/glossary-articles/'+this.$route.params.id)
                .then(() => {
                    $('#articleDeleteModal').modal('hide')
                    if(this.article.approved)
                        this.$router.push({name: 'Glossary'})
                    else
                        this.$router.push({name: 'UnapprovedGlossary'})
                })
                .finally(() => this.submitting = false)
        },
        submit() {
            this.submitting = true
            let formData = JSON.parse(JSON.stringify(this.article))
            formData.labels = this.commaLabels
            if(!this.article.approved)
                formData.approved = 1

            this.axios.patch('/glossary-articles/'+this.$route.params.id, formData)
                .then(resp => {
                    if(this.article.approved)
                        this.$router.push({name: 'GlossaryArticle', params: {id: this.$route.params.id}})
                    else
                        this.$router.push({name: 'UnapprovedGlossary'})
                })
                .catch(e => console.log(e.response))
                .finally(() => this.submitting = false)
        }
    }
}
</script>
<style>
.note-editor {
    background: white;
}
</style>
<style scoped>
.playbtn {
    position: absolute; 
    left: 50%; top: 50%; 
    transform: translate(-50%, -50%); 
    font-size: 70px; 
    color:white
}
.playbtn:hover {
    color: rgb(196, 196, 196);
}
.remove {
    position: absolute;
    top: 0;
    right: 4px;
    color: red;
    font-size: 25px;
}
.remove-disabled {
    position: absolute;
    top: 0;
    right: 4px;
    color: grey;
    font-size: 25px;
}
.remove:hover {
    color: rgb(112, 0, 0)
}

.remove-inline {
    color: red;
    font-size: 22px;
}
.remove-inline-disabled {
    color: grey;
    font-size: 22px;
}
.remove-inline:hover {
    color: rgb(112, 0, 0)
}

    @media (max-width: 425px) {
        .playbtn {
            font-size: 49px;
        }
        .remove,
        .remove-disabled {
            font-size: 17px;
        }
        .remove-inline,
        .remove-inline-disabled {
            font-size: 15px;
        }
    }
</style>
