<template>
    <div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#" @click.prevent="$router.push({name: 'Home'})">{{ $t('edit-course.homepage') }}</a></li>
                <li class="breadcrumb-item"><a href="#" @click.prevent="$router.push({name: 'ManageCourses'})">{{ $t('edit-course.managing-course') }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ $t('edit-course.edit-course') }}</li>
            </ol>
        </nav>

         <section id="settings" v-if="!loading && course">
            <RecommendedCoursesModal :course="course" />
            <div class="row">
                <div class="col-12 mt-2">
                    <!-- <h2>{{ $t('edit-course.edit-course') }}</h2> -->
                </div>
            </div>
            <form @submit.prevent="submit">
            <div class="row">
                <div class="col-lg-6 col-12 mt-2">
                    <div class="row">
                        <div class="col-12">
                            <p>{{ $t('edit-course.cover-img') }} </p>
                            <div v-if="!course.cover_image && !course.cover_imageUploading" @click="$refs.coverImageUpload.click()" class="col-md-7 col-lg-12 col-xl-6 col-12 d-flex justify-content-center align-items-center" style="border: 2px solid #e0e0e0; height: 269px; flex-direction: column; border-radius: 5px; cursor: pointer;">
                                <i class="far fa-image" style="font-size: 100px; color: #e0e0e0"></i>
                                <span style="color: grey">{{ $t('edit-course.upload-cover-img') }}</span>
                            </div>
                            <div v-else-if="course.cover_image && !course.cover_imageUploading" @click="$refs.coverImageUpload.click()" 
                                class="col-md-7 col-lg-12 col-xl-6 col-12 d-flex justify-content-center align-items-center" 
                                style="border: 2px solid #e0e0e0; height: 300px; flex-direction: column; border-radius: 5px; cursor: pointer; background-position: center; background-repeat: no-repeat; background-size: cover;"
                                :style="{backgroundImage: `url(${$store.state.storageURL+course.cover_image.path}?token=${$store.state.token})`}"
                            >
                            </div>
                            <div v-else class="col-md-7 col-lg-12 col-xl-6 col-12 d-flex justify-content-center align-items-center" style="border: 2px solid #e0e0e0; height: 300px;">
                                <Loading height="100%" />
                            </div>
                            <ImageCropper v-if="uploadedAvatarURL" @urlChanged="createUpload" :src="uploadedAvatarURL" :type="uploadType" :aspectRatio="null" />
                            <input ref="coverImageUpload" type="file" accept="image/jpeg, image/jpg, image/png" @change="readURL" style="display: none;">
                            <button v-if="course.cover_image" class="btn btn-outline-danger" style="width: 128px;margin-bottom: 1px !important;margin-top: 15px !important" @click.stop="removeCoverImage" :disabled="course.cover_imageUploading">{{ $t('common.delete') }}</button>
                        </div>
                        <div class="mt-3 col-12 text-center pl-3 pr-3 d-flex" style="flex-direction: column; flex-grow: 0">
                            <button class="mb-2 btn btn-outline-primary" @click="$router.push({name: 'CourseMaterials', params: {course: this.course.id}})"><i class="fas fa-book"></i> {{ $t('edit-course.edit-materials') }}</button>
                            <button v-if="course.course_feedback" class="btn btn-outline-primary mb-0 w-100" @click="$router.push({name: 'EditCourseFeedback', params: {course: this.course.id}})"><i class="fas fa-star"></i> {{ $t('edit-course.feedback-edit') }}</button>
                            <button v-else :disabled="submitting" class="btn btn-outline-success mb-0 w-100" @click="createFeedback()"><i class="fas fa-star"></i> {{ $t('edit-course.feedback-create') }}</button>
                            <button class="btn btn-outline-primary mt-2 w-100" type="button" data-toggle="modal" data-target="#recommendedCoursesModal"><i class="fas fa-graduation-cap"></i> {{ $t('edit-course.feedback-manage') }}</button>
                        </div>
                        <div class="col-12 mt-2">
                            <label>{{ $t('edit-course.type') }}</label>
                            <select class="form-control" :disabled="course.finalized" v-model="course.course_type_id" required>
                                <option v-for="courseType in courseTypes" :value="courseType.id" :key="courseType.id">{{courseType.name}}</option>
                            </select>
                        </div>
                        <div class="col-12 mt-2">
                            <label>{{ $t('edit-course.visibility') }} </label>
                            <select class="form-control" :class="course.active ? 'text-success' : 'text-danger'" v-model="course.active" required>
                                <option class="text-success" :value="1">{{ $t('edit-course.public') }}</option>
                                <option class="text-danger" :value="0">{{ $t('edit-course.hidden') }}</option>
                            </select>
                        </div>
                        <div class="col-12 mt-2">
                            <label>{{ $t('edit-course.type-far') }} </label>
                            <div v-if="errors['far_type']">
                                <span v-for="(error, idx) in errors['far_type']" style="color: red;" :key="idx">{{error}}</span>
                            </div> 
                            <input  @input="errors['far_type'] = null" type="text" :disabled="course.finalized" v-model="course.far_type" class="form-control" :style="{border: errors['far_type'] ? '1px solid red' : '1px solid #ced4da'}">
                        </div>
                        <div class="col-12 mt-2">
                            <label>{{ $t('edit-course.name') }}</label>
                            <div v-if="errors['title']">
                                <span v-for="(error, idx) in errors['title']" style="color: red;" :key="idx">{{error}}</span>
                            </div> 
                            <input  @input="errors['title'] = null" type="text" :disabled="course.finalized" v-model="course.title" class="form-control" :style="{border: errors['title'] ? '1px solid red' : '1px solid #ced4da'}" required>
                        </div>
                        <div class="col-12 mt-2">
                            <label>{{ $t('edit-course.speakers') }}</label>
                            <button type="button" class="form-control btn btn-primary" data-toggle="modal" data-target="#presentersModal">{{ $t('edit-course.speakers-mod') }}</button>
                        </div>
                        <div class="col-12 mt-2">
                            <label>{{ $t('edit-course.speakers-about') }} </label>
                            <div v-if="errors['description']">
                                <span v-for="(error, idx) in errors['description']" style="color: red;" :key="idx">{{error}}</span>
                            </div> 
                            <textarea  @input="errors['description'] = null" rows="5" v-model="course.description" class="form-control" :style="{border: errors['description'] ? '1px solid red' : '1px solid #ced4da'}" required></textarea>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-12 mt-lg-0 pl-lg-3 mt-4 pl-0">
                    <div class="col-12 mt-2">
                        <label>{{ $t('edit-course.course-desc') }} </label>
                        <div v-if="errors['contents']">
                            <span v-for="(error, idx) in errors['contents']" style="color: red;" :key="idx">{{error}}</span>
                        </div> 
                        <textarea  @input="errors['contents'] = null" rows="5" v-model="course.contents" class="form-control" :style="{border: errors['contents'] ? '1px solid red' : '1px solid #ced4da'}" required></textarea>
                    </div>
                    <div class="col-12 mt-2">
                        <label>{{ $t('edit-course.location') }} </label>
                        <select class="form-control" :disabled="course.finalized" v-model="course.location_id">
                            <option :value="null" selected>{{ $t('edit-course.online') }}</option>
                            <option v-for="location in locations" :value="location.id" :key="location.id">{{`${location.zip_code}, ${location.locality}, ${location.public_space} ${location.public_space_type}, ${location.other}, ${location.country.name}`}}</option>
                        </select>
                        <button type="button" :disabled="course.finalized" class="btn btn-outline-primary mt-2 d-flex align-items-center" data-toggle="modal" data-target="#newLocationModal">
                            <i class="fas fa-map-marker-alt mr-2"></i>
                            <span>{{ $t('edit-course.add-new-location') }}</span>
                        </button>
                    </div>
                    <div class="col-12 mt-4">
                        <label for="start">{{ $t('edit-course.begin') }} <br>
                            <div class="d-flex align-items-center mt-1">
                                <i class="fas fa-info-circle mr-1 text-success font-15" style="font-size: 15px;"></i> 
                                <span class="font-12" style="font-size: 12px">{{ $t('edit-course.text1') }}</span>
                            </div>
                        </label>
                        <datetime type="datetime" :max-datetime="course.end_date" v-model="course.start_date" input-class="form-control" />
                    </div>
                    <div class="col-12 mt-2">
                        <label for="start">{{ $t('edit-course.end') }}<br>
                            <div class="d-flex align-items-center mt-1">
                                <i class="fas fa-info-circle mr-1 text-success font-15" style="font-size: 15px;"></i>
                                <span class="font-12" style="font-size: 12px">{{ $t('edit-course.text2') }}</span>
                            </div>
                        </label>
                        <datetime type="datetime" :min-datetime="course.start_date" v-model="course.end_date" input-class="form-control" />
                    </div>
                    <div class="col-12 mt-2">
                        <label>{{ $t('edit-course.credit') }}</label>
                        <div v-if="errors['credit_points']">
                            <span v-for="(error, idx) in errors['credit_points']" style="color: red;" :key="idx">{{error}}</span>
                        </div> 
                        <input  @input="errors['credit_points'] = null" type="number" min="0" max="16" :disabled="course.finalized" v-model="course.credit_points" class="form-control" :style="{border: errors['credit_points'] ? '1px solid red' : '1px solid #ced4da'}" required>
                    </div>
                    <div class="col-12 mt-2">
                        <label>{{ $t('edit-course.exam-points') }}</label>
                        <div v-if="errors['exam_credit_points']">
                            <span v-for="(error, idx) in errors['exam_credit_points']" style="color: red;" :key="idx">{{error}}</span>
                        </div> 
                        <input  @input="errors['exam_credit_points'] = null" type="number" min="0" max="16" :disabled="course.finalized" v-model="course.exam_credit_points" class="form-control" :style="{border: errors['exam_credit_points'] ? '1px solid red' : '1px solid #ced4da'}" required>
                    </div>
                    <div class="col-12 mt-2">
                        <label>{{ $t('edit-course.available') }}</label>
                        <select class="form-control" :disabled="course.finalized" v-model="course.dla_only" required>
                            <option :value="0">{{ $t('edit-course.everybody') }}</option>
                            <option :value="1">{{ $t('edit-course.only-dla') }}</option>
                        </select>
                    </div>
                    <div class="col-12 mt-2">
                        <label>{{ $t('edit-course.vat') }}</label>
                        <select class="form-control" :disabled="course.finalized" v-model="course.vat_rate" required>
                            <option v-for="vatRate in vatRates" :key="vatRate.rate" :value="vatRate.rate">{{vatRate.rate}}%</option>
                        </select>
                    </div>
                    <div class="col-12 mt-2" v-if="!course.dla_only">
                        <label>{{ $t('edit-course.price') }} </label>
                        <div v-if="errors['base_price']">
                            <span v-for="(error, idx) in errors['base_price']" style="color: red;" :key="idx">{{error}}</span>
                        </div> 
                        <input  @input="errors['base_price'] = null" type="number" min="0" :disabled="course.finalized" v-model="course.base_price" class="form-control" :style="{border: errors['base_price'] ? '1px solid red' : '1px solid #ced4da'}" required>
                    </div>
                    <div class="col-12 mt-2">
                        <label>{{ $t('edit-course.price-dla') }} </label>
                        <div v-if="errors['dla_price']">
                            <span v-for="(error, idx) in errors['dla_price']" style="color: red;" :key="idx">{{error}}</span>
                        </div> 
                        <input @input="errors['dla_price'] = null" type="number" min="0" :disabled="course.finalized" v-model="course.dla_price" class="form-control" :style="{border: errors['dla_price'] ? '1px solid red' : '1px solid #ced4da'}" required>
                    </div>
                    <div class="col-12 mt-2">
                        <label>{{$t('manage-courses.finalized')}}</label>
                        <div class="ml-2" :style="{color: course.finalized ? 'green' : 'red'}">{{course.finalized ? $t('common.yes') : $t('common.no')}}</div>
                        <button type="button" data-toggle="modal" data-target="#finalizeModal" class="btn btn-primary w-100 mt-2" v-if="!course.finalized">{{$t('finalize.title')}}</button>
                    </div>
                    <div class="col-12">
                        <button type="submit" :disabled="loading" class="btn btn-save">{{ $t('edit-course.save-changes') }}</button>
                    </div>
                </div>
            </div>
            </form>

            <!-- Presenters modal -->
            <div class="modal fade" id="presentersModal" tabindex="-1" role="dialog" aria-labelledby="newpresentersModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="newpresentersModalLabel">{{ $t('edit-course.speakers-mod') }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                            <div class="col-12">
                                <label>{{ $t('create-course.no-user') }}</label>
                                <textarea class="form-control w-100" type="text" v-model="course.external_presenters"></textarea>
                            </div>
                            <div class="col-12 mt-3">
                                <span>{{ $t('create-course.registered') }} </span>
                                <div class="mt-2 d-flex align-items-center" v-for="user in course.presenters" :key="user.id">
                                    <div class="d-inline-flex align-items-center">
                                        <img v-if="user.avatar" :src="$store.state.storageURL+user.avatar.path+'?token='+$store.state.token" style="border-radius: 50%; height: 50px" class="ml-0" alt="">
                                        <Avatar v-else class="team-image ml-0" :username="user.name" :size="50"/>
                                        <h6 class="name ml-2 mt-0 pl-0" style="font-weight: bold">
                                            {{user.name}} <br />
                                            <span class="email mb-1">{{user.email}}</span>
                                        </h6>
                                    </div>
                                    <span class="ml-4 mb-1" style="cursor: pointer" @click.prevent="removeFromPresenters(user)">
                                        <i class="fas fa-times font-24" style="color: red; font-size: 24px"></i>
                                    </span>
                                </div>
                                <div class="mt-3 ml-2" v-if="course.presenters.length < 1">
                                    <strong>{{ $t('create-course.no-speakers') }}</strong>
                                </div>
                            </div>
                        <label class="col-12 mt-5">{{ $t('create-course.new-speakers') }}</label>
                        <form class="col-md-9 mt-0 col-12 d-flex alig-items-center" @submit.prevent="startPresenterSearch">
                            <input type="text" class="form-control" placeholder="Felhasználó neve" v-model="presenterSearchStr">
                        </form>
                        <div class="col-md-3 mt-0 col-12 mb-4">
                            <button :disabled="searching" type="button" class="btn btn-primary" @click="startPresenterSearch()">{{ $t('create-course.search') }}</button>
                        </div>
                        <div v-if="!searching" class="col-12 mt-2 mb-3">
                            <div v-for="user in presenterResults.filter(u => this.course.presenters.findIndex(user => user.id == u.id) === -1)" :key="user.id" class="mt-3">
                                <div class="d-flex align-items-center" style="cursor: pointer;" @click.prevent="addToPresenters(user)" data-dismiss="modal">
                                    <img v-if="user.avatar" :src="$store.state.storageURL+user.avatar.path+'?token='+$store.state.token" style="border-radius: 50%; height: 50px" class="ml-0" alt="">
                                    <Avatar v-else class="team-image ml-0" :username="user.name" :size="50"/>
                                    <h6 class="name ml-2 mt-0 pl-0" style="font-weight: bold">
                                        {{user.name}} <br />
                                        <span class="email mb-1">{{user.email}}</span>
                                    </h6>
                                </div>
                            </div>
                        </div>
                        <div v-else class="col-12">
                            <Loading height="30vh" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                </div>
            </div>
            </div>
            </div>


            <!-- New location modal -->
            <div class="modal fade" ref="newLocationModal" id="newLocationModal" tabindex="-1" role="dialog" aria-labelledby="newLocationModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="newLocationModalLabel">{{ $t('edit-course.new-location') }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="row">
                                <div class="col-12 mt-2">
                                    <label>{{ $t('edit-course.country') }}</label>
                                    <div v-if="errors['country']">
                                        <span v-for="(error, idx) in errors['country']" style="color: red;" :key="idx">{{error}}</span>
                                    </div> 
                                    <select :disabled="course.finalized" v-model="locationData.country_id" class="form-control">
                                        <option v-for="country in countries" :value="country.id" :key="country.id" >{{country.name}}</option>
                                    </select>
                                </div>
                                <div class="col-12 mt-2">
                                    <label>{{ $t('edit-course.zip-code') }}</label>
                                    <div v-if="errors['zip_code']">
                                        <span v-for="(error, idx) in errors['zip_code']" style="color: red;" :key="idx">{{error}}</span>
                                    </div> 
                                    <input type="text" :disabled="course.finalized" v-model="locationData.zip_code" class="form-control" :style="{border: errors['zip_code'] ? '1px solid red' : '1px solid #ced4da'}" required>
                                </div>
                                <div class="col-12 mt-2">
                                    <label>{{ $t('edit-course.city') }}</label>
                                    <div v-if="errors['locality']">
                                        <span v-for="(error, idx) in errors['locality']" style="color: red;" :key="idx">{{error}}</span>
                                    </div> 
                                    <input type="text" :disabled="course.finalized" v-model="locationData.locality" class="form-control" :style="{border: errors['locality'] ? '1px solid red' : '1px solid #ced4da'}" required>
                                </div>
                                <div class="col-12 mt-2">
                                    <label>{{ $t('edit-course.street-name') }}</label>
                                    <div v-if="errors['public_space']">
                                        <span v-for="(error, idx) in errors['public_space']" style="color: red;" :key="idx">{{error}}</span>
                                    </div> 
                                    <input type="text" :disabled="course.finalized" v-model="locationData.public_space" class="form-control" :style="{border: errors['public_space'] ? '1px solid red' : '1px solid #ced4da'}" required>
                                </div>
                                <div class="col-12 mt-2">
                                    <label>{{ $t('edit-course.street-type') }}</label>
                                    <div v-if="errors['public_space_type']">
                                        <span v-for="(error, idx) in errors['public_space_type']" style="color: red;" :key="idx">{{error}}</span>
                                    </div> 
                                    <input type="text" :disabled="course.finalized" v-model="locationData.public_space_type" class="form-control" :style="{border: errors['public_space_type'] ? '1px solid red' : '1px solid #ced4da'}" required>
                                </div>
                                <div class="col-12 mt-2">
                                    <label>{{ $t('edit-course.other') }}</label>
                                    <div v-if="errors['other']">
                                        <span v-for="(error, idx) in errors['other']" style="color: red;" :key="idx">{{error}}</span>
                                    </div> 
                                    <input type="text" :placeholder="$t('course-materials.placeholder')" :disabled="course.finalized" v-model="locationData.other" class="form-control" :style="{border: errors['other'] ? '1px solid red' : '1px solid #ced4da'}">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ $t('edit-course.close') }}</button>
                        <button type="button" @click="createLocation" :disabled="locationLoading" class="btn btn-primary">{{ $t('edit-course.create') }}</button>
                    </div>
                    </div>
                </div>
            </div>
        <div class="modal fade" id="finalizeModal" ref="finalizeModal" tabindex="-1"  aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">{{$t('finalize.title')}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>{{$t('finalize.intro')}}</p>
                        <ul>
                            <li>{{$t('finalize.li1')}}</li>
                            <li>{{$t('finalize.li2')}}</li>
                            <li>{{$t('finalize.li3')}}</li>
                        </ul>
                        <p>{{$t('finalize.outro')}} </p>
                        <div>{{ $t('delete-modal.line-3') }} <br><strong>{{confirmText}}</strong></div>
                        <input type="text" class="form-control mt-3" :placeholder="$t('delete-modal.placeholder')" v-model="userText">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{$t('common.cancel')}}</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" :disabled="userText !== confirmText" @click.prevent="finalize">{{$t('finalize.finalize')}}</button>
                    </div>
                </div>
            </div>
        </div>
        </section>
        <Loading v-else height="80vh" />
    </div>
</template>
<script>
import Loading from '@/components/Loading'
import Datetime from '@/components/DateTimePicker/Datetime.vue'
import ImageCropper from '@/components/ImageCropper.vue'
import Avatar from '@/components/Avatar.vue'
import RecommendedCoursesModal from '@/components/RecommendedCoursesModal.vue'

export default {
    name: 'EditCourse',
    components: {
        Loading,
        Datetime,
        ImageCropper,
        Avatar,
        RecommendedCoursesModal
    },
    mounted() {
        this.loading = true
        this.axios.get('/courses/'+this.$route.params.course+'/edit')
            .then(resp => {
                this.course = resp.data.course
                this.finalized = this.course.finalized
            })
            .finally(() => this.loading = false)
        this.axios.get('/course-types')
            .then(resp => this.courseTypes = this.courseTypes.concat(resp.data))
        this.axios.get('/courses/locations')
            .then(resp => this.locations = this.locations.concat(resp.data))
        this.axios.get('/countries')
            .then(resp => this.countries = this.countries.concat(resp.data))
        this.axios.get('/vat-rates')
            .then(resp => this.vatRates = this.vatRates.concat(resp.data))
    },
    data() {
        return {
            courseTypes: [],
            submitting: false,
            uploadedAvatarURL: null,
            uploadType: null,
            presenterResults: [],
            presenterSearchStr: null,
            searching: false,
            locations: [],
            countries: [],
            vatRates: [],
            userText: null,
            confirmText: 'I UNDERSTAND',
            locationData: {
                country_id: 141
            },
            finalized: null,
            loading: false,
            locationLoading: false,
            course: null,
            errors: Object(),
            regexErrors: {
                bar_association_number: null,
                tax_id: null,
                taj_id: null,
                educational_id: null
            }
            
        }
    },
    methods: {
        removeFromPresenters(user) {
            const idx = this.course.presenters.findIndex(p => p.id == user.id)
            if(idx !== -1)
                this.course.presenters.splice(idx, 1)
        },
        addToPresenters(user) {
            this.course.presenters.push(user);
        },
        startPresenterSearch() {
            this.searching = true
            let params = {
                search: this.presenterSearchStr
            }
            this.axios.get('/users/presenters/'+this.course.id, {params})
                .then(resp => {
                    this.presenterResults = resp.data.users
                })
                .finally(() => this.searching = false)
        },
        createUpload(url) {
            if(url) {
                let file = this.dataURLtoFile(url)
                let formData = new FormData;
                formData.set('image', file, file.name);
                this.course.cover_imageUploading = true
                console.log(formData)
                let config = {
                    method: 'POST',
                    data: formData,
                    url: `/upload/image`,
                    baseURL: process.env.VUE_APP_STORAGE_URL,
                    headers: {
                        'Content-Type': 'application/octet-stream'
                    },
                };
                this.axios(config)
                    .then(async (resp) => {  
                        config.url += '/' + resp.data.name
                        config.url += '/finish';
                        config.data = null;
                        resp = await this.axios(config)
                        this.course.cover_image = resp.data.multimedia;
                        this.course.cover_image_id = resp.data.multimedia.id
                        await this.axios.patch('/courses/'+this.course.id, {cover_image_id: this.course.cover_image_id})
    
                    })
                    .catch((e) => {})
                    .finally(() => this.course.cover_imageUploading = false)
            }

        },
        readURL(input) {
            input = input.target
            if (input.files && input.files[0]) {
                this.uploadType = input.files[0].type
                var reader = new FileReader()
                reader.onload = (e) => {
                    this.uploadedAvatarURL = e.target.result
                }
                
                reader.readAsDataURL(input.files[0]) // convert to base64 string
            }
        },
        dataURLtoFile(dataurl, filename) {
 
            var arr = dataurl.split(','),
                mime = arr[0].match(/:(.*?);/)[1],
                bstr = atob(arr[1]), 
                n = bstr.length, 
                u8arr = new Uint8Array(n);
                
            while(n--){
                u8arr[n] = bstr.charCodeAt(n);
            }
            
            return new File([u8arr], `${this.course.id}_cover_image`, {type:mime});
        },
        removeCoverImage() {
            this.axios.post(process.env.VUE_APP_STORAGE_URL+'/upload/image/'+this.course.cover_image.id+'/abort')
            this.course.cover_image = null
            this.course.cover_image_id = null
            this.$refs.coverImageUpload.value = null
        },
        removeEmptyOrNull(obj) {
            Object.keys(obj).forEach(k => {
                if((obj[k] === null || obj[k] === '') && k !== 'location_id')
                    delete obj[k]
            })
            return obj;
        },
        submit() {
            this.loading = true
            this.axios.patch('/courses/'+this.course.id, this.course)
                .then(resp => {
                    this.uploadedAvatarURL = null
                    this.course = resp.data.course
                })
                .catch(e => this.errors = e.response.data.errors)
                .finally(() => this.loading = false)
        },
        createLocation() {
            this.locationLoading = true;
            this.axios.post('/locations', this.locationData)
                .then(resp => {
                    this.locations.push(resp.data.location)
                    this.course.location_id = resp.data.location.id
                    this.locationData = {
                        country_id: 141
                    }
                    $(this.$refs.newLocationModal).modal('hide')
                })
                .catch(e => {Object.assign(this.errors, e.response.data.errors)})
                .finally(() => this.locationLoading = false)
        },
        createFeedback() {
            this.submitting = true
            this.axios.post('/courses/'+this.course.id+'/feedback')
                .then(resp => {
                    this.$router.push({name: 'EditCourseFeedback', params: {course: this.course.id}})
                })
                .finally(() => this.submitting = false)
        },
        finalize() {
            this.loading = true
            this.axios.post('/courses/'+this.course.id+'/finalize')
                .then(resp => {
                    this.course.finalized = true
                })
                .catch(e => console.log(e))
                .finally(() => this.loading = false)
        }
    }
}
</script>
