<template>
    <div>
       <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#" @click.prevent="$router.push({name: 'Home'})">{{ $t('edit-test.homepage') }}</a></li>
                <li class="breadcrumb-item"><a href="#" @click.prevent="$router.push({name: 'ManageTests'})">{{ $t('edit-test.managing-tests') }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ $t('edit-test.edit') }}</li>
            </ol>
        </nav>

        <div id="text-assembler" v-if="!loading && test">
            <form @submit.prevent="submit">
                <div class="row">
                    <!-- <div class="col-12 mb-3 mt-2 text-center">
                        <h3>Teszt szerkesztése</h3>
                    </div> -->
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="name">{{ $t('edit-test.name') }}</label>
                                    <input :disabled="finalized" type="text" v-model="test.name" class="form-control" id="name" required>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="try-number">{{ $t('edit-test.size') }}</label><br>
                                    <sub>{{ $t('edit-test.max-size') }} {{test.test_questions.length}}</sub>
                                    <input type="number" @input="changePoolSize" :value="test.question_pool_size" min="0" :max="test.test_questions.length" class="form-control" id="try-number" required>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="try-number">{{ $t('edit-test.max-attempts') }}</label>
                                    <input type="number" v-model="test.max_attempts" min="1" class="form-control" id="try-number" required>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="min-points">{{ $t('edit-test.min-percent') }}</label>
                                    <input :disabled="finalized" type="number" min="0" v-model="test.min_pass_percentage" class="form-control" id="min-points" required>
                                </div>
                            </div>
                            <div class="col-xl-4">
                                <label class="container2">{{ $t('edit-test.shuffle-q') }}
                                    <input type="checkbox" v-model="test.shuffle_questions" true-value="1" false-value="0">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="col-xl-5">
                                <label class="container2">{{ $t('edit-test.shuffle-a') }}
                                    <input type="checkbox" v-model="test.shuffle_answers" true-value="1" false-value="0">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="period">{{ $t('edit-test.duration') }}</label>
                                    <input :disabled="finalized" type="number" v-model="test.length" min="0" class="form-control" id="period" required>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="start">{{ $t('edit-test.start') }}</label>
                                    <datetime type="datetime" :max-datetime="test.end_date" v-model="test.start_date" input-class="form-control" />
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="end">{{ $t('edit-test.end') }}</label>
                                    <datetime type="datetime" :min-datetime="test.start_date" v-model="test.end_date" input-class="form-control" />
                                </div>
                            </div>
                            <div class="col-12 mb-3">
                                <label>{{ $t('edit-course.visibility') }} </label>
                                <div v-if="test.question_pool_size < 1" class="d-flex align-items-center mb-1">
                                    <i class="fas fa-info-circle text-info font-18" style="font-size: 18px"></i>
                                    <div class="ml-2">{{ $t('test-question-assembler.before') }}</div>
                                </div>
                                <select class="form-control" :disabled="finalized || test.question_pool_size < 1" :class="!test.hidden ? 'text-success' : 'text-danger'" v-model="test.hidden" required>
                                    <option class="text-success" :value="0">{{ $t('edit-course.public') }}</option>
                                    <option class="text-danger" :value="1">{{ $t('edit-course.hidden') }}</option>
                                </select>
                            </div>
                            <div class="col-12">
                                <div v-if="finalized" class="d-flex align-items-center mb-1">
                                    <i class="fas fa-info-circle text-danger"></i>
                                    <div class="ml-2">{{$t('edit-test.finalize-warning', {course: test.courses.find(c => c.finalized).title})}}</div>
                                </div>
                                <button type="submit" :disabled="loading" class="btn btn-submit">{{ $t('edit-test.save-changes') }}</button>
                            </div>
                            <div class="col-12" style="margin-top: 8px;">
                                <button class="btn btn-outline-primary w-100" @click="$router.push({name: 'TestQuestionAssembler', params: {test: this.test.id}})"><i class="fas fa-book"></i> {{ $t('edit-test.edit-questions-answers') }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <Loading v-else height="80vh" />
    </div>
</template>
<script>
import Loading from '@/components/Loading.vue'
import Datetime from '@/components/DateTimePicker/Datetime.vue'
export default {
    name: 'TestAssembler',
    components: {
        Loading,
        Datetime
    },
    mounted() {
        this.loading = true
        this.axios.get('/tests/'+this.$route.params.test)
            .then(resp => {
                this.test = resp.data.test
                this.initialHidden = resp.data.test.hidden
            })
            .finally(this.loading = false)
    },
    data() {
        return {
            test: null,
            loading: false,
            initialHidden: 0
        }
    },
    computed: {
        finalized() {
            return this.test?.courses.some(c => c.finalized)
        }
    },
    methods: {
        changePoolSize(e) {
            const size = e.target.value
            if(size < 1) {
                this.test.hidden = 1
            }
            else if(this.initialHidden == 0 && this.test.hidden == 1){
                this.test.hidden = 0
            }
            this.test.question_pool_size = size
        },
        submit() {
            this.loading = true
            this.axios.patch('/tests/'+this.$route.params.test, this.$store.getters.removeEmptyOrNull(this.test))
                .then(resp => {
                    this.test = resp.data.test
                    this.initialHidden = resp.data.test.hidden
                })
                .catch()
                .finally(() => this.loading = false)
        }
    }
}
</script>
