<template>
    <div v-if="$store.state.user">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#" @click.prevent="$router.push({name: 'Home'})">{{ $t('fast-share.homepage') }}</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ $t('fast-share.share-knowledge') }}</li>
                </ol>
            </nav>

          <section id="glossary" class="row">
              <div class="p-0 col-xl-6 col-lg-6 col-md-12 col-12 mr-3">
                  <div class="row" style="margin-left: 0px !important;margin-right: 0px !important;">
                    <div class="col-md-6 col-12" style="cursor: pointer;margin-bottom: 20px;word-break: break-word;" @click="$refs.videoUpload.click()">
                        <div class="shadow item text-center" style="min-height: 150px !important;border-radius: 5px !important;padding-top: 34.5px;">
                            <i class="far fa-file-video" style="font-size: 55px !important;" ></i>
                            <br />
                            <button type="button" class="btn btn-snd" style="font-size:0.85rem">{{ $t('course-materials.add-video') }}</button>
                            <input type="file" accept="video/mp4, video/webm" id="uploadVideo" ref="videoUpload" @change="createUpload('video')" style="display: none;">
                        </div>
                    </div>

                    <div class="col-md-6 col-12" style="cursor: pointer;margin-bottom: 20px;word-break: break-word;" @click="$refs.imageUpload.click()">
                        <div class="shadow item text-center" style="min-height: 150px !important;border-radius: 5px !important;padding-top: 34.5px;">
                            <i class="far fa-image" style="font-size: 55px !important;" alt="#"></i>
                            <br />
                            <a type="button" class="btn btn-snd" style="font-size:0.85rem">{{ $t('course-materials.add-picture') }}</a>
                            <input type="file" accept="image/png, image/jpeg, image/jpg, image/gif" id="uploadImage" ref="imageUpload" @change="createUpload('image')" style="display: none;">
                        </div>
                    </div>
                    <div class="col-md-6 col-12" style="cursor: pointer;margin-bottom: 20px;word-break: break-word;" @click="$refs.audioUpload.click()">
                        <div class="shadow item text-center" style="min-height: 150px !important;border-radius: 5px !important;padding-top: 34.5px;">
                            <i class="fas fa-microphone" style="font-size: 55px !important;" alt="#"></i>
                            <br />
                            <a type="button" class="btn btn-snd" style="font-size:0.85rem">{{ $t('course-materials.add-voice') }}</a>
                            <input type="file" accept="audio/mp3, audio/mpeg, audio/wav" id="uploadAudio" ref="audioUpload" @change="createUpload('audio')" style="display: none;">
                        </div>
                    </div>

                    <div class="col-md-6 col-12" style="cursor: pointer;margin-bottom: 20px;word-break: break-word;" @click="$refs.documentUpload.click()">
                        <div class="shadow item text-center" style="min-height: 150px !important;border-radius: 5px !important;padding-top: 34.5px;">
                            <i class="far fa-file-alt" style="font-size: 55px !important;" alt="#"></i>
                            <br />
                            <a type="button" class="btn btn-snd" style="font-size:0.85rem">{{ $t('course-materials.add-document') }}</a>
                            <input type="file" accept=".doc, .docx, .pdf, .xls, .xlsx, .ods, .ppt, .pptx, .txt" id="uploadDocument" ref="documentUpload" @change="createUpload('document')" style="display: none;">
                        </div>
                    </div>
                    <div class="col-12 mb-4 mt-2">
                        <label>{{ $t('audiorecorder.record') }}</label>
                        <AudioRecorder @update="updateUnuploadedAudioCount" @upload="handleAudioRecording" ref="recorder" />
                    </div>
                </div>
                <form @submit.prevent="submit" >
                    <div class="col-12 gloss-bottom no-margin">
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">{{ $t('fast-share.content') }}</label>
                            <textarea ref="summernote" class="form-control" id="exampleFormControlTextarea1" rows="3" v-model="content">{{ $t('fast-share.note') }}</textarea>
                        </div>
                    </div>
                    <div class="col-12">
                        <span class="font-18" style="font-size: 18px" v-if="$store.state.user.role !== 'Admin'">
                            <i class="fas fa-info-circle mr-2" style="color: var(--lblue)"></i>
                            <span class="mb-3" style="font-size: 0.9em !important;">{{$t('create-glossary-article.admin-msg')}}</span>
                        </span>
                        <div class="d-flex align-items-center" v-if="files.filter(file => file.uuid === null).length > 0 || unuploadedAudioCount > 0">
                            <i class="fas fa-info-circle text-danger font-20" style="font-size: 20px"></i>
                            <div class="ml-2">{{$t('fast-share.unuploaded-warning')}}</div>
                        </div>
                        <button type="submit" class="btn btn-search mt-3" :disabled="loading || files.filter(file => file.uuid === null).length > 0 || unuploadedAudioCount > 0">{{ $t('fast-share.send') }}</button>
                    </div>
                </form>
              </div>
            
               <section id="buttons" class="col-xl-6 col-lg-6 col-md-12 col-12 row p-0 mt-3 mt-lg-0">
                <div class="row col-12">
                    <section id="uploads" style="width: 100%">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                        <h1 class="mb-4">{{ $t('fast-share.uploads') }}</h1>
                        <div class="row">
                            <div v-for="(file, index) in files" :key="file.id" class="col-12 mb-3">
                                <Upload v-if="file.shown" :file="file.file" :type="file.type" :id="file.id" @uploadFinished="finishUpload" @uploadCancelled="cancelUpload"/>
                            </div>
                            <div v-if="files.length == 0" class="mb-2">
                                <h2>{{ $t('fast-share.no-uploads') }}</h2>
                            </div>
                        </div>
                    </div>
                    </section>
                </div>
        </section>
        </section>
        <div class="modal" tabindex="-1" ref="leaveModal">
            <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{$t('fast-share.leave-title')}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>{{$t('fast-share.leave-text')}}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{{$t('common.cancel')}}</button>
                    <button type="button" class="btn btn-primary" @click="confirmedLeave = true; this.$router.push(this.to ?? {name: 'Home'})" data-dismiss="modal">{{$t('common.yes')}}</button>
                </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Upload from '@/components/Upload'
import AudioRecorder from '@/components/AudioRecorder'
import {ref, onMounted} from 'vue'
export default {
    name: 'FastShare',
    components: {
        Upload,
        AudioRecorder
    },
    mounted() {
        $(this.$refs.summernote).summernote({
            height: 400,
            toolbar: [
                ['style', ['style.h1', 'style.h2', 'style.h3','style.h4', 'style.h5', 'style.h6']],
                ['style', ['bold', 'italic', 'underline',]],
                ['insert', ['link']],
                ['para', ['ul', 'ol', 'paragraph']],
                ['view', ['fullscreen', 'help']],
            ],
            callbacks: {
                onChange: (contents, $editable) => {
                    this.content = contents
                }
            }
        })

    },
    data() {
        return {
            content: null,
            files: [],
            loading: false,
            to: null,
            confirmedLeave: false,
            unuploadedAudioCount: 0
        }
    },
    watch: {
        files() {
            return this.files;
        },
    },
    computed: {
        canSend() {
            return !this.files.find(file => file.uuid === null)
        },
        charCount() {
            return $(this.$refs['summernote']).summernote('code')
        },
    },
    methods: {
        updateUnuploadedAudioCount(count) {
            this.unuploadedAudioCount = count
        },
        handleAudioRecording(audio) {
            const blob = new Blob(audio.chunks, {
                type: "audio/mpeg"
            });
            const file = new File([blob], audio.name, {type: audio.type})
            this.files.push({file: file, type: 'audio', shown: true, uuid: null, id: this.files.length})
        },
        createUpload(type) {
            if(event.target.files.item(0))
                this.files.push({file: event.target.files.item(0), type: type, shown: true, uuid: null, id: this.files.length})
        },
        finishUpload(id, multimedia) {
            this.files.find(file => file.id === id).uuid = multimedia.id
        },
        cancelUpload(id, uuid) {
            this.files.splice(this.files.indexOf(this.files.find(file => file.id === id)), 1)
        },
        submit() {
            this.loading = true
            let formData = {};
            const multimedia = this.files.filter(file => file.uuid !== null).map(file => file.uuid)
            if(this.content) {
                formData.content = this.content
            }
            if(multimedia.length > 0)
                formData.multimedia = multimedia

            this.axios.post('/quick-share', formData)
                .then(resp => {
                    this.files = []
                    this.content = null
                    $(this.$refs.summernote).summernote('code', '')
                })
                .catch(e => console.log(e.response))
                .finally(() => this.loading = false)
        }
    },
    async beforeRouteLeave (to, from, next) {
        if (!this.confirmedLeave && (this.files.length > 0 || this.content != null || this.unuploadedAudioCount > 0)) {
            this.to = to
            $(this.$refs.leaveModal).modal('show')
            return next(false)
        }
        return next()
    }
}
</script>
<style>
.note-editor {
    background: white;
}
</style>
