<template>
    <div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a @click.prevent="$router.push({name: 'Home'})" href="#">{{ $t('glossary.homepage') }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ $t('feedback.name') }}</li>
            </ol>
        </nav>

        <section id="feedback" class="mt-4">
            <form @submit.prevent="submit">
                <div class="row">
                    <div class="col-12 mb-2">
                        <button type="button" v-if="$store.state.user.role == 'Admin'" class="btn btn-outline-primary float-right ml-2 mb-4" @click="$router.push({name: 'FeedbackList'})">{{$t('feedback.unresolved')}}</button>
                        <button type="button" v-if="$store.state.user.role == 'Admin'" class="btn btn-outline-primary mb-4 float-right ml-2" @click="$router.push({name: 'ResolvedFeedbackList'})">{{$t('feedback.resolved')}}</button>
                        <h1>{{$t('feedback.header')}}</h1>
                        <h2>{{$t('feedback.intro')}}</h2>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">{{$t('feedback.feedback-type')}}<span class="orange">*</span></label>
                            <select required :disabled="feedback.submitting" class="form-control" id="exampleFormControlSelect1" v-model="feedback.feedback_type_id">
                                <option selected :value="null" disabled>-- {{$t('feedback.select')}} --</option>
                                <option v-for="feedbackType in feedbackTypes"  :key="feedbackType.id" :value="feedbackType.id">{{$t('feedback.'+feedbackType.name)}}</option>
                            </select>
                            </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">{{$t('feedback.feedback-text')}} <span class="orange">*</span></label>
                            <textarea required :disabled="feedback.submitting" v-model="feedback.feedback" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="col-12">
                        <button type="submit" :disabled="feedback.submitting || feedback.feedback_type_id == null" class="btn btn-save float-right">{{$t('feedback.send')}}</button>
                    </div>
                </div>
            </form>
        </section>
    </div>
</template>
<script>
export default {
    name: 'Feedback',
    mounted() {
        this.axios.get('/feedback-types')
            .then(resp => this.feedbackTypes = resp.data)
    },
    data() {
        return {
            feedbackTypes: [],
            feedback: {
                feedback_type_id: null,
                feedback: null,
                submitting: false
            }
        }
    },
    methods: {
        submit() {
            this.feedback.submitting = true
            this.axios.post('/feedback', this.feedback)
                .then(resp => {
                    this.$router.back()
                })
                .finally(() => this.feedback.submitting = false)

        }
    }
}
</script>
<style scoped>
 @media (max-width: 768px) {
     .btn-primary {
         width: 100% !important;
     }
 }
</style>