<template>
  <div class="form-module-holder">
    <div>
      <div class="module form-module">
        <div></div>
        <div class="form">
          <img src="assets/img/logo_blue.png" alt="" />
          <h2>{{ $t('forgot-password.forgot-password') }}</h2>
          <form @submit.prevent="submit">
            <label for="inputEmail" class="login-label">{{ $t('forgot-password.email') }}</label>
            <input
              type="email"
              id="inputEmail"
              class="form-control login-input"
              :placeholder="$t('register.user-email')"
              required
              v-model="email"
              autofocus
            />
            <div class="w-100 text-left mb-2">
                <router-link class="text-left" :to="{ name: 'ResetPassword' }" style="color: var(--lblue)">{{ $t('forgot-password.click-here') }}</router-link>
            </div>

            <button
              class="login-button"
              type="submit"
              :disabled="loading"
            >
              {{ $t('forgot-password.send-email') }}
            </button>
          </form>
        </div>
        <div class="cta">
          <router-link :to="{ name: 'Register' }">{{ $t('forgot-password.registry') }}</router-link>
          <br /><br />
          <router-link :to="{ name: 'Login' }">{{ $t('forgot-password.login') }}</router-link>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "ForgotPassword",
  props: {
      emailProp: String
  },
  data() {
    return {
      email: !this.emailProp || this.emailProp == 'null' || this.emailProp == 'undefined' ? null : this.emailProp,
      loading: false,
    };
  },
  methods: {
    submit() {
      this.loading = true;
      this.axios
        .post("/new-password-reset", { email: this.email })
        .then((resp) => {
            this.$router.push({name: 'ResetPassword', params: {email: this.email}})
        })
        .catch((err) => console.log(err.response))
        .finally(() => (this.loading = false));
    },
  },
};
</script>
<style scoped>

.login-input {
  width: 100%;
  padding: 6px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1.5px solid #ced4da !important;
  border-radius: 4px;
  transition: 300ms;
  text-align: justify !important;
  line-height: 170% !important;
}

.login-label {
  margin-bottom: .5rem;
}
.login-button {
  border: none;
  border-radius: 4px;
  color: white;
  margin-top: 9px !important;
  width: 100%;
  padding: 12px 20px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  text-align: center !important;
  text-transform: uppercase;
  background: var(--lblue);
}

.login-button:disabled {
    cursor: default;
    background: rgb(177, 211, 250);
}
.form-module-holder {
  background: #e9e9e9;
  color: #666666;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
} 
@media (max-width: 500px) {
    .form-module {
        position: relative;
        background: #ffffff;
        width: 300px;
        border-top: 5px solid var(--lblue);
        border-radius: 4px;
        -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
        margin: 0 auto;
    }

    .form-module img {
        height: 44px;
        width: 100%;
    }
}

@media (min-width: 501px) {
    .form-module {
        position: relative;
        background: #ffffff;
        width: 430px;
        border-top: 5px solid var(--lblue);
        border-radius: 4px;
        -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
        margin: 0 auto;
    }

    .form-module img {
        height: 50px;
    }
}

.form-module .form {
  display: none;
  padding: 40px;
  text-align: center;
}

.form-module .form:nth-child(2) {
  display: block;
}

.form-module h2 {
  margin: 0 0 20px;
  color: #666666;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  padding-top: 15px;
  padding-bottom: 15px;
}

.form-module label {
  text-align: left;
  display: block;
  font-weight: 300;
  font-size: 13px;
}

.form-module input {
  height: 44px;
  font-size: 13px;
  padding-left: 15px;
  margin-bottom: 20px;
}

.form-module .cta {
  background: #f2f2f2;
  width: 100%;
  padding: 15px 40px;
  box-sizing: border-box;
  color: #666666;
  font-size: 12px;
  text-align: center;
}

.form-module .cta a {
  color: #333333;
  text-decoration: none;
}
</style>
