<template>
    <div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <!-- <li class="breadcrumb-item"><a @click.prevent="$router.push({name: 'Home'})" href="#">{{ $t('glossary-article.homepage') }}</a></li> -->
                <li class="breadcrumb-item" aria-current="page"><a @click.prevent="$router.push({name: 'Glossary'})" href="#">{{ $t('glossary-article.knowledge-base') }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ $t('glossary-article.knowledge-base-article') }}</li>
            </ol>
        </nav>

            <section id="glossary">

                <div class="row" v-if="article">
                    <div class="col-lg-12 col-12 glossary-item">
                        <h3 class="mb-3">
                            <span>{{article.title}}</span>
                            <span v-if="$store.state.user.role == 'Admin'" class="ml-4 d-inline-flex align-items-center" style="cursor: pointer;" @click.prevent="$router.push({name: 'EditGlossaryArticle', params: {id: article.id}})"><i class="fas fa-pen font-20" style="font-size: 20px; color:black"></i></span>
                            <span v-if="$store.state.user.role == 'Admin'" data-toggle="modal" :data-target="'#glossaryDeleteModal'+article.id" class="ml-2 d-inline-flex align-items-center" style="cursor: pointer;"><i class="fas fa-trash-alt font-20" style="font-size: 20px; color:red"></i></span>
                        </h3>
                        <h4 v-html="$store.getters.sanitizeSummernoteText(article.content)"></h4>
                        <div v-if="article.multimedia && article.multimedia.length > 0" class="mt-3">
                    <div class="mb-2">
                            <div v-for="multimedia in article.multimedia.filter((mm) => mm.type == 'document')" :key="multimedia.id" class="ml-2 mt-2">
                                <span>
                                    <a :href="storageURL+multimedia.path+'?token='+token" target="_blank">
                                        <i class="far fa-file-alt mr-1" alt="#" style="font-size: 20px !important;"></i>
                                        <span style="color: var(--lblue)">{{multimedia.name}}</span>
                                    </a>
                                </span>
                            </div>
                            <div v-for="multimedia in article.multimedia.filter((mm) => mm.type == 'audio')" :key="multimedia.id" class="mt-4">
                                <p class="ml-3 mb-0">{{multimedia.name}}</p>
                                <audio controls>
                                    <source :src="storageURL+multimedia.path+'?token='+token">
                                </audio>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div v-for="multimedia in article.multimedia.filter((mm) => mm.type == 'video' || mm.type == 'image')" :key="multimedia.id" class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 mt-4" style="max-height: 560px;">
                                <div v-if="multimedia.type == 'video' || multimedia.type == 'image' " style="color: var(--lblue); cursor:pointer; background-color: grey; width: 100%; height: 100%" 
                                    data-fancybox="fancy" 
                                    :href="multimedia.type != 'video' ? storageURL+multimedia.path+'?token='+token : '#'+multimedia.id" target="_blank"
                                    :data-caption="multimedia.name"
                                >
                                    <div v-if="multimedia.type == 'video'" style="width: 100%; height: 100%">
                                        <video style="width: 100%; height: 100%; object-fit: cover; pointer-events: none;" nocontrols >
                                            <source :src="storageURL+multimedia.path+'?token='+token">
                                        </video>
                                        <video :id="multimedia.id" style="display: none;" controls controlsList="nodownload">
                                            <source :src="storageURL+multimedia.path+'?token='+token">
                                        </video>
                                        <i class="far fa-play-circle playbtn"></i>
                                    </div>
                                    <div v-if="multimedia.type == 'image'" style="width: 100%; height: 100%;" >
                                        <img :src="storageURL+multimedia.path+'?token='+token" style="width: 100%; height: 100%; object-fit: cover;">
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                        <h5 class="labels" style="display: flex; flex-wrap: wrap">
                            <span v-for="label in article.labels" :key="label.id" class="label mr-1 mt-1">{{label.name}}</span>    
                        </h5>
                    </div>
                    <div class="modal fade" :id="'glossaryDeleteModal'+article.id" tabindex="-1" aria-labelledby="glossaryDeleteModal" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h2 class="modal-title" id="glossaryDeleteModalLabel">{{ $t('glossary.delete-sure') }}</h2>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                {{ $t('glossary.delete-q1') }} <strong>{{article.title}}</strong> {{ $t('glossary.delete-q2') }}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ $t('glossary.cancel') }}</button>
                                <button type="button" class="btn btn-danger" data-dismiss="modal" @click="deleteArticle(article)">{{ $t('glossary.delete') }}</button>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div v-else-if="loading" class="row">
                    <div class="col-12">
                        <Loading height="50vh" />
                    </div>
                </div>
                <div v-else class="col-12 mt-5" style="text-align: center;">
                    <h3>{{ $t('glossary-article.no-article') }}</h3>    
                </div>
        </section>
    </div>
</template>
<script>
import Loading from '@/components/Loading'
export default {
    name: 'Glossary',
    components: {
        Loading
    },
    mounted() {
        this.axios.get('/glossary-articles/'+this.$route.params.id).then(resp => {
            this.article = resp.data.glossaryArticle
            this.loading = false
        })
    },
    data() {
        return {
            article: null,
            loading: true,
            token: this.axios.defaults.headers.common.Authorization.split(' ')[1],
            storageURL: process.env.VUE_APP_STORAGE_URL,
            search: false,
            searchStr: '',
        }
    },
    methods: {
        startSearch() {
            this.loading = true
            this.search = this.searchStr ? true : false
            this.axios.get(`/glossary-articles${this.searchStr ? '?search='+this.searchStr : ''}`).then(resp => {
                this.articles = resp.data.glossaryArticles

            }).finally(() => this.loading = false)
        },
        deleteArticle(article) {
            this.loading = true
            this.axios.delete('glossary-articles/'+article.id)
                .then((resp) => this.$router.push({name: 'Glossary'}))
                .finally(() => this.loading = false)
        }
    }
}
</script>
<style scoped>
.playbtn {
    position: absolute; 
    left: 50%; top: 50%; 
    transform: translate(-50%, -50%); 
    font-size: 70px; 
    color:white
}
@media (max-width: 425px) {
        .playbtn {
            font-size: 49px !important;
        }
    }
.playbtn:hover {
    color: rgb(196, 196, 196);
}
h4::v-deep(a[href]) {
    color: var(--lblue) !important;
    text-decoration: underline;
}
</style>
