<template>
    <div>
        <!-- <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a @click.prevent="$router.push({name: 'Home'})" href="#">{{ $t('glossary.homepage') }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ $t('glossary-article.knowledge-base') }}</li>
            </ol>
        </nav> -->

        <!-- Modal -->
        <div class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="helpModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="helpModalLabel">{{ $t('glossary.search-help') }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {{ $t('glossary.search-info') }}
                        <br>
                        <ul>
                        <div class="row mt-4">
                            <div class="col-12">
                                <h2><strong>+</strong></h2>
                            </div>
                             <div class="col-12">
                                 {{ $t('glossary.text1') }}
                                
                            </div>
                        </div>
                        <div class="row mt-5">
                            <div class="col-12">
                                <h2><strong>-</strong></h2>
                            </div>
                             <div class="col-12">
                                 {{ $t('glossary.text2') }}
                            </div>
                        </div>
                        <div class="row mt-5">
                            <div class="col-12">
                                <h4><strong>{{ $t('glossary.no-operator') }}</strong></h4>
                            </div>
                             <div class="col-12" >
                              {{ $t('glossary.text3') }}  
                            </div>
                        </div>
                        <div class="row mt-5">
                            <div class="col-12">
                                <h4><strong>@distance</strong></h4>
                            </div>
                             <div class="col-12" >
                                 {{ $t('glossary.text4') }}
                            </div>
                        </div>
                        <div class="row mt-5">
                            <div class="col-12">
                                <h4><strong>&gt; &lt;</strong></h4>
                            </div>
                             <div class="col-12" >
                                 {{ $t('glossary.text5') }}
                            </div>
                        </div>
                        <div class="row mt-5">
                            <div class="col-12">
                                <h4><strong>( )</strong></h4>
                            </div>
                             <div class="col-12" >
                                 {{ $t('glossary.text6') }}
                            </div>
                        </div>
                        <div class="row mt-5">
                            <div class="col-12">
                                <h4><strong>~</strong></h4>
                            </div>
                             <div class="col-12" >
                                 {{ $t('glossary.text7') }}
                            </div>
                        </div>
                        <div class="row mt-5">
                            <div class="col-12">
                                <h4><strong>*</strong></h4>
                            </div>
                             <div class="col-12" >
                               <p>{{ $t('glossary.text8') }}
                                   </p>
                               <p>{{ $t('glossary.text9') }}
                                   </p>
                               <p>{{ $t('glossary.text10') }}
                                   </p>
                            </div>
                        </div>
                        <div class="row mt-5">
                            <div class="col-12">
                                <h4><strong>"</strong></h4>
                            </div>
                             <div class="col-12" >
                                <p>{{ $t('glossary.text11') }}
                                    </p>
                                <p>{{ $t('glossary.text12') }}
                                    </p>
                            </div>
                        </div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

            <section id="glossary">
                <div class="row gloss-top">
                    <div class="col-12 text-center"></div>
                    
                    <form class="col-md-3 col-12 d-flex alig-items-center" @submit.prevent="startSearch">
                        <input type="text" class="form-control" :placeholder="$t('chat.search-2')" v-model="searchStr">
                        </form>
                    <div class="col-md-2 col-10 cstm-pdng">
                        <button :disabled="loading" type="button" class="btn btn-search" @click="startSearch()">{{ $t('glossary.search') }}</button>
                    </div>
                    <div class="col-md-1 col-2 ">
                        <div class="d-flex align-items-center q-icon font-28" data-toggle="modal" data-target="#helpModal" style="color: var(--red); font-size: 28px; cursor: pointer;"><i class="fas fa-question-circle"></i></div>
                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-4 col-12" v-if="$store.state.user">
                        <button v-if="$store.state.user.role == 'Admin' || $store.state.user.role == 'Master'" class="btn btn-search" @click="$router.push({name: 'CreateGlossaryArticle'})">{{ $t('glossary.new-entry') }}</button>
                    </div>
                    <div class="col-12 mt-4">
                        <span v-for="label in labels" :key="label" class="mr-2 p-1 d-inline-flex align-items-center" style="flex-grow: 0; background-color: var(--red); color: white; border-radius: 3px; width: fit-content">
                            <span>{{label}}</span> 
                            <span @click="removeLabelFromFilter(label)" class="d-inline-flex align-items-center font-18"><i class="fas fa-times ml-1" style="font-size: 18px; cursor: pointer;"></i></span>
                        </span>
                    </div>
                    <div class="col-12 mt-4" v-if="searchBy">
                        <h4 class="d-inline-flex align-items-end">
                            <span>{{ $t('glossary.found') }} <strong>{{searchBy}}</strong></span>
                            <span @click="clearSearch()" class="ml-1 d-inline-flex align-items-center" style="cursor: pointer"><i class="fas fa-times" style="color: red"></i></span>
                        </h4>
                    </div>
                </div>
                <div class="row" v-if="!loading && articles.length > 0">
                    <div v-for="article in articles" :key="article.id" class="col-12 glossary-item">
                        <div class="yellow-left">
                            <div class="pl-3">
                            <div>
                                <h3>
                                    <span style="cursor: pointer;" @click.prevent="$router.push({name: 'GlossaryArticle', params: {id: article.id}})">{{article.title}}</span>
                                    <span v-if="$store.state.user.role == 'Admin'" class="ml-4 d-inline-flex align-items-center" style="cursor: pointer;" @click.prevent="$router.push({name: 'EditGlossaryArticle', params: {id: article.id}})"><i class="fas fa-pen font-20" style="font-size: 20px; color:black"></i></span>
                                    <span v-if="$store.state.user.role == 'Admin'" data-toggle="modal" :data-target="'#glossaryDeleteModal'+article.id" class="ml-2 d-inline-flex align-items-center" style="cursor: pointer;"><i class="fas fa-trash-alt font-20" style="font-size: 20px; color:red"></i></span>
                                </h3>
                                <h4 style="cursor: pointer;" class="article" :class="isNative ? '' : 'line-clamp'" v-html="$store.getters.sanitizeSummernoteText(article.content)" @click.prevent="$router.push({name: 'GlossaryArticle', params: {id: article.id}})"></h4>
                                <div class="modal fade" :id="'glossaryDeleteModal'+article.id" tabindex="-1" aria-labelledby="glossaryDeleteModal" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                        <div class="modal-header">
                                            <h2 class="modal-title" id="glossaryDeleteModalLabel">{{ $t('glossary.delete-sure') }}</h2>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            {{ $t('glossary.delete-q1') }} <strong>{{article.title}}</strong> {{ $t('glossary.delete-q2') }}
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ $t('common.cancel') }}</button>
                                            <button type="button" class="btn btn-danger" data-dismiss="modal" @click="deleteArticle(article)">{{ $t('common.delete') }}</button>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                                <div v-if="article.multimedia && article.multimedia.length > 0" class="mt-3">
                                <div class="mb-2">
                                    <div v-for="multimedia in article.multimedia.filter((mm) => mm.type == 'document')" :key="multimedia.id" class="ml-2 mt-2">
                                        <span>
                                            <a :href="storageURL+multimedia.path+'?token='+token" target="_blank">
                                                <i class="far fa-file-alt mr-1 font-20" alt="#" style="font-size: 20px !important;"></i>
                                                <span style="color: var(--lblue)">{{multimedia.name}}</span>
                                            </a>
                                        </span>
                                    </div>
                                    <div v-for="multimedia in article.multimedia.filter((mm) => mm.type == 'audio')" :key="multimedia.id" class="mt-4">
                                        <p class="ml-3 mb-0">{{multimedia.name}}</p>
                                        <audio controls>
                                            <source :src="storageURL+multimedia.path+'?token='+token">
                                        </audio>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div v-for="multimedia in article.multimedia.filter((mm) => mm.type == 'video' || mm.type == 'image')" :key="multimedia.id" class="col-sm-12 col-md-6 col-lg-12 col-xl-6 mt-4" style="height: 160px;">
                                        <div v-if="multimedia.type == 'video' || multimedia.type == 'image' " style="color: var(--lblue); cursor:pointer; background-color: grey; width: 100%; height: 100%" 
                                            data-fancybox="fancy" 
                                            :href="multimedia.type != 'video' ? storageURL+multimedia.path+'?token='+token : '#'+multimedia.id" target="_blank"
                                            :data-caption="multimedia.name"
                                        >
                                            <div v-if="multimedia.type == 'video'" style="width: 100%; height: 100%">
                                                <video style="width: 100%; height: 100%; pointer-events: none;" nocontrols >
                                                    <source :src="storageURL+multimedia.path+'?token='+token">
                                                </video>
                                                <video :id="multimedia.id" style="display: none;" controls controlsList="nodownload">
                                                    <source :src="storageURL+multimedia.path+'?token='+token">
                                                </video>
                                                <i class="far fa-play-circle playbtn"></i>
                                            </div>
                                            <div v-if="multimedia.type == 'image'" style="width: 100%; height: 100%">
                                                <img :src="storageURL+multimedia.path+'?token='+token" style="width: 100%; height: 100%">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                            <h5 class="labels" style="display: flex; flex-wrap: wrap">
                                <span v-for="label in article.labels" :key="label.id" class="label mr-1 mt-1" style="cursor: pointer;background-color: var(--yellow) !important;" @click="addLabelToFilter(label.name)">{{label.name}}</span>    
                            </h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div v-if="loading" class="row">
                    <div class="col-12">
                        <Loading height="20vh" />
                    </div>
                </div>
                <div class="row" v-else-if="paginator">
                    <regular-paginator :paginator="paginator" @loadPage="loadArticles" classes="w-100 mb-2" />
                </div>
                <div v-else-if="searchBy" class="col-12 mt-5" style="text-align: center;">
                    <h3> {{ $t('glossary.nothing') }} </h3>
                </div>
                <div v-else class="col-12 mt-5" style="text-align: center;">
                    <h3>{{ $t('glossary.empty') }}</h3>    
                </div>
        </section>
    </div>
</template>
<script>
import { Capacitor } from '@capacitor/core';
import Loading from '@/components/Loading'
import InfiniteScroll from '../components/InfiniteScroll.vue'
import RegularPaginator from '../components/RegularPaginator.vue'
export default {
    name: 'Glossary',
    components: {
        Loading,
        InfiniteScroll,
        RegularPaginator  
    },
    mounted() {
      this.axios.get('/glossary-articles').then(resp => {
            this.articles = resp.data.glossaryArticles
            this.paginator = resp.data.paginator
            this.loading = false
        })
    },
    data() {
        return {
            isNative: Capacitor.isNative,
            articles: [],
            paginator: null,
            articlesFiltered: [],
            recentlyAddedLabel: null,
            filteringBy: false,
            searchBy: null,
            labels: [],
            loading: true,
            token: this.axios.defaults.headers.common.Authorization.split(' ')[1],
            storageURL: process.env.VUE_APP_STORAGE_URL,
            searchStr: '',
        }
    },
    computed: {
        pages() {
            if(this.paginator) {
                let arr = Array()
                for(let i = 1; i <= this.paginator.last_page; i++) {
                    arr.push(i)
                }
                return arr
            }
            return 1
        }
    },
    methods: {
        startSearch() {
            this.loading = true
            this.searchBy = this.searchStr ? this.searchStr.trim() : null
            let params = {
                search: this.searchBy,
                labels: this.labels,
                newLabel: this.recentlyAddedLabel
            }
            this.recentlyAddedLabel = null
            console.log(params)
            this.axios.get(`/glossary-articles`, {params}).then(resp => {
                this.articles = resp.data.glossaryArticles
                this.paginator = resp.data.paginator

            }).finally(() => this.loading = false)
        },
        loadArticles(page) {
            this.loading = true
            let params = {
                search: this.searchBy,
                labels: this.labels,
                page: page
            }
            this.paginator.current_page = page
            this.axios.get('/glossary-articles', {params})
                .then(resp => {
                    this.articles = resp.data.glossaryArticles
                    this.paginator = resp.data.paginator
                })
                .finally(() => this.loading = false)
        },
        clearSearch() {
            this.searchStr = null
            this.startSearch()
        },
        addLabelToFilter(labelName) {
            if(!this.labels.some(label => label == labelName)) {
                this.recentlyAddedLabel = labelName
                this.labels.push(labelName)
                this.startSearch()
            }
        },
        removeLabelFromFilter(labelName) {
            const labelIdx = this.labels.findIndex(label => label == labelName)
            if(labelIdx !== -1) {
                this.labels.splice(labelIdx, 1)
                this.startSearch()
            }
        },
        deleteArticle(article) {
            this.loading = true
            this.axios.delete('glossary-articles/'+article.id)
                .then((resp) => this.articles.splice(this.articles.findIndex(a => article.id == a.id), 1))
                .finally(() => this.loading = false)
        }
    }
}
</script>
<style scoped>
.playbtn {
    position: absolute; 
    left: 50%; top: 50%; 
    transform: translate(-50%, -50%); 
    font-size: 70px; 
    color:white
}

 @media (max-width: 425px) {
        .playbtn {
            font-size: 49px !important;
        }
    }
.playbtn:hover {
    color: rgb(196, 196, 196);
}

@supports(-webkit-line-clamp: 6) {
    .line-clamp {
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-box-pack: end;
        overflow : hidden;
        -webkit-line-clamp: 6;
    }
}
.article {
  padding-bottom: 2px;
  font-weight: 600;
}
.yellow-left {
    border-left: 3px solid var(--yellow);
}
.form-control {
    background-color: var(--cstmgray) !important;
    border-color: var(--cstmgray) !important;
    color: var(--black30) !important;
}

.q-icon {
    padding-top: 5px;
}

@media (max-width: 767px) {
    .q-icon {
        padding-top: 24px !important;
        float: right;
    }
}
</style>
