<template>
    <DLAUserHome v-if="user && user.role == 'DLA User'" />
    <AdminHome v-else-if="user && user.role == 'Admin'" />
    <MasterHome v-else-if="user && user.role == 'Master'" />
    <UserHome v-else-if="user && user.role == 'User'" />
</template>
<script>
import DLAUserHome from '@/components/DLAUserHome.vue'
import AdminHome from '@/components/AdminHome.vue'
import MasterHome from '@/components/MasterHome.vue'
import UserHome from '@/components/UserHome.vue'

export default {
    name: "Home",
    components: {
        DLAUserHome,
        AdminHome,
        MasterHome,
        UserHome
    },
    computed: {
      user() {
          return this.$store.state.user
      }
  }
}
</script>