<template>
  <div class="form-module-holder">
    <div>
      <div class="module form-module">
        <div></div>
        <div class="form">
          <img src="assets/img/logo_blue.png" alt="" />
          <h2>{{ $t('login.d-login') }}</h2>
          <form @submit.prevent="login">
            <label for="inputEmail" class="login-label">{{ $t('login.email') }}</label>
            <input
              type="email"
              id="inputEmail"
              class="form-control login-input"
              :placeholder="$t('course-bar-association-report.user-mail')"
              required
              v-model="email"
              autofocus
            />
            <label for="inputPassword" class="login-label">{{ $t('login.password') }}</label>
            <input
              type="password"
              id="inputPassword"
              class="form-control login-input"
              :placeholder="$t('common.password')"
              required
              v-model="password"
            />
            <button
              class="login-button"
              type="submit"
              :disabled="loading"
            >
              {{ $t('login.login') }}
            </button>
          </form>
        </div>
        <div class="cta">
          <router-link :to="{ name: 'Register' }">{{ $t('login.registry') }}</router-link>
          <br /><br />
          <router-link :to="{ name: 'ForgotPassword' }">{{ $t('login.forgot-password') }}</router-link>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Login",
  data() {
    return {
      email: null,
      password: null,
      loading: false,
    };
  },
  methods: {
    login() {
      this.loading = true;
      this.axios
        .post("/login", { email: this.email, password: this.password })
        .then((resp) => {
          this.$store.commit("setUser", resp.data.user);
          localStorage.setItem("accessToken", resp.data.token);
          this.$router.push({ name: "Home" });
          this.axios.defaults.headers.common = {
            Authorization: `Bearer ${resp.data.token}`,
            Accept: "Application/json",
          };
          this.axios.defaults.headers.common['X-Socket-Id'] = window.Echo.socketId();
          
          window.Echo.options.auth.headers.Authorization = `Bearer ${resp.data.token}`
          this.$store.state.token = resp.data.token
          this.$store.dispatch('setupWebsocketListeners')
        })
        .catch((err) => console.log(err))
        .finally(() => (this.loading = false));
    },
  },
};
</script>
<style scoped>

.login-input {
  width: 100%;
  padding: 6px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1.5px solid #ced4da !important;
  border-radius: 4px;
  transition: 300ms;
  text-align: justify !important;
  line-height: 170% !important;
}

.login-label {
  margin-bottom: .5rem;
}
.login-button {
  border: none;
  border-radius: 4px;
  color: white;
  margin-top: 9px !important;
  width: 100%;
  padding: 12px 20px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  text-align: center !important;
  text-transform: uppercase;
  background: var(--lblue);
}

.login-button:disabled {
    cursor: default;
    background: rgb(177, 211, 250);
}

.form-module-holder {
  background: #e9e9e9;
  color: #666666;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
}


@media (max-width: 500px) {
    .form-module {
        background: #ffffff;
        width: 300px;
        border-top: 5px solid var(--lblue);
        border-radius: 4px;
        -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
        margin: 0 auto;
    }

    .form-module img {
        height: 44px;
        width: 100%;
    }
}

@media (min-width: 501px) {
    .form-module {
        position: relative;
        background: #ffffff;
        width: 430px;
        border-top: 5px solid var(--lblue);
        border-radius: 4px;
        -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
        margin: 0 auto;
    }

    .form-module img {
        height: 50px;
    }
}

.form-module .form {
  display: none;
  padding: 40px;
  text-align: center;
}

.form-module .form:nth-child(2) {
  display: block;
}

.form-module h2 {
  margin: 0 0 20px;
  color: #666666;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  padding-top: 15px;
  padding-bottom: 15px;
}

.form-module label {
  text-align: left;
  display: block;
  font-weight: 300;
  font-size: 13px;
}

.form-module input {
  height: 44px;
  font-size: 13px;
  padding-left: 15px;
  margin-bottom: 20px;
}

.form-module .cta {
  background: #f2f2f2;
  width: 100%;
  padding: 15px 40px;
  box-sizing: border-box;
  color: #666666;
  font-size: 12px;
  text-align: center;
}

.form-module .cta a {
  color: #333333;
  text-decoration: none;
}
</style>
