<template>
    <div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#" @click.prevent="$router.push({name: 'Home'})">{{ $t('manage-tests.homepage') }}</a></li>
                <li class="breadcrumb-item actuve"><a href="#">{{ $t('manage-tests.managing-tests') }}</a></li>
            </ol>
        </nav>
        <AdminMenu/>
        <!-- <div class="col-12 p-0 mb-4">
            <h2 class="breadcrumb-element w-100">{{ $t('manage-tests.manage-tests') }}</h2>
        </div> -->
         <section v-if="!loading && tests" section id="list-table" class="table-responsive" style="height: 100% !important;">
            <h3 class="mb-3 mt-3 test-table-title d-flex align-items-end" style="justify-content: space-between">
                <div>{{ $t('manage-tests.tests') }}</div>
                <router-link :to="{name: 'TestAssembler'}" class="btn btn-outline-primary mb-0">{{ $t('manage-tests.create-new') }}</router-link>
            </h3>
            <div class="table-responsive" style="height: 100% !important;">
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <th>{{ $t('manage-tests.tname') }}</th>
                            <th>{{ $t('manage-tests.tbegin') }}</th>
                            <th>{{ $t('manage-tests.tend') }}</th>
                            <th>{{ $t('manage-tests.visibility') }}</th>
                            <th>Típus</th>
                        </tr>
                        <tr v-for="test in tests" :key="test.id">
                            <td @click.prevent="$router.push({name: 'EditTest', params: {test: test.id}})">
                                <span class="left-play">
                                    <a href="#">
                                        <i class="fas fa-pen"></i>
                                    </a>
                                </span>
                                <a href="#">{{test.name}}</a>
                            </td>
                            <td>{{ test.start_date ? $store.getters.parseDateTime(test.start_date) :'-'}} </td>
                            <td><span class="left">{{test.end_date ? $store.getters.parseDateTime(test.end_date) :'-'}}</span></td>
                            <td :style="{color: test.hidden ? 'red' : 'green'}">{{test.hidden ? $t('manage-courses.hidden') : $t('manage-courses.public')}}</td>
                            <td :style="{color: test.exam ? 'var(--dred)' : ''}">{{test.exam ? $t('manage-tests.exam') : $t('manage-tests.regular')}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <h3 class="mb-3 mt-3">{{ $t('manage-tests.for-fixing') }} </h3>
            <div class="table-responsive" style="height: 100% !important;">
                <table class="table table-striped" v-if="assignmentsToReturn.length > 0">
                    <thead>
                        <tr>
                            <th scope="col">{{ $t('manage-tests.test') }}</th>
                            <th scope="col">{{ $t('manage-tests.user') }}</th>
                            <th scope="col">{{ $t('manage-tests.date') }}</th>
                            <th scope="col">{{ $t('manage-tests.type') }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="testAttempt in assignmentsToReturn" :key="testAttempt.id">
                            <td @click.prevent="$router.push({name: 'CorrectTestAttempt', params: {testAttempt: testAttempt.id}})">
                                <span class="left-play">
                                    <a href="#">
                                        <img src="assets/img/icons/blue-play.png" alt="">
                                    </a>
                                </span>
                                <a href="#">{{testAttempt.test.name}}</a>
                            </td>
                            <td>{{testAttempt.user.name}} </td>
                            <td>{{$store.getters.parseDateTime(testAttempt.finished_at)}}</td>
                            <td :style="{color: testAttempt.test.exam ? 'var(--dred)' : ''}">{{testAttempt.test.exam ? $t('manage-tests.exam') : $t('manage-tests.regular')}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <h3 class="mb-3 mt-3">{{ $t('manage-tests.auto') }} </h3>
            <div class="table-responsive" style="height: 100% !important;">
                <table class="table table-striped" v-if="autocorrectedTestAttempts.length > 0">
                    <thead>
                        <tr>
                            <th scope="col">{{ $t('manage-tests.test') }}</th>
                            <th scope="col">{{ $t('manage-tests.user') }}</th>
                            <th scope="col">{{ $t('manage-tests.date') }}</th>
                            <th scole="col">{{ $t('manage-tests.type') }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="testAttempt in autocorrectedTestAttempts" :key="testAttempt.id">
                            <td @click.prevent="$router.push({name: 'CorrectTestAttempt', params: {testAttempt: testAttempt.id}})">
                                <span class="left-play">
                                    <a href="#">
                                        <img src="assets/img/icons/blue-play.png" alt="">
                                    </a>
                                </span>
                                <a href="#">{{testAttempt.test.name}}</a>
                            </td>
                            <td>{{testAttempt.user.name}} </td>
                            <td>{{$store.getters.parseDateTime(testAttempt.finished_at)}}</td>
                            <td :style="{color: testAttempt.test.exam ? 'var(--dred)' : ''}">{{testAttempt.test.exam ? $t('manage-tests.exam') : $t('manage-tests.regular')}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
        <div v-else>
            <Loading height="80vh" />
        </div>
    </div>
</template>
<script>
import Loading from '@/components/Loading'
import AdminMenu from '@/components/AdminMenu'
export default {
    name: 'TestManagement',
    components: {
        Loading,
        AdminMenu
    },
    mounted() {
        this.loading = true;
        this.axios.get('/tests')
            .then(resp => this.tests = resp.data.tests)
            .finally(() => this.loading = false)
        this.axios.get('/test-attempts/uncorrected')
            .then((resp) => this.assignmentsToReturn = resp.data)
        this.axios.get('/test-attempts/autocorrected')
            .then((resp) => this.autocorrectedTestAttempts = resp.data)
    },
    data() {
        return {
            tests: null,
            loading: false,
            assignmentsToReturn: [],
            autocorrectedTestAttempts: [],
        }
    }

}
</script>
<style scoped>
    h3 {
        font-size: 1.35rem !important;
    }
</style>
