<template>
    <div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a @click.prevent="$router.push({name: 'Home'})" href="#">{{ $t('manage-users.homepage') }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ $t('manage-users.manage-users') }}</li>
            </ol>
        </nav>
        <AdminMenu />
        <div class="row gloss-top">
            <!-- <div class="col-12 mb-4">
                <h2 class="breadcrumb-element w-100">{{ $t('manage-users.manage-users') }}</h2>
            </div> -->
            <div class="col-md-3"></div>
            <form class="col-md-4 mt-2 col-12 d-flex alig-items-center" @submit.prevent="startSearch">
                <input type="text" class="form-control" :placeholder="$t('chat.search-2')" v-model="searchStr">
            </form>
            <div class="col-md-2 mt-2 col-12">
                <button :disabled="loading" type="button" class="btn btn-search" @click="startSearch()">{{ $t('manage-users.search') }}</button>
            </div>
            <div class="col-md-3"></div>
        </div>
        <section id="manage-team" class="mt-4">
            
            <div v-if="!loading && users" class="row">
                <div v-for="user in users" :key="user.id" class="col-lg-4 col-md-6 col-12">
                    <div class="box shadow" style="border-radius: 5px !important;">
                        <div class="d-flex align-items-center">
                            <img v-if="user.avatar" :src="$store.state.storageURL+user.avatar.path+'?token='+$store.state.token" class="team-image ml-0" alt="">
                            <Avatar v-else class="team-image ml-0" :username="user.name" :size="60"/>
                            <h5 class="name ml-2 mt-0 pl-0">
                                {{user.name}} <br />
                                <span class="email mb-1">{{user.email}}</span>
                            </h5>
                        </div>
                        <hr class="mt-2 mb-3" />
                        <div class="row">
                            <div class="col-10 text-left">
                                <h3>{{ $t('manage-users.ongoing') }}</h3>
                            </div>
                            <div class="col-2 text-right">
                                <h3>{{user.coursesInProgress.length}}</h3>
                            </div>

                            <div class="col-10 text-left">
                                <h3>{{ $t('manage-users.ended') }}</h3>
                            </div>
                            <div class="col-2 text-right">
                                <h3>{{user.coursesFinished.length}}</h3>
                            </div>

                            <div class="col-10 text-left">
                                <h3>{{ $t('manage-users.for-fixing') }}</h3>
                            </div>
                            <div class="col-2 text-right">
                                <h3>{{user.test_attempts.filter(ta => {return new Date(Date.parse(ta.finished_at)) < new Date() && !ta.corrected}).length}}</h3>
                            </div>

                            <div class="col-12">
                                <button type="button" class="btn btn-take" @click="$router.push({name: 'Overview', params: {id: user.id}})">{{ $t('manage-users.look-in') }}</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div v-if="users.length == 0" class="w-100 mt-3">
                    <h4 class="text-center">{{ $t('manage-users.no-found') }}</h4>
                </div>
            </div>
            <div v-if="paginator && users && users.length > 0" class="row">
                <regular-paginator :paginator="paginator" @loadPage="loadUsers" classes="w-100 mb-2" />
            </div>
            <Loading v-else-if="loading" height="35vh" />
        </section>
    </div>
</template>
<script>
import Loading from '@/components/Loading.vue'
import Avatar from '@/components/Avatar.vue'
import AdminMenu from '@/components/AdminMenu.vue'
import RegularPaginator from '../components/RegularPaginator.vue'
export default {
    name: 'ManageUsers',
    components: {
        Avatar,
        Loading,
        AdminMenu,
        RegularPaginator
    },
    mounted() {
        this.loading = true;
        this.axios.get('/users')
            .then(resp => {
                this.users = resp.data.users
                this.paginator = resp.data.paginator
                this.paginator.searchStr = null
            })
            .finally(() => this.loading = false)
    }, 
    data() {
        return {
            searchStr: null,
            loading: false,
            users: null,
            paginator: null
        }
    },
    methods: {
        startSearch() {
            this.loading = true;
            const searchStr = this.searchStr
            const params = {
                search: searchStr ? searchStr : null
            }
            this.axios.get('/users', {params})
                .then(resp => {
                    this.users = resp.data.users
                    this.paginator = resp.data.paginator
                    this.paginator.searchStr = searchStr
                })
                .finally(() => this.loading = false)
        },
        loadUsers(page) {
            this.loading = true;
            const searchStr = this.paginator.searchStr
            const params = {
                search: searchStr ? searchStr : null,
                page: page
            }
            this.paginator.current_page = page
            this.axios.get('/users', {params})
                .then(resp => {
                    this.users = resp.data.users
                    this.paginator = resp.data.paginator
                    this.paginator.searchStr = searchStr
                })
                .finally(() => this.loading = false)
        }
    }
}
</script>
<style scoped>
.btn-search {
   color: white !important;
   width: 100% !important;
}
.btn-take, .btn-search {
    background-color: var(--blue) !important;
    border-color: var(--blue) !important;
    transition: 200ms;
}
.btn-take:hover, .btn-search:hover {
    background-color: var(--dblue) !important;
    border-color: var(--dblue) !important;
    transition: 200ms;
}
.form-control {
    background-color: var(--cstmgray) !important;
    border-color: var(--cstmgray) !important;
    color: var(--black30) !important;
}
</style>
