<template>
    <div>
        <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#" @click.prevent="$router.push({name: 'Home'})">{{ $t('manage-news.homepage') }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ $t('manage-news.manage-news') }}</li>
        </ol>
    </nav>
    
    <button class="btn btn-outline-primary mb-2" style="float: right" @click.prevent="$router.push({name: 'CreateNews'})">{{ $t('manage-news.new') }}</button><br>
    <div v-if="!loading" class="pt-2">
        <hr v-if="news.length > 0" />
        <div class="row" v-for="item in news" :key="item.id" style="    display: flex;
  justify-content: center;
  align-items: center;margin-left: 0px;margin-right: 0px;">
            <div class="col-12 mr-2 ml-2" style="margin-left: 50px !important; margin-right: 50px !important; height: 400px; position: relative; background-repeat: no-repeat; background-size: cover; background-position: center;" :style="{backgroundImage: `url(${$store.state.storageURL+item.multimedia.path+'?token='+$store.state.token})`}">
                <div class="news-caption carousel-caption" style="z-index: 1">
                    <h5 style="font-size: 1.8em">
                        <span class="mr-3" v-if="item.link" style="cursor: pointer;" @click.prevent="processLink(item.link)">{{item.content}}</span>
                        <span class="mr-3" v-else>{{item.content}}</span>
                        <a class="mr-3" @click.prevent="$router.push({name: 'EditNews', params: {newsProp: JSON.stringify(item), id: item.id}})" style="cursor: pointer;"><i class="fas fa-pen font-30" style="font-size: 30px; color:black"></i></a>
                        <a data-toggle="modal" :data-target="'#newsDeleteModal'+item.id" style="cursor: pointer;"><i class="fas fa-trash-alt text-danger font-30" style="font-size: 30px;"></i></a>
                    </h5>
                </div>
            </div>
            <div class="col-12">
                <hr>
            </div>
                <div class="modal fade" :id="'newsDeleteModal'+item.id" :ref="'newsDeleteModal-'+item.id" tabindex="-1"  aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">{{ $t('manage-news.delete-sure') }}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            {{ $t('manage-news.delete-question') }} <strong>{{item.content}}</strong> 
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ $t('manage-news.cancel') }}</button>
                            <button type="button" class="btn btn-danger" :disabled="deleting" @click="deleteNews(item)">{{ $t('manage-news.delete') }}</button>
                        </div>
                        </div>
                    </div>
                </div>
        </div>
        <div class="row mt-5" v-if="news. length < 1">
            <div class="col-12">
            <h3>{{ $t('manage-news.no-news') }}</h3>
            </div>
        </div>
    </div>
    <Loading v-else height="70vh" />
    </div>
</template>
<script>
import {sanitizeUrl} from "@braintree/sanitize-url"
import Loading from '@/components/Loading'
export default {
    name: 'ManageNews',
    components: {
        Loading,
    },
    mounted() {
        this.axios.get('/news')
            .then(resp => this.news = resp.data)
            .catch(e => console.log(e))
            .finally(() => this.loading = false)
    },
    data() {
        return {
            loading: true,
            news: [],
            deleting: false
        }
    },
    methods: {
        processLink(link) {
            if(link.includes(process.env.VUE_APP_FRONTEND_URL)) {
                link = link.split(process.env.VUE_APP_FRONTEND_URL)[1]
                this.$router.push({path: link})
            }
            else {
                window.open(sanitizeUrl(link), '_blank');
            }
        },
        deleteNews(news) {
            this.deleting = true
            this.axios.delete('/news/'+news.id)
                .then(resp => {
                    this.news.splice(this.news.findIndex(n => n.id == news.id), 1)
                    $(this.$refs['newsDeleteModal-'+news.id]).modal('hide');
                })
                .catch(e => console.log(e))
                .finally(() => this.deleting = false)
        }
    }
}
</script>
<style scoped>
.news-caption {
    position: absolute;
    width: 100%;
    background-color: var(--oblue) !important;
    padding-top: 35px !important;
    padding-bottom: 25px !important;
    left: 0;
    right: 0;
    bottom: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
</style>
