<template>
    <div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#" @click.prevent="$router.push({name: 'Home'})">{{ $t('manage-coupons.homepage') }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ $t('manage-coupons.manage-coupons') }}</li>
            </ol>
        </nav>
        <button class="btn btn-outline-primary float-right" data-toggle="modal" data-target="#newCouponModal">{{ $t('manage-coupons.new-coupon') }}</button>
       <create-coupon-modal @couponCreated="onCouponCreated" />
       <table class="table table-striped mt-5" v-if="!loading">
            <tbody>
                <tr>
                <th scope="col">{{ $t('manage-coupons.code') }}</th>
                <th scope="col">{{ $t('manage-coupons.sale') }}</th>
                <th scope="col" class="text-center">{{ $t('manage-coupons.edit') }}</th>
                <th scope="col" class="text-center">{{ $t('manage-coupons.delete') }}</th>
                </tr>
                <tr v-for="coupon in coupons" :key="coupon.id">
                    <th>{{coupon.code}}</th>
                    <td>{{coupon.discount}}{{coupon.percentage_based ? '%' : ' Ft'}}</td>
                    <td class="text-center"><a data-toggle="modal" :data-target="'#editCouponModal-'+coupon.id" style="cursor: pointer;"><i class="fas fa-pen"></i></a></td>
                    <td class="text-center"><a data-toggle="modal" :data-target="'#deleteCoupon-'+coupon.id" style="cursor: pointer;"><i class="fas fa-trash-alt text-danger"></i></a></td>
                    <generic-delete-modal 
                        :id="'deleteCoupon-'+coupon.id"
                        :title="$t('manage-coupons.delete-coupon')"
                        :text="$t('manage-coupons.text-coupon')" 
                        :item="coupon.code" 
                        :boldItem="true" 
                        :url="`/coupons/${coupon.id}`"
                        @itemDeleted="onCouponDeleted"
                    />
                    <edit-coupon-modal :coupon="JSON.parse(JSON.stringify(coupon))" @couponEdited="onCouponEdited" />
                </tr>
                <tr v-if="coupons.length < 1">
                    <td class="text-center font-22" style="font-size: 22px;float: left;" colspan="4">{{ $t('manage-coupons.empty') }}</td>
                </tr>
            </tbody>
        </table>
        <loading height="60vh" v-else />
    </div>
</template>
<script>
import CreateCouponModal from '../components/CreateCouponModal.vue'
import EditCouponModal from '../components/EditCouponModal.vue'
import GenericDeleteModal from '../components/GenericDeleteModal.vue'
import Loading from '../components/Loading.vue'
export default {
  components: { CreateCouponModal, GenericDeleteModal, EditCouponModal, Loading  },
    name: 'ManageCoupons',
  
    mounted() {
        this.axios.get('/coupons')
            .then(resp => this.coupons = resp.data)
            .catch(e => console.log(e))
            .finally(() => this.loading = false)
    },
    data() {
        return {
            coupons: [],
            loading: true
        }
    },
    methods: {
        onCouponEdited(coupon) {
            this.coupons[this.coupons.findIndex(c => c.id === coupon.id)] = coupon
        },
        onCouponCreated(coupon) {
            this.coupons.push(coupon)
        },
        onCouponDeleted(couponId) {
            const id = Number(couponId.split('-')[1])
            this.coupons.splice(this.coupons.findIndex(c => c.id === id), 1)
        }
    }
}
</script>
