<template>
    <div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#" @click.prevent="$router.push({name: 'Home'})">{{ $t('manage-courses.homepage') }}</a></li>
                <li class="breadcrumb-item active"><a href="#">{{ $t('manage-courses.managing-course') }}</a></li>
            </ol>
        </nav>
        <AdminMenu />

        <!-- <div class="p-0 col-12 mb-0">
            <h2 class="breadcrumb-element w-100">{{ $t('manage-courses.managing-courses') }}</h2>
        </div> -->
        <RecommendedCoursesModal />
        
         <section v-if="!loading && courses" section id="list-table" class="table-responsive" style="height: 100% !important;">
             <div class="d-flex flex-wrap">
                 <div class="d-flex">
                    <h3 class="mb-3 mt-3 course-table-title">{{ $t('manage-courses.courses') }} </h3>
                 </div>
                 <div class="d-flex" style="margin-left: auto">
                    <button class="btn btn-outline-primary mt-3 mb-3 mr-2" data-toggle="modal" data-target="#recommendedCoursesModal">{{ $t('manage-courses.manage') }}</button>
                    <router-link :to="{name: 'CreateCourse'}" class="btn btn-outline-primary mt-3 mb-3">{{ $t('manage-courses.create-new') }}</router-link>
                 </div>
             </div>
            <div class="table-responsive" style="height: 100% !important;">
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <th>{{ $t('manage-courses.cname') }}</th>
                            <th>{{ $t('manage-courses.cbegin') }}</th>
                            <th>{{ $t('manage-courses.cend') }}</th>
                            <th>{{ $t('manage-courses.visibility') }}</th>
                            <th>{{ $t('manage-courses.finalized') }}</th>
                        </tr>
                        <tr v-for="course in courses" :key="course.id">
                            <td @click.prevent="$router.push({name: 'EditCourse', params: {course: course.id}})">
                                <span class="left-play">
                                    <a href="#">
                                        <i class="fas fa-pen"></i>
                                    </a>
                                </span>
                                <a href="#">{{course.title}}</a>
                            </td>
                            <td>{{course.start_date ? $store.getters.parseDateTime(course.start_date) : $t('manage-courses.no')}} </td>
                            <td><span class="left">{{course.end_date ? $store.getters.parseDateTime(course.end_date) : $t('manage-courses.no')}}</span></td>
                            <td :style="{color: course.active ? 'green' : 'red'}">{{course.active ? $t('manage-courses.public') : $t('manage-courses.hidden')}}</td>
                            <td :style="{color: course.finalized ? 'green' : 'red'}">{{course.finalized ? $t('common.yes') : $t('common.no')}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
        <div v-else>
            <Loading height="80vh" />
        </div>
    </div>
</template>
<script>
import Loading from '@/components/Loading'
import AdminMenu from '@/components/AdminMenu'
import RecommendedCoursesModal from '../components/RecommendedCoursesModal.vue'
export default {
    name: 'CourseManagement',
    components: {
        Loading,
        AdminMenu,
        RecommendedCoursesModal
    },
    mounted() {
        this.loading = true;
        this.axios.get('/courses/admin')
            .then(resp => this.courses = resp.data.courses)
            .finally(() => this.loading = false)
    },
    data() {
        return {
            courses: null,
            loading: false
        }
    }

}
</script>
<style scoped>
    .btn-outline-primary:hover {
        background-color: var(--dblue) !important;
        border-color: var(--dblue) !important;
    }
</style>
