<template>
    <div v-if="$store.state.user">
        <!-- <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a @click.prevent="$router.push({name: 'Home'})" href="#">{{ $t('my-courses.homepage') }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ $t('my-courses.my-courses') }}</li>
            </ol>
        </nav> -->

        <section id="list-table" class="table-responsive" style="height: 100% !important;">
            <h3 class="mb-3 mt-3 course-table-title"><i class="fas fa-play mr-2" style="color: var(--lblue);"></i> {{ $t('my-courses.ongoing-courses') }} </h3>
            <div class="table-responsive" style="height: 100% !important;">
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <th style="width: 16.6666% !important">{{ $t('my-courses.cname') }}</th>
                            <th style="width: 16.6666% !important">{{ $t('my-courses.credit') }}</th>
                            <th style="width: 16.6666% !important">{{ $t('my-courses.presenters') }}</th>
                            <th style="width: 16.6666% !important">{{ $t('my-courses.cend') }}</th>
                            <th style="width: 16.6666% !important">{{ $t('my-courses.status') }}</th>
                            <th style="width: 16.6666% !important">{{ $t('my-courses.lock') }}</th>
                        </tr>
                        <tr v-for="course in $store.state.user.coursesInProgress" :key="course.id">
                            <td @click.prevent="$router.push({name: 'Course', params: {id: course.id}})">
                                <span class="left-play">
                                    <a href="#">
                                        <img src="assets/img/icons/blue-play.png" alt="">
                                    </a>
                                </span>
                                <a href="#">{{course.title}}</a>
                            </td>
                            <td>{{course.credit_points}}</td>
                            <td v-if="course.presenters.length > 0 || course.external_presenters">{{course.presenters.map(p => p.name).join(', ')}}{{course.presenters.length > 0 && course.external_presenters ? ',' : ''}} {{course.external_presenters}}</td>
                            <td v-else>{{ $t('my-courses.no-presenters') }}</td>
                            <td><span class="left">{{course.end_date ? $store.getters.parseDateTime(course.end_date) : $t('manage-courses.no')}}</span></td>
                            <td>{{getProgress(course)}}%</td>
                            <td @click.prevent="lockCourse(course)" style="cursor: pointer;"><i class="fas fa-lock"></i> {{ $t('my-courses.lock') }}</td>
                        </tr>
                        <tr v-if="$store.state.user.coursesInProgress.length == 0"><td colspan="6" class="text-left font-18" style="font-size: 18px; font-family: 'Roboto-Medium'">{{ $t('my-courses.no-ongoing') }}</td></tr>
                    </tbody>
                </table>
            </div>
        </section>

        <section id="list-table" class="table-responsive" style="height: 100% !important;">
            <h3 class="mb-3 mt-5 course-table-title"><i class="fas fa-lock mr-2" style="color: var(--lblue);"></i>{{ $t('my-courses.ended') }} </h3>
            <div class="table-responsive" style="height: 100% !important;">
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <th style="width: 16.6666% !important">{{ $t('my-courses.cname') }}</th>
                            <th style="width: 16.6666% !important">{{ $t('my-courses.credit') }}</th>
                            <th style="width: 16.6666% !important">{{ $t('my-courses.presenters') }}</th>
                            <th style="width: 16.6666% !important">{{ $t('my-courses.cend') }}</th>
                            <th style="width: 16.6666% !important">{{ $t('my-courses.status') }}</th>
                            <th style="width: 16.6666% !important">{{ $t('my-courses.unlock') }}</th>
                        </tr>
                        <tr v-for="course in Array($store.state.user.locked_courses, $store.state.user.coursesFinished).flat()" :key="course.id">
                            <td @click.prevent="$router.push({name: 'Course', params: {id: course.id}})">
                                <a href="#">{{course.title}}</a>
                            </td>
                            <td>{{course.credit_points}}</td>
                            <td v-if="course.presenters.length > 0 || course.external_presenters">{{course.presenters.map(p => p.name).join(', ')}}{{course.presenters.length > 0 && course.external_presenters ? ',' : ''}} {{course.external_presenters}}</td>
                            <td v-else>{{ $t('my-courses.no-presenters') }}</td>
                            <td><span class="left">{{course.end_date ? $store.getters.parseDateTime(course.end_date) : $t('manage-courses.no')}}</span></td>
                            <td>{{getProgress(course)}}%</td>
                            <td v-if="getProgress(course) < 100" @click.prevent="unlockCourse(course)" style="cursor: pointer;">{{ $t('my-courses.unlock') }} <i class="fas fa-lock-open"></i></td>
                            <td v-else>{{ $t('my-courses.end') }}</td>
                        </tr>
                        <tr v-if="Array($store.state.user.locked_courses, $store.state.user.coursesFinished).flat().length == 0"><td colspan="6" class="text-left font-18" style="font-size: 18px; font-family: 'Roboto-Medium'">{{ $t('my-courses.no-ended') }}</td></tr>
                    </tbody>
                </table>
            </div>
        </section>

        <section id="list-table" class="table-responsive" style="height: 100% !important;">
            <h3 class="mb-3 mt-5 course-table-title"><i class="fas fa-heart mr-2" style="color: var(--lblue);"></i> {{ $t('my-courses.fav-courses') }} </h3>
            <div class="table-responsive" style="height: 100% !important;">
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <th style="width: 16.6666% !important">{{ $t('my-courses.cname') }}</th>
                            <th style="width: 16.6666% !important">{{ $t('my-courses.credit') }}</th>
                            <th style="width: 16.6666% !important">{{ $t('my-courses.presenters') }}</th>
                            <th style="width: 16.6666% !important">{{ $t('my-courses.cend') }}</th>
                            <th style="width: 33.3332% !important">{{ $t('my-courses.status') }}</th>
                        </tr>
                        <tr v-for="course in $store.state.user.favorite_courses" :key="course.id">
                            <td @click.prevent="$router.push({name: 'Course', params: {id: course.id}})" style="width: 16.6666% !important">
                                <span class="left-play">
                                    <a href="#">
                                        <img src="assets/img/icons/blue-play.png" alt="">
                                    </a>
                                </span>
                                <a href="#">{{course.title}}</a>
                            </td>
                            <td style="width: 16.6666% !important" >{{course.credit_points}}</td>
                            <td style="width: 16.6666% !important" v-if="course.presenters.length > 0 || course.external_presenters">{{course.presenters.map(p => p.name).join(', ')}}{{course.presenters.length > 0 && course.external_presenters ? ',' : ''}} {{course.external_presenters}}</td>
                            <td style="width: 16.6666% !important" v-else>{{ $t('my-courses.no-presenters') }}</td>
                            <td style="width: 16.6666% !important"><span class="left">{{course.end_date ? $store.getters.parseDateTime(course.end_date) : $t('manage-courses.no')}}</span></td>
                            <td style="width: 33.3332% !important">{{getStatus(course.id)}}</td>
                        </tr>
                        <tr v-if="$store.state.user.favorite_courses.length == 0"><td colspan="5" class="text-left font-18" style="font-size: 18px; font-family: 'Roboto-Medium'">{{ $t('my-courses.no-fav') }}</td></tr>
                    </tbody>
                </table>
            </div>
        </section>

        <section id="list-table" class="table-responsive" style="height: 100% !important;" v-if="false">
            <h3 class="mb-3 mt-5 course-table-title"><i class="fas fa-check-circle mr-2" style="color: var(--lblue);"></i> {{ $t('my-courses.ended-courses') }} </h3>
            <div class="table-responsive" style="height: 100% !important;">
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <th style="width: 16.6666% !important">{{ $t('my-courses.cname') }}</th>
                            <th style="width: 16.6666% !important">{{ $t('my-courses.cbegin') }}</th>
                            <th style="width: 16.6666% !important">{{ $t('my-courses.cend') }}</th>
                            <th style="width: 49.9998% !important">{{ $t('my-courses.end-date') }} </th>
                        </tr>
                        <tr v-for="course in $store.state.user.coursesFinished" :key="course.id">
                            <td @click.prevent="$router.push({name: 'Course', params: {id: course.id}})" style="width: 16.6666% !important">
                                <span class="left-play">
                                    <a href="#">
                                        <img src="assets/img/icons/blue-play.png" alt="">
                                    </a>
                                </span>
                                <a href="#">{{course.title}}</a>
                            </td>
                            <td style="width: 16.6666% !important">{{course.start_date ? $store.getters.parseDateTime(course.start_date) : $t('manage-courses.no')}} </td>
                            <td style="width: 16.6666% !important"><span class="left">{{course.end_date ? $store.getters.parseDateTime(course.end_date) : $t('manage-courses.no')}}</span></td>
                            <td style="width: 49.9998% !important">{{$store.getters.parseDateTime(course.finished_at)}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</template>

<script>
import { DateTime } from 'luxon';
export default {
    name: 'MyCourses',
    data() {
        return {
            myCourses: Array(13).fill(
                {   
                    id: Math.floor(Math.random() * 200) + 101,
                    name: 'Due Diligence - The Legal Due Diligence Process',
                    startDate: '2020.08.22',
                    endDate: '2020.09.15',
                    instructor: 'John Alias Doe',
                    backgroundImageUrl: 'assets/img/template.jpg'
                }
            ),
            coursesInProgress: [],
            coursesFinished: [],
        }
    },
    methods: {
        lockCourse(course) {
            const idx = this.$store.state.user.coursesInProgress.findIndex(c => c.id === course.id)
            if(idx !== -1)
                this.$store.state.user.coursesInProgress.splice(idx, 1)

            this.$store.state.user.locked_courses.push(course)

            this.axios.post('/courses/'+course.id+'/lock')

        },
        unlockCourse(course) {
            const idx = this.$store.state.user.locked_courses.findIndex(c => c.id === course.id)
            if(idx !== -1)
                this.$store.state.user.locked_courses.splice(idx, 1)

            if(this.getProgress(course) < 100)
                this.$store.state.user.coursesInProgress.push(course)
            else
                this.$store.state.user.coursesFinished.push(course)

            this.axios.post('/courses/'+course.id+'/unlock')
        },
        getStatus(courseId) {
            const finishedCourse = this.$store.state.user.coursesFinished.find((course) => { return course.id === courseId});
            const startedCourse = this.$store.state.user.coursesInProgress.find((course) => { return course.id === courseId});
            if(!this.$store.state.user.courses.find((course) => { return course.id === courseId})) {
                return 'Nem megvásárolt'
            }
            else if(startedCourse || finishedCourse) {
                return this.getProgress(this.$store.state.user.courses.find(c => c.id == courseId))+'%'
            }
        },
        getProgress(course) {
            let progress = 0;
            this.$store.state.user.course_material_progress.filter(cm => cm.course_material.course_id == course.id).forEach((cm) => {
                progress += cm.progress
            })
            return course.duration !== 0 ? Math.floor(progress / (course.duration / 100)) : 0
        },
        parseDate(date) {
            return DateTime.fromISO(date).toLocaleString(DateTime.DATETIME_MED)
        },
    },
    mounted() {
        this.axios.get('/user').then(resp => {
            this.$store.commit('setUser', resp.data)
        })
    },
}
</script>
<style scoped>
    .course-table-title {
        font-size: 1.35rem !important;
    }
    @media (max-width: 425px) {
        .course-table-title {
        font-size: 0.945rem !important;
    }
    }
</style>
