<template>
    <div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#" @click.prevent="$router.push({name: 'Home'})">{{ $t('my-orders.homepage') }}</a></li>
                <li class="breadcrumb-item "><a href="#" @click.prevent="$router.push({name: 'Cart'})">{{ $t('my-orders.cart') }}</a></li>
                <li class="breadcrumb-item active "><a>{{ $t('my-orders.my-orders') }}</a></li>
            </ol>
        </nav>
        <h3 class="mb-4">{{ $t('my-orders.my-orders') }}</h3>
        <table class="table table-striped">
            <tbody>
                <tr>
                    <th scope="col">{{ $t('my-orders.id') }}</th>
                    <th scope="col">{{ $t('my-orders.date') }}</th>
                    <th scope="col">{{ $t('my-orders.condition') }}</th>
                    <th scope="col">{{ $t('my-orders.sum') }}</th>
                </tr>
                <tr v-for="order in $store.state.user.orders" :key="order.id" style="cursor: pointer;" @click.prevent="$router.push({name: 'Order', params: {order: order.id}})">
                    <td>#{{order.id}}</td>
                    <td>{{$store.getters.parseDateTime(order.created_at)}}</td>
                    <td :class="getStatusColor(order)">{{$t('status.'+order.status)}}</td>
                    <td>{{getTotal(order)}} Ft</td>
                </tr>
            </tbody>
        </table>
    </div>
</template>
<script>
export default {
    name: 'MyOrders',
    methods: {
        getStatusColor(order) {
            if(order.status == 'Prepared' || order.status == 'Started' || order.status == 'InProgress') {
                return 'text-primary';
            }
            else if(order.status == 'Canceled' || order.status == 'Expired') {
                return 'text-danger'
            }
            else if(order.status == 'Succeeded') {
                return 'text-success'
            }
        },
        getTotal(order) {
            let grossTotal = order.courses.reduce((acc, c) => acc + c.gross_price, 0)
            if(order.coupon) {
                const discount = Math.round(order.coupon.percentage_based ? grossTotal * (order.coupon.discount / 100) : order.coupon.discount)
                grossTotal -= discount
            }
            return grossTotal < 0 ? 0 : grossTotal
        }
    }
}
</script>
