<template>
    <div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#" @click.prevent="$router.push({name: 'Home'})">{{ $t('my-team.homepage') }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ $t('my-team.my-team') }}</li>
            </ol>
        </nav>

        <section id="manage-team">
            <div class="row">
                <div class="col-12">
                    <h1 v-if="subordinates.length > 0" style="color: black !important">{{ $t('my-team.manage-team') }}</h1>
                </div>

                <div v-for="teamMember in subordinates" :key="teamMember.id" class="col-xl-4 col-lg-6 col-md-6 col-12">
                    <div class="box shadow" style="border-radius: 5px !important;">
                        <img v-if="teamMember.avatarURL" :src="teamMember.avatarURL" class="team-image" alt="">
                        <Avatar v-else class="team-image" :username="teamMember.name" :size="60"/>
                        <h5 class="name">
                            {{teamMember.name}} <br />
                            <span class="email">{{teamMember.email}}</span></h5>
                        <hr />
                        <div class="row">
                            <div class="col-10 text-left">
                                <h3>{{ $t('my-team.ongoing-courses') }}</h3>
                            </div>
                            <div class="col-2 text-right">
                                <h3 v-if="teamMember.coursesInProgress">{{teamMember.coursesInProgress.length}}</h3>
                                <div v-else class="spinner-border spinner-border-sm text-primary" role="status">
                                    <span class="sr-only">{{ $t('my-team.loading') }}</span>
                                </div>
                            </div>

                            <div class="col-10 text-left">
                                <h3>{{ $t('my-team.courses-left') }}</h3>
                            </div>
                            <div class="col-2 text-right">
                                <h3 v-if="teamMember.coursesFinished">{{teamMember.coursesFinished.length}}</h3>
                                <div v-else class="spinner-border spinner-border-sm text-primary" role="status">
                                    <span class="sr-only">{{ $t('my-team.loading') }}</span>
                                </div>
                            </div>

                            <div class="col-10 text-left">
                                <h3>{{ $t('my-team.for-fixing') }}</h3>
                            </div>
                            <div class="col-2 text-right">
                                <h3>{{teamMember.test_attempts.filter(ta => {return new Date(Date.parse(ta.finished_at)) < new Date() && !ta.corrected}).length}}</h3>
                            </div>

                            <div class="col-12">
                                <button type="button" class="btn btn-take" @click="$router.push({name: 'Overview', params: {id: teamMember.id}})">{{ $t('my-team.look-in') }}</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div v-if="subordinates.length == 0" class="w-100 mt-3">
                    <h3 class="text-center font-135" style="font-size: 1.35rem !important">{{ $t('my-team.no-team') }}</h3>
                </div>
            </div>
        </section>
    </div>
</template>
<script>
import Avatar from '@/components/Avatar.vue'
export default {
    name: 'MyTeam',
    components: {
        Avatar
    },
    created() {
        this.subordinates = JSON.parse(JSON.stringify(this.$store.state.user.subordinates))
        this.axios.get('/subordinates')
            .then(resp => {
                this.subordinates = resp.data.subordinates
            })
            .catch(e => {console.log(e)})
    },
    data() {
        return {
            subordinates: null
        }
    }
}
</script>
<style scoped>
.btn-take {
    background-color: var(--blue) !important;
    border-color: var(--blue) !important;
    transition: 200ms;
}
.btn-take:hover {
    background-color: var(--dblue) !important;
    border-color: var(--dblue) !important;
    transition: 200ms;
}
</style>
