<template>
    <div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a @click.prevent="$router.push({name: 'Home'})" href="#">{{ $t('notifications.homepage') }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ $t('notifications.notifications') }}</li>
            </ol>
        </nav>

        <ul class="notifications">

            <li v-for="notification in notifications.data" :key="notification.id" class="notification" :class="{unread: !notification.read}">
                <div class="media">
                    <img v-if="notification.multimedia" :src="$store.getters.getStorageURL(notification.multimedia.path)" class="mr-2 img-circle img-fluid" style="border-radius: 50%" alt="">
                    <Avatar v-else-if="notification.initials" class="mr-2 img-circle img-fluid" :username="notification.initials" :rounded="true" />
                    <div class="media-body">
                    <strong class="notification-title" :style="{cursor: notification.link ? 'pointer' : 'default'}" @click.prevent="navigate(notification)">{{notification.notification}}</strong>
                    <div class="notification-meta">
                        <small class="timestamp">{{$store.getters.parseDateTime(notification.updated_at)}}</small>
                    </div>
                    </div>
                </div>
            </li>
        </ul>
        <div class="w-100 mt-4 d-flex align-items-center justify-content-center">
            <infinite-scroll @shouldLoad="loadMore" :shouldLoad="rawNotifications.current_page < rawNotifications.last_page" />
        </div>
    </div>
</template>
<script>
import Avatar from '@/components/Avatar'
import InfiniteScroll from '@/components/InfiniteScroll'
export default {
    name: 'Notifications',
    components: {
        Avatar,
        InfiniteScroll
    },
    created() {
        this.notifications = JSON.parse(JSON.stringify(this.rawNotifications))
        this.sendRead()
    },
    data() {
        return {
            notifications: []
        }
    },
    computed: {
        rawNotifications() {
            return this.$store.state.user ? this.$store.state.user.notifications : {data: []}
        }
    },
    watch: {
        rawNotifications: {
            handler(newNotifications) {
                this.notifications.current_page = newNotifications.current_page
                const diff = newNotifications.data.filter(n => !this.notifications.data.find(n2 => n.id === n2.id));
                const same = newNotifications.data.filter(n => this.notifications.data.find(n2 => n.id === n2.id && n.read == 0));
                same.forEach(s => {
                    this.notifications.data[this.notifications.data.findIndex(n => n.id == s.id)] = JSON.parse(JSON.stringify(s))
                })
                if(diff.length > 0) {
                    
                    if(this.notifications.data.length == 0 || new Date(this.notifications.data[0].updated_at) < new Date(diff[0].updated_at)) {
                        this.notifications.data.unshift(...JSON.parse(JSON.stringify(diff)))
                    }
                    else {
                        this.notifications.data.push(...JSON.parse(JSON.stringify(diff)))
                    }
                    this.sendRead()
                }
                if(same.length > 0) {
                    this.notifications.data.sort((a,b) => new Date(b.updated_at) - new Date(a.updated_at))
                    this.sendRead()
                }
                return newNotifications
            },
            deep: true
        },
    },
    methods: {
        sendRead() {
            this.rawNotifications.data.forEach(n => {
                n.read = true
            })
            this.axios.post('/notifications/read')
        },
        navigate(notification) {
            if(notification.link) {
                this.$router.push(notification.link)
            }
        },
        loadMore(state) {
            this.axios.get('/notifications', {params: {page: this.notifications.current_page + 1}})
                .then(resp => {
                    const prev = JSON.parse(JSON.stringify(this.$store.state.user.notifications.data))
                    resp.data.notifications.data.push(...prev)
                    this.$store.state.user.notifications = resp.data.notifications
                })
                .finally(() => state.finishLoad())
        }
    }
}
</script>
<style scoped>
.unread {
    background-color: #99ccff4b !important;
}
.unread:hover {
    background-color: #80bfff6e !important;
}
.img-circle {
    height: 50px;
    width: 50px;
}
</style>