<template>
<div>
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="#" @click.prevent="$router.push({name: 'Home'})">{{ $t('order.homepage') }}</a></li>
        <li class="breadcrumb-item "><a href="#" @click.prevent="$router.push({name: 'Cart'})">{{ $t('order.cart') }}</a></li>
        <li class="breadcrumb-item "><a href="#"  @click.prevent="$router.push({name: 'MyOrders'})">{{ $t('order.my-orders') }}</a></li>
        <li class="breadcrumb-item "><a>{{ $t('order.order2') }} #{{$route.params.order}}</a></li>
    </ul>

    <div class="row mt-4">
    <div class="col-12">
        <h3><strong>{{ $t('order.order1') }} #{{$route.params.order}}</strong></h3>
        <h6 class="mt-3">{{ $t('order.condition') }} <strong :class="getStatusColor()">{{$t('status.'+order.status)}}</strong></h6>
        <div class="row">
            <hr>
            <div class="col-12 mt-1 d-flex flex-wrap" v-for="item in order.courses" :key="item.id">
                <div class="d-flex align-items-center">
                    <img :src="item.cover_image ? $store.getters.getStorageURL(item.cover_image.path) : '/assets/img/template.jpg'" style="height: 70px; width: 70px; border-radius: 50%;object-fit: cover;">
                    <div class="ml-sm-4 ml-1 d-flex" style="flex-direction: column;">
                        <h3 class="mb-1"><strong>{{item.title}}</strong></h3>
                    </div>
                </div>
                <div class="d-flex mt-sm-0 mt-1 text-right" style="flex-direction: column; margin-left: auto">
                    <h3 class="mb-1"><strong>{{huFormat(item.gross_price)}}</strong></h3>
                    <span class="font-12" style="font-size: 12px">{{ $t('order.net') }} {{huFormat(item.net_price)}} + {{item.vat_rate}}% {{ $t('order.afa') }}</span>
                </div>
            </div>
            <hr>
            <div class="col-12 mt-2 font-22" style="font-weight: 900; font-size: 22px;">
                <h3 class="mr-5">{{ $t('order.net-sum') }} {{huFormat(netPrice())}}</h3>
            </div>
            <div class="col-12 mt-2 font-22" style="font-weight: 900; font-size: 22px;">
                <h3 class="mr-5">{{ $t('order.afa') }} {{huFormat(vatSum())}}</h3>
            </div>
            <div class="col-12 mt-2 font-22" style="font-weight: 900; font-size: 22px;" v-if="order.coupon">
                <h3 class="mr-5">{{ $t('order.coupon') }} -{{huFormat(discount())}}</h3>
            </div>
            <div class="col-12 mt-2 font-22" style="font-weight: 900; font-size: 34px;">
                <h3 class="mr-5">{{ $t('order.gross-sum') }} {{huFormat(grossPrice())}}</h3>
            </div>
            <hr>
            <div class="col-12 mt-2 mb-3" v-if="order.invoice_id">
                <div class="d-flex align-items-center">
                    <button type="button" :disabled="pdfLoading" class="btn btn-outline-danger mb-2" @click.prevent="downloadPDF">
                        <div class="d-flex align-items-center">
                            <i class="fas fa-file-pdf mr-1"></i>
                            <span>{{ $t('order.download') }}</span>
                        </div>
                    </button>
                    <div v-if="pdfLoading" class="spinner-border text-danger ml-2 mb-2" role="status">
                        <span class="sr-only">{{ $t('order.loading') }}</span>
                    </div>
                </div>
            </div>
            <div v-if="orderInProgress" class="col-12 mt-3 font-22" style="font-size: 22px">
                <p> {{ $t('order.not-ended') }}</p>
                <p>{{ $t('order.if-closed') }} <a :href="order.checkout_url" target="_blank" style="text-decoration: underline; color: var(--lblue)">{{ $t('order.here') }}</a> {{ $t('order.click') }}</p>
            </div>
        </div>
        </div>
    </div>
</div>
</template>
<script>
import { Capacitor } from '@capacitor/core';
export default {
    name: 'Order',
    data() {
        return {
            pdfLoading: false
        }
    },
    computed: {
        orderInProgress() {
            return  this.order.status == 'Prepared' || this.order.status == 'Started' || this.order.status == 'InProgress'
        },
        order() {
            return this.$store.state.user ? this.$store.state.user.orders.find(o => o.id == this.$route.params.order) : {}
        }
    },
    methods: {
        huFormat(price) {
           return new Intl.NumberFormat('hu-HU', { style: 'currency', currency: 'HUF', minimumFractionDigits: 0}).format(price)
        },
        netPrice() {
            return this.order.courses.reduce((acc, val) => acc + val.net_price, 0)
        },
        discount() {
            if(this.order.coupon) {
                const discount =  Math.round(this.order.coupon.percentage_based ? this.netPrice() * (this.order.coupon.discount / 100) : this.order.coupon.discount)
                return discount > this.netPrice ? this.netPrice : discount
            }
            return 0
        },
        vatSum() {
            return this.order.courses.reduce((acc, course) => acc + (course.gross_price - course.net_price), 0)
        },
        grossPrice() {
            return this.netPrice() + this.vatSum() - this.discount()
        },
        getStatusColor() {
            if(this.order.status == 'Prepared' || this.order.status == 'Started' || this.order.status == 'InProgress') {
                return 'text-primary';
            }
            else if(this.order.status == 'Canceled' || this.order.status == 'Expired') {
                return 'text-danger'
            }
            else if(this.order.status == 'Succeeded') {
                return 'text-success'
            }
        },
        downloadPDF() {
            this.pdfLoading = true;
            this.axios.get('/invoice/'+this.order.id, {responseType: 'blob'})
                .then(resp => {
                    const name = this.order.invoice_id+'.pdf'
                    if(Capacitor.isNative) {
                        this.$store.commit('downloadFileMobile', {name, mime: 'application/pdf', data: resp.data})
                    }
                    else {
                        const url = window.URL.createObjectURL(new Blob([resp.data]));
                        const link = document.createElement('a');
                        link.href = url;
                        link.setAttribute('download', name);
                        document.body.appendChild(link);
                        link.click();
                    }
                })
                .catch(e => console.log(e.response))
                .finally(() => this.pdfLoading = false)
        },
    }
}
</script>
<style scoped>
hr {
  border: 0;
  clear:both;
  display:block;
  width: 100%;
  margin-left: 15px !important;
  margin-right: 15px !important;               
  background-color:#c6c6c6;
  height: 1px;
}
</style>
