<template>
    <div v-if="user">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb" v-if="$store.state.user.role == 'Admin'">
                <li class="breadcrumb-item"><a @click.prevent="$router.push({name: 'Home'})" href="#">{{ $t('overview.homepage') }}</a></li>
                <li class="breadcrumb-item"><a @click.prevent="$router.push({name: 'ManageUsers'})" href="#">{{ $t('overview.manage-users') }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{user ? user.name : $t('overview.look-in')}}</li>
            </ol>
            <ol class="breadcrumb" v-if="$store.state.user.role == 'Master'">
                <li class="breadcrumb-item"><a @click.prevent="$router.push({name: 'Home'})" href="#">{{ $t('overview.homepage') }}</a></li>
                <li class="breadcrumb-item"><a @click.prevent="$router.push({name: 'MyTeam'})" href="#">{{ $t('overview.my-team') }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{user ? user.name : $t('overview.look-in')}}</li>
            </ol>
        </nav>
        <div class="row mb-4">
            <div class="col-12 mt-2 mb-2">
                 <button class="btn btn-outline-primary float-right" @click="$router.push({name: 'ActivityHistory', params: {user: JSON.stringify(user), id: user.id}})">
                     <i class="fas fa-address-book font-18" style="font-size: 18px"></i> {{ $t('overview.watch') }}
                 </button>
            </div>
            <div class="col-md-6 mt-2">
                <h4>{{ $t('overview.name') }}</h4>
                 <span>{{user.name}}</span>
            </div>
            <div class="col-md-6 mt-3">
                <h4>{{ $t('overview.email') }}</h4>
                <span>{{user.email}}</span>
            </div>
            <div class="col-md-6 mt-3" v-if="$store.state.user.role == 'Admin'">
                <h4>{{ $t('overview.master') }}</h4>
                <select class="form-control" style="width: 300px" v-model="user.master_id">
                    <option :value="null">{{$t('overview.no-master')}}</option>
                    <option v-for="master in masters.filter(m => m.id != user.id)" :key="master.id" :value="master.id">{{master.name}} ({{master.email}})</option>
                </select>
                <button class="btn btn-primary mt-2" :disabled="submitting" @click="changeTeam()">{{ $t('overview.change') }}</button>
            </div>
            <div class="col-md-6 mt-3" v-if="$store.state.user.role == 'Master'">
                <h4>{{ $t('overview.master') }}</h4>
                <span class="ml-2">{{user.master.name}}</span>
            </div>
            <div class="col-md-6 mt-4" v-if="$store.state.user.role == 'Admin'">
                <h4>{{ $t('overview.authority') }}</h4>
                <select class="form-control" style="width: 300px" v-model="user.role">
                    <option v-for="role in roles" :key="role.role">{{role.role}}</option>
                </select>
                <button class="btn btn-primary mt-2" :disabled="submitting" @click="changeRole()">{{ $t('overview.change') }}</button>
            </div>
            <div class="col-md-6 mt-4" v-if="$store.state.user.role == 'Master'">
                <h4>{{ $t('overview.authority') }}</h4>
                <span class="ml-2">{{user.role}}</span>
            </div>
            <form v-if="$store.state.user?.role == 'Admin'" @submit.prevent="updateBarAssociationData" class="col-md-6  pl-0 mb-5">
                <div class="col-12 mt-5">
                    <h3>{{ $t('overview.bar-data') }}</h3>
                </div>
                <div class="col-12 mt-2">
                    <label>{{ $t('settings.lawyer-credit') }}</label>
                    <select v-model="barAssociationData.wants_credits" class="form-control" :style="{border: errors['wants_credits'] ? '1px solid red' : '1px solid #ced4da'}" >
                        <option value="0">{{ $t('settings.no') }}</option>
                        <option value="1">{{ $t('settings.yes') }}</option>
                    </select>
                </div>
                <div class="col-12 p-0" v-if="barAssociationData.wants_credits == true">
                    <div class="col-12 mt-2">
                        <label>{{ $t('settings.lawyer-name') }} </label>
                        <div v-if="errors['bar_association_name']">
                            <span v-for="(error, idx) in errors['bar_association_name']" style="color: red;" :key="idx">{{error}}</span>
                        </div> 
                        <input  type="text" class="form-control" v-model="barAssociationData.bar_association_name" required :style="{border: errors['bar_association_name'] ? '1px solid red' : '1px solid #ced4da'}">
                    </div>
                    <div class="col-12 mt-2">
                        <label>{{ $t('settings.lawyer-id') }}</label>
                        <div v-if="errors['bar_association_number']">
                            <span v-for="(error, idx) in errors['bar_association_number']" style="color: red;" :key="idx">{{error}}</span>
                        </div>
                        <div>
                            <span v-if="regexErrors['bar_association_number']" style="color: red;">{{regexErrors['bar_association_number']}}</span>
                        </div>
                        <input  type="text" class="form-control" v-debounce:400ms="validateBarAssociationNumber" v-model="barAssociationData.bar_association_number" required :style="{border: errors['bar_association_number'] || regexErrors['bar_association_number'] ? '1px solid red' : '1px solid #ced4da'}">
                    </div>
                    <div class="col-12 mt-2">
                        <label>{{ $t('settings.lawyer-location') }} </label>
                        <div v-if="errors['bar_association_id']">
                            <span v-for="(error, idx) in errors['bar_association_id']" style="color: red;" :key="idx">{{error}}</span>
                        </div> 
                        <select class="form-control" v-model="barAssociationData.bar_association_id" :style="{border: errors['bar_association_id'] ? '1px solid red' : '1px solid #ced4da'}" >
                            <option v-for="barAssociation in barAssociations" :value="barAssociation.id" :key="barAssociation.id">{{barAssociation.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-12 mt-3">
                    <button type="submit" :disabled="submitting" class="btn btn-save" style="margin-top: 0px !important;">{{ $t('overview.save-bar') }}</button>
                </div>
            </form>
            <div class="col-md-6">
                <div class="col-12 p-0 mt-5">
                    <h3>{{$t('delete-modal.deleted')}}</h3>
                    <p :class="user.deleted ? 'text-danger' : 'text-success'">{{user.deleted ? $t('common.yes') : $t('common.no')}}</p>
                    <button v-if="!user.deleted && $store.state.user.role == 'Admin'" class="btn btn-danger" data-toggle="modal" data-target="#delete-profile-modal">{{$t('delete-modal.title-admin')}}</button>
                    <delete-profile-modal @deleted="user.deleted = true" :user="user" />
                </div>
            </div>
        </div>
        <h2 class="mb-3"> {{ $t('overview.for-fixing2') }} </h2>
        <section id="list-table" class="overview-table-responsive">
            <div class="overview-table-responsive">
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <th style="width: 33.33333% !important">{{ $t('overview.tname') }}</th>
                            <th style="width: 33.33333% !important">{{ $t('overview.tbegin') }}</th>
                            <th style="width: 33.33333% !important">{{ $t('overview.tend') }}</th>
                        </tr>
                        <tr v-for="testAttempt in user.test_attempts.filter(ta => {return new Date(Date.parse(ta.finished_at)) < new Date() && !ta.corrected})" :key="testAttempt.id">
                            <td @click.prevent="$router.push({name: 'CorrectTestAttempt', params: {testAttempt: testAttempt.id}})"  style="width: 33.33333% !important">
                                <span class="left-play">
                                    <a href="#">
                                        <img src="assets/img/icons/blue-play.png" alt="">
                                    </a>
                                </span>
                                <a href="#">{{testAttempt.test.name}}</a>
                            </td>
                            <td  style="width: 33.33333% !important">{{$store.getters.parseDateTime(testAttempt.started_at)}} </td>
                            <td  style="width: 33.33333% !important"><span class="left">{{$store.getters.parseDateTime(testAttempt.finished_at)}}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
        <h2 class="mb-3 mt-5"> {{ $t('overview.ongoing-courses') }} </h2>
        <section id="list-table" class="overview-table-responsive">
            <div class="overview-table-responsive">
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <th style="width: 33.33333% !important">{{ $t('overview.cname') }}</th>
                            <th style="width: 33.33333% !important">{{ $t('overview.tbegin') }}</th>
                            <th style="width: 33.33333% !important">{{ $t('overview.state') }}</th>
                        </tr>
                        <tr v-for="course in user.coursesInProgress" :key="course.id" style="width: 33.33333% !important">
                            <td @click.prevent="$router.push({name: 'Course', params: {id: course.id}})">
                                <span class="left-play">
                                    <a href="#">
                                        <img src="assets/img/icons/blue-play.png" alt="">
                                    </a>
                                </span>
                                <a href="#">{{course.title}}</a>
                            </td>
                            <td style="width: 33.33333% !important">{{getStartDate(course)}} </td>
                            <td style="width: 33.33333% !important">{{getProgress(course)}}%</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
        <h2 class="mt-5"> {{ $t('my-courses.ended-courses') }} </h2>
        <section id="list-table" class="overview-table-responsive">
            <div class="overview-table-responsive">
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <th style="width: 25% !important">{{ $t('my-courses.cname') }}</th>
                            <th style="width: 25% !important">{{ $t('my-courses.cbegin') }}</th>
                            <th style="width: 25% !important">{{ $t('my-courses.cend') }}</th>
                            <th style="width: 25% !important">{{ $t('my-courses.end-date') }} </th>
                        </tr>
                        <tr v-for="course in user.coursesFinished" :key="course.id">
                            <td @click.prevent="$router.push({name: 'Course', params: {id: course.id}})" style="width: 25% !important">
                                <span class="left-play">
                                    <a href="#">
                                        <img src="assets/img/icons/blue-play.png" alt="">
                                    </a>
                                </span>
                                <a href="#">{{course.title}}</a>
                            </td>
                            <td style="width: 25% !important">{{course.start_date ? $store.getters.parseDateTime(course.start_date) : $t('manage-courses.no')}} </td>
                            <td style="width: 25% !important"><span class="left">{{course.end_date ? $store.getters.parseDateTime(course.end_date) : $t('manage-courses.no')}}</span></td>
                            <td style="width: 25% !important">{{$store.getters.parseDateTime(course.finished_at)}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </div>
    <loading v-else height="60vh"/>
</template>
<script>
import { DateTime } from 'luxon';
import Loading from '../components/Loading.vue';
import DeleteProfileModal from '../components/DeleteProfileModal.vue';
export default {
  components: { Loading, DeleteProfileModal },
    name: 'Overview',
    mounted() {
        this.loading = true
        this.axios.get('/users/'+this.$route.params.id)
            .then(resp => {
                this.user = resp.data.user
                this.barAssociationData = {
                    bar_association_id: this.user.bar_association_id,
                    bar_association_number: this.user.bar_association_number,
                    bar_association_name: this.user.bar_association_name,
                    wants_credits: this.user.wants_credits,
                }
            })
            .finally(() => this.loading = false)
        this.axios.get('/users')
            .then(resp => this.masters = resp.data.users.filter(u => u.role == 'Master'))
        this.axios.get('/roles')
            .then(resp => this.roles = resp.data)
        this.axios.get('/bar-associations')
            .then(resp => this.barAssociations = this.barAssociations.concat(resp.data))
    },
    data() {
        return {
            user: null,
            loading: false,
            barAssociations: [],
            masters: [],
            roles: [],
            barAssociationData:  {
                bar_association_id: null,
                bar_association_number: null,
                bar_association_name: null,
                wants_credits: 0,
            },
            errors: Object(),
            regexErrors: {
                bar_association_number: null,
            },
            submitting: false
        }
    },
    methods: {
        validateBarAssociationNumber() {
            if(/^[0-9]{8}$/.test(this.barAssociationData.bar_association_number)){
                this.regexErrors['bar_association_number'] = null
            }
            else {
                this.regexErrors['bar_association_number'] = 'Nem megfelelő formátum'
            }
        },
        changeRole() {
            this.submitting = true
            this.axios.post('/users/'+this.$route.params.id+'/role', {role: this.user.role})
            .finally(() => this.submitting = false)
        },
        changeTeam() {
            this.submitting = true
            this.axios.post('/users/'+this.$route.params.id+'/team', {master_id: this.user.master_id})
            .finally(() => this.submitting = false)
        },
        getStartDate(course) {
            let start = 0
            this.user.course_material_progress.filter(cmp => cmp.course_material.course_id == course.id).forEach(cmp => {
                if(new Date(Date.parse(cmp.created_at)) > start) {
                    start = new Date(Date.parse(cmp.created_at))
                }
            })
            console.log(start)
            return start == 0 ? 'Nem elkezdett' : this.$store.getters.parseDateTime(start.toISOString())
        },
        getProgress(course) {
            let progress = 0;
            this.user.course_material_progress.filter(cm => cm.course_material.course_id == course.id).forEach((cm) => {
                progress += cm.progress
            })
            return course.duration !== 0 ? Math.floor(progress / (course.duration / 100)) : 0
        },
        updateBarAssociationData() {
            this.submitting = true
            this.axios.post('/bar-association-data', this.barAssociationData, {params: {user: this.user.id}})
                .then(resp => {
                    Object.assign(this.user, resp.data.barAssociationData)
                })
                .catch(e => this.errors = e.response.data.errors)
                .finally(() => this.submitting = false)
        }
    }
}
</script>
<style scoped>
    h4, h2 {
        font-size: 21px !important;
    }
    @media (max-width: 425px) {
        h4, h2 {
            font-size: 14.5px !important;
        }
    }
</style>
