<template>
    <div>
        <div class="row mt-4" v-if="!loading">
            <div class="col-md-6 col-12 mb-3">
                <h4 class="mb-4">{{ $t('personal-analytics.time') }}</h4>
                <time-chart :data="timeTrackingDataset" :dateTime="false" :safeMode="true"  :defaultFrom="DateTime.local().minus({weeks: 1}).startOf('day').toISO()" :disabledUnits="Array('minute')">
                    <template v-slot="{data}">
                        <AppTimeTrackingChart :data="data" />
                    </template>
                </time-chart>
            </div>
            <div class="col-md-6 col-12 mb-3">
                <h4 class="mb-4">{{ $t('personal-analytics.activity') }}</h4>
                <time-chart :data="activityDataset" :dateTime="false" :safeMode="true"  :defaultFrom="DateTime.local().minus({months: 1}).startOf('day').toISO()">
                    <template v-slot="{data}">
                        <ActivityChart :data="data" />
                    </template>
                </time-chart>
            </div>
            <div class="col-md-6 col-12 mb-3">
                <h4 class="mb-4">{{ $t('personal-analytics.ended') }}</h4>
                <time-chart :data="startFinishDataset" :dateTime="false" :safeMode="true" :defaultFrom="DateTime.local().minus({months: 12}).startOf('month').toISO()">
                    <template v-slot="{data}">
                        <CourseFinishCreditChart :data="data"  :isBar="true" />
                    </template>
                </time-chart>
            </div>
        </div>
        <loading v-else />
    </div>
</template>
<script>
import CourseFinishCreditChart from '@/components/Charts/CourseFinishCreditChart'
import ActivityChart from '@/components/Charts/ActivityChart'
import TimeChart from '@/components/Charts/TimeChart'
import AppTimeTrackingChart from '@/components/Charts/AppTimeTrackingChart'
import {DateTime} from 'luxon'
import Loading from '../components/Loading.vue'
export default {
    name: 'PersonalAnalytics',
    components: {
        CourseFinishCreditChart,
        AppTimeTrackingChart,
        TimeChart,
        ActivityChart,
        Loading
    },
    mounted() {
        const path = this.$route.params.user ? `/reports/user/${this.$route.params.user}` : '/reports/user'
        this.axios.get(path)
            .then(resp => {
                const finished = resp.data.trackings.filter(t => t.finished_at != null).map(t => Array(t.course.credit_points).fill(t.finished_at, 0, t.course.credit_points)).flat()
                const started = resp.data.trackings.filter(t => t.started_at != null).map(t => t.started_at)
                this.startFinishDataset = Array(started,finished)
                this.activityDataset = Array(resp.data.activities)
                let timeTracking = []
                resp.data.timeTrackings.forEach(t => {
                        let startDate = DateTime.fromISO(t.from, {locale: this.$store.state.locale}).toLocal()
                        const endDate = DateTime.fromISO(t.to, {locale: this.$store.state.locale}).toLocal()
                        while(startDate <= endDate) {
                            timeTracking.push(startDate.toISO())
                            startDate = startDate.plus({minute: 1})
                        }
                })
                this.timeTrackingDataset = Array(timeTracking)
            
            })
            .catch()
            .finally(() => this.loading = false)
    },
    data() {
        return {
            startFinishDataset: null,
            activityDataset: null,
            timeTrackingDataset: null,
            DateTime: DateTime,
            loading: true
        }
    }
}
</script>
