<template>
    <div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#" @click.prevent="$router.push({name: 'Home'})">{{ $t('reporting.homepage') }}</a></li>
                <li class="breadcrumb-item" aria-current="page"> <a href="#" @click.prevent="$router.push({name: 'Reporting'})">{{ $t('reporting.statistic') }}</a></li>
                <li class="breadcrumb-item" aria-current="page"><a href="#" @click.prevent="$router.push({name: 'CourseQuizReports', params: {course: $route.params.course}})"> {{ $t('reporting.quiz') }}</a></li>
                <li class="breadcrumb-item"><a href="#" @click.prevent="$router.push({name: 'CourseQuizReport', params: {course: $route.params.course}})"> {{course ? course.title : $t('common.course')}}</a></li>
                <li class="breadcrumb-item active">{{test ? test.name : 'Teszt'}}</li>
            </ol>
        </nav>
        <div class="row" v-if="!loading && test">
            <div class="col-xl-6 mb-3 col-12">
                <h2 class="mb-2">{{test.name}}</h2>
                <course-test-percentage-chart :id="$route.params.test" :data="test.testAttempts" />
            </div>
            <div class="col-xl-6 col-0"></div>
            <div class="col-xl-6 mb-3 col-12" v-for="question in test.test_questions.filter(q => q.question_type != 'Free text')">
                <h2 class="mb-2">{{question.question}}</h2>
                <course-test-question-chart :id="question.id" :data="question.test_question_answers" />
            </div>
        </div>
        <loading v-else height="60vh" />
    </div>
</template>
<script>
import CourseTestPercentageChart from '../components/Charts/CourseTestPercentageChart.vue'
import CourseTestQuestionChart from '../components/Charts/CourseTestQuestionChart.vue'
import Loading from '../components/Loading.vue'
export default {
    name: 'QuizReport',
    components: {
        CourseTestPercentageChart,
        Loading,
        CourseTestQuestionChart
    },
    mounted() {
        this.axios.get(`/reports/${this.$route.params.test}/test/${this.$route.params.course}`)
            .then(resp => {
                this.test = resp.data.test
                this.course = resp.data.course
            })
            .finally(() => this.loading = false)
    },
    data() {
        return {
            loading: true,
            test: null,
            course: null
        }
    },
    methods: {
        generateFakeData() {
            let data = []
            for(let i = 0; i < 100 ; i++) {
                data.push(Math.floor(Math.random() * 101))
            }
            return data
        }
    }

}
</script>