<template>
    <div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#" @click.prevent="$router.push({name: 'Home'})">{{ $t('reporting.homepage') }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ $t('reporting.statistic') }}</li>
            </ol>
        </nav>

        <AdminMenu />

        <section id="statements">
            <!-- <div class="row" >
                <div class="col-12" >
                    <h2 style="background-color: var(--blue);border-radius: 5px" >{{ $t('reporting.statistic') }}</h2>
                </div>
            </div> -->
            <div class="row">
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="shadow item">
                        <img src="assets/img/icons/item-1.png" class="img-fluid" alt="#">
                        <h3>{{ $t('reporting.course-statistic') }}</h3>
                        <h4>{{ $t('reporting.success') }}</h4>
                        <button @click.prevent="$router.push({name: 'CourseReports'})" type="button" class="btn btn-login">{{ $t('reporting.login') }}</button>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="shadow item">
                        <img src="assets/img/icons/item-2.png" class="img-fluid" alt="#">
                        <h3>{{ $t('reporting.meta') }}</h3>
                        <h4>{{ $t('reporting.anal-functions') }}</h4>
                        <button @click="$router.push({name: 'CourseMetadataReports'})" type="button" class="btn btn-login">{{ $t('reporting.login') }}</button>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="shadow item">
                        <img src="assets/img/icons/item-3.png" class="img-fluid" alt="#">
                        <h3>{{ $t('reporting.report') }}</h3>
                        <h4>{{ $t('reporting.report-functions') }}</h4>
                        <button @click="$router.push({name: 'BarAssociationReports'})" type="button" class="btn btn-login" >{{ $t('reporting.login') }}</button>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="shadow item">
                        <img src="assets/img/icons/item-4.png" class="img-fluid" alt="#">
                        <h3>{{ $t('reporting.rates') }}</h3>
                        <h4>{{ $t('reporting.rate-results') }}</h4>
                        <button @click="$router.push({name: 'CourseFeedbackReports'})" type="button" class="btn btn-login">{{ $t('reporting.login') }}</button>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="shadow item">
                        <img src="assets/img/icons/item-5.png" class="img-fluid" alt="#">
                        <h3>{{ $t('reporting.quiz') }}</h3>
                        <h4> {{ $t('reporting.quiz-results') }}</h4>
                        <button  @click="$router.push({name: 'CourseQuizReports'})" type="button" class="btn btn-login">{{ $t('reporting.login') }}</button>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="shadow item">
                        <img src="assets/img/icons/item-6.png" class="img-fluid" alt="#">
                        <h3>{{ $t('reporting.search-results') }}</h3>
                        <h4>{{ $t('reporting.search') }}</h4>
                        <button  @click="$router.push({name: 'SearchReports'})" type="button" class="btn btn-login">{{ $t('reporting.login') }}</button>
                    </div>
                </div>
            </div>
        </section>
    </div>    
</template>

<script>
import AdminMenu from '../components/AdminMenu.vue'
export default {
   name: 'Reporting',
   components: {
        AdminMenu
    }
}
</script>
<style scoped>
    .btn-login {
        background-color: var(--blue) !important;
        border-color: var(--blue) !important;
        transition: 200ms;
    }
    .btn-login:hover {
        background-color: var(--dblue) !important;
        border-color: var(--dblue) !important;
        transition: 200ms;
    }
</style>
