<template>
    <div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#" @click.prevent="$router.push({name: 'Home'})">{{ $t('reporting.homepage') }}</a></li>
                <li class="breadcrumb-item" aria-current="page"> <a href="#" @click.prevent="$router.push({name: 'Reporting'})">{{ $t('reporting.statistic') }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ $t('reporting.search-results') }}</li>
            </ol>
        </nav>
        <div >
            <div class="row">
                <div class="col-lg-6 col-12" style="min-height: 50vh" v-if="words.filter(w => w.count > 0).length > 0">
                    <h3>{{ $t('reporting.knowledge-searched') }}</h3>
                    <word-cloud id="1"  :data="words.map(w => Array(w.word, w.count))" />
                </div>
                <div class="col-lg-6 col-12" style="min-height: 50vh" v-if="labels.filter(l => l.search_count > 0).length > 0">
                    <h3>{{ $t('reporting.label-clicks') }}</h3>
                    <word-cloud id="2"  :data="labels.filter(l => l.search_count > 0).map(l => Array(l.name, l.search_count))" />
                </div>
            </div>
            <section section id="list-table" class="table-responsive" style="height: 100% !important;">
                <h3 class="mb-3 mt-3 course-table-title d-flex align-items-center" style="justify-content: space-between">
                    <span>{{ $t('reporting.knowledge-searched') }}</span>
                    <div class="d-flex">
                        <generic-document-download 
                            class="mr-2" 
                            text="Letölés PDF formátumban" 
                            :pdf="true" 
                            link="/reports/export/words/pdf"
                            name="words.pdf"
                        />
                        <generic-document-download 
                            text="Letölés XLSX formátumban" 
                            :pdf="false" 
                            link="/reports/export/words/xlsx"
                            name="words.xlsx"
                        />
                    </div>
                </h3>
                <div class="table-responsive" style="height: 100% !important;">
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <th style="width: 50% !important">{{ $t('reporting.word') }}</th>
                                <th style="width: 50% !important">{{ $t('reporting.searches') }}</th>
                            </tr>
                            <tr v-for="word in words" :key="word.word">
                                <td style="width: 50% !important">
                                    {{word.word}}
                                </td>
                                <td style="width: 50% !important">{{word.count}} </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
            <section section id="list-table" class="table-responsive" style="height: 100% !important;">
                <h3 class="mb-3 mt-3 d-flex align-items-center" style="justify-content: space-between">
                    <span>{{ $t('reporting.label-clicks') }}</span>
                    <div class="d-flex">
                        <generic-document-download 
                            class="mr-2" 
                            text="Letölés PDF formátumban" 
                            :pdf="true" 
                            link="/reports/export/labels/pdf"
                            name="labels.pdf"
                        />
                        <generic-document-download 
                            text="Letölés XLSX formátumban" 
                            :pdf="false" 
                            link="/reports/export/labels/xlsx"
                            name="labels.xlsx"
                        />
                    </div>
                </h3>
                <div class="table-responsive" style="height: 100% !important;">
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <th style="width: 50% !important">{{ $t('reporting.label') }}</th>
                                <th style="width: 50% !important">{{ $t('reporting.clicks') }}</th>
                            </tr>
                            <tr v-for="label in labels" :key="label.name">
                                <td style="width: 50% !important">
                                    {{label.name}}
                                </td>
                                <td style="width: 50% !important">{{label.search_count}} </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    </div>
</template>
<script>
import Loading from '../components/Loading.vue'
import WordCloud from '../components/Charts/WordCloud.vue'
import GenericDocumentDownload from '../components/GenericDocumentDownload.vue'
export default {
  components: { Loading, WordCloud, GenericDocumentDownload },
    name: 'SearchReport',
    mounted() {
        this.axios.get('/reports/search-results')
            .then(resp => {
                this.words = resp.data.words.data
                this.labels = resp.data.labels.data
            })
            .finally(() => this.loading = false)                 
    },
    data() {
        return {
            loading: true,
            words: [],
            labels: [],
        }
    },
}
</script>
