<template>
    <div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a @click.prevent="$router.push({name: 'Home'})" href="#">{{ $t('settings.homepage') }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ $t('settings.settings') }}</li>
            </ol>
        </nav>

        <section id="settings">
            <!-- <div class="row">
                <div class="col-12 mt-2">
                    <h2>
                        {{ $t('settings.settings') }}
                    </h2>
                </div>
            </div> -->
            <div class="row">
                <div class="col-lg-6 col-12 mt-2">
                    <div class="row">
                        <div class="col-12 mt-0">
                            <h3>{{ $t('settings.normal-settings') }}:</h3>
                        </div>
                        <form @submit.prevent="submit" class="w-100">
                        <div class="row" style="margin: 0px !important;">  
                            <div class="col-sm-6 col-12 mt-4">
                                <p>{{ $t('settings.profile-pic') }} </p>
                                <div class="d-flex flex-wrap">
                                    <Loading v-if="avatarUploading" height='128px' style="border-radius: 50%"/>
                                    <Avatar v-else-if="!avatarURL && $store.state.user" :username="$store.state.user.name" :size="128" :rounded="false" style="cursor: pointer;border-radius: 50%" @click="$refs.fileUpload.click()"/>
                                    <img v-else class="mb-3" :src="avatarURL" width="128" height="128" @click="$refs.fileUpload.click()" style="cursor: pointer;border-radius: 50%">
                                    <div class="align-top mb-3 ml-sm-4 mb-sm-0" style="display: none;">
                                        <label class="mt-0 mb-5"> {{ $t('settings.upload-new-pic') }}</label>
                                        <br/>
                                        <input type="file"  accept="image/png, image/jpeg, image/jpg" id="uploadAvatar" ref="fileUpload" @change="readURL">
                                        <br/>
                                        <sub> {{ $t('settings.max-pic') }} </sub>
                                    </div>
                                    <ImageCropper v-if="uploadedAvatarURL" @urlChanged="setCroppedAvatarURL" :src="uploadedAvatarURL" :type="uploadType" />
                                </div>
                                <button v-if="avatarURL" class="btn btn-outline-danger" style="width: 128px; margin-bottom: 20px;margin-top: 10px;" @click.stop="removeAvatar" :disabled="avatarUploading">{{ $t('settings.delete') }}</button>
                            </div>
                            <div class="col-sm-6 col-12 mt-4">
                                <button class="btn btn-primary w-100" type="button" data-target="#changePasswordModal" data-toggle="modal">{{ $t('settings.change-pw') }}</button>
                            </div>
                        </div>
                        <div class="col-12" style="margin-top: 2px !important;">
                            <label>{{ $t('settings.name') }} </label>
                            <div v-if="errors['name']">
                                <span v-for="(error, idx) in errors['name']" style="color: red;" :key="idx">{{error}}</span>
                            </div>    
                            <input type="text" class="form-control" v-model="data.name" required :style="{border: errors['name'] ? '1px solid red' : '1px solid #ced4da'}">
                        </div>
                        <div class="col-12 mt-2">
                            <label>{{ $t('settings.email') }} </label>
                            <div v-if="errors['email']">
                                <span v-for="(error, idx) in errors['email']" style="color: red;" :key="idx">{{error}}</span>
                            </div>    
                            <input type="email" class="form-control" v-model="data.email" required :style="{border: errors['email'] ? '1px solid red' : '1px solid #ced4da'}">
                        </div>
                        <div class="col-12 mt-2">
                            <button type="submit" :disabled="loading || !Object.values(regexErrors).every(o => o === null)" class="btn btn-save">{{ $t('settings.save') }}</button>
                        </div>
                        </form>
                        <div class="col-12 mt-5">
                            <h3>{{ $t('settings.adult-settings') }}</h3>
                        </div>
                        <form @submit.prevent="setFarContractData" class="col-12 w-100 row">
                            <div class="col-12 mt-2">
                                <label>{{ $t('settings.birth-name') }} </label>
                                <div v-if="errors['birth_name']">
                                    <span v-for="(error, idx) in errors['birth_name']" style="color: red;" :key="idx">{{error}}</span>
                                </div>    
                                <input type="text" :placeholder="$t('settings.birth-name')" class="form-control" v-model="farContractData.birth_name" required :style="{border: errors['birth_name'] ? '1px solid red' : '1px solid #ced4da'}">
                            </div>
                            <div class="col-md-6 col-12 mt-2">
                                <label>{{ $t('create-far.lastname') }} </label>
                                <div v-if="errors['last_name']">
                                    <span v-for="(error, idx) in errors['last_name']" style="color: red;" :key="idx">{{error}}</span>
                                </div> 
                                <input :placeholder="$t('settings.curr-last')" type="text" class="form-control" v-model="farContractData.last_name" required :style="{border: errors['last_name'] ? '1px solid red' : '1px solid #ced4da'}">
                            </div>
                            <div class="col-md-6 col-12 mt-2">
                                <label>{{ $t('create-far.firstname') }} </label>
                                <div v-if="errors['first_name']">
                                    <span v-for="(error, idx) in errors['first_name']" style="color: red;" :key="idx">{{error}}</span>
                                </div> 
                                <input type="text" :placeholder="$t('settings.curr-first')" class="form-control" v-model="farContractData.first_name" required :style="{border: errors['first_name'] ? '1px solid red' : '1px solid #ced4da'}">
                            </div>
                                
                            <div class="col-12 mt-2">
                                <label>{{ $t('settings.email') }} </label>
                                <div v-if="errors['email']">
                                    <span v-for="(error, idx) in errors['email']" style="color: red;" :key="idx">{{error}}</span>
                                </div>    
                                <input type="email" :placeholder="$t('settings.adult-address')" class="form-control" v-model="farContractData.email" required :style="{border: errors['email'] ? '1px solid red' : '1px solid #ced4da'}">
                            </div>
                            <div class="col-12 mt-2">
                                <label>{{ $t('settings.birth-place') }} </label>
                                <div v-if="errors['birth_place']">
                                    <span v-for="(error, idx) in errors['birth_place']" style="color: red;" :key="idx">{{error}}</span>
                                </div>    
                                <input :placeholder="$t('settings.birth-place')" type="text" class="form-control" v-model="farContractData.birth_place" required :style="{border: errors['birth_place'] ? '1px solid red' : '1px solid #ced4da'}">
                            </div>
                            <div class="col-12 mt-2">
                                <label>{{ $t('settings.mother-name') }} </label>
                                <div v-if="errors['mothers_name']">
                                    <span v-for="(error, idx) in errors['mothers_name']" style="color: red;" :key="idx">{{error}}</span>
                                </div> 
                                <input :placeholder="$t('settings.mother-name')" type="text" class="form-control" v-model="farContractData.mothers_name" required :style="{border: errors['mothers_name'] ? '1px solid red' : '1px solid #ced4da'}">
                            </div>
                            <div class="col-12 mt-2">
                                <label>{{ $t('settings.birth-date') }} </label>
                                <div v-if="errors['birth_date']">
                                    <span v-for="(error, idx) in errors['birth_date']" style="color: red;" :key="idx">{{error}}</span>
                                </div> 
                                <datetime :placeholder="$t('settings.birth-date')" :zone="DateTime.local().zoneName" :valueZone="DateTime.local().zoneName" v-model="farContractData.birth_date" required class="form-control" :style="{border: errors['birth_date'] ? '1px solid red' : '1px solid #ced4da'}" />
                            </div>
                            <div class="col-12 mt-2">
                                <label>{{ $t('settings.educated') }}</label>
                                <div v-if="errors['qualification_id']">
                                    <span v-for="(error, idx) in errors['qualification_id']" style="color: red;" :key="idx">{{error}}</span>
                                </div> 
                                <select  :placeholder="$t('settings.choose')" class="form-control" v-model="farContractData.qualification_id" :style="{border: errors['qualification_id'] ? '1px solid red' : '1px solid #ced4da'}">
                                    <option disabled :value="null">{{$t('settings.choose-list')}}</option>
                                    <option v-for="qualification in qualifications" :value="qualification.id" :key="qualification.id">{{$t(`qualifications.${qualification.name}`)}}</option>
                                </select>
                            </div>
                            <div class="col-12 mt-2">
                                <label>{{ $t('settings.om') }} {{$t('settings.if')}}</label>
                                <div v-if="errors['educational_id']">
                                    <span v-for="(error, idx) in errors['educational_id']" style="color: red;" :key="idx">{{error}}</span>
                                </div>
                                <div>
                                    <span v-if="regexErrors['educational_id']" style="color: red;">{{regexErrors['educational_id']}}</span>
                                </div>
                                <input :placeholder="$t('settings.identifier')" type="number" class="form-control" v-model="farContractData.educational_id" :style="{border: errors['educational_id'] || regexErrors['educational_id'] ? '1px solid red' : '1px solid #ced4da'}">
                            </div>
                            <div class="col-12">
                                <button type="submit" :disabled="loading" class="btn btn-save">{{ $t('settings.save') }}</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-6 col-12 mt-lg-0 pl-lg-3 mt-4 pl-0 settings-right-side">
                    <form @submit.prevent="updateBarAssociationData" class="w-100 mb-5">
                        <div class="col-12 mt-5">
                            <h3>{{ $t('overview.bar-data') }}</h3>
                        </div>
                        <div class="col-12 mt-2">
                            <label>{{ $t('settings.lawyer-credit') }}</label>
                            <select v-model="barAssociationData.wants_credits" class="form-control" :style="{border: errors['wants_credits'] ? '1px solid red' : '1px solid #ced4da'}">
                                <option :value="0">{{ $t('settings.no') }}</option>
                                <option :value="1">{{ $t('settings.yes') }}</option>
                            </select>
                        </div>
                        <div class="col-12 p-0">
                            <div class="col-12 mt-2">
                                <label>{{ $t('settings.lawyer-name') }} </label>
                                <div v-if="errors['bar_association_name']">
                                    <span v-for="(error, idx) in errors['bar_association_name']" style="color: red;" :key="idx">{{error}}</span>
                                </div> 
                                <input :disabled="$store.state.user.finished_registration && $store.state.user?.eligible_for_credit_points" :placeholder="$t('settings.lawyer-name')"  type="text" class="form-control" v-model="barAssociationData.bar_association_name" required :style="{border: errors['bar_association_name'] ? '1px solid red' : '1px solid #ced4da'}">
                            </div>
                            <div class="col-12 mt-2">
                                <label>{{ $t('settings.lawyer-id') }}</label>
                                <div v-if="errors['bar_association_number']">
                                    <span v-for="(error, idx) in errors['bar_association_number']" style="color: red;" :key="idx">{{error}}</span>
                                </div>
                                <div>
                                    <span v-if="regexErrors['bar_association_number']" style="color: red;">{{regexErrors['bar_association_number']}}</span>
                                </div>
                                <input :disabled="$store.state.user.finished_registration && $store.state.user?.eligible_for_credit_points" :placeholder="$t('settings.lawyer-id-placeholder')" type="text" class="form-control" v-debounce:400ms="validateBarAssociationNumber" v-model="barAssociationData.bar_association_number" required :style="{border: errors['bar_association_number'] || regexErrors['bar_association_number'] ? '1px solid red' : '1px solid #ced4da'}">
                            </div>
                            <div class="col-12 mt-2">
                                <label>{{ $t('settings.lawyer-location') }} </label>
                                <div v-if="errors['bar_association_id']">
                                    <span v-for="(error, idx) in errors['bar_association_id']" style="color: red;" :key="idx">{{error}}</span>
                                </div> 
                                <select class="form-control" v-model="barAssociationData.bar_association_id" :style="{border: errors['bar_association_id'] ? '1px solid red' : '1px solid #ced4da'}" :disabled="$store.state.user.finished_registration && $store.state.user?.eligible_for_credit_points">
                                    <option v-for="barAssociation in barAssociations" :value="barAssociation.id" :key="barAssociation.id">{{barAssociation.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-12 mt-3">
                            <div v-if="$store.state.user.finished_registration && $store.state.user?.eligible_for_credit_points" class="d-flex align-items-center mb-1 font-16" style="font-size: 16px; font-weight: bold">
                                <i class="fas fa-info-circle text-danger"></i>
                                <div class="ml-2">{{ $t('settings.notification') }}</div>
                            </div>
                            <button type="submit" :disabled="loading" class="btn btn-save" style="margin-top: 0px !important;">{{ $t('overview.save-bar') }}</button>
                        </div>
                    </form>
                    <div class="col-12 mt-2">
                        <h3>{{ $t('settings.invoice-data') }} </h3>
                    </div>
                    <form @submit.prevent="setBillingData">
                    <div class="col-12 settings-first-item">
                        <label>{{ $t('common.type') }}</label>
                        <select v-model="billingData.is_company" class="form-control">
                            <option :value="0">{{ $t('settings.private') }}</option>
                            <option :value="1">{{ $t('settings.company') }}</option>
                        </select>
                    </div>
                    <div class="col-12 mt-2">
                        <label>{{ $t('settings.name') }}</label>
                        <div v-if="billingErrors['name']">
                            <span v-for="(error, idx) in billingErrors['name']" style="color: red;" :key="idx">{{error}}</span>
                        </div> 
                        <input type="text" :placeholder="$t('settings.bill-address')" v-model="billingData.name" class="form-control" :style="{border: billingErrors['name'] ? '1px solid red' : '1px solid #ced4da'}" required>
                    </div>
                    <div class="col-12 mt-2">
                        <label>{{ $t('settings.phone') }}</label>
                        <div v-if="billingErrors['phone_number']">
                            <span v-for="(error, idx) in billingErrors['phone_number']" style="color: red;" :key="idx">{{error}}</span>
                        </div> 
                        <input type="phone" :placeholder="$t('settings.phone')" v-model="billingData.phone_number" class="form-control" :style="{border: billingErrors['phone_number'] ? '1px solid red' : '1px solid #ced4da'}" required>
                    </div>
                    <div class="col-12 mt-2">
                        <label>{{ $t('settings.country') }}</label>
                        <div v-if="billingErrors['country']">
                            <span v-for="(error, idx) in billingErrors['country']" style="color: red;" :key="idx">{{error}}</span>
                        </div> 
                        <select v-model="billingData.country_id" class="form-control">
                            <option v-for="country in countries" :value="country.id" :key="country.id" >{{$t('countries.'+country.name)}}</option>
                        </select>
                    </div>
                    <div class="col-12 mt-2">
                        <label>{{ $t('settings.zip-code') }}</label>
                        <div v-if="billingErrors['zip_code']">
                            <span v-for="(error, idx) in billingErrors['zip_code']" style="color: red;" :key="idx">{{error}}</span>
                        </div> 
                        <input type="text" :placeholder="$t('common.zip-code')" v-model="billingData.zip_code" class="form-control" :style="{border: billingErrors['zip_code'] ? '1px solid red' : '1px solid #ced4da'}" required>
                    </div>
                    <div class="col-12 mt-2">
                        <label>{{ $t('settings.city') }}</label>
                        <div v-if="billingErrors['locality']">
                            <span v-for="(error, idx) in billingErrors['locality']" style="color: red;" :key="idx">{{error}}</span>
                        </div> 
                        <input type="text"  :placeholder="$t('common.city')" v-model="billingData.locality" class="form-control" :style="{border: billingErrors['locality'] ? '1px solid red' : '1px solid #ced4da'}" required>
                    </div>
                    <div class="col-12 mt-2">
                        <label>{{ $t('settings.street-name') }}</label>
                        <div v-if="billingErrors['public_space']">
                            <span v-for="(error, idx) in billingErrors['public_space']" style="color: red;" :key="idx">{{error}}</span>
                        </div> 
                        <input type="text" :placeholder="$t('common.street-name')" v-model="billingData.public_space" class="form-control" :style="{border: billingErrors['public_space'] ? '1px solid red' : '1px solid #ced4da'}" required>
                    </div>
                    <div class="col-12 mt-2">
                        <label>{{ $t('settings.street-type') }}</label>
                        <div v-if="billingErrors['public_space_type']">
                            <span v-for="(error, idx) in billingErrors['public_space_type']" style="color: red;" :key="idx">{{error}}</span>
                        </div> 
                        <input type="text" :placeholder="$t('settings.street')" v-model="billingData.public_space_type" class="form-control" :style="{border: billingErrors['public_space_type'] ? '1px solid red' : '1px solid #ced4da'}" required>
                    </div>
                    <div class="col-12 mt-2">
                        <label>{{ $t('settings.other') }}</label>
                        <div v-if="billingErrors['other']">
                            <span v-for="(error, idx) in billingErrors['other']" style="color: red;" :key="idx">{{error}}</span>
                        </div> 
                        <input type="text" :placeholder="$t('course-materials.placeholder')" v-model="billingData.other" class="form-control" :style="{border: billingErrors['other'] ? '1px solid red' : '1px solid #ced4da'}">
                    </div>
                    <div class="col-12 p-0" v-if="billingData.is_company">
                        <div class="col-12 mt-2">
                            <label>{{ $t('settings.company-name') }}</label>
                            <div v-if="billingErrors['company_name']">
                                <span v-for="(error, idx) in billingErrors['company_name']" style="color: red;" :key="idx">{{error}}</span>
                            </div>
                            <input :placeholder="$t('settings.company-name')" type="text" v-model="billingData.company_name" class="form-control" :style="{border: billingErrors['company_name'] ? '1px solid red' : '1px solid #ced4da'}" required>
                        </div>
                        <div class="col-12 mt-2">
                            <label>{{ $t('settings.company-tax') }}</label>
                            <div v-if="billingErrors['company_tax_id']">
                                <span v-for="(error, idx) in billingErrors['company_tax_id']" style="color: red;" :key="idx">{{error}}</span>
                            </div>
                            <input :placeholder="$t('settings.company-tax')" type="text" v-model="billingData.company_tax_id" class="form-control" :style="{border: billingErrors['company_tax_id'] ? '1px solid red' : '1px solid #ced4da'}" required>
                        </div>
                        <div class="col-12 mt-2">
                            <label>{{ $t('settings.company-eu-tax') }}</label>
                            <div v-if="billingErrors['company_eu_tax_id']">
                                <span v-for="(error, idx) in billingErrors['company_eu_tax_id']" style="color: red;" :key="idx">{{error}}</span>
                            </div>
                            <input :placeholder="$t('settings.company-eu-tax')" v-model="billingData.company_eu_tax_id" type="text" class="form-control" :style="{border: billingErrors['company_eu_tax_id'] ? '1px solid red' : '1px solid #ced4da'}" required>
                        </div> 
                    </div>
                    <div class="col-12">
                        <button type="submit" :disabled="loading" class="btn btn-save">{{ $t('settings.save-invoice') }}</button>
                    </div>
                    </form>
                    <div class="w-100 mt-4">
                        <div class="col-12">
                            <h3>{{ $t('settings.delete-profile') }}</h3>
                            <button type="button" data-toggle="modal" data-target="#delete-profile-modal" :disabled="loading" class="btn btn-danger w-100">{{ $t('settings.delete-profile') }}</button>
                            <delete-profile-modal />
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <change-password-modal />
    </div>
</template>
<script>
import {DateTime} from 'luxon'
import ImageCropper from '@/components/ImageCropper'
import Avatar from '@/components/Avatar'
import Loading from '@/components/Loading'
import ChangePasswordModal from '../components/ChangePasswordModal.vue'
import Datetime from '../components/DateTimePicker/Datetime'
import DeleteProfileModal from '../components/DeleteProfileModal.vue'

export default {
    name: 'Settings',
    components: {
        ImageCropper,
        Avatar,
        Loading,
        ChangePasswordModal,
        Datetime,
        DeleteProfileModal     
    },
    mounted() {
        this.axios.get('/bar-associations')
            .then(resp => this.barAssociations = this.barAssociations.concat(resp.data))
        
        this.axios.get('/qualifications')
            .then(resp => this.qualifications = this.qualifications.concat(resp.data))
        
        this.axios.get('/countries')
            .then(resp => this.countries = this.countries.concat(resp.data))
    },
    data() {
        return {
            avatarURL: this.$store.state.user && this.$store.state.user.avatar ? this.$store.state.storageURL+this.$store.state.user.avatar.path+'?token='+this.$store.state.token : null,
            croppedAvatarURL: null,
            uploadedAvatarURL: null,
            uploadType: null,
            avatarUploading: false,
            barAssociations: [],
            nationalities: [],
            qualifications: [],
            countries: [],
            loading: false,
            DateTime: DateTime,
            data: this.$store.state.user ? {
                name: this.$store.state.user.name,
                email: this.$store.state.user.email,
            } : {},
            farContractData: this.$store.state.user && this.$store.state.user.far_contract_data ? {
                birth_name: this.$store.state.user.far_contract_data.birth_name,
                birth_place: this.$store.state.user.far_contract_data.birth_place,
                mothers_name: this.$store.state.user.far_contract_data.mothers_name,
                birth_date: this.$store.state.user.far_contract_data.birth_date,
                first_name: this.$store.state.user.far_contract_data.first_name,
                last_name: this.$store.state.user.far_contract_data.last_name,
                qualification_id: this.$store.state.user.far_contract_data.qualification_id,
                educational_id: this.$store.state.user.far_contract_data.educational_id,
                email: this.$store.state.user.far_contract_data.email
            } : {qualification_id: null},
            barAssociationData: this.$store.state.user ? {
                bar_association_id: this.$store.state.user.bar_association_id,
                bar_association_number: this.$store.state.user.bar_association_number,
                bar_association_name: this.$store.state.user.bar_association_name,
                wants_credits: this.$store.state.user.wants_credits,
            } : {},
            billingData: this.$store.state.user && this.$store.state.user.billing_information ? 
            {
                name: this.$store.state.user.billing_information.name,
                phone_number: this.$store.state.user.billing_information.phone_number,
                country_id: this.$store.state.user.billing_information.location.country.id,
                zip_code: this.$store.state.user.billing_information.location.zip_code,
                locality: this.$store.state.user.billing_information.location.locality,
                public_space: this.$store.state.user.billing_information.location.public_space,
                public_space_type: this.$store.state.user.billing_information.location.public_space_type,
                other: this.$store.state.user.billing_information.location.other,
                company_name: this.$store.state.user.billing_information.company_name,
                company_tax_id: this.$store.state.user.billing_information.company_tax_id,
                company_eu_tax_id: this.$store.state.user.billing_information.company_eu_tax_id,
                is_company: Number(
                    (this.$store.state.user.billing_information.company_name !== null && 
                    this.$store.state.user.billing_information.company_tax_id !== null && 
                    this.$store.state.user.billing_information.company_eu_tax_id !== null))
            } : {country_id: 141, is_company: 0},
            billingErrors: Object(),
            errors: Object(),
            regexErrors: {
                bar_association_number: null,
                tax_id: null,
                taj_id: null,
                educational_id: null
            }
            
        }
    },
    computed: {
        shouldShow() {
            return this.wants_credits ? $(this.wants_credits).val() : false
        }
    },
    methods: {
        validateBarAssociationNumber() {
            if(/^[0-9]{8}$/.test(this.barAssociationData.bar_association_number)){
                this.regexErrors['bar_association_number'] = null
            }
            else {
                this.regexErrors['bar_association_number'] = 'Nem megfelelő formátum'
            }
        },
        validateTaxId() {
            if(/^[0-9]{10}$/.test(this.data.tax_id)){
                this.regexErrors['tax_id'] = null
            }
            else {
                this.regexErrors['tax_id'] = 'Nem megfelelő formátum'
            }
        },
        validateTajId() {
            if(/^[0-9]{9}$/.test(this.data.taj_id)){
                this.regexErrors['taj_id'] = null
            }
            else {
                this.regexErrors['taj_id'] = 'Nem megfelelő formátum'
            }
        },
        readURL(input) {
            input = input.target
            if (input.files && input.files[0]) {
                this.uploadType = input.files[0].type
                var reader = new FileReader()
                reader.onload = (e) => {
                    this.uploadedAvatarURL = e.target.result
                }
                
                reader.readAsDataURL(input.files[0]) // convert to base64 string
            }
        },
        createUpload(type) {
            if(event.target.files.item(0))
                this.files.push({file: event.target.files.item(0), type: type, shown: true, uuid: null, id: this.files.length})
        },
        finishUpload(id, multimedia) {
            this.files.find(file => file.id === id).uuid = multimedia.id
        },
        cancelUpload(id, uuid) {
            this.files.splice(this.files.indexOf(this.files.find(file => file.id === id)), 1)
        },
        dataURLtoFile(dataurl, filename) {
 
            var arr = dataurl.split(','),
                mime = arr[0].match(/:(.*?);/)[1],
                bstr = atob(arr[1]), 
                n = bstr.length, 
                u8arr = new Uint8Array(n);
                
            while(n--){
                u8arr[n] = bstr.charCodeAt(n);
            }
            
            return new File([u8arr], 'avatar', {type:mime});
        },
        setCroppedAvatarURL(url) {
            this.avatarUploading = true
            let file = this.dataURLtoFile(url)
            let formData = new FormData;
            formData.set('image', file, file.name);
            let config = {
                    method: 'POST',
                    data: formData,
                    url: `/upload/image`,
                    baseURL: process.env.VUE_APP_STORAGE_URL,
                    headers: {
                        'Content-Type': 'application/octet-stream'
                    },
            }
            this.axios(config).then(resp => {
                config.url += '/' + resp.data.name
                config.url += '/finish';
                config.data = null;
                this.axios(config)
                .then(resp => {
                    const multimedia = resp.data.multimedia;
                    this.axios.post('set-avatar', {avatar_id: resp.data.multimedia.id})
                    .then(() => {
                        this.$store.state.user.avatar = multimedia
                        this.avatarURL = this.$store.state.storageURL + multimedia.path + '?token=' + this.$store.state.token
                    })
                    .finally(() => this.avatarUploading = false)
                })
                .catch(() => {
                    this.avatarUploading = false
                })
            }).catch((e) => this.avatarUploading = false)
            //    baseURL: process.env.VUE_APP_STORAGE_URL
           // })
        },
        removeAvatar() {
            this.avatarUploading = true
            this.avatarURL = null
            this.$store.state.user.avatar = null
            this.axios.post('/set-avatar', {avatar_id: null})
            .finally(this.avatarUploading = false)
        },
        removeEmptyOrNull(obj) {
            Object.keys(obj).forEach(k => {
                if(obj[k] === null)
                    delete obj[k]
            })
            return obj;
        },
        submit() {
            this.loading = true
            if(!this.barAssociationData.wants_credits) {
                this.barAssociationData.bar_association_id = null
                this.barAssociationData.bar_association_name = null
                this.barAssociationData.bar_association_number = null
            }
            this.axios.post('/update-profile', this.removeEmptyOrNull(this.data))
                .then(resp => {
                    this.$store.state.user = resp.data.user
                })
                .catch(e => this.errors = e.response.data.errors)
                .finally(() => this.loading = false)
        },
        setBillingData() {
            this.loading = true
            if(!this.billingData.is_company) {
                this.billingData.company_name = null
                this.billingData.company_tax_id = null
                this.billingData.company_eu_tax_id = null
            }
            this.axios.post('/billing-information', this.removeEmptyOrNull(this.billingData))
                .then(resp => {
                    this.$store.state.user = resp.data.user
                })
                .catch(e => this.billingErrors = e.response.data.errors)
                .finally(() => this.loading = false)
        },
        setFarContractData() {
            this.loading = true
            this.farContractData.birth_date = DateTime.fromISO(this.farContractData.birth_date).toFormat('yyyy-MM-dd')
            this.axios.post('/far-contract-data', this.removeEmptyOrNull(this.farContractData))
                .then(resp => {
                    this.$store.state.user = resp.data.user
                })
                .catch(e => this.errors = e.response.data.errors)
                .finally(() => this.loading = false)
        },
        updateBarAssociationData() {
            this.loading = true
            this.axios.post('/bar-association-data', this.removeEmptyOrNull(this.barAssociationData))
                .then(resp => {
                    Object.assign(this.$store.state.user, resp.data.barAssociationData)
                })
                .catch(e => this.errors = e.response.data.errors)
                .finally(() => this.loading = false)
        }
    }
}
</script>
<style scoped>
    .settings-first-item {
        margin-top: 31px;
    }
</style>
