<template>
    <div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">{{ $t('test-question-assembler.homepage') }}</a></li>
                <li class="breadcrumb-item"><a href="#" @click.prevent="$router.push({name: 'ManageTests'})">{{ $t('test-question-assembler.managing-tests') }}</a></li>
                <li v-if="test" class="breadcrumb-item"><a href="#" @click.prevent="$router.push({name: 'EditTest', params: {course: test.id}})">{{test.name}}</a></li>
                <li v-else class="breadcrumb-item"><a href="#">{{ $t('test-question-assembler.test') }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ $t('test-question-assembler.test-edit') }}</li>
            </ol>
        </nav>

        <div id="test-question" v-if="!loading && test">
            <div class="row">
                <div v-if="finalized" class="d-flex align-items-center mb-3">
                    <i class="fas fa-info-circle text-danger"></i>
                    <div class="ml-2">{{$t('edit-test.finalize-warning', {course: test.courses.find(c => c.finalized).title})}}</div>
                </div>
                <div class="col-12" v-if="!finalized">
                    <button type="button" class="btn btn-create-new" data-toggle="modal" data-target="#newQuestionModal">{{ $t('test-question-assembler.new-question') }}</button>
                </div>
            </div>
            <div class="row">
                <div class="col-12 quick-table">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col">{{ $t('test-question-assembler.question') }}</th>
                            <th scope="col">{{ $t('test-question-assembler.type') }}</th>
                            <th scope="col">{{ $t('test-question-assembler.answers') }}</th>
                            <th scope="col">{{ $t('test-question-assembler.max-point') }}</th>
                            <th scope="col" class="text-right testmin">{{ $t('test-question-assembler.actions') }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="question in test.test_questions" :key="question.id">
                            <td> <a href="#" data-toggle="modal" data-target="#exampleModal5"> {{question.question}}</a></td>
                            <td>{{$t('question-type.'+question.question_type)}}</td>
                            <td>
                                <div class="row mb-2" v-for="answer in question.test_question_answers" :key="answer.id">
                                    <div class="col-11 clear-padding" :style="{color: answer.correct ? 'green' : 'red'}">{{answer.answer}} </div>
                                    <div class="col-1 clear-padding" v-if="!finalized">
                                        <a href="#" data-toggle="modal" :data-target="'#editQuestionAnswer'+answer.id+'Modal'"><i class="fas fa-pen mr-2"></i></a>
                                        <a href="#" data-toggle="modal" :data-target="'#deleteQuestionAnswer'+answer.id+'Modal'"><i class="fas fa-trash-alt" style="color: red"></i></a>
                                    </div>
                                    <!-- Modal Question Answer Delete -->
                                    <div class="modal fade" :id="'deleteQuestionAnswer'+answer.id+'Modal'" tabindex="-1" role="dialog" :aria-labelledby="'deleteQuestionAnswer'+answer.id+'ModalLabel'" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header delete-modal-header" style="background-color: #dc3545 !important">
                                                <h5 class="modal-title" :id="'deleteQuestionAnswer'+answer.id+'ModalLabel'" >{{ $t('test-question-assembler.delete-sure') }}</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                                </div>
                                                <div class="modal-body">
                                                    {{ $t('test-question-assembler.delete-question') }}
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-danger" data-dismiss="modal" @click="deleteQuestionAnswer(answer)">{{ $t('test-question-assembler.delete') }}</button>
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ $t('test-question-assembler.cancel') }}</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Modal edit question Answer-->
                                    <div class="modal fade" :id="'editQuestionAnswer'+answer.id+'Modal'" tabindex="-1" role="dialog" :aria-labelledby="'editQuestionAnswer'+answer.id+'ModalLabel'" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header question-modal-header" style="background-color: #007bff !important;">
                                                <h5 class="modal-title" :id="'editQuestionAnswer'+answer.id+'ModalLabel'">{{ $t('test-question-assembler.edit-answer') }}</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                                </div>
                                                <form @submit.prevent="editQuestionAnswer(answer)">
                                                    <div class="modal-body nono">
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <div class="form-group">
                                                                    <label for="exampleFormControlTextarea1">{{ $t('test-question-assembler.answer') }}</label>
                                                                    <textarea v-model="answer.edit.answer" class="form-control" id="exampleFormControlTextarea1" rows="3" required></textarea>
                                                                </div>
                                                            </div>
                                                            <div class="col-12">
                                                                <label class="container2">{{ $t('test-question-assembler.correct-answer') }}
                                                                    <input v-model="answer.edit.correct" 
                                                                        type="checkbox"
                                                                        :disabled="question.question_type == 'Free text' || (!answer.correct && !(question.question_type == 'Multiple choice' || (question.question_type !== 'Free text' && question.test_question_answers.filter((qa) => qa.correct == true).length < 1)))"
                                                                        :checked="answer.correct"
                                                                    >
                                                                    <span class="checkmark"></span>
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="submit" :disabled="answer.loading" class="btn btn-danger">{{ $t('test-question-assembler.edit') }}</button>
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ $t('test-question-assembler.cancel') }}</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <th scope="row">{{question.max_points}}</th>
                            <td class="text-right">
                                <button v-if="(question.question_type !== 'Free text' || question.test_question_answers.length < 1) && !finalized" type="button" class="btn btn-action-agree" data-toggle="modal" :data-target="'#newAnswer'+question.id+'Modal'">{{ $t('test-question-assembler.new-answer') }}</button> <br />
                                <button type="button" class="btn btn-info mb-2 w-100" style="max-width: 244px; !important;" data-toggle="modal" :data-target="'#editQuestion'+question.id+'Modal'">{{ $t('test-question-assembler.edit-question') }}</button> <br>
                                <button v-if="!finalized" type="button" class="btn btn-danger w-100" style="max-width: 244px; !important;" data-toggle="modal" :data-target="'#deleteQuestion'+question.id+'Modal'">{{ $t('test-question-assembler.delete') }}</button>
                            </td>
                            <!-- Modal New Answer-->
                            <div v-if="question.questionType !== 'Free text' || question.test_question_answers.length < 1" class="modal fade" :id="'newAnswer'+question.id+'Modal'" tabindex="-1" role="dialog" :aria-labelledby="'newAnswer'+question.id+'ModalLabel'" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header question-modal-header" style="background-color: #007bff !important;">
                                        <h5 class="modal-title" :id="'newAnswer'+question.id+'ModalLabel'">{{ $t('test-question-assembler.add-new-answer') }}</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                        <form @submit.prevent="createQuestionAnswer(question)">
                                            <div class="modal-body nono">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <div class="form-group">
                                                            <label for="exampleFormControlTextarea1">{{ $t('test-question-assembler.answer') }}</label>
                                                            <textarea v-model="question.newAnswer.answer" class="form-control" id="exampleFormControlTextarea1" rows="3" required></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="col-12" v-if="question.question_type == 'Multiple choice' || (question.question_type !== 'Free text' && question.test_question_answers.filter((qa) => qa.correct == true).length < 1)">
                                                        <label class="container2">{{ $t('test-question-assembler.correct-answer') }}
                                                            <input v-model="question.newAnswer.correct" type="checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                    </div>
                                                    <div class="col-12" v-else-if="question.question_type == 'Single choice'">
                                                        <i class="fas fa-info-circle mr-2 font-15" style="color: var(--lblue); font-size: 15px;"></i>
                                                        <span>{{ $t('test-question-assembler.choose1') }} <b style="color: red">{{ $t('test-question-assembler.wrong') }}</b> {{ $t('test-question-assembler.choose2') }}</span>
                                                    </div>
                                                    <div class="col-12" v-else>
                                                        <i class="fas fa-info-circle mr-2 font-15" style="color: var(--lblue); font-size: 15px;"></i>
                                                        <span>{{ $t('test-question-assembler.write1') }} <b style="color: green">{{ $t('test-question-assembler.good') }}</b> {{ $t('test-question-assembler.choose2') }}</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="submit" :disabled="question.newAnswer.loading" class="btn btn-primary">{{ $t('test-question-assembler.add') }}</button>
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ $t('test-question-assembler.cancel') }}</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!-- Modal Delete -->
                            <div class="modal fade" :id="'deleteQuestion'+question.id+'Modal'" tabindex="-1" role="dialog" :aria-labelledby="'deleteQuestion'+question.id+'ModalLabel'" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header delete-modal-header" style="background-color: #dc3545 !important">
                                        <h5 class="modal-title" :id="'deleteQuestion'+question.id+'ModalLabel'">{{ $t('test-question-assembler.delete-sure') }}</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                        <div class="modal-body">
                                            {{ $t('test-question-assembler.delete-question') }}
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger" data-dismiss="modal" @click="deleteQuestion(question)">{{ $t('common.delete') }}</button>
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ $t('test-question-assembler.cancel') }}</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                <!-- Modal Edit Question-->
                            <div class="modal fade" :id="'editQuestion'+question.id+'Modal'" tabindex="-1" role="dialog" :aria-labelledby="'editQuestion'+question.id+'ModalLabel'" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header question-modal-header" style="background-color: #007bff !important;">
                                        <h5 class="modal-title" :id="'editQuestion'+question.id+'ModalLabel'">{{ $t('test-question-assembler.edit-question') }}</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                        <form @submit.prevent="editQuestion(question)">
                                            <div class="modal-body nono">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <div class="form-group">
                                                            <label for="exampleFormControlTextarea1">{{ $t('test-question-assembler.question') }}</label>
                                                            <textarea required maxlength="2000" v-model="question.edit.question" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="col-12 marg-bottom">
                                                        <label for="">{{ $t('test-question-assembler.max-score') }}</label>
                                                        <input type="number" :disabled="finalized" v-model="question.edit.max_points" min="1" class="form-control" placeholder="" required>
                                                    </div>
                                                    <div class="col-12">
                                                        <div class="form-group">
                                                            <label for="">{{ $t('test-question-assembler.question-type') }}</label>
                                                            <select class="form-control" id="exampleFormControlSelect1" v-model="question.edit.question_type" required :disabled="finalized">
                                                                <option v-for="questionType in questionTypes" :key="questionType.type" :value="questionType.type">{{$t('question-type.'+questionType.type)}}</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        <div class="form-group">
                                                            <label for="exampleFormControlTextarea1">{{ $t('test-question-assembler.comment') }}</label>
                                                            <textarea class="form-control" v-model="question.edit.note" id="exampleFormControlTextarea1" rows="3"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="submit" class="btn btn-primary w-100" :disabled="question.loading">{{ $t('test-question-assembler.save') }}</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
                <!-- Modal New Question-->
                <div class="modal fade" id="newQuestionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header question-modal-header" style="background-color: #007bff !important;">
                            <h5 class="modal-title" id="exampleModalLabel">{{ $t('test-question-assembler.new-question') }}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            <form @submit.prevent="submitNewQuestion">
                                <div class="modal-body nono">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label for="exampleFormControlTextarea1">{{ $t('test-question-assembler.question') }}</label>
                                                <textarea required v-model="newQuestion.question" maxlength="2000" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-12 marg-bottom">
                                            <label for="">{{ $t('test-question-assembler.max-score') }}</label>
                                            <input type="number" required v-model="newQuestion.max_points" min="1" class="form-control" placeholder="">
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label for="">{{ $t('test-question-assembler.question-type') }}</label>
                                                <select class="form-control" id="exampleFormControlSelect1" v-model="newQuestion.question_type" required>
                                                    <option v-for="questionType in questionTypes" :key="questionType.type" :value="questionType.type">{{$t('question-type.'+questionType.type)}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label for="exampleFormControlTextarea1">{{ $t('test-question-assembler.comment') }}</label>
                                                <textarea class="form-control" v-model="newQuestion.note" id="exampleFormControlTextarea1" rows="3"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary w-100" :disabled="newQuestion.loading">{{ $t('test-question-assembler.save') }}</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
        </div>
        <div v-else>
            <Loading height="80vh" />
        </div>
    </div>
</template>
<script>
import Loading from '@/components/Loading.vue'
export default {
    name: 'TestQuestionAssembler',
    components: {
        Loading
    },
    mounted() {
        this.loading = true;
        this.axios.get('/tests/'+this.$route.params.test)
            .then(resp => {
                this.test = resp.data.test
                this.test.test_questions.forEach(el => {
                    el.edit = JSON.parse(JSON.stringify(el))
                    el.test_question_answers.forEach(qa => {
                        qa.edit = JSON.parse(JSON.stringify(qa))
                    })
                    el.newAnswer = {
                        answer: null,
                        correct: el.questionType == 'Free text'
                    }
                })
            })
            .finally(() => this.loading = false)
        this.axios.get('/question-types')
            .then(resp => this.questionTypes = resp.data)
    },
    data() {
        return {
            test: null,
            questionTypes: [],
            newQuestion: {
                question: null,
                max_points: null,
                question_type: null,
                note: null,
                loading: false
            },
            loading: false
        }
    },
    computed: {
        finalized() {
            return this.test?.courses.some(c => c.finalized)
        }
    },
    methods: {
        submitNewQuestion() {
            this.newQuestion.loading = true
            this.axios.post('/tests/'+this.test.id+'/questions', this.$store.getters.removeEmptyOrNull(this.newQuestion))
                .then(resp => {
                    resp.data.question.edit = JSON.parse(JSON.stringify(resp.data.question))
                    resp.data.question.newAnswer = {answer: null, correct: resp.data.question.questionType == 'Free text'}
                    this.test.test_questions.push(resp.data.question)
                    this.newQuestion = {
                        questionTypes: [],
                        question: null,
                        max_points: null,
                        question_type: null,
                        note: null,
                        loading: false
                    }
                    $('#newQuestionModal').modal('hide')
                })
                .finally(() => this.newQuestion.loading = false)
        },
        editQuestion(question) {
            question.loading = true
            this.axios.patch('/tests/'+this.test.id+'/questions/'+question.id, this.$store.getters.removeEmptyOrNull(question.edit))
                .then(resp => {
                    resp.data.question.test_question_answers.forEach(qa => {
                        qa.edit = JSON.parse(JSON.stringify(qa))
                    })
                    resp.data.question.edit = JSON.parse(JSON.stringify(resp.data.question))
                    resp.data.question.newAnswer = {answer: null, correct: question.questionType == 'Free text'}
                    this.test.test_questions[this.test.test_questions.findIndex((q) => q.id == question.id)] = resp.data.question
                    $('#editQuestion'+question.id+'Modal').modal('hide')
                })
                .finally(() => question.loading = false)
        },
        deleteQuestion(question) {
            question.loading = true
            this.axios.delete('/tests/'+this.test.id+'/questions/'+question.id)
                .then(resp => {
                    this.test.test_questions.splice(this.test.test_questions.findIndex((q) => q.id == question.id), 1)
                })
                .finally(() => question.loading = false)
        },
        createQuestionAnswer(question) {
            question.newAnswer.loading = true
            this.axios.post('/questions/'+question.id+'/answers', this.$store.getters.removeEmptyOrNull(question.newAnswer))
                .then(resp => {
                    resp.data.answer.edit = JSON.parse(JSON.stringify(resp.data.answer))
                    question.test_question_answers.push(resp.data.answer)
                    question.newAnswer = {answer: null, correct: question.questionType == 'Free text'}
                    $('#newAnswer'+question.id+'Modal').modal('hide')
                })
                .finally(() => question.newAnswer.loading = false)
        },
        editQuestionAnswer(answer) {
            answer.loading = true
            this.axios.patch('/questions/'+answer.test_question_id+'/answers/'+answer.id, this.$store.getters.removeEmptyOrNull(answer.edit))
                .then(resp => {
                    resp.data.answer.edit = JSON.parse(JSON.stringify(resp.data.answer))
                    let question = this.test.test_questions.find((q) => q.id == answer.test_question_id)
                    question.test_question_answers[question.test_question_answers.findIndex((qa) => qa.id == answer.id)] = resp.data.answer
                    question.newAnswer = {answer: null, correct: question.questionType == 'Free text'}
                    $('#editQuestionAnswer'+answer.id+'Modal').modal('hide')
                })
                .finally(() => answer.loading = false)
        },
        deleteQuestionAnswer(answer) {
            answer.loading = true
            this.axios.delete('/questions/'+answer.test_question_id+'/answers/'+answer.id)
                .then(resp => {
                    let question = this.test.test_questions[this.test.test_questions.findIndex((q) => q.id == answer.test_question_id)]
                    console.log(question.test_question_answers.findIndex((qa) => qa.id == answer.id))
                    question.test_question_answers.splice(question.test_question_answers.findIndex((qa) => qa.id == answer.id), 1)
                })
                .finally(() => answer.loading = false)
        },
        makeVisible() {
            this.axios.post('/tests/'+this.test.id+'/visible')
                .then(resp => this.test.hidden = 0)
        },
        makeHidden() {
            this.axios.post('/tests/'+this.test.id+'/hidden')
                .then(resp => this.test.hidden = 1)
        },
    }
}
</script>
<style scoped>
.close {
    color: white !important;
    opacity: 1 !important;
    font-weight: 500;
}
</style>
