<template>
    <div>
       <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">{{ $t('test-assembler.homepage') }}</a></li>
                <li class="breadcrumb-item"><a href="#">{{ $t('test-assembler.admin') }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ $t('test-assembler.test-creator') }}</li>
            </ol>
        </nav>

        <div id="text-assembler">
            <form @submit.prevent="submit">
                <div class="row">
                    <!-- <div class="col-12 mb-3 mt-2 text-center">
                        <h3>{{ $t('test-assembler.new-test') }}</h3>
                    </div> -->
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="name">{{ $t('test-assembler.name') }}</label>
                                    <input type="text" v-model="test.name" class="form-control" id="name" required>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="name">{{ $t('test-assembler.size') }}</label><br>
                                    <sub>{{ $t('test-assembler.text1') }}</sub>
                                    <input type="number" class="form-control" id="name" disabled placeholder="0">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="try-number">{{ $t('test-assembler.max-try') }}</label>
                                    <input type="number" v-model="test.max_attempts" min="1" class="form-control" id="try-number" required>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="min-points">{{ $t('test-assembler.min-percent') }}</label>
                                    <input type="number" min="0" v-model="test.min_pass_percentage" class="form-control" id="min-points" required>
                                </div>
                            </div>
                            <div class="col-xl-4">
                                <label class="container2">{{ $t('test-assembler.shuffle-q') }}
                                    <input type="checkbox" v-model="test.shuffle_questions" checked>
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="col-xl-5">
                                <label class="container2">{{ $t('test-assembler.shuffle-a') }}
                                    <input type="checkbox" v-model="test.shuffle_answers" checked>
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="period">{{ $t('test-assembler.duration-min') }}</label>
                                    <input type="number" v-model="test.length" min="0" class="form-control" id="period" required>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="start">{{ $t('test-assembler.begin') }}</label>
                                    <datetime type="datetime" :max-datetime="test.end_date" v-model="test.start_date" input-class="form-control" />
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="end">{{ $t('test-assembler.end') }}</label>
                                    <datetime type="datetime" :min-datetime="test.start_date" v-model="test.end_date" input-class="form-control" />
                                </div>
                            </div>
                            <div class="col-12">
                                <button type="submit" :disabled="loading" class="btn btn-submit">{{ $t('test-assembler.go') }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>
<script>
import Datetime from '@/components/DateTimePicker/Datetime'
export default {
    name: 'TestAssembler',
    components: {
        Datetime
    },
    data() {
        return {
            test: {
                name: null,
                hidden: 1,
                max_attempts: null,
                shuffle_questions: true,
                shuffle_answers: true,
                min_pass_percentage: null,
                length: null,
                start_date: null,
                end_date: null
            },
            loading: false
        }
    },
    methods: {
        submit() {
            this.loading = true
            this.axios.post('/tests', this.$store.getters.removeEmptyOrNull(this.test))
                .then(resp => {
                    this.$router.push({name: 'TestQuestionAssembler', params: {test: resp.data.test.id}})
                })
                .catch()
                .finally(() => this.loading = false)
        }
    }
}
</script>
