<template>
    <div class="row">
        <div v-for="media in multimedia" :key="media.id" class="mb-5 col-md-6 col-lg-6 col-xl-4 col-12">
            <h3>{{media.name}}</h3> 
            <div v-if="media.uploading">   
                <h4>{{ $t('uploads.uploading') }}</h4>
                <h4>{{ $t('uploads.type') }} {{media.type}}</h4>
            </div>
            <div v-else-if="media.type == 'video'">
                <video controls style="width: 100%">
                    <source :src="storageURL+media.path+'?token='+token">
                    {{ $t('uploads.not-supportv') }}
                </video>
            </div>
            <div v-else-if="media.type == 'image'">
                <img :src="storageURL+media.path+'?token='+token" style="width: 100%" />
            </div>
            <div v-else-if="media.type == 'audio'">
                <audio controls>
                    <source :src="storageURL+media.path+'?token='+token">
                    {{ $t('uploads.not-supporta') }}
                </audio>
            </div>
            <div v-else-if="media.type == 'document'">
                <a :href="storageURL+media.path+'?token='+token" target="_blank" :ref="`download${media.id}`">{{ $t('uploads.download') }}</a>
                <h4>{{ $t('uploads.type-doc') }}</h4>
            </div>
        </div>    
    </div>
</template>
<script>
export default {
    name: 'Uploads',
    mounted() {
        this.axios.get('/multimedia').then(resp => this.multimedia = resp.data.multimedia)
    },
    data() {
        return {
            storageURL: process.env.VUE_APP_STORAGE_URL,
            multimedia: Object,
            token: this.axios.defaults.headers.common.Authorization.split(' ')[1]
        }
    }
}
</script>
