<template>
<div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page">{{ $t('verify-email.homepage') }}</li>
            <li class="breadcrumb-item active" aria-current="page">{{ $t('verify-email.verify-email') }}</li>
        </ol>
    </nav>
    <div style="display:flex; height: 50vh; justify-content: center; align-items: center; flex-wrap: wrap; ">
    <form class="form-signin text-center" @submit.prevent="verifyEmail" style="max-width: 400px">
      <h4 class="mt-2 mb-5 font-weight-normal" style="word-wrap: break-word; min-width: 0;">{{ $t('verify-email.write-code') }}</h4>
      <label for="inputCode" class="sr-only">{{ $t('verify-email.code') }}</label>
      <input type="number" id="inputEmail" class="form-control" :placeholder="$t('verify-email.confirmation-code')" required v-model="verificationCode" autofocus>
      <button class="mt-4 mb-4 btn btn-lg btn-block" style="background-color: var(--lblue); color: white" type="submit" :disabled="loading">{{ $t('verify-email.verify') }}</button>
      <a href="#" @click.prevent="resendCode">{{ $t('verify-email.new-code') }}</a>
    </form>
    </div>
</div>
</template>

<script>
export default {
    name: 'VerifyEmail',
    data() {
        return {
            verificationCode: null,
            loading: false
        }
    },
    methods: {
        verifyEmail() {
            this.loading = true;
            this.axios.post('/verify-email', {verificationCode: this.verificationCode})
                .then(resp => {
                    this.$store.state.user.email_verified_at = resp.data.email_verified_at
                    this.$router.push({name: 'Home'})
                })
                .catch(err => console.log(err.response))
                .finally(() => this.loading = false)
        },
        resendCode() {
            this.loading = true;
            this.axios.post('/new-verification')
                .then(resp => {
                    console.log('New verification sent')
                })
                .catch(err => console.log(err.response))
                .finally(() => this.loading = false)
        }
    }
}
</script>
