<template>
    <div>
        <nav aria-label="breadcrumb" v-if="!nested">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#" @click.prevent="$router.push({name: 'Home'})">{{ $t('view-test-attempt.homepage') }}</a></li>
                <li class="breadcrumb-item"><a href="#" >{{ $t('view-test-attempt.fixed') }}</a></li>
            </ol>
        </nav>
        <div class="row" v-if="!loading && attempt">
            <div :class="nested ? 'col-12 mb-5' : 'col-12 col-md-6 mt-5 mb-5'">
                <h3 class="mt-3">
                    <strong>{{ $t('view-test-attempt.max-time') }}</strong>
                    <span class="ml-2">{{attempt.test.length}} {{ $t('view-course.minute') }}</span>
                </h3>
                <h3 class="mt-3">
                    <strong>{{ $t('view-test-attempt.begin') }}</strong>
                    <span class="ml-2">{{$store.getters.parseDateTime(attempt.started_at)}}</span>
                </h3>
                <h3 class="mt-3">
                    <strong>{{ $t('view-test-attempt.end') }}</strong>
                    <span class="ml-2">{{$store.getters.parseDateTime(attempt.finished_at)}}</span>
                </h3>
                <h3 class="mt-3">
                    <strong>{{ $t('view-test-attempt.points') }}</strong>
                    <span class="ml-2">{{calculateAllPoints()}} / {{allPoints}}</span>
                </h3>
                <h3 class="mt-3">
                    <strong>{{ $t('view-test-attempt.min-percent') }}</strong>
                    <span class="ml-2">{{attempt.test.min_pass_percentage}}%</span>
                </h3>
                <h3 class="mt-3">
                    <strong>{{ $t('view-test-attempt.percent') }}</strong>
                    <span class="ml-2" :style="{color: (calculateAllPoints() / allPoints * 100) >= attempt.test.min_pass_percentage ? 'green' : 'red'}">{{Math.floor(calculateAllPoints() / allPoints * 100)}}%</span>
                </h3>
            </div>
            <div class="col-12 mb-5" v-for="currentQuestion in attempt.questions">
                <div class="col-12 mb-2 p-0">
                    <h3><strong>{{currentQuestion.question}}</strong></h3>
                </div>
                <div class="col-12 mt-2 p-0">
                    <form @submit.prevent="submit">
                        <div v-if="currentQuestion.question_type == 'Single choice'">
                            <div v-for="answer in currentQuestion.answers" :key="answer.id" class="input-group mb-1">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <input disabled type="radio" :checked="currentQuestion.userAnswers.some(ua => ua.answer == answer.answer)" :name="currentQuestion.id" :aria-label="$t('correct-test-attempt.radio')">
                                    </div>
                                </div>
                                <div type="text" class="form-control" style="height: fit-content !important;" :aria-label="$t('correct-test-attempt.text-input')">
                                    <span>{{answer.answer}}</span>
                                    <span v-if="currentQuestion.userAnswers.some(ua => ua.answer == answer.answer) && answer.correct">
                                        <i class="fas fa-check ml-2" style="color: green; font-size: 20px;"></i>
                                    </span>
                                    <span v-else-if="currentQuestion.userAnswers.some(ua => ua.answer == answer.answer) && !answer.correct">
                                        <i class="fas fa-times ml-2" style="color: red; font-size: 20px;"></i>
                                    </span>
                                    <span v-else-if="!currentQuestion.userAnswers.some(ua => ua.answer == answer.answer) && answer.correct">
                                        <i class="fas fa-check ml-2" style="color: green; font-size: 20px;"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div v-else-if="currentQuestion.question_type == 'Multiple choice'">
                            <div v-for="answer in currentQuestion.answers" :key="answer.id" class="input-group mb-1">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <label></label>
                                        <input type="checkbox" class="checkbox" disabled :checked="currentQuestion.userAnswers.some(ua => ua.answer == answer.answer)" :aria-label="$t('correct-test-attempt.radio')">
                                    </div>
                                </div>
                                <div type="text" class="form-control" style="height: fit-content !important;" :aria-label="$t('correct-test-attempt.text-input')">
                                    <span>{{answer.answer}}</span>
                                    <span v-if="currentQuestion.userAnswers.some(ua => ua.answer == answer.answer) && answer.correct">
                                        <i class="fas fa-check ml-2" style="color: green; font-size: 20px;"></i>
                                    </span>
                                    <span v-else-if="currentQuestion.userAnswers.some(ua => ua.answer == answer.answer) && !answer.correct">
                                        <i class="fas fa-times ml-2" style="color: red; font-size: 20px;"></i>
                                    </span>
                                    <span v-else-if="!currentQuestion.userAnswers.some(ua => ua.answer == answer.answer) && answer.correct">
                                        <i class="fas fa-check ml-2" style="color: green; font-size: 20px;"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div v-else-if="currentQuestion.question_type == 'Free text'">
                            <h3 class="mt-4">{{ $t('view-test-attempt.correct') }} </h3>
                            <textarea disabled class="form-control mb-3" :value="currentQuestion.answers.length > 0 ? currentQuestion.answers[0].answer : $t('correct-test-attempt.no-correct')" :aria-label="$t('correct-test-attempt.txt-area')"></textarea>
                            <h3>{{ $t('view-test-attempt.given-answer') }}</h3>
                            <textarea disabled class="form-control" :value="currentQuestion.userAnswers.length > 0 ? currentQuestion.userAnswers[0].answer : null" :aria-label="$t('correct-test-attempt.txt-area')"></textarea>
                        </div>
                        <h3 class="mt-3" v-if="currentQuestion.question_type !== 'Free text'">{{ $t('view-test-attempt.points2') }} {{calculatePoints(currentQuestion)}}/{{currentQuestion.max_points}}</h3>
                        <div v-else>
                            <h3 class="mt-3">{{ $t('view-test-attempt.points') }} {{currentQuestion.userAnswers[0] ? (currentQuestion.userAnswers[0].points ?? 0) : 0}}/{{currentQuestion.max_points}}</h3>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-12" v-if="nested">
                <button type="button" class="btn btn-primary" @click.prevent="$emit('back')">{{$t('common.back')}}</button>
            </div>
        </div>
        <loading height="500px" v-else />
    </div>
</template>
<script>
import Loading from '@/components/Loading'
export default {
    name: 'ViewTestAttempt',
    emits: ['back'],
    props: {
        testAttempt: [String, Number],
        nested: {
            type: Boolean,
            default: false,
            optional: true
        }
    },
    components: {
        Loading
    },
    mounted() {
        this.loading = true
        this.axios.get('/test-attempts/'+this.testAttempt+'/correct')
            .then(resp => {
                this.attempt = resp.data.testAttempt
                this.currentQuestion = resp.data.testAttempt.questions[0]
            })
            .finally(() => this.loading = false)
    },
    data() {
        return {
            attempt: null,
            loading: false
        }
    },
    computed: {
        allPoints() {
            let sum = 0;
            this.attempt.questions.forEach((q) => {
                sum += q.max_points
            })

            return sum
        }
    },
    methods: {
        calculatePoints(question) {
            if(question.question_type == 'Free text') {
                return question.userAnswers.length > 0 ? (question.userAnswers[0].points ?? 0) : 0
            }
            return question.userAnswers.length == question.answers.filter(qa => qa.correct != false).length && question.userAnswers.every((ua) => {
                return question.answers.find(a => a.answer == ua.answer).correct
            }) ? question.max_points : 0
        },
        calculateAllPoints() {
            let sum = 0;
            this.attempt.questions.forEach(q => {
                sum += this.calculatePoints(q)
            })
            return sum;
        },
    }
}
</script>
<style scoped>
h3 {
    font-size: 18px;
}
</style>
