<template>
    <div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#" @click.prevent="$router.push({name: 'CourseCatalog'})">{{ $t('view-course.courses') }}</a></li>
                <li v-if="loading" class="breadcrumb-item" aria-current="page">{{ $t('view-course.course') }}</li>
                <li v-else class="breadcrumb-item" aria-current="page"><a href="#" @click.prevent="$router.push({name: 'Course', params: {id: course.id}})">{{course.title}}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ $t('view-course.details') }}</li>
            </ol>
        </nav>
        <div v-if="!loading">
            <section id="home-header">
                    <div class="row">
                        <div v-if="$store.state.user.courses.find(c => c.id === course.id)" class="col-12 mb-3 mt-1">
                           
                            <div class="progress" style="height: 40px !important;">
                                <div class="progress-bar" :style="{width: Math.floor(overallProgress)+'%'}" style="background-color: var(--blue)">
                                     <span class="padding-bottom: 0px !important;margin-bottom: 0px !important;">{{ $t('view-course.progress') }} {{overallProgress}}%</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-6 col-12 home-frame">
                            <div :style="{backgroundImage: `url('${course.cover_image ? storageURL+course.cover_image.path+'?token='+token : 'assets/img/template.jpg'}')`}" class="home-img img-fluid"
                                style="border-radius: 10px" alt="..."></div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-12 no-left2">
                            <h4 class="mb-3 font-18" style="color: var(--blue);font-weight: 800;font-size: 18px;">{{ $t('view-course.about') }}</h4>
                            <div style="display: flex; flex-direction: column; padding-right: 0px; padding-bottom: 0px;background-color: transparent !important;height: 462px;">
                                <h6 class="mb-1"><strong>{{ $t('view-course.cname') }}</strong> {{course.title}}</h6>
                                <h6 class="mb-1"><strong>{{ $t('view-course.ctype') }}</strong> {{course.course_type.name}}</h6>
                                <h6 class="mb-1"><strong>{{ $t('view-course.cbegin') }}</strong> {{course.start_date ? $store.getters.parseDateTime(course.start_date) : $t('common.no-set')}}</h6>
                                <h6 class="mb-1"><strong>{{ $t('view-course.cend') }}</strong> {{course.end_date ? $store.getters.parseDateTime(course.end_date) : $t('common.no-set')}}</h6>
                                <h6><strong>{{ $t('view-course.duration') }}</strong> {{courseDuration(course.duration)}}</h6>
                                <div class="mt-3 d-flex align-items-center" v-if="course.course_materials.filter(m => m.course_event_id != null).length > 0">
                                    <button type="button" :disabled="calendarLoading" class="btn btn-outline-danger mb-2" @click.prevent="downloadCalendar()">
                                        <div class="d-flex align-items-center">
                                            <i class="far fa-calendar-alt mr-1"></i>
                                            <span>{{ $t('view-course.icalendar') }}</span>
                                        </div>
                                    </button>
                                    <div v-if="calendarLoading" class="spinner-border text-danger ml-2 mb-2" role="status">
                                        <span class="sr-only">{{ $t('view-course.loading') }}</span>
                                    </div>
                                </div>
                                <div style="margin-top: auto">
                                    <div style="background-color: var(--blue); color: white; width: 100%; display:flex; padding: 0.6rem !important;border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;">
                                        <div>
                                            <h6 style="margin-top: 5px;">{{ $t('view-course.credits') }}</h6>
                                        </div>
                                        <div style="margin-left: auto;">
                                            <h6 style="margin-top: 5px;">{{course.credit_points}}</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section id="content-3">
                    <div class="row">
                        <div class="col-12">
                            <section id="right">
                                <div class="row">
                                    <div class="col-12" style="padding-left: 3px !important;">
                                        <h1 class="font-18" style="color: var(--blue);font-weight: 800;font-size: 18px !important;margin-bottom: 5px !important;">{{ $t('view-course.course-material') }}</h1>
                                    </div>

                                    <div class="col-12">
                                        <div style="border-left: 3px solid var(--blue);padding-left: 15px;" >
                                            <div v-for="courseMaterial in course.course_materials" :key="courseMaterial.id">
                                                    <div  v-if="courseMaterial.course_multimedia">
                                                        <div v-if="!courseMaterial.locked" class="row">
                                                            <div v-if="courseMaterial.course_multimedia.multimedia.type == 'video' || courseMaterial.course_multimedia.multimedia.type == 'image' || courseMaterial.course_multimedia.multimedia.type == 'audio'" style="color: var(--lblue); cursor:pointer;" 
                                                                data-fancybox="fancy" 
                                                                data-options='{"buttons": ["zoom", "close"], "protect": true}'
                                                                :href="courseMaterial.course_multimedia.multimedia.type != 'video' && courseMaterial.course_multimedia.multimedia.type != 'audio' ? storageURL+courseMaterial.course_multimedia.multimedia.path+'?token='+token : '#cm'+courseMaterial.id" target="_blank"
                                                                :data-caption="courseMaterial.course_multimedia.name"
                                                                class="col-md-4 col-12 mb-md-0 mb-3"
                                                                @click="setupRefs(courseMaterial.course_multimedia)"
                                                            
                                                            >
                                                                    <h2 class="font-20" style="font-size: 20px !important; display: flex; align-items: center; color: rgb(33, 37, 41) !important;" >
                                                                            <i v-if="courseMaterial.course_multimedia.multimedia.type == 'video'" class="far fa-file-video mr-2 font-25" style="font-size: 25px !important; width: 25px" ></i>
                                                                            <i v-else-if="courseMaterial.course_multimedia.multimedia.type == 'image'" class="far fa-image mr-2 font-25" style="font-size: 25px !important" ></i>
                                                                            <i v-else-if="courseMaterial.course_multimedia.multimedia.type == 'audio'" class="fas fa-microphone mr-2 font-25" style="font-size: 25px !important" ></i>
                                                                            <span>{{courseMaterial.course_multimedia.name}}</span>
                                                                    </h2>
                                                                <div v-if="courseMaterial.course_multimedia.multimedia.type == 'video'">
                                                                    <video :id="'cm'+courseMaterial.id" :src="storageURL+courseMaterial.course_multimedia.multimedia.path+'?token='+token" :ref="'cm'+courseMaterial.id" style="display: none;" controls controlsList="nodownload">
                                                                        
                                                                    </video>
                                                                </div>
                                                            <div v-if="courseMaterial.course_multimedia.multimedia.type == 'audio'">
                                                                <audio :id="'cm'+courseMaterial.id" :ref="'cm'+courseMaterial.id" style="display: none;" controls controlsList="nodownload">
                                                                    <source :src="storageURL+courseMaterial.course_multimedia.multimedia.path+'?token='+token">
                                                                </audio>
                                                            </div>
                                                        </div>
                                                        <div v-else class="col-md-4 col-12 mb-md-0 mb-3">
                                                            <h2 class="font-20" style="font-size: 20px !important; display: flex; align-items: center; color: rgb(33, 37, 41) !important;">
                                                                <i class="far fa-file-alt mr-2 font-25" style="font-size: 25px !important; width: 25px !important;" ></i>
                                                                <a :href="storageURL+courseMaterial.course_multimedia.multimedia.path+'?token='+token" target="_blank" @click="makeProgress(courseMaterial.course_multimedia.id)" style="text-decoration: none !important;">
                                                                    <span style="color: rgb(33, 37, 41) !important;">{{courseMaterial.course_multimedia.name}}</span>
                                                                </a>
                                                            </h2>
                                                        </div>
                                                        <div class="col-md-4 col-12 mb-md-0 mb-3"><i class="far fa-clock"></i> {{courseDuration(courseMaterial.course_multimedia.length)}}</div>
                                                        <div class="col-md-4 col-12 mb-md-0 mb-3">
                                                            
                                                            <div class="progress">
                                                                <div class="progress-bar small-pbar" :style="{width: Math.floor(maxPercentage(courseMaterial))+'%'}">
                                                                    {{maxPercentage(courseMaterial).toFixed(2)}}%
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div v-else>
                                                        <div class="row" style="color: var(--gray) !important;">
                                                            <div class="col-md-4 col-12 mb-md-0 mb-3" >
                                                                <h2 class="font-20" style="font-size: 20px !important; display: flex; align-items: center; var(--gray) !important;">
                                                                    <i class="fas fa-lock mr-2 font-25" style="font-size: 25px !important; width: 25px !important; color: var(--gray) !important;" ></i>
                                                                    <span style="color: var(--gray) !important;">{{courseMaterial.course_multimedia.name}}</span>
                                                                </h2>
                                                            </div>
                                                            <div class="col-md-4 col-12 mb-md-0 mb-3"><i class="far fa-clock"></i> {{courseDuration(courseMaterial.course_multimedia.length)}}</div>
                                                            <div class="col-md-4 col-12 mb-md-0 mb-3">
                                                                
                                                                <div class="progress">
                                                                    <div class="progress-bar small-pbar" :style="{width: Math.floor(maxPercentage(courseMaterial))+'%'}">
                                                                        {{maxPercentage(courseMaterial).toFixed(2)}}%
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div v-if="courseMaterial.course_event">
                                                    <div v-if="!courseMaterial.locked">
                                                        <div v-if="!courseMaterial.course_event.loading && courseMaterial.course_event.zoom_meeting_id != null" class="row">
                                                            <a data-toggle="modal" :data-target="'#event'+courseMaterial.id+'Modal'" style="font-size: 20px !important; display: flex; align-items: center; cursor: pointer;" class="col-md-4 col-12 mb-md-0 mb-3 font-20">
                                                                <i class="fas fa-video mr-2 font-25" style="font-size: 25px !important; width: 25px !important;"></i>
                                                                {{courseMaterial.course_event.topic}}
                                                                <div v-if="courseMaterial.course_event.status === 'started'" class="circle ml-2"></div>
                                                            </a>
                                                            <span class="col-md-4 col-12 mb-md-0 mb-3">
                                                                <i class="far fa-calendar-alt mr-2"></i>
                                                                <span>{{$store.getters.parseDateTime(courseMaterial.course_event.start_time)}}</span>
                                                            </span>
                                                            <div class="col-md-4 col-12 mb-md-0 mb-3">
                                                                
                                                                <div class="progress">
                                                                    <div class="progress-bar small-pbar" :style="{width: Math.floor(maxPercentage(courseMaterial))+'%'}">
                                                                        {{maxPercentage(courseMaterial).toFixed(2)}}%
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div v-else class="row">
                                                            <a data-toggle="modal" :data-target="'#event'+courseMaterial.id+'Modal'" style="font-size: 20px !important; display: flex; align-items: center; cursor: pointer;" class="col-md-4 col-12 mb-md-0 mb-3 font-20">
                                                                <i class="fas fa-school mr-2 font-25" style="font-size: 25px !important; width: 25px !important;"></i>
                                                                {{courseMaterial.course_event.name}}
                                                                
                                                            </a>
                                                            <span class="col-md-4 col-12 mb-md-0 mb-3">
                                                                <i class="far fa-calendar-alt mr-2"></i> 
                                                                <span>{{$store.getters.parseDateTime(new Date(courseMaterial.course_event.start_date).toISOString())}}</span>
                                                            </span>
                                                            <div class="col-md-4 col-12 mb-md-0 mb-3">      
                                                                <div class="progress">
                                                                    <div class="progress-bar small-pbar" :style="{width: Math.floor(maxPercentage(courseMaterial))+'%'}">
                                                                       {{maxPercentage(courseMaterial).toFixed(2)}}%
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- Event view modal -->
                                                        <div class="modal fade" :ref="'event'+courseMaterial.id+'Modal'" :id="'event'+courseMaterial.id+'Modal'" tabindex="-1" role="dialog" :aria-labelledby="'event'+courseMaterial.id+'ModalLabel'" aria-hidden="true">
                                                            <div v-if="!courseMaterial.course_event.loading" class="modal-dialog" role="document">
                                                                <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h4 class="modal-title" :id="'event'+courseMaterial.id+'ModalLabel'">{{courseMaterial.course_event.name ?? courseMaterial.course_event.topic}}</h4>
                                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <div v-if="courseMaterial.course_event.zoom_meeting_id === null" class="row">
                                                                        <div class="col-12 mt-2">
                                                                            <h5><strong>{{ $t('view-course.name') }}</strong></h5>
                                                                            <span>{{courseMaterial.course_event.name}}</span>
                                                                        </div>
                                                                        <div class="col-12 mt-3">
                                                                            <h5><strong>{{ $t('view-course.location') }}</strong></h5>
                                                                            <span>{{`${courseMaterial.course_event.location.zip_code}, ${courseMaterial.course_event.location.locality}, ${courseMaterial.course_event.location.public_space} ${courseMaterial.course_event.location.public_space_type}, ${courseMaterial.course_event.location.other}, ${courseMaterial.course_event.location.country.name}`}}</span>
                                                                        </div>
                                                                        <div class="col-12 mt-3">
                                                                            <h5><strong>{{ $t('view-course.begin') }}</strong></h5>
                                                                            <span>{{$store.getters.parseDateTime(new Date(courseMaterial.course_event.start_date).toISOString())}}</span>
                                                                        </div>
                                                                        <div class="col-12 mt-3">
                                                                            <h5><strong>{{$t('course-materials.length')}}</strong></h5>
                                                                            <span>{{courseMaterial.course_event.length}} {{ $t('view-course.minute') }}</span>
                                                                        </div>
                                                                    </div>
                                                                    <div v-else-if="courseMaterial.course_event.zoom_meeting_id !== null" class="row">
                                                                        <div class="col-12 mt-2">
                                                                            <h5><strong>{{ $t('view-course.name') }}</strong></h5>
                                                                            <span>{{courseMaterial.course_event.topic}}</span>
                                                                        </div>
                                                                        <div class="col-12 mt-3">
                                                                            <h5><strong>{{ $t('view-course.begin') }}</strong></h5>
                                                                            <span>{{$store.getters.parseDateTime(courseMaterial.course_event.start_time)}}</span>
                                                                        </div>
                                                                        <div class="col-12 mt-3">
                                                                            <h5><strong>{{ $t('view-course.duration2') }}</strong></h5>
                                                                            <span v-if="courseMaterial.course_event.duration != courseMaterial.course_event.length" style="color: red">
                                                                                <i class="fas fa-exclamation-circle" style="color: red"></i> 
                                                                                <span>{{ $t('view-course.length-error') }}</span>
                                                                                <br>
                                                                                <span>{{ $t('view-course.zoom-length') }} {{courseMaterial.course_event.duration}}</span>
                                                                                <br>
                                                                                <span>{{ $t('view-course.database-length') }} {{courseMaterial.course_event.length}}</span>
                                                                            </span>
                                                                            <span v-else>{{courseMaterial.course_event.duration}} {{ $t('view-course.minute') }}</span>
                                                                        </div>
                                                                        <div class="col-12 mt-3">
                                                                            <h5><strong>{{ $t('view-course.connect-zoomapp') }}</strong></h5>
                                                                            <a :href="courseMaterial.course_event.join_url" target="_blank" style="color: var(--lblue)">{{ $t('view-course.click-connect') }}</a>
                                                                        </div>
                                                                        <div class="col-12 mt-3" v-if="$store.state.user.role === 'Admin'">
                                                                            <h5><strong>{{ $t('view-course.start-zoom') }}</strong></h5>
                                                                            <a :href="courseMaterial.course_event.start_url" target="_blank" style="color: var(--lblue)">{{ $t('view-course.start-zoom-admin') }}</a>
                                                                        </div>
                                                                        <div class="col-12 mt-3">
                                                                            <h5><strong>{{ $t('view-course.add-calendar') }}</strong></h5>
                                                                            <div class="d-inline-flex align-items-center mt-1">
                                                                                <button type="button" :disabled="calendarLoading" class="btn btn-outline-danger mb-2" @click.prevent="downloadCalendar(courseMaterial)">
                                                                                    <div class="d-flex align-items-center">
                                                                                        <i class="far fa-calendar-alt mr-1"></i>
                                                                                        <span>{{ $t('view-course.icalendar') }}</span>
                                                                                    </div>
                                                                                </button>
                                                                                <div v-if="calendarLoading" class="spinner-border text-danger ml-2 mb-2" role="status">
                                                                                    <span class="sr-only">{{ $t('view-course.loading') }}</span>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ $t('view-course.close') }}</button>
                                                                    <a v-if="courseMaterial.course_event.zoom_meeting_id !== null" type="button" style="color: white" :href="frontendURL+'/meeting/'+courseMaterial.course_event.id" :disabled="locationLoading" class="btn btn-primary">{{ $t('view-course.open-web') }}</a>
                                                                </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div v-else>
                                                        <div v-if="!courseMaterial.course_event.loading && courseMaterial.course_event.zoom_meeting_id != null" class="row" style="color: var(--gray) !important;">
                                                            <span style="font-size: 20px !important; display: flex; align-items: center;" class="col-md-4 col-12 mb-md-0 mb-3 font-20">
                                                                <i class="fas fa-lock mr-2 font-25" style="font-size: 25px !important; width: 25px !important;"></i>
                                                                {{courseMaterial.course_event.topic}}
                                                                <div v-if="courseMaterial.course_event.status === 'started'" class="circle ml-2"></div>
                                                            </span>
                                                            <span class="col-md-4 col-12 mb-md-0 mb-3">
                                                                <i class="far fa-calendar-alt mr-2"></i>
                                                                <span>{{$store.getters.parseDateTime(courseMaterial.course_event.start_time)}}</span>
                                                            </span>
                                                            <div class="col-md-4 col-12 mb-md-0 mb-3">
                                                                
                                                                <div class="progress">
                                                                    <div class="progress-bar small-pbar" :style="{width: Math.floor(maxPercentage(courseMaterial))+'%'}">
                                                                        {{maxPercentage(courseMaterial).toFixed(2)}}%
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div v-else class="row" style="color: var(--gray) !important;">
                                                            <span style="font-size: 20px !important; display: flex; align-items: center;" class="col-md-4 col-12 mb-md-0 mb-3 font-20">
                                                                <i class="fas fa-school mr-2 font-25" style="font-size: 25px !important; width: 25px !important;"></i>
                                                                {{courseMaterial.course_event.name}}
                                                                
                                                            </span>
                                                            <span class="col-md-4 col-12 mb-md-0 mb-3">
                                                                <i class="far fa-calendar-alt mr-2"></i> 
                                                                <span>{{$store.getters.parseDateTime(new Date(courseMaterial.course_event.start_date).toISOString())}}</span>
                                                            </span>
                                                            <div class="col-md-4 col-12 mb-md-0 mb-3">
                                                                <div class="progress">
                                                                    <div class="progress-bar small-pbar" :style="{width: Math.floor(maxPercentage(courseMaterial))+'%'}">
                                                                        {{maxPercentage(courseMaterial).toFixed(2)}}%
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div v-if="courseMaterial.course_test">
                                                    <div v-if="!courseMaterial.locked">
                                                        <div class="row">
                                                            <a data-toggle="modal" :data-target="'#test'+courseMaterial.id+'Modal'" style="font-size: 20px !important; display: flex; align-items: center; cursor: pointer;" class="col-md-4 col-12 mb-md-0 mb-3 font-20">
                                                                <i :style="{color: courseMaterial.course_test.test.exam ? 'var(--red)' : ''}" class="fas fa-clipboard-list mr-2 font-25" style="font-size: 25px !important; width: 25px !important;"></i>
                                                                <span :style="{color: courseMaterial.course_test.test.exam ? 'var(--red)' : ''}">{{courseMaterial.course_test.test.name}}</span>
                                                            </a>
                                                            <span class="col-md-4 col-12 mb-md-0 mb-3">
                                                                <i class="far fa-calendar-alt mr-2"></i>
                                                                <span>{{courseMaterial.course_test.test.start_date ? $store.getters.parseDateTime(courseMaterial.course_test.test.start_date) : $t('view-course.course-start')}} - {{courseMaterial.course_test.test.end_date ? $store.getters.parseDateTime(courseMaterial.course_test.test.end_date) : $t('view-course.course-end')}}</span>
                                                            </span>
                                                            <div class="col-md-4 col-12 mb-md-0 mb-3">
                                                                <span :style="{color: maxPercentage(courseMaterial) >= courseMaterial.course_test.test.min_pass_percentage ? 'green' : 'red'}">{{maxPercentage(courseMaterial).toFixed(2)}}%</span>
                                                                <div class="progress">
                                                                    <div class="progress-bar small-pbar" :style="{width: maxPercentage(courseMaterial).toFixed(2)+'%'}"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- Test view modal -->
                                                        <div class="modal fade" :ref="'test'+courseMaterial.id+'Modal'" :id="'test'+courseMaterial.id+'Modal'" tabindex="-1" role="dialog" :aria-labelledby="'event'+courseMaterial.id+'ModalLabel'" aria-hidden="true">
                                                            <div class="modal-dialog" role="document">
                                                                <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h4 class="modal-title" :id="'test'+courseMaterial.id+'ModalLabel'">{{courseMaterial.course_test.test.name}}</h4>
                                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <div class="row">
                                                                        <div class="col-12 mt-2">
                                                                            <h5><strong>{{ $t('view-course.name') }}</strong></h5>
                                                                            <span>{{courseMaterial.course_test.test.name}}</span>
                                                                        </div>
                                                                        <div class="col-12 mt-3">
                                                                            <h5><strong>{{ $t('view-course.min-percent') }}</strong></h5>
                                                                            <span>{{courseMaterial.course_test.test.min_pass_percentage}}%</span>
                                                                        </div>
                                                                        <div class="col-12 mt-3">
                                                                            <h5><strong>{{ $t('view-course.duration') }}</strong></h5>
                                                                            <span>{{courseMaterial.course_test.test.length}} {{ $t('view-course.minute') }}</span>
                                                                        </div>
                                                                        <div class="col-12 mt-3">
                                                                            <h5><strong>{{ $t('view-course.test-open') }}</strong></h5>
                                                                            <span>{{courseMaterial.course_test.test.start_date ? $store.getters.parseDateTime(courseMaterial.course_test.test.start_date) : $t('common.cbegin')}}</span>
                                                                        </div>
                                                                        <div class="col-12 mt-3">
                                                                            <h5><strong>{{ $t('view-course.test-end') }}</strong></h5>
                                                                            <span>{{courseMaterial.course_test.test.end_date ? $store.getters.parseDateTime(courseMaterial.course_test.test.end_date) : $t('common.cend')}}</span>
                                                                        </div>
                                                                        <div class="col-12 mt-3">
                                                                            <h5><strong>{{ $t('view-course.attempts') }}</strong></h5>
                                                                            <span>{{course.test_attempts.filter(ta => ta.test_id == courseMaterial.course_test.test_id).length}} / {{courseMaterial.course_test.test.max_attempts}}</span>
                                                                            <ul>
                                                                                <li v-for="(attempt, idx) in course.test_attempts.filter(ta => ta.test_id == courseMaterial.course_test.test_id)" :key="attempt.id">
                                                                                    <div v-if="attempt.corrected">
                                                                                        <strong v-if="attempt.corrected" data-dismiss="modal" style="color: var(--lblue);cursor: pointer" @click="$router.push({name: 'ViewTestAttempt', params: {testAttempt: attempt.id}})">#{{idx+1}}</strong>: 
                                                                                        <span :style="{color: attempt.percentage >= attempt.test.min_pass_percentage ? 'green' : 'red'}">{{attempt.percentage.toFixed(2)}}%</span>
                                                                                    </div>
                                                                                    <strong v-else>#{{idx+1}} - {{new Date(Date.parse(attempt.finished_at)) > new Date() ? $t('common.ongoing') : $t('common.repair')}}</strong> 
                                                                                </li>  
                                                                            </ul>
                                                                        </div>
                                                                        <div v-if="$store.state.user.activeTestAttempt != null" class="col-12 mt-3">
                                                                            {{ $t('view-course.active-test') }}
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ $t('view-course.close') }}</button>
                                                                    <button v-if="courseMaterial.course_test.test.start_date && new Date(Date.parse(courseMaterial.course_test.test.start_date)) > new Date()" type="button" data-dismiss="modal" class="btn btn-primary" disabled>{{ $t('view-course.not-opened') }}</button>
                                                                    <button v-else-if="courseMaterial.course_test.test.end_date && new Date(Date.parse(courseMaterial.course_test.test.end_date)) < new Date()" type="button" data-dismiss="modal" class="btn btn-primary" disabled>{{ $t('view-course.closed') }}</button>
                                                                    <button v-else-if="course.test_attempts.filter(ta => ta.test_id == courseMaterial.course_test.test_id).length == courseMaterial.course_test.test.max_attempts" type="button" data-dismiss="modal" class="btn btn-primary" disabled>{{ $t('view-course.no-attempts') }}</button>
                                                                    <button v-else type="button" data-dismiss="modal" :disabled="attemptLoading || courseMaterial.course_test.test.loading || $store.state.user.activeTestAttempt != null" @click="startAttempt(courseMaterial.course_test.test)" class="btn btn-primary">{{ $t('view-course.new-attempt') }}</button>
                                                                </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div v-else>
                                                        <div class="row" style="color: var(--gray) !important;">
                                                            <span style="font-size: 20px !important; display: flex; align-items: center;" class="col-md-4 col-12 mb-md-0 mb-3 font-20">
                                                                <i class="fas fa-lock mr-2 font-25" style="font-size: 25px !important; width: 25px !important;"></i>
                                                                <span>{{courseMaterial.course_test.test.name}}</span>
                                                            </span>
                                                            <span class="col-md-4 col-12 mb-md-0 mb-3">
                                                                <i class="far fa-calendar-alt mr-2"></i>
                                                                <span>{{courseMaterial.course_test.test.start_date ? $store.getters.parseDateTime(courseMaterial.course_test.test.start_date) : $t('view-course.course-start')}} - {{courseMaterial.course_test.test.end_date ? $store.getters.parseDateTime(courseMaterial.course_test.test.end_date) : $t('view-course.course-end')}}</span>
                                                            </span>
                                                            <div class="col-md-4 col-12 mb-md-0 mb-3">
                                                                <div class="progress">
                                                                    <div class="progress-bar small-pbar" :style="{width: maxPercentage(courseMaterial).toFixed(2)+'%'}">
                                                                        {{maxPercentage(courseMaterial).toFixed(2)}}%
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div v-if="course.hasFeedback" class="row">
                                                <div class="col-md-6 col-12 mb-md-0 mb-3">
                                                    <h2 class="font-20" style="font-size: 20px !important; display: flex; align-items: center; color: rgb(33, 37, 41) !important;" v-if="course.userCanViewFeedback">
                                                        <i class="fas fa-star mr-2 font-25" style="font-size: 25px !important; width: 25px !important;" ></i>
                                                        <a v-if="course.userCompletedFeedback" style="text-decoration: none !important;">
                                                            <span style="color: rgb(33, 37, 41) !important;">{{ $t('view-course.course-rate') }} - </span><span class="text-success"> {{ $t('view-course.filled') }}</span>
                                                        </a>
                                                        <a v-else href="#" style="text-decoration: none !important;" @click.prevent="$router.push({name: 'CreateUserCourseFeedback', params: {course: course.id}})">
                                                            <span style="color: rgb(33, 37, 41) !important;">{{ $t('view-course.course-rate') }} - </span><span class="text-danger"> {{ $t('view-course.not-filled') }}</span>
                                                        </a>
                                                    </h2>
                                                    <h2 class="font-20" style="font-size: 20px !important; display: flex; align-items: center; color: #747474 !important;" v-else>
                                                        <i class="fas fa-lock mr-2 font-25" style="font-size: 25px !important; width: 25px !important;"></i>
                                                        <a style="text-decoration: none !important;">
                                                            <span>{{ $t('view-course.course-rate') }}</span>
                                                        </a>
                                                    </h2>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12" style="margin-top: 20px;" v-if="$store.state.user && course.creator_id != $store.state.user.id">
                                        <h1>{{ $t('view-course.ask') }}</h1>
                                    </div>

                                    <div class="col-12" v-if="$store.state.user && course.creator_id != $store.state.user.id">
                                        <input v-model="question" type="text" class="snd-inp-2" placeholder="Kérdés írása...">
                                        <button @click.prevent="askTheExpert" :disabled="submitting || !question || !question.trim()" type="button" class="btn btn-inp-snd-2">{{ $t('view-course.send') }}</button>
                                    </div>


                                </div>
                            </section>
                        </div>
                    </div>
                </section>
            </div>
            <div v-else class="col-12">
                <Loading height="80vh" />
            </div>
  </div>
</template>

<script>
import Loading from '@/components/Loading.vue'
import CourseFeed from '@/components/CourseFeed.vue'
import { DateTime } from 'luxon';
export default {
    name: 'ViewCourseOld',
    components: {
        Loading,
        CourseFeed
    },
    mounted() {
        this.axios.get('/courses/'+this.$route.params.id).then(resp => {
            this.course = resp.data.course
            if(this.course.course_materials)
                this.course.course_materials.forEach((courseMaterial, index) => {
                    if(courseMaterial.course_event && courseMaterial.course_event.zoom_meeting_id !== null) {
                        courseMaterial.course_event.loading = true
                        this.axios.get(`/courses/${this.course.id}/events/${courseMaterial.course_event.id}`)
                            .then(res => this.course.course_materials[index].course_event = Object.assign(this.course.course_materials[index].course_event, res.data.courseEvent))
                            .catch(e => console.log(e.response))
                            .finally(() => courseMaterial.course_event.loading = false)
                    }
                })
        }).finally(() => {
            this.loading = false
        })
    },
    data() {
        return {
            course: null,
            loading: true,
            calendarLoading: false,
            question: null,
            submitting: false,
            isTimeout: false,
            token: this.axios.defaults.headers.common.Authorization.split(' ')[1],
            storageURL: process.env.VUE_APP_STORAGE_URL,
            frontendURL: process.env.VUE_APP_FRONTEND_URL,
            attemptStarting: false,
            recommendedCourses: Array(4).fill(
            {   
                id: Math.floor(Math.random() * 100) + 1,
                name: 'Due Diligence',
                date: '2020. Augusztus 11 12:34',
                instructor: 'Jane Doe',
                backgroundImageUrl: 'assets/img/template.jpg'
            })
        }
    },
    computed: {
        overallProgress() {
            let progress = 0
            this.course.course_materials.forEach((cm) => {
                progress += cm.course_material_progress.length > 0 ? cm.course_material_progress[0].progress : 0
            })
            return this.course.duration !== 0 ? (progress / (this.course.duration / 100)).toFixed(2) : 0
        },
    },
    methods: {
        askTheExpert() {
            if(this.question && this.question.trim()) {
                this.submitting = true
                const group = this.$store.state.user.chat_groups.find(g => g.name == null && g.users.length == 2 && g.users.some(u => u.id == this.course.creator_id))
                if(!group) {
                    this.axios.post('/conversation/user/'+this.course.creator_id, {message: this.question})
                        .then(resp => {
                            this.$store.state.user.chat_groups.push(resp.data.group)
                            this.$store.commit('subscribeToGroup', resp.data.group)
                            this.$router.push({name: 'Chat', params: {conversation: Number(resp.data.group.id)}})
                        })
                        .catch((e) => console.log(e))
                        .finally(() => this.submitting = false)
                }
                else {
                    this.axios.post('/conversation/'+group.id, {message: this.question})
                        .then(resp => {
                            group.chat_group_messages.push(resp.data.chatMessage)
                            this.$router.push({name: 'Chat', params: {conversation: Number(group.id)}})
                        })
                        .finally(() => this.submitting = false)
                }
            }
        },
        progress(completed, all) {
            return all !== 0 ? (completed / (all / 100)).toFixed(2) : 0
        },
        courseDuration(duration) {
            console.log(duration)
            let all = duration
            const hours = Math.floor(all / 3600)
            const minutes = Math.floor((all % 3600) / 60)
            const seconds = all - (hours * 3600) - (minutes * 60)
            return `${hours !== 0 ?  hours+' óra ' : ''}${minutes !== 0 ?  minutes+' perc ' : ''}${seconds !== 0 ? seconds+' másodperc' : ''}`
        },
        buyCourse() {
            this.axios.post('/courses/'+this.$route.params.id+'/buy').then(resp => {
                this.loading = true
                this.axios.get('/courses/'+this.$route.params.id).then(resp => {
                    this.course = resp.data.course
                    this.$store.state.user.courses.push(resp.data.course)
                }).finally(() => this.loading = false)
            })
        },
        setupRefs(cm) {
            console.log(cm)
            if(cm.multimedia.type == 'image' || cm.multimedia.type == 'document') {
                this.makeProgress(cm.id)
            }
            this.course.course_materials.filter((el) => {return el.course_multimedia != null}).forEach(cm => {
                let userProgress = cm.course_material_progress[0];
                console.log(userProgress)
                if(!cm.timeTracking && !(cm.course_multimedia.multimedia.type == 'image' || cm.course_multimedia.multimedia.type == 'document')) {
                    cm.timeTracking =  {
                        watchedTime: userProgress ? userProgress.progress : 0,
                        prevTime: (userProgress && userProgress.progress < cm.course_multimedia.length) ? userProgress.progress : 0,
                        currentTime: (userProgress && userProgress.progress < cm.course_multimedia.length) ? userProgress.progress : 0,
                        progressMade: 0
                    };
                    console.log(cm.timeTracking)
                    var lastUpdated = 'currentTime'
                    this.$refs['cm'+cm.id].currentTime = cm.timeTracking.currentTime
                    
                    this.$refs['cm'+cm.id].addEventListener('timeupdate',  () => {
                        //console.log(this.$refs['cm'+cm.id].currentTime)
                        if (!this.$refs['cm'+cm.id].seeking) {
                            if (this.$refs['cm'+cm.id].currentTime > cm.timeTracking.watchedTime) {
                                cm.timeTracking.progressMade += this.$refs['cm'+cm.id].currentTime - cm.timeTracking.prevTime
                                cm.timeTracking.prevTime = this.$refs['cm'+cm.id].currentTime;
                               // console.log(cm.timeTracking.progressMade)
                                if(Math.round(cm.timeTracking.progressMade >= 10)) {
                                    cm.timeTracking.progressMade = 0;
                                    this.makeProgress(cm.course_multimedia.id)
                                    console.log('10 second progress made!')
                                }
                                cm.timeTracking.watchedTime = this.$refs['cm'+cm.id].currentTime;
                                lastUpdated = 'watchedTime';
                            }
                            //tracking time updated  after user rewinds
                            else {
                                cm.timeTracking.currentTime = this.$refs['cm'+cm.id].currentTime;
                                lastUpdated = 'currentTime';
                            }
                        }


                    });
                    // prevent user from seeking
                    this.$refs['cm'+cm.id].addEventListener('seeking', (e) => {
                        // guard against infinite recursion:
                        //this.$refs['cm'+cm.id].pause()
                        // user seeks, seeking is fired, currentTime is modified, seeking is fired, current time is modified, ....
                        var delta = this.$refs['cm'+cm.id].currentTime - cm.timeTracking.watchedTime;
                        if (delta > 0) {
                            //if(!this.isTimeout) {
                             //   this.isTimeout = true;
                            //    this.$store.state.toastNotifications.push({status: 'Error', message: 'A videó még meg nem nézett részéhez tekerés nem engedélyezett'})
                           //     setTimeout(() => {this.isTimeout = false}, 1000)
                            //}
                            //this.$refs['cm'+cm.id].pause()
                            //play back from where the user started seeking after rewind or without rewind
                            this.$refs['cm'+cm.id].currentTime = cm.timeTracking[lastUpdated];
                        }
                    });

                                        // prevent user from seeking
                    this.$refs['cm'+cm.id].addEventListener('ended', (e) => {
                        this.makeProgress(cm.course_multimedia.id, true)
                        console.log('Finished media progress made')
                    });
                }
                
            })
            
        },
        makeProgress(cmId, unlockNext = false) {
            console.log(cmId)
            let courseMaterial = this.course.course_materials.find((el) => {return el.course_multimedia_id != null && el.course_multimedia.id == cmId})
            this.axios.post(`/courses/${this.course.id}/course-multimedia/${courseMaterial.course_multimedia.id}/make-progress`).then(resp => {
                courseMaterial.course_material_progress.length > 0 ? courseMaterial.course_material_progress[0] = resp.data.courseMaterialProgress : courseMaterial.course_material_progress.push(resp.data.courseMaterialProgress)
                if(unlockNext) {
                    this.unlockNext()
                }
            })
        },
        unlockNext() {
            let locked = this.course.course_materials.find(cm => cm.locked == true)
            if(locked) {
                this.axios.get('/courses/'+this.$route.params.id)
                .then(resp => {
                    const lockedIdx = this.course.course_materials.findIndex(cm => cm.locked == true)
                    this.course.course_materials[lockedIdx] = resp.data.course.course_materials.find(cm => cm.id == locked.id)
                })
            }
        },
        parseDate(date) {
            return DateTime.fromISO(date).toLocaleString(DateTime.DATETIME_MED)
        },
        startAttempt(test) {
            this.attemptStarting = true
            this.axios.post('courses/'+this.course.id+'/tests/'+test.id+'/attempts')
                .then((resp) => {
                    this.$store.state.user.activeTestAttempt = resp.data.testAttempt
                    this.$router.push({name: 'ActiveTestAttempt'})
                })
                .finally(() => this.attemptStarting = false)

        },
        maxPercentage(courseMaterial) {
            let percentage = 0
            if(courseMaterial.course_tests_id != null) {
                const filtered = this.course.test_attempts.filter((attempt) => {
                    return attempt.test_id == courseMaterial.course_test.test_id && attempt.corrected
                })
                percentage = filtered.length > 0 ? Math.max(...filtered.map(el => el.percentage)) : 0
            }
            else if(courseMaterial.course_multimedia_id != null) {
                console.log('Multimedia')
                const length = courseMaterial.course_multimedia.length
                const progress = courseMaterial.course_material_progress.length > 0 ? courseMaterial.course_material_progress[0].progress : 0
                percentage = length !== 0 ? (progress / (length / 100)) : 0
                console.log(length)
            }
            else if(courseMaterial.course_event_id != null) {
                const length = courseMaterial.course_event.length * 60
                const progress = courseMaterial.course_material_progress.length > 0 ? courseMaterial.course_material_progress[0].progress : 0
                percentage = length !== 0 ? (progress / (length / 100)) : 0
            }

            return percentage
        },
        downloadCalendar(material = null) {
            this.calendarLoading = true;
            const url = material ? '/courses/'+this.course.id+'/events/'+material.course_event_id+'/calendar' : '/courses/'+this.course.id+'/calendar'
            this.axios.get(url, {responseType: 'blob'})
                .then(resp => {
                    console.log(resp.data)
                    const url = window.URL.createObjectURL(new Blob([resp.data]));
                    const link = document.createElement('a');
                    link.href = url;
                    link.setAttribute('download', `${material ? material.course_event.name : this.course.title}.ics`);
                    document.body.appendChild(link);
                    link.click();
                })
                .catch(e => console.log(e.response))
                .finally(() => this.calendarLoading = false)
        },
    },
    watch: {
        $route(to, from) {
            this.recommendedCourses = Array(4).fill(
                {   
                    id: Math.floor(Math.random() * 100) + 1,
                    name: 'Due Diligence',
                    date: '2020. Augusztus 11 12:34',
                    instructor: 'Jane Doe',
                    backgroundImageUrl: 'assets/img/template.jpg'
                }
            )
        }
    }
}
</script>
<style scoped>

.circle {
	background-color: rgba(255, 82, 82, 1);
	border-radius: 50%;
    flex-shrink: 0;
    animation: pulse-red 2s infinite;
	height: 20px;
	width: 20px;
}
h2::v-deep(a[href]) {
    color: var(--lblue) !important;
    text-decoration: underline;
}
.progress .course-progressbar {
    height: 15px;
    border-radius: 1em;
        background: 
      linear-gradient(to right, rgba(241,255,0,1) 0%,  rgba(255,184,0,1) 50%, rgba(255,115,0,1) 100%) left/100% fixed,
      lightgray;
   /* background: rgb(241,255,0);
   /* background: linear-gradient(90deg, rgba(241,255,0,1) 0%, rgba(255,184,0,1) 48%, rgba(255,115,0,1) 100%); */
}

@media(max-width: 767px) {
    .progress-bar.small-pbar {
        height: 15px;
        border-radius: 1em;
            background: 
        linear-gradient(to right, rgba(241,255,0,1) 0%,  rgba(255,184,0,1) 50%, rgba(255,115,0,1) 100%) left/100% fixed,
        lightgray !important;
    /* background: rgb(241,255,0);
    /* background: linear-gradient(90deg, rgba(241,255,0,1) 0%, rgba(255,184,0,1) 48%, rgba(255,115,0,1) 100%); */
    }
}
.progress-bar.small-pbar {
    height: 15px;
    border-radius: 1em;
        background: 
      linear-gradient(to right, rgba(241,255,0,1) 0%,  rgba(255,184,0,1) 50%, rgba(255,115,0,1) 100%) left/50% fixed,
      lightgray;
   /* background: rgb(241,255,0);
   /* background: linear-gradient(90deg, rgba(241,255,0,1) 0%, rgba(255,184,0,1) 48%, rgba(255,115,0,1) 100%); */
}
div::v-deep(.fancybox-button svg) {
    display: none !important;
}


@keyframes pulse-red {
	0% {
		transform: scale(0.9);
		box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7);
	}
	
	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
	}
	
	100% {
		transform: scale(0.9);
		box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
	}
}
.progress-bar span {
    font-size: 20px !important;
}

@media (max-width: 425px) {
    .progress-bar span {
        font-size: 14px !important;
    }
}
</style>
