<template>
<div class="pl-2 pr-2 pt-4 pb-4 d-flex justify-content-center">
    <a :href="$store.getters.getStorageURL(element.course_multimedia.multimedia.path)" target="_blank" @click="makeProgress" class="btn btn-primary">
        <span style="color: white">Fájl letöltése</span>
    </a>
</div>
</template>
<script>
export default {
    emits: ['progressMade'],
    name: 'DocumentElement',
    props: {
        element: Object
    },
    methods: {
        makeProgress() {
            console.log('Hokaszin')
            if(this.element.course_material_progress.length == 0 || this.element.course_multimedia.length > this.element.course_material_progress[0].progress) {
                this.$emit('progressMade', this.element.course_multimedia_id)
            }
        }
    }
}
</script>