<template>
<div class="pl-2 pr-2 pt-4 pb-4">
    <div>
        <div 
            data-fancybox="fancy" 
            data-options='{"buttons": ["zoom", "close"], "protect": true}'
            :href="$store.getters.getStorageURL(element.course_multimedia.multimedia.path)"
            :data-caption="element.course_multimedia.name"
            style="cursor: pointer;"
        >
        <div style="max-width: 100%; height: 100%; display: flex; align-items: center; justify-content: center; background-color: white; border-radius: 5px;">
            <img :src="$store.getters.getStorageURL(element.course_multimedia.multimedia.path)" style="max-width: 100%; max-height: 400px; object-fit: cover; position: relative; border-radius: 5px">
        </div>
    </div>
</div>
</div>
</template>
<script>
export default {
    emits: ['progressMade'],
    name: 'ImageElement',
    mounted() {
        if(this.element.course_material_progress.length == 0 || this.element.course_multimedia.length > this.element.course_material_progress[0].progress) {
            this.$emit('progressMade', this.element.course_multimedia_id)
        }
    },
    props: {
        element: Object
    },
}
</script>