<template>
<div>
    <div>
        <textarea v-model="question" class="form-control" :placeholder="$t('expert.placeholder')"></textarea>
        <button @click.prevent="askTheExpert" :disabled="submitting || !question || !question.trim()" type="button" class="btn btn-primary mt-2">{{ $t('view-course.send') }}</button>
    </div>
</div>
</template>
<script>
export default {
    props: {
        creatorId: Number
    },
    data() {
        return {
            question: null,
            submitting: false,
        }
    },
    methods: {
        askTheExpert() {
            if(this.question && this.question.trim()) {
                this.submitting = true
                const group = this.$store.state.user.chat_groups.find(g => g.name == null && g.users.length == 2 && g.users.some(u => u.id == this.creatorId))
                if(!group) {
                    this.axios.post('/conversation/user/'+this.creatorId, {message: this.question})
                        .then(resp => {
                            this.$store.state.user.chat_groups.push(resp.data.group)
                            this.$store.commit('subscribeToGroup', resp.data.group)
                            this.$router.push({name: 'Chat', params: {conversation: Number(resp.data.group.id)}})
                        })
                        .catch((e) => console.log(e))
                        .finally(() => this.submitting = false)
                }
                else {
                    this.axios.post('/conversation/'+group.id, {message: this.question})
                        .then(resp => {
                            group.chat_group_messages.push(resp.data.chatMessage)
                            this.$router.push({name: 'Chat', params: {conversation: Number(group.id)}})
                        })
                        .finally(() => this.submitting = false)
                }
            }
        },
     }
}
</script>