<template>
    <div class="col-lg-3">
    <section id="progress">
        <div class="row">
            <div class="col-12">
                <div class="box">
                    <h2>{{ $t('course-progress-box.ongoing') }}</h2>
                    <div class="row">
                        <div style="cursor: pointer" class="col-md-6 col-6 text-center no-right3">
                            <h3 v-bind:class="{active: !showingToDo}" @click="showingToDo = false">{{ $t('course-progress-box.started') }} ({{coursesInProgress.length}})</h3>
                        </div>
                        <div style="cursor: pointer" class="col-md-6 col-6 text-center no-left3">
                            <h3 v-bind:class="{active: showingToDo}" @click="showingToDo = true">{{ $t('course-progress-box.unfinish') }} ({{coursesToDo.length}})</h3>
                        </div>
                        <div v-if="!showingToDo">
                            <div class="col-12">
                                <div class="list">
                                    <div class="row p-bottom">
                                        <div v-for="(course, index) in coursesInProgress" :key="course.id">
                                            <div class="col-12" style="cursor: pointer" @click="$router.push({name: 'Course', params: {id: course.id}})">
                                                <div class="card" style="width: 100%">
                                                    <div v-bind:style="{backgroundImage: `url(${course.backgroundImageUrl})`}"
                                                        class="card-img-top img-fluid" alt="#"></div>
                                                    <div class="card-body">
                                                        <h5 class="card-title">{{course.name}}
                                                        </h5>
                                                    </div>
                                                </div>
                                            </div>
                                            <div v-if="index < coursesInProgress.length-1" class="col-12">
                                                <hr>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div v-else>
                            <div class="col-12">
                                <div class="list">
                                    <div class="row p-bottom">
                                        <div v-for="(course, index) in coursesToDo" :key="course.id">
                                            <div class="col-12" style="cursor: pointer" @click="$router.push({name: 'Course', params: {id: course.id}})">
                                                <div class="card" style="width: 100%">
                                                    <div v-bind:style="{backgroundImage: `url(${course.backgroundImageUrl})`}"
                                                        class="card-img-top img-fluid" alt="#"></div>
                                                    <div class="card-body">
                                                        <h5 class="card-title">{{course.name}}
                                                        </h5>
                                                    </div>
                                                </div>
                                            </div>
                                            <div v-if="index < coursesToDo.length-1" class="col-12">
                                                <hr>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</template>
<script>
export default {
    name: 'CoursesInProgressBox',
    data() {
        return {
            showingToDo: false,
            
            coursesInProgress: Array(3).fill({
                id: Math.floor(Math.random() * 200) + 101,
                name: 'Due Diligence - The Legal Due Diligence Process',
                backgroundImageUrl: 'assets/img/template.jpg'
            }),

            coursesToDo: Array(1).fill({
                id: Math.floor(Math.random() * 300) + 201,
                name: 'Due Diligence - The Legal Due Diligence Process',
                backgroundImageUrl: 'assets/img/template.jpg'
            })
        }
    }
}
</script>
