<template>
<div class="modal fade" id="newCouponModal" tabindex="-1" role="dialog" ref="newCouponModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">{{$t('coupon-modal.new')}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form @submit.prevent="submit" class="row" id="newCouponForm">
                <div class="col-12">
                    <label>{{$t('checkout-summary.coupon-code')}}</label>
                    <input type="text" class="form-control" required v-model="coupon.code">
                </div>
                <div class="col-12 mt-3">
                    <label>{{$t('coupon-modal.disc')}} {{coupon.percentage_based ? '(%)' : '(HUF)'}}</label>
                    <input type="number" min="1" class="form-control w-90" required v-model="coupon.discount">
                </div>
                <div class="col-12 mt-3">
                    <label>{{$t('coupon-modal.disc-type')}}</label>
                    <select class="form-control" v-model="coupon.percentage_based">
                        <option :value="true">{{$t('coupon-modal.percentage')}}</option>
                        <option :value="false">{{$t('coupon-modal.cash')}}</option>
                    </select>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="submit" form="newCouponForm" :disabled="submitting || coupon.discount < 0 || !String(coupon.code).trim()" class="btn btn-primary">{{$t('coupon-modal.create')}}</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">{{$t('common.cancel')}}</button>
        </div>
        </div>
    </div>
</div>
</template>
<script>
export default {
    name: 'CreateCouponModal',
    emits: ['couponCreated'],
    data() {
        return {
            coupon: {
                code: null,
                discount: 0,
                percentage_based: false
            },
            submitting: false
        }
    },
    methods: {
        submit() {
            this.submitting = true
            this.axios.post('/coupons', this.coupon)
                .then(resp => {
                    this.$emit('couponCreated', resp.data.coupon)
                    $(this.$refs.newCouponModal).modal('hide')
                })
                .catch(e => console.log(e))
                .finally(() => this.submitting = false)
        }
    }
}
</script>