<template>
    <div>
        <section id="content-2">
            <div class="row">
                <div class="col-12 col-xl-6 order-2 order-xl-1">
                    <section id="timeline">
                        <Feed />
                    </section>
                </div>
                <div class=" mt-5 mt-xl-3 col-12 order-1 order-xl-2 col-xl-6">
                    <section id="dropdown">
                        <div @click="$router.push({name: 'FastShare'})" class="row" style="cursor: pointer;">
                            <div class="col-12">
                                <a>
                                    <div class="box shadow" style="min-height: 0px; height: 100px; padding: 0px;background-color: var(--red) !important;border-top-left-radius: 70px;border-bottom-left-radius: 70px;border-top-right-radius: 10px;border-bottom-right-radius: 10px;">
                                        <div class="flex-wrap d-flex">
                                            <div class="d-flex">
                                                <span class="float-left" style="font-size:60px !important;margin-top: 5px !important;margin-left: 30px;">
                                                    <i style="color: #05213E" class="fas fa-plus"></i>
                                                </span>
                                            </div>
                                            <div class="d-flex ml-auto text-right rsp-text">
                                                <h6 class="font-20" style="padding-top: 35px !important; color: white;">{{ $t('dla-user-home.share-knowledge') }}</h6>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </section>
                    <section id="list-table">
                            <h6>{{ $t('dla-user-home.ongoing') }}</h6>
                            <section id="trainings">
                            <div class="row">
                                <div v-for="course in $store.state.user.coursesInProgress" :key="course.id"
                                    class="col-md-6 mb-4 col-12"
                                    style="cursor: pointer;"  
                                    @click="$router.push({name: 'Course', params: {id: course.id}})"
                                >
                                    <div class="card shadow card-img-top img-fluid" :style="{backgroundImage: `url(${course.cover_image ? $store.state.storageURL+course.cover_image.path+'?token='+$store.state.token : 'assets/img/template.jpg'})`}" style="width: 100%; border-radius: 7px;border-top-right-radius: 5px; border-top-left-radius: 5px; position: relative;">
                                                <h2 v-if="Math.floor((new Date() - new Date(course.created_at)) / 86400000) < 10" class="top-right new-label" style="border-top-right-radius: 3.7px;top: -1px !important;">Új</h2>
                                            <div style="position: absolute; bottom: -1px; left: 0px; width: 100%">
                                                <h2 class="bottom-left e-learning-label" style="border-bottom: 1px solid #06223e; left: 0; margin: 0px !important; width: fit-content;">{{$t(`course-types.${course.course_type.name}`)}}</h2>
                                                <h2 class="bottom-left dark-bg-line text-center" style="bottom: -1px !important; left: 0; margin: 0px !important;width: 100%;border-bottom-right-radius: 3.7px;border-bottom-left-radius: 3.7px;padding-top: 10px;padding-bottom: 13px;">{{course.title}}</h2>
                                            </div>

                                        <!-- <div class="" style="border-bottom-right-radius: 5px; border-bottom-left-radius: 5px; padding: 10px; min-height: 50px; background-color: rgb(154,154,154); color: white; white-space: initial;">
                                            <h5 class="card-title">{{course.title}}</h5>
                                            <h4 class="card-text">{{$store.getters.getProgress(course)}}%</h4>
                                        </div> -->
                                    </div>
                                </div>
                                <div v-if="$store.state.user.coursesInProgress.length == 0" class="col-md-6 mb-4 col-12" style="word-break: break-word !important;">{{ $t('dla-user-home.no') }}</div>

                            </div>
                        </section>
                    </section>
                    <hr class="home-page-sep">
                    <section id="trainings">
                        <div class="row">
                            <div class="col-12">
                                <h1>{{ $t('dla-user-home.suggested') }}</h1>
                            </div>

                            <div v-for="course in recommendedCourses" :key="course.id"
                                class="col-md-6 col-12"
                                style="cursor: pointer;" 
                                @click="$router.push({name: 'Course', params: {id: course.id}})"
                            >
                                <div class="card shadow card-img-top img-fluid" :style="{backgroundImage: `url(${course.cover_image ? $store.state.storageURL+course.cover_image.path+'?token='+$store.state.token : 'assets/img/template.jpg'})`}" style="width: 100%; border-radius: 7px;border-top-right-radius: 5px; border-top-left-radius: 5px; position: relative;">

                                            <h2 v-if="Math.floor((new Date() - new Date(course.created_at)) / 86400000) < 10" class="top-right new-label" style="border-top-right-radius: 3.7px;top: -1px !important;">{{ $t('dla-user-home.new') }}</h2>
                                            <div style="position: absolute; bottom: -1px; left: 0px; width: 100%">
                                                <h2 class="bottom-left e-learning-label" style="border-bottom: 1px solid #06223e; left: 0; margin: 0px !important; width: fit-content;">{{$t(`course-types.${course.course_type.name}`)}}</h2>
                                                <h2 class="bottom-left dark-bg-line text-center" style="bottom: -1px !important; left: 0; margin: 0px !important;width: 100%;border-bottom-right-radius: 3.7px;border-bottom-left-radius: 3.7px;padding-top: 10px;padding-bottom: 13px;">{{course.title}}</h2>
                                            </div>

                                    <!-- <div class="card-body" style="border-bottom-right-radius: 5px; border-bottom-left-radius: 5px;">
                                        <h5 class="card-title">{{course.title}}</h5>
                                        <h4 class="card-text" >{{ $t('dla-user-home.begin') }} {{course.start_date ? $store.getters.parseDateTime(course.start_date) : 'Nincs'}}</h4>
                                        <h4 class="card-text" >{{ $t('dla-user-home.end') }} {{course.end_date ? $store.getters.parseDateTime(course.end_date) : 'Nincs'}}</h4>
                                    </div> -->
                                </div>
                            </div>
                            <div v-if="recommendedCourses.length == 0" class="col-md-6 mb-4 col-12" style="word-break: break-word !important;">{{ $t('dla-user-home.no-rec') }}</div>

                        </div>
                    </section>
                    <hr class="home-page-sep">
                    <section id="trainings">
                        <div class="row">
                            <div class="col-12 mt-3">
                                <h1>{{ $t('dla-user-home.new-articles') }}</h1>
                            </div>

                            <div v-for="article in glossaryArticles" :key="article.id"
                                class="col-md-6 col-12"
                                style="cursor: pointer;" 
                            >
                                <div class="card new-glossary" style="width: 100%;">
                                    <div style="cursor: pointer;" @click.prevent="$router.push({name: 'GlossaryArticle', params: {id: article.id}})" class="yellow-left">
                                        <div class="pl-3">
                                        <h3 class="glossary-title">{{article.title}}</h3>
                                        <h4 class="line-clamp" v-html="$store.getters.sanitizeSummernoteText(article.content)"></h4>
                                        <h5 class="labels mt-2">
                                            <span v-for="label in article.labels" :key="label.id" class="label mr-1 mt-2" style="cursor: pointer; display: inline-block;">{{label.name}}</span>    
                                        </h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            

                        </div>
                    </section>
                    <hr class="home-page-sep">
                </div>
            </div>
        </section>
    </div>
</template>
<script>
import Feed from '@/components/Feed'
export default {
    name: 'DLAUserHome',
    components: {
        Feed
    },
    mounted() {
        this.axios.get('/glossary-articles')
            .then(resp => {
                this.glossaryArticles = resp.data.glossaryArticles.slice(0,4)
            })
        this.axios.get('/courses/recommended')
            .then(resp => {
                this.recommendedCourses = resp.data.courses
            })
    },
    data() {
        return {
            recommendedCourses: [],
            glossaryArticles: []
        }
    }
}
</script>
<style scoped>
 .label {
    background-color: var(--yellow);
    padding: 4px;
    color: white;
    border-radius: 4px;
    font-size: 15px;
 }
 .glossary-title {
    font-size: 28px !important;
    color: var(--black) !important;
    font-weight: bold;
 }
 .line-clamp::v-deep(h2) {
    font-size: 20px !important;
 }
 .line-clamp {
    font-size: 16px;
    -webkit-line-clamp: 6;
    padding-bottom: 2px;
    -webkit-box-pack: end;
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
 }
.card-title {
    margin-bottom: 0px !important;
    padding-top: 20px !important;
    text-align: center !important;
}
.card-body {
    background: none !important;
}
.dark-bg-line {
    background-color: var(--o-dark);
}
.light-bg-line {
    background-color: var(--oblue-90);
}
.new-glossary {
    border: none !important;
    padding-left: 0px !important;
    margin-left: 0px !important;
    
}
.yellow-left {
    border-left: 3px solid var(--yellow) !important;
    border-radius: 0px;
}
@media (max-width: 575px) {
    .rsp-text {
        text-align: center !important;
        padding-top: 3px !important;
    }
    .rsp-text * {
        font-size: 17px !important;
    }
    .cstm-dpn {
        display: none;
    }
}

#list-table {
    margin-top: 30px !important;
}
    /* MOBILE FONT SIZE UNDER 426px */
    @media (min-width: 426px) {
        .font-60 {
            font-size: 60px;
        }
        .font-20 {
            font-size: 20px;
        }
    }

    @media (max-width: 425px) {
        .font-60 {
            font-size: 42px;
        }
        .font-20 {
            font-size: 14px;
        }
         .label {
            font-size: 11px !important;
        }
        .glossary-title {
            font-size: 19px !important;
        }
        .line-clamp::v-deep(h2) {
            font-size: 14px !important;
        }
        .line-clamp {
            font-size: 11px !important;
        }
        #trainings h1 {
            font-size: 14px !important;
        }
    }
    @media (min-width: 426px) {
        .home-page-sep {
            display: none !important;
        }
    }
    @media (max-width: 1199px) {
        .mt-5 {
            margin-top: 0px !important;
        }
    }
    @media (max-width: 425px) {
        #trainings h1 {
            margin-top: 10px !important;
        }
        .home-page-sep {
            border: none !important;
            border-bottom: 1px solid var(--dblue) !important;
        }
    }
</style>
