<template>
    <div class="row">
        <div class="col-12" >
            <h1 style="padding-left: 0px !important">{{ $t('feed.timeline') }}</h1>
        </div>

        <div class="col-12">
            <div class="row line" style="display: flex;margin-left: 0px !important;margin-right: 0px !important;padding-left: 0px !important;padding-right: 0px !important;">
                <img v-if="$store.state.user.avatar" :src="$store.state.storageURL+$store.state.user.avatar.path+'?token='+$store.state.token" class="img-fluid modal-profile" alt="">
                <Avatar v-else :username="$store.state.user.name" :size="55" />
                <div class="text-center" style="display: flex; align-items: center; flex-grow: 1; border-radius: 10px !important; background-color: #f1f1f1; cursor: pointer;margin-left: -25px;z-index: 1;" data-toggle="modal" data-target="#newPostModal">
                    <span class="w-100" style="color: grey">{{ $t('feed.new-post') }}</span>
                </div>
            </div>
        </div>

        <div class="col-12 mt-2">
            <h1 style="padding-left: 0px !important">{{ $t('feed.dropdown') }}</h1>
            <select v-model="filter" class="form-control w-100">
                <option :value="null" class="form-control">{{ $t('feed.all') }}</option>
                <option :value="1" class="form-control">{{ $t('feed.today') }}</option>
                <option :value="2" class="form-control">{{ $t('feed.yesterday') }}</option>
                <option :value="3" class="form-control">{{ $t('feed.month') }}</option>
                <option :value="4" class="form-control">{{ $t('feed.year') }}</option>
            </select>
        </div>

        
            <!-- Modal -->
            <div class="modal fade" id="newPostModal" tabindex="-1" role="dialog" aria-labelledby="newPostModalLabel" ref="newPostModal"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header  text-center">
                            <h5 class="post-title w-100" id="newPostModalLabel">{{ $t('feed.new-entry') }}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body w-100">
                            <div class="row">
                                <div class="col-sm-2 col-3">
                                    <img v-if="$store.state.user.avatar" :src="$store.state.storageURL+$store.state.user.avatar.path+'?token='+$store.state.token" class="img-fluid modal-profile" alt="">
                                    <Avatar v-else :username="$store.state.user.name" />
                                </div>
                                <div class="col-sm-10 col-9 modal-nop">
                                    <h1 class="modal-nick">{{$store.state.user.name}}</h1>
                                </div>
                                <div class="col-12 modal-message">
                                    <div class="form-group">
                                        <textarea :placeholder="$t('feed.new-post-content')" class="form-control"
                                            id="newPostModalTextarea"
                                            style="width: 100%"
                                            v-model="content"
                                            :disabled="sending"></textarea>
                                            <div class="text-right"><sub>{{content ? content.length : 0}} / 2000</sub></div>
                                    </div>
                                </div>
                                <div v-if="showPollCreate" class="col-12 mb-4">
                                    <label>{{ $t('feed.vote-name') }}</label>
                                    <input v-model="poll.name" type="text" class="form-control w-100 mb-3" style="background-color: #fff; border: 1px solid #ced4da">
                                    <label>{{ $t('feed.question') }}</label>
                                    <input v-model="poll.question" type="text" class="form-control w-100 mb-3" style="background-color: #fff; border: 1px solid #ced4da">
                                    <label>{{ $t('feed.vote-type') }}</label>
                                    <select v-model="poll.poll_type_id" class="form-control w-50 mb-3" style="background-color: #fff; border: 1px solid #ced4da">
                                        <option v-for="type in pollTypes" :value="type.id" :key="type.id">{{$t(`question-type.${type.type}`)}}</option>
                                    </select>
                                    <label>{{ $t('feed.anonym') }}</label>
                                    <select v-model="poll.anonym" class="form-control w-50 mb-3" style="background-color: #fff; border: 1px solid #ced4da">
                                        <option :value="1">{{ $t('feed.yes') }}</option>
                                        <option :value="0">{{ $t('feed.no') }}</option>
                                    </select>
                                    <div v-if="poll.poll_type_id != 3" class="w-100" v-for="(answer, index) in poll.poll_answers" :key="index">
                                        <label>{{ $t('feed.option') }} #{{index+1}}</label>   
                                        <div class="remove d-flex align-items-center mb-3">
                                            <input type="text" v-model="poll.poll_answers[index].answer" class="form-control w-100" style="background-color: #fff; border: 1px solid #ced4da">
                                            <span @click="poll.poll_answers.splice(index, 1)" style="cursor: pointer"><i class="fas fa-minus-circle font-25" style="color: var(--dred);"></i></span>
                                        </div>
                                    </div>
                                    <button v-if="poll.poll_type_id != 3" class="btn btn-outline-success w-100" @click="poll.poll_answers.push({answer: null})">{{ $t('feed.new-option') }}</button>
                                </div>
                                <div class="col-12">
                                    <button type="button" v-if="!showPollCreate" :disabled="sending" class="btn btn-outline-primary w-100 mb-2" @click="showPollCreate = true">
                                        {{ $t('feed.add-voting') }}
                                    </button>
                                    <button type="button" v-if="showPollCreate" :disabled="sending" class="btn btn-outline-danger w-100 mb-2" @click="showPollCreate = false">
                                        {{ $t('feed.cancel-voting') }}
                                    </button>
                                    <button type="button" :disabled="sending" class="btn btn-image-upload w-100 mb-2" @click="$refs.videoUpload.click()">
                                        <input type="file" id="uploadVideo" accept="video/mp4, video/webm" ref="videoUpload" @change="createUpload('video')" style="display: none;">
                                        {{ $t('feed.attach-vid') }}
                                    </button>
                                    <button type="button" :disabled="sending" class="btn btn-image-upload w-100 mb-2" @click="$refs.imageUpload.click()">
                                        <input type="file" accept="image/png, image/jpeg, image/jpg, image/gif" id="uploadImage" ref="imageUpload" @change="createUpload('image')" style="display: none;">
                                        {{ $t('feed.attach-pic') }}
                                    </button>
                                    <button type="button" :disabled="sending" class="btn btn-image-upload w-100 mb-2" @click="$refs.audioUpload.click()">
                                        <input type="file" id="uploadAudio" accept="audio/mp3, audio/mpeg, audio/wav" ref="audioUpload" @change="createUpload('audio')" style="display: none;">
                                        {{ $t('feed.attach-sound') }}
                                    </button>
                                    <button type="button" :disabled="sending" class="btn btn-image-upload w-100" @click="$refs.documentUpload.click()">
                                        <input type="file" id="uploadDocument" accept=".doc, .docx, .pdf, .xls, .xlsx, .ods, .ppt, .pptx, .txt"  ref="documentUpload" @change="createUpload('document')" style="display: none;">
                                        {{ $t('feed.attach-doc') }}
                                    </button>
                                </div>
                                <div v-if="files.length > 0" class="col-12">
                                    <h5 class="mb-2 mt-4">{{ $t('feed.uploads') }}</h5>
                                    <div class="row">
                                        <div v-for="(file, index) in files" :key="file.id" class="col-12 mb-3">
                                            <Upload v-if="file.shown" :file="file.file" :type="file.type" :id="file.id" @uploadFinished="finishUpload" @uploadCancelled="cancelUpload"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" :disabled="!canSend" @click="submit" class="btn btn-share w-100">{{ $t('feed.share') }}</button>
                        </div>
                    </div>
                </div>
            </div>

        <div v-if="posts.length > 0 && !loading">
            <div v-for="post in posts" :key="post.id" class="col-12 m-top">
                <div v-if="!post.deleted" >
                    <Post @postDeleted="post.deleted = true" :postProp="post" />
                </div>
            </div>
            <div class="col-12 mt-2 d-flex justify-content-center">
                <infinite-scroll @shouldLoad="loadPosts" :shouldLoad="paginator.current_page != paginator.last_page" />
            </div>
        </div>
        <div v-else-if="loading" class="col-12">
            <Loading height="50vh" />
        </div>
        <div v-else class="col-12 mt-4">
            <h1> {{ $t('feed.no-posts') }} </h1>
        </div>
    </div>
</template>
<style scoped>
    .vue-avatar--wrapper {
        z-index: 2;
    }
</style>
<script>
import Post from '@/components/Post'
import Loading from '@/components/Loading'
import Avatar from '@/components/Avatar'
import Upload from '@/components/Upload'
import InfiniteScroll from './InfiniteScroll.vue'
export default {
    name: 'Feed',
    components: {
        Post,
        Loading,
        Avatar,
        Upload,
        InfiniteScroll
    },
    mounted() {
        this.axios.get('/posts').then(resp => {
            this.loading = false
            this.posts = resp.data.posts
            this.paginator = resp.data.paginator
        })

        this.axios.get('/poll-types').then(resp => {
            this.pollTypes = resp.data
        })
    },
     data() {
        return {
            posts: [],
            filter: null,
            paginator: null,
            files: [],
            content: null,
            loading: true,
            sending: false,
            showPollCreate: false,
            pollTypes: [],
            poll: {
                name: null,
                anonym: 0,
                question: null,
                poll_type_id: 1,
                poll_answers: [{answer: null}]
            }
        }
    },
    watch: {
        files() {
            return this.files
        },
        filter() {
            const params = this.filter ? {filter: this.filter} : {}
            this.loading = true
            this.axios.get('/posts', { params }).then(resp => {
                this.posts = resp.data.posts
                this.paginator = resp.data.paginator
            })
            .catch(e => console.log(e))
            .finally(() => this.loading = false)
        }
    },
    computed: {
        canSend() {
            return !this.files.find(file => file.uuid === null) && !this.sending
        }
    },
    methods: {
        createUpload(type) {
            if(event.target.files.item(0))
                this.files.push({file: event.target.files.item(0), type: type, shown: true, uuid: null, id: this.files.length})
        },
        finishUpload(id, multimedia) {
            this.files.find(file => file.id === id).uuid = multimedia.id
        },
        cancelUpload(id, uuid) {
            this.files.splice(this.files.indexOf(this.files.find(file => file.id === id)), 1)
        },
        loadPosts(state) {
            this.axios.get('/posts', {params: {page: this.paginator.current_page + 1}})
                .then(resp => {
                    this.posts.push(...resp.data.posts)
                    this.paginator = resp.data.paginator
                })
                .finally(() => state.finishLoad())
        },
        submit() {
            if(!this.sending) {
                let formData = {}
                const multimedia = this.files.filter(file => file.uuid !== null).map(file => file.uuid)
                if(this.content)
                    formData.content = this.content
                if(multimedia.length > 0)
                    formData.multimedia = multimedia
                if(this.showPollCreate === true) {
                    formData.poll = JSON.parse(JSON.stringify(this.poll))
                    formData.poll.poll_answers = formData.poll.poll_answers.map(a => a.answer)
                }
                
                console.log(formData)
                this.sending = true
                this.axios.post('/posts', formData)
                    .then(resp => {
                        this.files = []
                        this.content = null
                        this.posts.unshift(resp.data.post)
                        $(this.$refs.newPostModal).modal('hide')
                    })
                    .catch(e => console.log(e.response))
                    .finally(() => this.sending = false)
            }
        }
    }
}
</script>
<style scoped>
    /* MOBILE FONT SIZE UNDER 426px */
    @media (min-width: 426px) {
        .font-25 {
            font-size: 25px;
        }
    }

    @media (max-width: 425px) {
        .font-25 {
            font-size: 17.5px;
        }
    }
</style>
