<template>
    <footer>
        <div class="row">
            <div class="col-12 text-left">
                <h2>{{$t('footer.line-1')}}</h2>
                <a target="_blank" href="https://site.dev.develawp.com/felhasznalasi-feltetelek">{{$t('footer.line-2')}}
                    <svg width="27" height="9" viewBox="0 0 27 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5 6C5 6 6.13401 1 10 1C13.866 1 14.5 8 18.5 8C22.5 8 23.5 3 23.5 3" stroke="#1874BC"/>
                        <path d="M27 4C27 6.20914 25.2091 8 23 8C20.7909 8 19 6.20914 19 4C19 1.79086 20.7909 0 23 0C25.2091 0 27 1.79086 27 4Z" fill="#FFCB23"/>
                        <circle cx="4" cy="4" r="4" fill="#FFCB23"/>
                        <path d="M5 6C5 6 6.13401 1 10 1C13.866 1 14.5 8 18.5 8C22.5 8 23.5 3 23.5 3" stroke="#1874BC"/>
                        <path d="M27 4C27 6.20914 25.2091 8 23 8C20.7909 8 19 6.20914 19 4C19 1.79086 20.7909 0 23 0C25.2091 0 27 1.79086 27 4Z" fill="#FFCB23"/>
                        <circle cx="4" cy="4" r="4" fill="#FFCB23"/>
                    </svg>
                </a>
                <br />
                <a target="_blank" href="https://site.dev.develawp.com/adatvedelmi-tajekoztato">{{$t('footer.line-3')}}
                    <svg width="27" height="9" viewBox="0 0 27 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5 6C5 6 6.13401 1 10 1C13.866 1 14.5 8 18.5 8C22.5 8 23.5 3 23.5 3" stroke="#1874BC"/>
                        <path d="M27 4C27 6.20914 25.2091 8 23 8C20.7909 8 19 6.20914 19 4C19 1.79086 20.7909 0 23 0C25.2091 0 27 1.79086 27 4Z" fill="#FFCB23"/>
                        <circle cx="4" cy="4" r="4" fill="#FFCB23"/>
                        <path d="M5 6C5 6 6.13401 1 10 1C13.866 1 14.5 8 18.5 8C22.5 8 23.5 3 23.5 3" stroke="#1874BC"/>
                        <path d="M27 4C27 6.20914 25.2091 8 23 8C20.7909 8 19 6.20914 19 4C19 1.79086 20.7909 0 23 0C25.2091 0 27 1.79086 27 4Z" fill="#FFCB23"/>
                        <circle cx="4" cy="4" r="4" fill="#FFCB23"/>
                    </svg>
                </a>
                <h3>DLA Piper Adótanácsadó Kft.</h3>
                <h4>1124 Budapest Csörsz {{$t('footer.street')}} 49-51.</h4>
            </div>
        </div>
    </footer>
</template>
<script>
export default {
    name: 'Footer',
}
</script>
<style scoped>
 footer {
     margin-top: 30px;
     background-color: var(--progressbg);
    padding-top: 0px !important;
    transition: all 0.3s;
     padding: 30px;
 }
 footer * {
     text-decoration: none !important;
 }
 footer .row {
     margin: 0px !important;
 }
 h2 {
     font-size: 20px !important;
     line-height: 23,7px;
     padding-top: 30px;
     color: var(--blue);
     font-weight: 700;
     padding-bottom: 10px;
 }
 a:active,
 a:visited,
 a:link {
     color: var(--dblue);
     font-size: 14px;
     line-height: 16,59px;
     font-weight: 700;
 }
 a:hover {
     color: var(--blue);
     font-size: 14px;
     line-height: 16,59px;
     font-weight: 700;
 }
 svg {
     margin-left: 10px;
     vertical-align: 0.1em;
 }
 h3 {
     padding-top: 15px;
     font-size: 14px;
     line-height: 16,59px;
     font-weight: 700;
     color: var(--dblue);
 }
 h4 {
     font-size: 14px;
     line-height: 16,59px;
     color: var(--dblue);
     font-weight: 300;
 }
 @media (max-width: 540px) {
    footer * {
    text-align: center !important;
    } 
 }
  /* MOBILE FONT SIZE UNDER 426px */

    @media (max-width: 425px) {
        h2 {
            font-size: 14px !important;
        }
        a:active,
        a:visited,
        a:link,
        a:hover,
        h3,
        h4 {
            font-size: 10px !important;
 }
    }
</style>
