<template>
<div :style="{display: 'flex', alignItems: 'center', height: (height ?? '100vh'), justifyContent: 'center'}">
    <div> 
        <div class="spinner-border text-primary" style="width: 4rem; height: 4rem;" role="status">
            <span class="sr-only">{{ $t('loading.loading') }}</span>
        </div>
    </div>
</div>
</template>
<script>
export default {
    name: 'Loading',
    props: {
        height: String
    }
}
</script>
