<template>
    <div>
        
        <section id="home-header">
            <div class="row">
                <div class="col-md-6 col-12">
                    <div class="flex-wrap shadow d-flex left-new-btn" v-on:click.prevent="$router.push({name: 'MyTeam'})" style="cursor: pointer;background-color: var(--blue);margin-left: 0px !important;margin-right: 0px !important;height: 100px;border-top-left-radius: 10px;border-bottom-left-radius: 10px;border-top-right-radius: 70px;border-bottom-right-radius: 70px;">
                        <div class="d-flex" style="padding-top: 35px !important;">
                            <div class="bg-box text-left rsp-text" style="padding-left: 30px !important;">
                                <a href="" class="font-20" style="background-color: transparent !important; padding: 0px !important; color: white; font-weight: bold;text-align: right;padding-right: 20px !important;">{{ $t('master-home.manage-team') }}</a>
                            </div>
                        </div>
                        <div class="d-flex ml-auto">
                            <span class="float-right" style="font-size: 60px !important;margin-top: 1px !important;margin-right: 15px;">
                                <i style="color: white" class="fas fa-user-friends"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-12" style="margin-bottom: 20px;">
                    <section id="dropdown">
                        <div @click="$router.push({name: 'FastShare'})" class="row" style="cursor: pointer;">
                            <div class="col-12">
                                <a>
                                    <div class="box shadow right-new-btn" style="min-height: 0px; height: 100px; padding: 0px;background-color: var(--red) !important;border-top-right-radius: 10px;border-bottom-right-radius: 10px;border-top-left-radius: 70px;border-bottom-left-radius: 70px;">
                                        <div class="flex-wrap d-flex">
                                            <div class="d-flex">
                                                <span class="float-left" style="font-size:60px !important;margin-top: 5px !important;margin-left: 30px;">
                                                    <i style="color: #05213E" class="fas fa-plus"></i>
                                                </span>
                                            </div>
                                            <div class="d-flex ml-auto text-right rsp-text right-side">
                                                <h6 class="font-20" style="padding-top: 35px !important; color: white;">{{ $t('dla-user-home.share-knowledge') }}</h6>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </a>
                            </div>
                        </div>
                    </section>
                </div>
                <!-- <div class="col-sm-6 col-12 home-frame">
                    <div style="background-image: url('assets/img/button_background_1.jpg'); height: 280px !important; display: flex; align-items: center; justify-content: center;"
                        class="home-img img-fluid" alt="...">
                        <div class="p-3" style="background-color: var(--lblue);">
                            <a href="" v-on:click.prevent="$router.push({name: 'MyTeam'})" style="text-transform: uppercase; background-color: transparent !important; padding: 0px !important; font-size: 24px; color: white; font-weight: bold;">{{ $t('master-home.manage-team') }}</a>
                        </div>
                    </div>
                </div> -->
            </div>
        </section>

        <hr class="home-page-sep">
        <section id="content-2">
            <div class="row">
                <div class="col-12 col-xl-6 order-2 order-xl-1">
                    <section id="timeline">
                        <Feed />
                    </section>
                </div>
                <div class="mt-5 mt-xl-0  col-12 col-xl-6 order-1 order-xl-2">
                    <section id="team-list">
                        <div class="row">
                            <div class="col-12">
                                <h1>{{ $t('master-home.members') }}</h1>
                            </div>

                            <div class="col-12" v-for="teamMember in $store.state.user.subordinates" :key="teamMember.id">
                                <div class="box">
                                    <h2>{{teamMember.name}}</h2>
                                </div>
                            </div>
                            <div class="col-12" v-if="$store.state.user.subordinates.length == 0">
                                <h3>{{ $t('master-home.no-team') }}</h3>
                            </div>
                        </div>
                    </section>
                    <section id="trainings">
                        <div class="row">
                            <div class="col-12 mt-5">
                                <h1 class="font-18">{{ $t('master-home.suggested-courses') }}</h1>
                            </div>

                            <div v-for="course in recommendedCourses" :key="course.id"
                                class="col-md-6 mb-4 col-12"
                                style="cursor: pointer;" 
                                @click="$router.push({name: 'Course', params: {id: course.id}})"
                            >
                                <div class="card shadow card-img-top img-fluid" :style="{backgroundImage: `url(${course.cover_image ? $store.state.storageURL+course.cover_image.path+'?token='+$store.state.token : 'assets/img/template.jpg'})`}" style="width: 100%; border-radius: 7px;position: relative;">

                                            <h2 v-if="Math.floor((new Date() - new Date(course.created_at)) / 86400000) < 10" class="top-right new-label" style="border-top-right-radius: 3.7px;top: -1px !important;">{{ $t('master-home.new') }}</h2>
                                            <div style="position: absolute; bottom: -1px; left: 0px; width: 100%">
                                                <h2 class="bottom-left e-learning-label" style="border-bottom: 1px solid #06223e; left: 0; margin: 0px !important; width: fit-content;">{{$t(`course-types.${course.course_type.name}`)}}</h2>
                                                <h2 class="bottom-left dark-bg-line text-center" style="bottom: -1px !important; left: 0; margin: 0px !important;width: 100%;border-bottom-right-radius: 3.7px;border-bottom-left-radius: 3.7px;padding-top: 10px;padding-bottom: 13px;">{{course.title}}</h2>
                                            </div>

                                    <!-- <div class="card-body" style="border-bottom-right-radius: 5px; border-bottom-left-radius: 5px;">
                                        <h5 class="card-title">{{course.title}}</h5>
                                        <h4 class="card-text" >{{ $t('master-home.begin') }} {{course.start_date ? $store.getters.parseDateTime(course.start_date) : 'Nincs'}}</h4>
                                        <h4 class="card-text" >{{ $t('master-home.end') }} {{course.end_date ? $store.getters.parseDateTime(course.end_date) : 'Nincs'}}</h4>
                                    </div> -->
                                </div>
                            </div>
                            <div v-if="recommendedCourses.length == 0" class="col-md-6 mb-4 col-12">{{ $t('admin-home.no-recommended') }}</div>

                        </div>
                    </section>
                    <hr class="home-page-sep">
                    <section id="trainings">
                        <div class="row">
                            <div class="col-12 mt-3">
                                <h1 class="font-18">{{ $t('master-home.new-articles') }}</h1>
                            </div>

                            <div v-for="article in glossaryArticles" :key="article.id"
                                class="col-md-6 mb-4 col-12"
                                style="cursor: pointer;" 
                            >
                                <div class="card new-glossary" style="width: 100%;">
                                    <div style="cursor: pointer;" @click.prevent="$router.push({name: 'GlossaryArticle', params: {id: article.id}})" class="yellow-left">
                                        <div class="pl-3">
                                        <h3 class="glossary-title">{{article.title}}</h3>
                                        <h4 class="line-clamp" v-html="$store.getters.getHTMLSafeText(article.content)"></h4>
                                        <h5 class="labels mt-2">
                                            <span v-for="label in article.labels" :key="label.id" class="label mr-1 mt-2" style="cursor: pointer; display: inline-block;">{{label.name}}</span>    
                                        </h5>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </section>
                    <hr class="home-page-sep">
                </div>
                </div>
        </section>
    </div>
</template>
<script>
import Feed from '@/components/Feed'
export default {
    name: 'MasterHome',
    components: {
        Feed
    },
    mounted() {
        this.axios.get('/glossary-articles')
            .then(resp => {
                this.glossaryArticles = resp.data.glossaryArticles.slice(0,4)
            })
        this.axios.get('/courses/recommended')
            .then(resp => {
                this.recommendedCourses = resp.data.courses
            })
    },
    data() {
        return {
            glossaryArticles: [],
            recommendedCourses: [],
            teamMembers: Array(9).fill({
                id: Math.floor(Math.random() * 100) + 1,
                name: 'John Doe'
            })
        }
    }
}
</script>
<style scoped>
 .label {
    background-color: var(--yellow);
    padding: 4px;
    color: white;
    border-radius: 4px;
    font-size: 15px;
 }
 .line-clamp::v-deep(h2) {
     font-size: 20px !important;
 }
 .glossary-title {
    font-size: 22px !important;
    color: var(--black) !important;
    font-weight: bold;
 }
 .line-clamp {
  font-size: 16px;
  -webkit-line-clamp: 6;
  padding-bottom: 2px;
  -webkit-box-pack: end;
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.card-title {
    margin-bottom: 0px !important;
    padding-top: 20px !important;
    text-align: center !important;
}
.card-body {
    background: none !important;
}
.dark-bg-line {
    background-color: var(--o-dark);
}
.new-glossary {
    border: none !important;
    padding-left: 0px !important;
    margin-left: 0px !important;
    
}
.yellow-left {
    border-left: 3px solid var(--yellow) !important;
    border-radius: 0px;
}

@media (max-width: 845px) {    
    .left-new-btn {
        margin-bottom: 20px;
    }
    .right-new-btn {
        margin-bottom: 0px !important;
    }
}

@media (max-width: 575px) {
    .rsp-text {
        text-align: center !important;
        padding-top: 3px !important;
    }
    .rsp-text * {
        font-size: 17px !important;
    }
    .cstm-dpn {
        display: none;
    }
}

/* MOBILE FONT SIZE UNDER 426px */
    @media (min-width: 426px) {
        .font-20 {
            font-size: 20px !important;
        }
        .font-60 {
            font-size: 60px !important;
        }
        .font-18 {
            font-size: 18px !important;
        }
    }

    @media (max-width: 425px) {
        .font-60 {
            font-size: 42px !important;
        }
        .font-20,
        .line-clamp::v-deep(h2) {
            font-size: 14px !important;
        }
        .glossary-title {
            font-size: 15px !important;
        }
        .font-18 {
            font-size: 12px !important;
        }
        .line-clamp {
        font-size: 11px !important;
        }
        .label {
            font-size: 10px !important;
        }
        .rsp-text.right-side {
            margin-top: 3px !important;
        }
    }

    @media (min-width: 426px) {
        .home-page-sep {
            display: none !important;
        }
    }
    @media (max-width: 425px) {
        .mt-5 {
            margin-top: 0px !important;
        }
        #trainings h1 {
            margin-top: 10px !important;
        }
        .home-page-sep {
            border: none !important;
            border-bottom: 1px solid var(--dblue) !important;
        }
    }
</style>
