<template>
<div>
    <carousel v-if="shouldShowCarousel" />
    <nav id="navbar" class="navbar navbar-expand-lg">
        <div class="container-fluid" ref="navigation-container">

            <button type="button" id="sidebarCollapse" class="btn btn-info mobile-design">
                <i class="fas fa-align-left"></i>
                <i class="fas fa-arrow-right"></i>
            </button>
            <button class="btn btn-dblue d-inline-block d-lg-none ml-auto mobile-design" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-arrow-down"></i>
                <i class="fas fa-align-right"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul v-for="item in navItems" :key="item.routeName" class="nav navbar-nav first">
                    <li v-if="item.routeName !== 'Glossary' || $store.state.user.role !== 'User'" v-bind:class="{ active: isActive(item.routeName) }" @click="handleClick" class="nav-item">
                         <router-link :to="{name: item.routeName}" class="nav-link" href="#">{{$t(`navbar.${item.routeName}`)}}</router-link>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
</template>

<script>
import Carousel from './Carousel.vue'

export default {
    name: "Navbar",
    components: {
        Carousel
    },
    mounted() {
        const navbar = $('#navbar')[0]
        new Hammer(navbar).on('swipeleft', () => {
            $('#sidebar').removeClass('active');
            $('.overlay').removeClass('active');
        })
        new Hammer(navbar).on('swiperight', (e) => {
            if(window.innerWidth < 992) {
                $('#sidebar').addClass('active');
                $('.overlay').addClass('active');
                $('.collapse.in').toggleClass('in');
                $('a[aria-expanded=true]').attr('aria-expanded', 'false');
            }
        })
    },
    beforeUnmount() {
        new Hammer($('#navbar')[0]).off('swipe')
    },
    data() {
        return {
            navItems: [
                {
                    routeName: 'Home',
                    text: 'Kezdőlap'
                },
                {
                    routeName: 'MyCourses',
                    text: 'Saját képzések'
                },
                {
                    routeName: 'CourseCatalog',
                    text: 'Képzéstár'
                },
                {
                    routeName: 'Glossary',
                    text: 'Tudásbázis'
                },
            ]
        }
    },
    computed: {
        shouldShowCarousel() {
            return Array('Home', 'Glossary', 'MyCourses', 'CourseCatalog').some(r => r == this.$route.name)
        }
    },
    methods: {
        isActive(name) {
            return name === this.$route.name
        },
        handleClick() {
            $('#navbarSupportedContent').collapse('hide')
            if(window.innerWidth < 992) {
                this.$refs['navigation-container'].scrollIntoView(true);
            }
        }
    }
}

</script>
<style scoped>

@media (min-width: 991px) {
    .mobile-design .fa-arrow-right,
    .mobile-design .fa-arrow-down {
        display: none;
    }
}

@media (max-width: 991px) {
    .mobile-design {
        width: 48%;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .mobile-design .fa-arrow-right {
        margin-left: 30px;
    }
    .mobile-design .fa-arrow-down {
        margin-right: 30px;
    }
    .navbar-collapse {
        background-color: var(--lgray);
        border-radius: 5px;
        margin-top: 8px !important;
        margin-bottom: 5px !important;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-collapse .navbar-nav .nav-item a {
        text-transform: uppercase;
    }
    .navbar-collapse .navbar-nav {
        margin-top: 0px !important;
    }
    .navbar-collapse .navbar-nav .nav-item {
        padding-bottom: 0px !important;
    }
}
</style>