<template>
    <div class="row line" style="display: flex;margin-left: 0px !important;margin-right: 0px !important;padding-left: 26px !important;padding-right: 0px !important;">
        <img v-if="$store.state.user.avatar" :src="$store.state.storageURL+$store.state.user.avatar.path+'?token='+$store.state.token" class="img-fluid modal-profile" alt="">
        <Avatar v-else :username="$store.state.user.name" :size="38" />
        <div class="text-center" style="display: flex; align-items: center; flex-grow: 1; border-radius: 10px !important; background-color: #f1f1f1; cursor: pointer;margin-left: -25px;z-index: 1;" data-toggle="modal" :data-target="'#newCommentModal-'+post.id">
            <span class="w-100" style="color: grey">{{$t('post.new-comment')}}</span>
        </div>
          <div class="modal fade" :id="'newCommentModal-'+post.id" tabindex="-1" role="dialog" :aria-labelledby="'newCommentModal-'+post.idLabel" :ref="'newCommentModal-'+post.id"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header  text-center">
                            <h5 class="post-title w-100" :id="'newCommentModal-'+post.idLabel">{{$t('post.comment')}}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body w-100">
                            <div class="row">
                                <div class="col-12 modal-message">
                                    <div class="form-group">
                                        <textarea :placeholder="$t('post.comment-text')" class="form-control"
                                            :id="'newCommentModal-'+post.idTextarea"
                                            style="width: 100%"
                                            v-model="comment"
                                            :disabled="loading"></textarea>
                                            <div class="text-right"><sub>{{comment ? comment.length : 0}} / 2000</sub></div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button type="button" :disabled="loading" class="btn btn-image-upload w-100 mb-2" @click="$refs.imageUpload.click()">
                                        <input type="file" accept="image/png, image/jpeg, image/jpg, image/gif" id="uploadImage" ref="imageUpload" @change="createUpload('image')" style="display: none;">
                                        {{ $t('feed.attach-pic') }}
                                    </button>
                                </div>
                                <div v-if="files.length > 0" class="col-12">
                                    <h5 class="mb-2 mt-4">{{ $t('feed.uploads') }}</h5>
                                    <div class="row">
                                        <div v-for="(file, index) in files" :key="file.id" class="col-12 mb-3">
                                            <Upload v-if="file.shown" :file="file.file" :type="file.type" :id="file.id" @uploadFinished="finishUpload" @uploadCancelled="cancelUpload"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" :disabled="!canSend" @click="sendComment" class="btn btn-share w-100">{{ $t('post-comment-box.send') }}</button>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</template>
<script>
import Avatar from '@/components/Avatar'
import Upload from '@/components/Upload'
export default {
    name: 'PostCommentBox',
    components: {
        Avatar,
        Upload
    },
    props: {
        post: Object
    },
    data() {
        return {
            files: [],
            loading: false,
            comment: '',
        }
    },
    computed: {
        canSend() {
            return !this.files.find(file => file.uuid === null) && !this.loading
        },
    },
    methods: {
        createUpload(type) {
            if(event.target.files.item(0)) {
                this.loading = true
                this.files.push({file: event.target.files.item(0), type: type, shown: true, uuid: null, id: this.files.length})
                event.target.value = null
            }
        },
        finishUpload(id, multimedia) {
            this.files.find(file => file.id === id).uuid = multimedia.id
            this.loading = false
        },
        cancelUpload(id, uuid) {
            this.loading = false
            this.files.splice(this.files.indexOf(this.files.find(file => file.id === id)), 1)
        },
        sendComment() {
            let formData = {}
            this.loading = true
            const multimedia = this.files.filter(file => file.uuid !== null).map(file => file.uuid)
            if(this.comment)
                formData.comment = this.comment
            if(multimedia.length > 0)
                formData.multimedia = multimedia
            this.loading = true;
            this.axios.post(`/posts/${this.post.id}/comments`, formData)
            .then(resp => {
                this.post.comments.push(resp.data.comment)
                this.comment = ''
                this.files = []
                $(this.$refs['newCommentModal-'+this.post.id]).modal('hide')
            }).catch(e => console.log(e.response))
            .finally(() => this.loading = false)
        },
     } 
}
</script>
<style scoped>
.comment-image-attach {
    text-align: right; 
    cursor: pointer; 
    color: var(--lblue)
}
.comment-image-attach.disabled {
    text-align: right;
    cursor: default;
    color: grey;
}
.vue-avatar--wrapper {
    z-index: 2;
}
</style>
