<template>
    <nav aria-label="..." :class="classes">
        <ul class="pagination justify-content-center">
            <li class="page-item" :class="{disabled: paginator.current_page == 1}" >
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true" @click.prevent="$emit('loadPage', Number(paginator.current_page)-1)"><i class="fas fa-arrow-left"></i></a>
            </li>
            <li v-for="page in pages" class="page-item" :key="page" :class="{active: paginator.current_page == page}" aria-current="page">
                <a class="page-link" href="#" @click.prevent="$emit('loadPage', page)">{{page}}</a>
            </li>
            <li class="page-item" :class="{disabled: paginator.current_page == paginator.last_page}">
                <a class="page-link" href="#" @click.prevent="$emit('loadPage', Number(paginator.current_page)+1)"><i class="fas fa-arrow-right"></i></a>
            </li>
        </ul>
    </nav>
</template>
<script>
export default {
    name: 'RegularPaginator',
    props: {
        paginator: Object,
        classes: {
            optional: true
        }
    },
    emits: ['loadPage'],
    computed: {
        pages() {
            let arr = Array()
            for(let i = 1; i <= this.paginator.last_page; i++) {
                arr.push(i)
            }
            return arr
        }
    }
}
</script>