<template>
    <nav id="sidebar">

        <div id="dismiss" style="background: var(--dblue)">
            <i class="fas fa-arrow-left"></i>
        </div>

        <div class="sidebar-header text-center pc-view">
            <img src="assets/img/logo.png" width="180" class="img-fluid logo_nav" style="cursor: pointer;margin-bottom: 30px !important;" @click="$router.push({name: 'Home'})" alt="LOGO">
            <br />
            <img v-if="user.avatar" :src="$store.state.storageURL+user.avatar.path+'?token='+$store.state.token" width="90" class="img-fluid avatar" alt="LOGO">
            <Avatar v-else :username="user.name" :size="90" :rounded="false"  class="avatar"/>
            <h2 class="first">{{user.name}}</h2>
            <h3>{{user.job}}</h3>
            <h2>
                {{user.role}}
            </h2>
        </div>

        <div class="sidebar-header text-center phone-view">
            <img src="assets/img/logo.png" width="180" class="img-fluid logo_nav" style="cursor: pointer;margin-bottom:30px !important;" @click="$router.push({name: 'Home'})" alt="LOGO">
            <br />
            <div class="d-flex w-100 mt-2" style="justify-content: center">
                <div>
                    <img v-if="user.avatar" :src="$store.state.storageURL+user.avatar.path+'?token='+$store.state.token" width="90" class="img-fluid avatar" alt="LOGO">
                    <Avatar v-else :username="user.name" :size="90" :rounded="false"  class="avatar"/>
                </div>
                <div class="ml-3 text-left">
                    <h2 class="first">{{user.name}}</h2>
                    <h3>{{user.job}}</h3>
                    <h2>
                        {{user.role}}
                    </h2>
                </div>
            </div>
        </div>

        <ul class="list-unstyled CTAs">
            
            <div>
                <div v-if="creditPoints > 0" class="credit-line" :style="{background: `-webkit-linear-gradient(180deg, #05213E ${100-(creditPoints / 16)*100}%, #FFCB23 100%`}"></div> 
                 <div v-else class="credit-line" style="border: 1px solid var(--yellow)"></div> 
                
                <h2 class="text-center">{{ $t('sidenav.credits') }} {{creditPoints}}/16</h2>
            </div>

            <div class="d-flex he-select" style="justify-content: center;">
                <div class="hu-lang" :class="$store.state.locale == 'hu' ? 'active' : ''">
                    <a href="#" @click.prevent="changeLocale('hu')"><b>hu</b> </a>
                </div>
                <div class="en-lang" :class="$store.state.locale == 'en' ? 'active' : ''">
                    <a href="#" @click.prevent="changeLocale('en')"><b>en</b> </a>
                </div>
                
            </div>

            <!-- PC VIEW -->

            <span class="d-flex justify-content-center mb-2 pc-view">
                <span @click.prevent="$router.push({name: 'MyOrders'})" class="blue d-flex justify-content-center align-items-center" style="margin-right: 15px; margin-left: 0px !important; background-color: var(--btn1) !important;margin-bottom: 5px;cursor: pointer;" href="#">
                    <i class="far fa-credit-card" style="font-size: 18px"></i>
                </span>

                <span @click.prevent="$router.push({name: 'Cart'})" class="red d-flex justify-content-center align-items-center" style="background-color: var(--btn2) !important;cursor: pointer; position: relative;margin-bottom: 5px;" href="#">
                    <i class="fas fa-shopping-cart"></i>
                    <span v-if="$store.state.user && $store.state.user.cart_items.length > 0" class="badge" style="background-color: var(--lblue); right: -10px; bottom: 22px; important;border: 2px solid #05213E"><span style="font-size: 10px;" class="d-inline-flex align-items-center justify-content-center">{{$store.state.user.cart_items.length}}</span></span>
                </span>
            </span>

            <span class="d-flex justify-content-center mb-2 pc-view">
                <router-link :to="{name: 'Chat'}" class="blue d-flex justify-content-center align-items-center" style="margin-right: 15px; margin-left: 0px !important; background-color: var(--btn3) !important; position: relative;margin-bottom: 0px" href="#">
                    <i class="fas fa-comment-alt" style="font-size: 18px"></i>
                    <span v-if="$store.getters.unreadMessagesCount != 0" class="badge" style="right: -10px !important; border: 2px solid #05213E !important;bottom: 22px !important;"><span style="font-size: 10px;" class="d-inline-flex align-items-center justify-content-center">{{$store.getters.unreadMessagesCount}}</span></span>
                </router-link>

                <router-link :to="{name: 'Notifications'}" class="red d-flex justify-content-center align-items-center" style="position: relative;background-color: var(--btn4) !important;" href="#">
                    <i class="fas fa-bell" style="font-size: 18px"></i>
                    <span v-if="$store.getters.unreadNotificationsCount != 0" class="badge" style="right: -10px !important; border: 2px solid #05213E !important;bottom: 22px !important;"><span style="font-size: 10px;" class="d-inline-flex align-items-center justify-content-center">{{$store.getters.unreadNotificationsCount}}</span></span>
                </router-link>
            </span>

            <span class="d-flex justify-content-center mb-2 pc-view">
                <router-link :to="{name: 'PersonalAnalytics'}" class="blue d-flex justify-content-center align-items-center" style="background-color: var(--btn5); margin-right: 15px; margin-left: 0px !important;" href="#">
                    <i class="fas fa-chart-bar" style="font-size: 18px"></i>
                </router-link>

                <router-link :to="{name: 'ActivityHistory'}" class="red d-flex justify-content-center align-items-center" style="background-color: var(--btn6); margin-left: 0px !important;" href="#">
                    <i class="fas fa-clipboard-list" style="font-size: 18px"></i>
                </router-link>
            </span>

            <span class="d-flex justify-content-center mb-2 pc-view">
                <router-link :to="{name: 'Settings'}" class="blue d-flex justify-content-center align-items-center" style="margin-left: 0px !important; background-color: var(--dgray); width: 89px" href="#">
                    <i class="fas fa-cog" style="font-size: 18px"></i>
                </router-link>
            </span>

            <!-- PHONE VIEW -->

            <span class="d-flex justify-content-center mb-2 phone-view">
                <span @click.prevent="$router.push({name: 'MyOrders'})" class="blue d-flex justify-content-center align-items-center" style="margin-right: 15px; margin-left: 0px !important; background-color: var(--btn1) !important;margin-bottom: 5px;cursor: pointer;" href="#">
                    <i class="far fa-credit-card" style="font-size: 18px"></i>
                </span>

                <span @click.prevent="$router.push({name: 'Cart'})" class="red d-flex justify-content-center align-items-center" style="background-color: var(--btn2) !important;cursor: pointer; position: relative;margin-bottom: 5px;" href="#">
                    <i class="fas fa-shopping-cart"></i>
                    <span v-if="$store.state.user && $store.state.user.cart_items.length > 0" class="badge" style="background-color: var(--lblue); right: -10px; bottom: 22px; important;border: 2px solid #05213E"><span style="font-size: 10px;" class="d-inline-flex align-items-center justify-content-center">{{$store.state.user.cart_items.length}}</span></span>
                </span>

                <router-link :to="{name: 'Chat'}" class="red d-flex justify-content-center align-items-center" style="margin-left: 15px; background-color: var(--btn3) !important; position: relative;margin-bottom: 0px" href="#">
                    <i class="fas fa-comment-alt" style="font-size: 18px"></i>
                    <span v-if="$store.getters.unreadMessagesCount != 0" class="badge" style="right: -10px !important; border: 2px solid #05213E !important;bottom: 22px !important;"><span style="font-size: 10px;" class="d-inline-flex align-items-center justify-content-center">{{$store.getters.unreadMessagesCount}}</span></span>
                </router-link>
            </span>

            <span class="d-flex justify-content-center mb-2 phone-view">
                <router-link :to="{name: 'Notifications'}" class="red d-flex justify-content-center align-items-center" style="position: relative;background-color: var(--btn4) !important;" href="#">
                    <i class="fas fa-bell" style="font-size: 18px"></i>
                    <span v-if="$store.getters.unreadNotificationsCount != 0" class="badge" style="right: -10px !important; border: 2px solid #05213E !important;bottom: 22px !important;"><span style="font-size: 10px;" class="d-inline-flex align-items-center justify-content-center">{{$store.getters.unreadNotificationsCount}}</span></span>
                </router-link>

                <router-link :to="{name: 'PersonalAnalytics'}" class="blue d-flex justify-content-center align-items-center" style="background-color: var(--btn5); margin-left: 15px;" href="#">
                    <i class="fas fa-chart-bar" style="font-size: 18px"></i>
                </router-link>

                <router-link :to="{name: 'ActivityHistory'}" class="red d-flex justify-content-center align-items-center" style="background-color: var(--btn6); margin-left: 15px !important;" href="#">
                    <i class="fas fa-clipboard-list" style="font-size: 18px"></i>
                </router-link>
            </span>

            <span class="d-flex justify-content-center mb-2 phone-view">
                <router-link :to="{name: 'Settings'}" class="blue d-flex justify-content-center align-items-center" style="margin-left: 0px !important; background-color: var(--dgray); width: 138px" href="#">
                    <i class="fas fa-cog" style="font-size: 18px"></i>
                </router-link>
            </span>

            <!-- SINGLE ITEM 
            
            <span class="d-flex justify-content-center mb-4">
                <router-link :to="{name: 'Settings'}" class="blue d-flex justify-content-center align-items-center" style="margin-right: 50px; margin-left: 0px !important; background-color: var(--dgray)" href="#">
                    <i class="fas fa-cog" style="font-size: 18px"></i>
                </router-link>
            </span> -->
        </ul>

        <ul class="list-unstyled CTAs x-bottom">
            <li>
                <a id="logout" class="button_last" style="cursor: pointer;" @click="logout()">{{ $t('sidenav.exit') }}</a>
            </li>
        </ul>
    </nav>
</template>

<script>
import 'hammerjs'
import Avatar from '@/components/Avatar'
export default {
    name: "Sidenav",
    components: {
        Avatar
    },
    mounted() {
        new Hammer($('#sidebar')[0]).on('swipeleft', () => {
            $('#sidebar').removeClass('active');
            $('.overlay').removeClass('active');
        })
    },
    computed: {
      user() {
          return this.$store.state.user
      },
      creditPoints() {
          let creditPoints = this.$store.state.user?.credit_points_this_year
          return creditPoints ?? 0
      }
    },
    methods: {
        logout() {
            this.axios.post('/logout')
            window.Echo.leave('user.'+this.user.id)
            this.$store.commit('setUser', null)
            this.$router.push({name: 'Login'})
        },
        changeLocale(lang) {
            const currentLocale = this.$store.state.user.locale
            this.$i18n.locale = lang
            this.$store.commit('changeLocale', lang)
            if(currentLocale != lang)
                this.axios.post('/locale', {locale: lang})
                    .then(() => {
                        this.$store.state.user.locale = lang
                    })
                    .catch(e => {consle.log(e)})
        }
    }
}
</script>
<style scoped>
    *:hover {
        color: white !important
    }
    @media (min-width: 769px) {
        .pc-view {
            display: relative !important;
        }
        .phone-view  {
            display: none !important;
        }
    }
    @media (max-width: 768px) {
        .phone-view {
            display: relative !important;
        }
        .pc-view {
            display: none !important;
        }
        img {
            width: 130px;
            margin-bottom: 20px;
        }
        .avatar {
            margin-top: 0px !important;
            height: 50px !important;
            width: 50px !important;
            font: 18px / 90px Helvicita, Arial, sans-serif !important;
            object-fit: cover;
        }
        h2.first {
            margin-bottom: 0px !important;
        }
        h2 {
            margin-top: 0px !important;
            padding-top: 0px !important;
        }
        .list-unstyled {
            padding-top: 10px !important;
        }
        .list-unstyled h2 {
            margin-bottom: 40px !important;
        }
        .sidebar-header {
            padding-bottom: 10px !important;
        }
        .he-select {
            margin-bottom: 40px !important;
        }
    }
    @media (max-height: 580px) {
        img {
            width: 130px;
            margin-bottom: 0px !important;
        }
        .avatar {
            margin-top: 0px !important;
            height: 50px !important;
            width: 50px !important;
            font: 18px / 90px Helvicita, Arial, sans-serif !important;
            object-fit: cover;
        }
        h2.first {
            margin-bottom: 0px !important;
        }
        h2 {
            margin-top: 0px !important;
            padding-top: 0px !important;
        }
        .list-unstyled {
            padding-top: 15px !important;
        }
        .list-unstyled h2 {
            margin-bottom: 15px !important;
        }
        .sidebar-header {
            padding-bottom: 0px !important;
        }
        .he-select {
            margin-bottom: 15px !important;
        }
    }

 /* HEIGHT RESPONSIVE SIDENAV */

    @media (max-height: 775px) {
        img {
            width: 130px;
        }
        .avatar {
            margin-top: 0px !important;
            height: 50px !important;
            width: 50px !important;
            font: 18px / 90px Helvicita, Arial, sans-serif !important;
            object-fit: cover;
            margin-bottom: 15%;
        }
        h2.first {
            margin-bottom: 0px !important;
        }
        h2 {
            margin-top: 0px !important;
            padding-top: 0px !important;
        }
        .list-unstyled {
            padding-top: 10px !important;
        }
        .list-unstyled h2 {
            margin-bottom: 40px !important;
        }
        .sidebar-header {
            padding-bottom: 10px !important;
        }
        .he-select {
            margin-bottom: 40px !important;
        }
    }
    
    @media (max-height: 775px) and (max-width: 768px) {
        .he-select {
            margin-bottom: 50% !important;
        }
    }

    @media (max-height: 645px) {
        img {
            width: 130px;
            margin-bottom: 0px;
        }
        .avatar {
            margin-top: 0px !important;
            height: 50px !important;
            width: 50px !important;
            font: 18px / 90px Helvicita, Arial, sans-serif !important;
            object-fit: cover;
            margin-bottom: 10px;
        }
        h2.first {
            margin-bottom: 0px !important;
        }
        h2 {
            margin-top: 0px !important;
            padding-top: 0px !important;
        }
        .list-unstyled {
            padding-top: 0px !important;
        }
        .list-unstyled h2 {
            margin-bottom: 20px !important;
        }
        .sidebar-header {
            padding-bottom: 10px !important;
        }
        .he-select {
            margin-bottom: 20px !important;
        }
    }

    @media (max-height: 645px) and (max-width: 768px) {
        .avatar {
            margin-bottom: 15%;
        }
        .list-unstyled h2 {
            margin-bottom: 30px !important;
        }
        .sidebar-header {
            padding-bottom: 10px !important;
        }
        .he-select {
            margin-bottom: 25% !important;
        }
    }
    .button_last:hover {
        background-color: var(--lblue) !important;
        transition: 300ms;
    }

    @media (max-height: 550px) and (max-width: 768px) {
        .avatar {
            margin-bottom: 5%;
        }
        .list-unstyled h2 {
            margin-bottom: 30px !important;
        }
        .sidebar-header {
            padding-bottom: 10px !important;
        }
        .he-select {
            margin-bottom: 25% !important;
        }
    }
    .button_last:hover {
        background-color: var(--lblue) !important;
        transition: 300ms;
    }

    #sidebar:focus {
        border: 0 !important;
    }

</style>