<template>
    <div>
        <h6 style="padding-top: 10px;"><strong>{{file.name}}</strong></h6>
        <div style="display: flex; align-items: center;">
            <div class="progress" style="width: 95%; margin-bottom: 0px;height: 30px !important;background: none !important;">
                <div v-if="progress==100" class="progress-bar" role="progressbar" :style="{width: progress+'%'}" aria-valuenow="25"
                    aria-valuemin="0" aria-valuemax="100" style="background-color: #1874BC !important;">
                    <span class="text-left" style="margin-left: 10px;margin-top: 0px;font-size: 20px;color: var(--yellow);"><i :class="classes"></i></span>
                    <span class="text-center" style="margin-top: -20px;color: var(--yellow);font-size: 20px;"><i class="fas fa-check"></i></span>
                </div>
                <div v-else class="progress-bar" role="progressbar" :style="{width: progress+'%'}" aria-valuenow="25"
                    aria-valuemin="0" aria-valuemax="100" style="background-image: linear-gradient(to right, #1874BC , white);">
                    <span class="text-left" style="margin-left: 10px;margin-top: -10px;font-size: 20px;color: var(--yellow);"><i :class="classes"></i></span>
                    <span class="text-center" style="margin-top: -10px;">{{progress}} %</span>
                </div>
            </div>
            <div v-if="loading && !finished && !withoutDelete" style="height: 15px;">
                <i class="fas fa-times ml-2" style="font-size: 15px; color: grey; position: absolute;" ></i>
            </div>
            <div v-else-if="!loading && !finished && !withoutDelete" @click="cancelUpload" style="height: 15px; cursor: pointer;">
                <i class="fas fa-times ml-2" style="font-size: 15px; color: red; position: absolute;" ></i>
            </div>
            <div v-else-if="!loading && finished && !withoutDelete" @click="cancelUpload" style="height: 15px; cursor: pointer;">
                <i class="fas fa-trash-alt ml-2" style="font-size: 15px; color: red; position: absolute;" ></i>
            </div>
            <div v-if="loading && finished && !withoutDelete" style="height: 15px;">
                <i class="fas fa-trash-alt ml-2" style="font-size: 15px; color: grey; position: absolute;" ></i>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    name: 'Upload',
    props: {
        file: Object,
        type: String,
        id: Number,
        withoutDelete: {type: Boolean, default: false}
    },
    mounted() {
        if(this.file) {
            console.log('Starting upload!')
            this.createChunks()
            this.upload()
        }
    },
    data() {
        return {
            file: this.file,
            chunks: [],
            uploaded: 0,
            done: null,
            uuid: null,
            loading: true,
            finished: false,
            duration: null,
            classes: this.getFontawesomeClasses(this.type)
        };
    },

    computed: {
        progress() {
            return this.file ? Math.floor((this.uploaded * 100) / this.file.size) : 0
        },
        cancelColor() {
            return this.loading ? 'grey' : 'red'
        }
    },

    methods: {
       async upload() {
           try {
               const start = Date.now();
                let formData = new FormData;
                formData.set(this.type, this.chunks[0], this.file.name);
                let config = {
                        method: 'POST',
                        data: formData,
                        url: `/upload/${this.type}`,
                        baseURL: process.env.VUE_APP_STORAGE_URL,
                        headers: {
                            'Content-Type': 'application/octet-stream'
                        },
                    };


                let resp = await this.axios(config)
                this.loading = false;
                console.log(resp)
                this.uploaded += this.chunks[0].size;
                this.chunks.shift()
                config.url += '/' + resp.data.name
                this.uuid = resp.data.name
                for(let i = 0; i < this.chunks.length; i++) {
                    if(this.loading) {
                        return;
                    }
                    formData.set(this.type, this.chunks[i])
                    resp = await this.axios(config)
                    this.uploaded += this.chunks[i].size
                    //console.log(resp)
                    //console.log(`${i+1} / ${this.chunks.length}`)
                }
                config.url += '/finish';
                config.data = null;
                this.loading = true;
                resp = await this.axios(config)
                this.loading = false
                this.finished = true
                if(this.type == 'audio' || this.type == 'video') {
                    const loadVideo = file => new Promise((resolve, reject) => {
                        try {
                            let video = document.createElement('video')
                            video.preload = 'metadata'

                            video.onloadedmetadata = function () {
                                resolve(this)
                            }

                            video.onerror = function () {
                                reject("Invalid video. Please select a video file.")
                            }

                            video.src = window.URL.createObjectURL(file)
                        } catch (e) {
                            reject(e)
                        }
                    })
                    const video = await loadVideo(this.file)
                    if(video) this.duration = video.duration
                }
                this.$emit('uploadFinished', this.id, resp.data.multimedia, this.duration)
                const finish = Date.now();
                console.log((this.file.size * 0.000001) / (new Date(finish-start).getTime() / 1000));
                console.log(resp);
           }
           catch(e) {
               this.file = null;
               this.chunks = [];
               this.uploaded = 0;
               this.$emit('uploadCancelled', this.id, this.uuid)
               console.log(e.response)
           }
        },
        createChunks() {
            let size = 2000000, chunks = Math.ceil(this.file.size / size);

            for (let i = 0; i < chunks; i++) {
                this.chunks.push(this.file.slice(
                    i * size, Math.min(i * size + size, this.file.size), this.file.type
                ));
            }
        },
        async cancelUpload() {
            if(!this.loading) {
                this.loading = true;
                let config = {
                    method: 'POST',
                    data: null,
                    url: `/upload/${this.type}/${this.uuid}/abort`,
                    baseURL: process.env.VUE_APP_STORAGE_URL,
                    headers: {
                        'Content-Type': 'application/octet-stream'
                    },
                };
                await this.axios(config);
                this.$emit('uploadCancelled', this.id, this.uuid)
            }
        },
        getFontawesomeClasses() {
            switch(this.type) {
                case 'video': return 'far fa-file-video'
                case 'audio': return 'fas fa-microphone'
                case 'document': return 'fas fa-file-alt'
                case 'image': return 'far fa-image'
                default: return null
            }
        }
    }

}
</script>