<template>
    <div>

        <section id="content-4">
            <div class="row">
                <div class="col-md-12">
                        <section id="list-table" >
                            <h6>{{ $t('user-home.ongoing') }}</h6>
                            <section id="trainings">
                           <div class="row" style="overflow-x: auto; display: block;">
                                <div v-for="course in coursesInProgress" :key="course.id"
                                    class="col-lg-3 col-md-4 col-sm-6 col-12"
                                    style="cursor: pointer; display: inline-block;" 
                                    @click="$router.push({name: 'Course', params: {id: course.id}})"
                                >
                                    <div class="card shadow card-img-top img-fluid" :style="{backgroundImage: `url(${course.cover_image ? $store.state.storageURL+course.cover_image.path+'?token='+$store.state.token : 'assets/img/template.jpg'})`}" style="width: 100%; border-radius: 7px;border-top-right-radius: 5px; border-top-left-radius: 5px; position: relative;">
                                                <h2 v-if="Math.floor((new Date() - new Date(course.created_at)) / 86400000) < 10" class="top-right new-label" style="border-top-right-radius: 3.7px;top: -1px !important;">{{ $t('user-home.new') }}</h2>
                                            <div style="position: absolute; bottom: -1px; left: 0px; width: 100%">
                                                <h2 class="bottom-left e-learning-label" style="border-bottom: 1px solid #06223e; left: 0; margin: 0px !important; width: fit-content;">{{$t(`course-types.${course.course_type.name}`)}}</h2>
                                                <h2 class="bottom-left dark-bg-line text-center" style="bottom: -1px !important; left: 0; margin: 0px !important;width: 100%;border-bottom-right-radius: 3.7px;border-bottom-left-radius: 3.7px;padding-top: 10px;padding-bottom: 13px;">{{course.title}}</h2>
                                            </div>
                                        <!-- <div class="" style="border-bottom-right-radius: 5px; border-bottom-left-radius: 5px; padding: 10px; min-height: 50px; background-color: rgb(154,154,154); color: white; white-space: initial;">
                                            <h5 class="card-title">{{course.title}}</h5>
                                            <h4 class="card-text">{{$store.getters.getProgress(course)}}%</h4>
                                        </div> -->
                                    </div>
                                </div>
                                <div v-if="coursesInProgress.length == 0" class="col-md-6 mb-4 col-12" style="white-space: normal">
                                    {{$t('my-courses.no-ongoing')}}</div>

                            </div>
                        </section>
                    </section>
                </div>
            </div>
        </section>

<hr class="home-page-sep">
        <section id="content-2">
            <div class="row">
                <div class="col-lg-12">
                    <section id="trainings">
                        <div class="row">
                            <div class="col-12">
                                <h1>{{ $t('user-home.suggested') }}</h1>
                            </div>

                              <div v-for="course in recommendedCourses" :key="course.id"
                                class="col-lg-3 col-md-4 col-sm-6 col-12"
                                style="cursor: pointer;" 
                                @click="$router.push({name: 'Course', params: {id: course.id}})"
                            >
                                <div class="card shadow card-img-top img-fluid" :style="{backgroundImage: `url(${course.cover_image ? $store.state.storageURL+course.cover_image.path+'?token='+$store.state.token : 'assets/img/template.jpg'})`}" style="width: 100%; border-radius: 7px;border-top-right-radius: 5px; border-top-left-radius: 5px; position: relative;">
                                    
                                            <h2 v-if="Math.floor((new Date() - new Date(course.created_at)) / 86400000) < 10" class="top-right new-label" style="border-top-right-radius: 3.7px;top: -1px !important;">{{ $t('user-home.new') }}</h2>
                                            <div style="position: absolute; bottom: -1px; left: 0px; width: 100%">
                                                <h2 class="bottom-left e-learning-label" style="border-bottom: 1px solid #06223e; left: 0; margin: 0px !important; width: fit-content;">{{$t(`course-types.${course.course_type.name}`)}}</h2>
                                                <h2 class="bottom-left dark-bg-line text-center" style="bottom: -1px !important; left: 0; margin: 0px !important;width: 100%;border-bottom-right-radius: 3.7px;border-bottom-left-radius: 3.7px;padding-top: 10px;padding-bottom: 13px;">{{course.title}}</h2>
                                            </div>

                                    <!-- <div class="card-body" style="border-bottom-right-radius: 5px; border-bottom-left-radius: 5px;">
                                        <h5 class="card-title">{{course.title}}</h5>
                                        <h4 class="card-text" >{{ $t('user-home.begin') }} {{course.start_date ? $store.getters.parseDateTime(course.start_date) : 'Nincs'}}</h4>
                                        <h4 class="card-text" >{{ $t('user-home.end') }} {{course.end_date ? $store.getters.parseDateTime(course.end_date) : 'Nincs'}}</h4>
                                    </div> -->
                                </div>
                            </div>
                            <div v-if="recommendedCourses.length == 0" class="col-md-6 mb-4 col-12" >{{$t('admin-home.no-recommended')}}</div>

                        </div>
                    </section>
                </div>
            </div>
        </section>
    </div>
</template>
<script>
export default {
    name: 'DLAUserHome',
    mounted() {
        this.axios.get('/courses/recommended')
            .then(resp => {
                this.recommendedCourses = resp.data.courses
            })
        },
    data() {
        return {
            recommendedCourses: [],
            coursesInProgress: this.$store.state.user.coursesInProgress
        }
    }
}
</script>
<style scoped>
    .card-title {
        margin-bottom: 0px !important;
        padding-top: 20px !important;
        text-align: center !important;
    }
    .card-body {
        background: none !important;
    }
    .dark-bg-line {
        background-color: var(--o-dark);
    }
    .light-bg-line {
        background-color: var(--oblue-90);
    }@media (min-width: 426px) {
        .home-page-sep {
            display: none !important;
        }
    }
    @media (max-width: 425px) {
        .mt-5 {
            margin-top: 0px !important;
        }
        #trainings h1 {
            margin-top: 10px !important;
        }
        .home-page-sep {
            border: none !important;
            border-bottom: 1px solid var(--dblue) !important;
        }
    }
</style>
