<template>

<div aria-live="polite" aria-atomic="true" style="position: relative; min-height: 0; z-index: 99999;">
    <div id="toast-holder" style="position: fixed; top: 0; right: 0" class="pt-2">
        <div v-for="(toastNotification, index) in toastNotifications" 
            :key="index" :ref="showToast" 
            class="toast"
            :id="`toast-${index}`"
            role="alert" 
            aria-live="assertive" 
            aria-delay="true" 
            data-delay="4000" 
            style="font-size: medium;"
        >
            <div class="toast-header">
                <i v-if="toastNotification.status === 'Success'" class="fas fa-check mr-2 text-success" ></i>
                <i v-else class="fas fa-exclamation-circle mr-2 text-danger"></i>
                <strong class="mr-auto">{{$t('common.'+toastNotification.status)}}</strong>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true" style="float: right;">&times;</span>
                </button>
            </div>
            <div class="toast-body">
                {{toastNotification.message}}
            </div>
        </div>
    </div>
</div>
<div v-if="!loading && $route.name !== 'Meeting'"  class="wrapper">
    <Sidenav v-if="$route.name != 'Login' && user" />
    <div :id="user ? 'content' : 'loggedout'">
        <div class="content-padding">
            <div v-if="$store.state.offline" class="w-100 p-1 text-center text-white mb-2" style="background: var(--danger); position: fixed; top: 0; left: 0; z-index: 1000">{{$t('common.no-internet')}}</div>
            <div v-else-if="showBackOnline" class="w-100 p-1 text-center text-white mb-2" style="background: var(--success); position: fixed; top: 0; left: 0; z-index: 1000; cursor: pointer;" @click="refresh">{{$t('common.back-online')}} <i class="fas fa-redo-alt" style="font-size: 14px;"></i></div>
            <Navbar v-if="$route.name != 'Login' && user" />
            <div class="d-flex align-items-center mb-3" v-if="user && $store.state.user.activeTestAttempt && ($route.name != 'ViewCourse' || $route.params.id != $store.state.user.activeTestAttempt.courses[0].id) && new Date(Date.parse(this.$store.state.user.activeTestAttempt.finished_at)) > new Date()" style="font-size: 24px">
                <i class="fas fa-exclamation-circle mr-2"  style="color: red; font-size: 25px"></i>
                <router-link :to="{name: 'ViewCourse', params: {id: $store.state.user.activeTestAttempt.courses[0].id}}">{{$t('active-test-attempt.warning')}} {{$store.state.user.activeTestAttempt.timeLeft}}</router-link>
            </div>
            <button v-show="user && $route.name != 'Chat'" class="fab-btn" @click.prevent="$router.push({name: 'Feedback'})"><i class="fas fa-comment-dots" style="font-size: 24px;"></i></button>
            <div ref="routerView" style="height: 100%">
                <router-view :key="refreshCount" />
            </div>
        </div>
        <Footer v-if="$route.name != 'Login' && user" />
    </div>
    
</div>
<div v-else>
    <Loading v-if="loading" />
    <router-view v-else />
</div>
</template>

<script>
// @ is an alias to /src
import 'hammerjs'
import Sidenav from '@/components/Sidenav.vue'
import Navbar from '@/components/Navbar.vue'
import RouteNav from '@/components/RouteNav.vue'
import Loading from '@/components/Loading.vue'
import Footer from '@/components/Footer.vue'

export default {
  name: 'App',
  components: {
    Sidenav,
    Navbar,
    RouteNav,
    Footer,
    Loading
  },
  data() {
      return {
          refreshCount: 0,
          timeout: null,
          showBackOnline: false
      }
  },
  mounted() {
        window.addEventListener("offline", (event) => {
            this.$store.state.offline = true
        });

        window.addEventListener("online", (event) => {
            this.$store.state.offline = false
        });

        $("#sidebar").mCustomScrollbar({
            theme: "minimal"
        });


        new Hammer($('.overlay')[0]).on('swipeleft', () => {
            $('#sidebar').removeClass('active');
            $('.overlay').removeClass('active');
        })

        $(document).on('click', '#dismiss, .overlay',function () {
            $('#sidebar').removeClass('active');
            $('.overlay').removeClass('active');
        });

        $(document).on('click', '.phone-view', () => {
            $('#sidebar').removeClass('active');
            $('.overlay').removeClass('active');
        })

        $(document).on('click', '#sidebarCollapse', function () {
            $('#sidebar').addClass('active');
            $('.overlay').addClass('active');
            $('.collapse.in').toggleClass('in');
            $('a[aria-expanded=true]').attr('aria-expanded', 'false');
        });

        $(document).on('click', '#logout, .overlay',function () {
            $('#sidebar').removeClass('active');
            $('.overlay').removeClass('active');
        });
        $('.toast').toast()
  },
  computed: {
      user() {
          return this.$store.state.user
      },
      loading() {
          return this.$store.state.loading
      },
      toastNotifications() {
          return this.$store.state.toastNotifications
      },
      offline() {
          return this.$store.state.offline
      }
  },
  watch: {
      offline(newVal, prevVal) {
          if(prevVal == false && newVal == true) {
              if(this.timeout) clearTimeout(this.timeout)
              this.showBackOnline = true
              this.timeout = setTimeout(() => this.showBackOnline = false, 10000)
          }
      },
      loading() {
        this.$nextTick(() => {
            new Hammer(this.$refs.routerView).on('swiperight', (e) => {
                if(window.innerWidth < 992 && this.user) {
                    $('#sidebar').addClass('active');
                    $('.overlay').addClass('active');
                    $('.collapse.in').toggleClass('in');
                    $('a[aria-expanded=true]').attr('aria-expanded', 'false');
                }
            })
        })
      }
  },
  methods: {
      showToast(el) {
          $(el).toast('show')
          $(el).off('shown.bs.toast	').on('shown.bs.toast', () => {
              $(el).fadeOut(4000)
          })
          $(el).off('hidden.bs.toast').on('hidden.bs.toast',  () => {
              this.$store.state.toastNotifications.splice(el.id.split('-')[1], 1)
          })
      },
      refresh() {
          this.showBackOnline = false; 
          this.refreshCount++; 
          if(this.timeout) clearTimeout(this.timeout)
      }
  }

}
</script>
<style>
#loggedout {
    display: flex;
    width: 100%;
    min-height: 100vh;
}
@media (max-width: 991px) {
    .mobile-noty {
        position: inherit !important;
    }

    .overlay {
        margin-top: -30px;
        height: 110vh !important;
    }

    #toast-holder {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .toast {
        flex-basis: unset !important;
    }
}
</style>
